@import "../modules/variables"

%forIcon
  background: url(../../images/conversations-icons2.png)
  width: 25px
  height: 25px
  display: inline-block
  vertical-align: middle

.container-fluid
  padding: 0 15px
  border-radius: 0
  max-width: 1270px
  margin: 0 auto

.row
  margin-right: -15px
  margin-left: -15px
  clear: both
  text-align: left

.mainblock
  width: 100%

.wrapper
  position: absolute
  //padding: 0 0 0 60px
  top: 0
  left: 60px
  bottom: 0
  right: 0
  background: #f3f3f3

aside
  position: absolute
  top: 0
  bottom: 0
  left: 0
  z-index: 5
  width: 300px
  background: #fafaff
  box-shadow: 0 0 3px rgba(0,0,0,.2)
  border-right: 1px solid #c9d4d9

.aside-header
  display: flex
  -webkit-justify-content: space-between
  justify-content: space-between
  -webkit-align-items: center
  align-items: center
  padding: 10px 18px
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  .segment-text
    text-transform: uppercase
    font-size: 18px
  .count-dialogs
    background: url("../../images/segments.png") right no-repeat
    padding-right: 25px
    font-size: 14px

%segments-item
  display: inline-block
  background: #666
  border-radius: 10px
  color: #fff
  padding: 0 8px
  margin: 0 4px 4px 0
  font-size: 12px

.segments
  padding: 20px 0
  text-align: left
  a
    @extend %segments-item
    &.active,&:hover
      background: #1e6373
    &:hover,&:focus
      text-decoration: none
  span
    @extend %segments-item

.filter-body
  position: absolute
  padding: 0 18px 50px
  overflow: auto
  top: 40px
  bottom: 0
  left: 0
  hr
    margin-top: 0
    margin-bottom: 0
    border: 0
    border-top: 1px solid #ddd
  .filter-bottom
    height: 50px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    text-align: center
    border-style: solid
    border-color: #ddd
    border-width: 1px 0 0
    padding-top: 5px
    background: #fff

.content
  position: absolute
  left: 300px
  top: 0
  bottom: 0
  right: 0
  background: #fff

.content-top
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  min-height: 50px
  color: #aaa
  background: #f0f0f0
  padding: 13px 12px
  .top-buttons
    float: left
    .buttons-arrow
      background: url(../../images/users-button-arrow.png) no-repeat
      width: 20px
      height: 16px
      float: left
      position: relative
      top: 8px
      left: 3px
      display: inline-block
      vertical-align: middle
    a.grey-dashed
      display: inline-block
      vertical-align: middle
      margin: 2px 8px
      color: #aaa
      font-size: 14px
      border-bottom: #aaa 1px dashed
      &:hover,
      &:focus
        color: #aaa
        text-decoration: none
  .columns-data
    float: right
    display: block
    .columns-block
      float: none
      display: block
      .choose-columns
        display: inline-block
        vertical-align: middle
        position: relative
        margin-right: 10px
        .text-choose
          border: 1px solid #1e6373
          padding: 0 10px
          border-radius: 2px
          color: #1e6373
          cursor: pointer
          background: #fff
          font-size: 12px
          line-height: 26px
          height: 26px
        .list-columns
          display: none
          position: absolute
          top: 24px
          right: 0
          background: #fff
          border: 1px solid #1e6373
          z-index: 10
          width: 300px
          height: 300px
          overflow: auto
          padding: 10px
        &:hover .list-columns
          display: block

.list-messages
  position: absolute
  top: 50px
  left: 0
  right: 0
  bottom: 0
  overflow: auto
  background-color: #fff
  .list-messages-table
    border-collapse: collapse
    border-spacing: 0
    width: 100%
    overflow-x: auto
    margin-bottom: 20px
    .not-exist
      color: #ccc
    thead
      background: #fafaff
      border-bottom: 4px solid #ddd
      tr
        white-space: nowrap
        text-transform: uppercase
        font-size: 12px
        vertical-align: middle
        border-bottom: 1px solid #ddd
        th
          padding: 10px
    tbody
      tr
        border-top: 1px solid #ddd
        &:nth-child(even)
          background-color: #f5f5f5
        &:hover
          background-color: #eaeaea
        td
          padding: 10px
          white-space: nowrap
          max-width: 100px
          overflow: hidden
          text-overflow: ellipsis
          font-size: 12px
          position: relative

.author
  display: table
  color: #1e6373
  position: absolute
  top: 10px
  left: 10px
  .avatar-author
    display: table-cell
    vertical-align: middle
    position: relative
    img
      display: block
      margin: 0 auto
      width: 25px
      height: 25px
      background: #ddd
      border-radius: 50%
      border: 2px solid #b4dce7
    .online-author
      width: 12px
      height: 12px
      border-radius: 10px
      position: absolute
      top: 15px
      right: -5px
      border: 2px solid #fff
      background-color: #60cd9b
      &.no
        background-color: #e87352
  .name-author
    font-size: 12px
    display: table-cell
    vertical-align: middle
    padding-left: 5px
  &:hover,
  &:focus
    color: #1e6373
    text-decoration: none
    .name-author
      text-decoration: underline

a.column-name
  color: $c_text
  &:hover,
  &:focus
    color: $c_text
    text-decoration: underline
  &.sorted i
    margin: 0 0 0 5px

.text-center
  padding: 10px
  display: block
  width: 100%
  text-align: center

.left-dialog
  position: absolute
  bottom: 5px
  top: 0
  left: 0
  width: 250px
  background: #f3f3f3
  padding: 10px 5px 5px 10px
  @media only screen and (min-width: 1300px)
    width: 350px
  .filter-dialog
    .head-filter
      width: 100%
      height: 46px
      background: #fefefe
      padding: 10px 5px
      border: 1px solid #d7d7d7
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      .filter-icon
        margin-top: 3px
        color: #8e8f8f
        padding: 0 2px 2px 5px
        font-size: 14px
        line-height: 14px
        display: inline-block
        vertical-align: middle
      .open-filter
        float: right
        font-size: 14px
        padding-right: 7px
        cursor: pointer
        color: #1e6373
        margin-top: 2px
      .close-filter
        @extend .open-filter
        display: none
      .filters-left
        color: #3e6372
        font-size: 11px
        width: calc(100% - 50px)
        display: inline-block
        vertical-align: middle
        .filter-group
          line-height: 10px
          display: inline-block
          vertical-align: middle
          font-size: 12px
          position: relative
          .filter-group-name
            cursor: pointer
            color: #3e6372
            font-size: 11px
            span
              max-width: calc(100% - 11px)
              border-bottom: 1px dashed #3e6372
              display: inline-block
              vertical-align: middle
              margin-left: 3px
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap
              padding-bottom: 3px
            i
              margin-right: 2px
  .filter-message-body
    position: absolute
    top: 50px
    bottom: 8px
    background: #fff
    overflow: auto
    border: 1px solid #ddd
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    right: 5px
    left: 10px
    .list-dialog
      .dialog-item
        background: $c_white
        padding: 10px
        border-bottom: 1px solid #ddd
        position: relative
        display: block
        &:before
          content: ''
          position: absolute
          display: none
          left: 0
          top: 0
          bottom: 0
          width: 3px
          background: #f69f5e
        &.active
          background: #f9f9f9
          &:before
            display: block
        &:hover,
        &:focus
          color: $c_text
          text-decoration: none
        .dialog-head
          width: 100%
          .user-name
            float: left
            font-size: 14px
            .name
              font-weight: $bold
              color: #3e6372
              display: inline-block
              overflow: hidden
              max-width: 120px
              line-height: 20px
              text-overflow: ellipsis
              white-space: nowrap
            .online
              border: 3px solid #60cd9b
              background-color: #60cd9b
              width: 12px
              height: 12px
              border-radius: 10px
              display: inline-block
              line-height: 20px
              margin: 4px 0
              &.off
                border: 3px solid #ff6900
                background-color: #fff
          .dialog-time
            float: right
            font-size: 10px
            color: $c_text
            span
              color: #ccc
        .dialog-message
          display: table
          width: 100%
          .avatar
            width: 30px
            display: table-cell
            vertical-align: top
            img
              width: 30px
              height: 30px
              border-radius: 30px
              background: #ccc
          .short-message
            width: 95%
            display: table-cell
            vertical-align: top
            padding: 0 10px
          .right-col
            display: table-cell
            vertical-align: top
            min-width: 22px
            .count
              display: block
              padding: 2px 6px
              text-align: center
              height: 18px
              line-height: 16px
              color: #fff
              border-radius: 50%
              background-color: #7c7c7c
              font-size: 10px
              .new
                background-color: #e06919
            .who-avatar
              width: 22px
              height: 22px
              border-radius: 50%
              border: 2px solid #b2d4dc
              background: #ccc
              margin-top: 8px
              overflow: hidden
              img
                height: 100%
                display: block
                margin: 0 auto
        .tags
          border-top: 1px dotted #ebebeb
          position: relative
          margin-top: 5px
          padding-top: 7px
          .dialog-tag
            margin: 0 5px 0 0
    .filter-opened
      display: none
      position: absolute
      top: 0
      bottom: 0
      background: #fff
      width: 100%
      overflow: auto
      border-top: 0
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      padding: 0 15px 15px
      z-index: 10
      .filter-group-box
        top: 30px
      .filter-item
        margin-top: 20px
        width: 100%
        .title
          font-weight: 400
          font-size: 12px
          border-bottom: 1px dashed #e3e3e3
          width: 100%
          padding-bottom: 6px
          margin-bottom: 10px
      .filter-option
        display: block
        position: absolute
        padding: 20px 0
        z-index: 15
        bottom: 0
        left: 0
        right: 0

.filter-group-box
  top: 15px
  left: 0
  width: 180px
  display: none
  position: absolute
  border: 1px solid #d7d7d7
  background: #fff
  z-index: 50
  &.opened
    display: block
  &.big
    width: 280px
    padding-bottom: 10px
  a
    width: 100%
    display: block
    height: 30px
    line-height: 30px
    cursor: pointer
    padding: 0 8px
    color: #1e6373
    .operator-avatar
      width: 22px
      height: 22px
      position: relative
      display: inline-block
      margin-right: 5px
      vertical-align: middle
      img
        width: 22px
        height: 22px
        border-radius: 50%
        overflow: hidden
      .online
        width: 12px
        height: 12px
        border-radius: 10px
        position: absolute
        top: 13px
        right: -5px
        border: 2px solid #fff
        background-color: #60cd9b
        &.off
          background-color: #e87352
    &:hover,
    &:focus
      background: #1e6373
      color: #fff
      text-decoration: none
      .online
        border: 2px solid #1e6373

.fake-select
  display: block
  position: relative
  .select-box
    width: 180px
    position: relative
    background-color: #fff
    border: 1px solid #d7d7d7
    border-radius: 2px
    padding: 5px 20px 5px 5px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    display: inline-block
    height: 31px
    cursor: pointer
    -webkit-user-select: none
    &:before
      content: "\f0d7"
      position: absolute
      top: 5px
      right: 5px
      font-family: 'FontAwesome', serif

.dialog-right
  position: absolute
  top: 5px
  bottom: 8px
  right: 5px
  left: 250px
  padding: 5px
  border-radius: 4px
  @media only screen and (min-width: 1300px)
    left: 350px
  .dialog-body
    border: 1px solid #d7d7d7
    border-radius: 5px
    position: absolute
    bottom: 5px
    left: 10px
    right: 265px
    top: 5px
    @media only screen and (min-width: 1500px)
      right: 370px
    .dialog-top
      border-bottom: 1px solid #d7d7d7
      height: 45px
      padding: 5px 10px
      background: #fcfcfc
      border-radius: 5px 5px 0 0
    .chats
      position: absolute
      overflow: hidden
      bottom: 171px
      left: 0
      right: 0
      top: 45px
      background-color: #fff
      padding: 5px
      overflow-y: auto
      overflow-x: hidden
    .write
      position: absolute
      bottom: 0
      left: 0
      right: 0
      .bottom-tags
        padding: 0 5px
        min-height: 30px
        background-color: #fff
        border-bottom: 1px solid #d7d7d7
        border-top: 1px dashed #d7d7d7
        ul
          margin: 0
          display: inline-block
          vertical-align: middle
          li
            @extend .dialog-tag
            a.tag-delete
              color: #d5d5d5
              margin: 0 0 0 5px
              font-weight: $bold
              font-size: 16px
              line-height: 20px
              vertical-align: middle
              &:focus,
              &:hover
                text-decoration: none
                color: $c_text
      .buttons-message
        border-top: 1px solid #d7d7d7
        background: #fcfcfc
        height: 40px
        width: 100%
        border-radius: 0 0 5px 5px
        line-height: 36px
        padding: 0 10px
        .msg-btn
          @extend %forIcon
          &.note
            background-position: -5px 32px
            &:hover
              background-position: -5px -3px
          &.save
            background-position: -37px 30px
            margin-top: 3px
            &:hover
              background-position: -37px -5px
          &.file
            background-position: -186px -4px
            &:hover
              opacity: 0.9
          &.smile
            background-position: -223px 32px
            &:hover
              background-position: -223px -3px
          &.send
            background-position: -68px 32px
        .buttons-prop
          float: left
          margin-right: 20px
        .send-msg
          float: right
          padding-left: 40px
          width: auto
          &:hover,
          &:focus
            text-decoration: none
            color: $c_blue
            .send
              background-position: -68px -3px

.message-actions
  margin-bottom: 20px
  width: 100%
  text-align: center
  .table-actions
    display: inline-table
    .circles
      padding: 0 3px
      display: table-cell
      vertical-align: middle
      color: #ccc
      line-height: 25px
      font-size: 4px
      i
        margin: 0 1px
    .avatar
      display: table-cell
      vertical-align: middle
      padding: 0 3px
      img
        width: 25px
        height: 25px
        background: #ddd
        border-radius: 50%
        border: 2px solid #b4dce7
    .name
      display: table-cell
      vertical-align: middle
      padding: 0 3px
      color: #3e6372
      line-height: 25px
    .text
      display: table-cell
      vertical-align: middle
      padding: 0 3px
      color: #ccc
      line-height: 25px
.message
  width: 100%
  display: flex
  margin-bottom: 20px
  .avatar
    width: 45px
    height: 45px
    background-color: #ddd
    border-radius: 50%
    overflow: hidden
    border: 2px solid #b4dce7
    margin-right: 5px
    display: block
    min-width: 45px
    img
      display: block
      height: 100%
      margin: 0 auto
  .message-block
    max-width: 95%
    width: auto
    .message-body
      padding: 10px
      position: relative
      border-radius: 5px
      p
        margin-bottom: 0
    .message-props
      font-size: 10px
      .left
        float: left
      .right
        float: right
      span
        color: #ccc
  &.our
    padding-right: 100px
    .message-body
      background-color: #fff
      border: 1px solid #eee
      &:before,&:after
        right: 100%
        top: 20px
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
      &:before
        border-right: 1px solid #eee
        border-width: 6px
        margin-top: -6px
      &:after
        border-right: 1px solid #fff
        border-width: 5px
        margin-top: -5px
  &.user
    padding-left: 100px
    padding-right: 6px
    justify-content: flex-end
    .message-body
      background-color: $c_blue
      p
        color: #fff
      &:before
        left: 100%
        top: 20px
        border: 6px solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        border-left: 6px solid $c_blue
        margin-top: -6px

.left-side
  float: left
  .text
    max-width: 60px
    font-size: 12px
    line-height: 12px
    display: inline-block
    vertical-align: middle
  .fake-select
    max-width: 160px
    display: inline-block
    vertical-align: middle
    .filter-group-box
      top: 30px
.right-side
  float: right
  .top-alias
    float: none
    text-align: right
    a.blue-alias
      display: inline-block
      vertical-align: middle
      padding: 5px 10px
      line-height: 25px
      &:hover,
      &:focus
        text-decoration: none
        color: $c_blue
        .icon
          &.history
            background-position: -100px -3px
          &.xclose
            opacity: .8

.icon
  @extend %forIcon
  &.alias
    background: url(../../images/icons.png) no-repeat
    background-position: -14px 3px
    width: 19px
  &.history
    background-position: -100px 32px
  &.xclose
    background-position: -164px 33px
    width: 14px
  &.closeform
    width: 16px
    background: url(../../images/icons.png) no-repeat
    background-position: -31px 3px
  &.refresh
    width: 16px
    background: url(../../images/icons.png) no-repeat
    background-position: 0 3px

.dialog-tag
  display: inline-block
  vertical-align: middle
  background: #eee
  border-radius: 30px
  border: 0
  line-height: 20px
  font-size: 12px
  padding: 0 10px
  height: 20px
  margin: 0 5px
  color: $c_text

.user-info
  width: 250px
  position: absolute
  top: 8px
  bottom: 0
  right: 5px
  @media only screen and (min-width: 1500px)
    width: 355px

.main-info
  padding: 0 10px 10px
  margin-bottom: 15px
  border-bottom: 1px solid #dadada
  display: table
  width: 100%
  .user-avatar
    display: table-cell
    vertical-align: top
    width: 60px
    min-width: 60px
    text-align: center
    padding-right: 10px
    .avatar
      width: 50px
      height: 50px
      border: 2px solid #c0d3dc
      border-radius: 50%
      background-color: #c0d3dc
      overflow: hidden
      img
        display: block
        height: 100%
        margin: 0 auto
    .status
      background-color: #60cd9b
      margin-top: 4px
      width: 100%
      display: block
      padding: 3px 2px
      text-align: center
      font-size: 10px
      color: #fff
      border-radius: 10px
      line-height: 10px
      &.off
        background-color: #ff6900
  .contact
    display: table-cell
    vertical-align: top
    .contact-item
      display: block
      padding: 0 0 0 25px
      font-size: 16px
      color: #959595
      position: relative
      margin-bottom: 5px
      a.username
        color: #526d80
        text-decoration: underline
        overflow: hidden
        text-overflow: ellipsis
        max-width: 140px
        display: inline-block
      a.edit
        color: #d3d3d3
        margin-right: 5px
        &:hover,
        &:focus
          color: #444
          text-decoration: none

.all-info
  overflow-y: auto
  height: calc(100% - 110px)
  padding-right: 4px

.white-block
  margin-top: 10px
  background: #fff
  border-radius: 4px
  padding: 8px
  max-width: 350px
  font-size: 12px
  border: 1px solid #d7d7d7
  .current-page
    position: relative
    padding-left: 20px
  .no-page
    display: block
    color: $c_blue
  .title
    font-weight: $bold
    margin-bottom: 10px
    font-size: 14px
  .segments
    padding: 0
  .prop-item
    margin-bottom: 10px
    word-break: break-all
    color: #474747
    line-height: 18px
    font-size: 14px
    .prop-title
      color: #aaa
  .new-prop
    margin-bottom: 25px

a.plus-prop
  font-size: 12px
  &:hover,
  &:focus
    text-decoration: none
    color: $c_blue

.ico-user
  position: absolute
  top: 0
  left: 0
  background: url(../../images/icons.png) no-repeat
  height: 16px
  width: 16px
  &.i-name
    background-position: -63px 0
  &.i-email
    background-position: -79px 1px
  &.i-phone
    background-position: -96px 1px
  &.i-page
    background-position: -50px 1px
    height: 17px

.live-head
  max-width: 1630px
  margin: 0 auto
  padding: 15px
  .right-side
    font-style: italic
  .live-title
    font-weight: $bold
    font-size: 16px
    margin-right: 10px
    text-transform: uppercase
    a.icon-refresh
      font-size: 14px
      padding: 0 5px
      color: $c_text
      &:hover,
      &:focus
        text-decoration: none
        color: $c_text

.live-content-over
  position: absolute
  bottom: 0
  top: 50px
  left: 10px
  right: 10px
  max-width: 1600px
  margin: 0 auto
  overflow: auto

.live-content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 8px
  overflow-y: auto
  overflow-x: hidden
  border: 1px solid #d7d7d7
  border-radius: 5px
  background: #fff
  box-shadow: 0 3px 0 0 rgba(0,0,0,.12)

.write-user
  width: 25px
  height: 25px
  display: block
  background: url(../../images/live-icon-sprite.png) 51px 0
  float: right
  &:hover
    background-position: 26px 0

.icon-msg1
  background: url(../../images/live-icon-sprite.png) 150px 0
  width: 25px
  height: 25px

.icon-msg2
  background: url(../../images/live-icon-sprite.png) 125px 0
  width: 25px
  height: 25px

.icon-visit
  background: url(../../images/live-icon-sprite.png) 98px -2px
  width: 25px
  height: 25px

.list-online
  .list-online-table
    width: 100%
    margin-bottom: 20px
    .name-author
      &:hover,
      &:focus
        text-decoration: none
    thead
      tr
        background: #f9f9f9
        height: 40px
        line-height: 30px
        text-transform: uppercase
        font-weight: $bold
        font-size: 12px
        border-radius: 6px
        border-bottom: 1px solid #eeeef4
        th
          padding: 0 5px
          vertical-align: middle
    tbody
      tr
        background: #fff
        line-height: 50px
        height: 50px
        white-space: nowrap
        border-bottom: 1px solid #eeeef4
        border-left: 3px solid #fff
        position: relative
        td
          padding: 0 5px
          overflow: hidden
          text-overflow: ellipsis
          font-size: 12px
          position: relative
          vertical-align: middle
          min-width: 60px
          max-width: 250px
          .author
            top: 0
          i.fa
            font-size: 18px
            color: $c_blue
            vertical-align: middle
        &:hover
          background: #f9f9f9
          cursor: pointer
          border-left: 3px solid #ffa059

a.page-link
  text-decoration: underline
  &:hover,
  &:focus
    text-decoration: none

.all-load
  font-size: 12px
  color: $c_blue

.flag
  height: 17px
  line-height: 17px
  width: 21px
  img
    border: 1px solid #eee
    width: 100%
    display: block

.subtitle
  display: block
  margin: 10px 0
  font-weight: bold

.center-example
  position: absolute
  top: 50%
  left: 50%
  +m-transform(translate(-50%,-50%))

.site-chat
  position: relative
  display: table
  .msg
    background: rgba(255,255,255,.98)
    color: #767676
    border-radius: 8px
    display: table-cell
    vertical-align: middle
    box-shadow: 0 6px 10px rgba(0,0,0,.25)
    padding: 10px
    position: relative
    > div
      max-width: 200px
      max-height: 153px
      overflow: hidden
      p
        line-height: 17px
        padding: 0
        margin: 0
    &:before,&:after
      left: 100%
      border: 7px solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      bottom: 12px
    &:before
      border-left: 7px solid #f2f2f2
      margin-top: -7px
    &:after
      border-left: 7px solid #fff
      margin-top: -6px
  .chat-icon
    position: relative
    display: table-cell
    vertical-align: bottom
    padding-left: 10px
    img
      border: 4px solid #3a3a3a
      background-color: #3a3a3a
      width: 48px
      height: 48px
      border-radius: 50%
      box-shadow: 0 6px 10px rgba(0,0,0,.25)
      overflow: hidden
      margin-bottom: -5px
    .count
      left: 35px
      bottom: 30px
      background-color: #ff6900
      font-weight: bold
      font-size: 13px
      color: #fff
      border-radius: 50%
      cursor: pointer
      width: 20px
      height: 20px
      position: absolute
      text-align: center
      border: 2px solid #ff6900
  .close
    position: absolute
    display: none
    top: -5px
    left: -5px
    font-size: 18px
    z-index: 3
    color: #3a3a3a
    opacity: 1
    width: 18px
    height: 18px
    &:hover
      text-decoration: none
      color: #3a3a3a
      opacity: 0.7
  &:hover
    .close
      display: block


/****************email***************/
.email-footer
  text-align: center
  font-size: 10px
  width: 100%
  line-height: 120%
  a
    color: #aaa
    text-decoration: underline
    &:hover,
    &:focus
      color: #aaa
      text-decoration: underline

.table-email
  margin-bottom: 60px
  width: 100%

.email-inner
  width: 100%
  border: 1px solid #ddd
  border-radius: 3px
  height: 100px

.sign-table
  width: 100%
  font-size: 13px
  vertical-align: middle
  line-height: 100%
  padding: 0 10px
  .avatar
    width: 30px
    min-width: 30px
    max-width: 30px
    height: 30px
    border-radius: 50%
    border: 1px solid #fff
    background: #c9c9c9
    vertical-align: middle
    margin: 10px 0 0 0
/**************email end*************/

