.cart-header {
    margin: 0 0 20px 0;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    color: #0e0e0f;
}

.cart-header-title {
    font: 700 15px/32px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    float: left;
}

.text-success {
    color: #34a736;
}

.cart-box {
    margin-top: 20px;
}

.product-item {
    padding-bottom: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #fafafa;
    display: table;
    width: 100%;
}

.cart-info-job {
    padding: 15px 10px 15px 18px;
    display: table;
    width: 100%;
    position: relative;
}

.delete-job-cross {
    position: absolute;
    right: 10px;
    top: 10px;
}

a.cart-img {
    display: table-cell;
    vertical-align: top;
    width: 80px;
    max-width: 80px;
}

a.cart-img img {
    width: 100%;
    display: block;
}

.cart-name {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px;
}

a.job-name {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

a.job-name:visited {
    color: #555;
}

a.job-name:hover, a.job-name:focus {
    color: #555;
    text-decoration: none;
}

a.delete-job {
    color: #999;
    font-size: 14px;
    display: block;
}

a.delete-job:visited {
    color: #999;
}

a.delete-job:hover, a.job-name:focus {
    color: #999;
    text-decoration: none;
}

.cart-opts {
    display: table;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 0 10px 0 18px;
}

.cart-opts:nth-child(2) {
    border-top: 1px solid #ddd;
}

.cart-opt-descr {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0;
    color: #555;
    font-size: 14px;
    width: 90%;
    position: relative;
}

ul.included {
    color: #999999;
    margin-top: 15px;
}

ul.included li {
    margin: 0 0 10px 0;
    padding-left: 18px;
    font-size: 14px;
    line-height: 15px;
    display: block;
    position: relative;
}

ul.included li:before {
    content: '\f00c';
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
}

.cart-price {
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    min-width: 55px;
    max-width: 55px;
    color: #555;
    position: relative;
    text-align: right;
    padding: 15px 0;
}

a.cart-plus, a.cart-minus {
    position: absolute;
    display: block;
    right: 0;
    height: 16px;
    width: 16px;
    z-index: 2;
    color: #9f9f9f;
    font-size: 16px;
}

a.cart-plus {
    top: 0;
}

a.cart-minus {
    bottom: 0;
}

.cart-input-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.cart-input {
    width: 90px;
    min-width: 55px;
    height: 100%;
    position: relative;
    max-height: 70px;
}

input[type="number"].count-opt {
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: none;
    color: #555;
    line-height: 100%;
    text-align: center;
    border-radius: 0;
    background-color: #fafafa;
    padding-left: 40px;
    padding-right: 15px;
}

input[type="number"].count-opt:focus {
    box-shadow: none;
}

.job-total {
    font-size: 14px;
    color: #555;
    padding: 25px;
    display: block;
    font-weight: bold;
}

.job-ups {
    display: block;
    border: 1px solid #dddddd;
}

.ups-title {
    background-color: #f7f7f7;
    color: #777777;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 15px;
}

.ups-item {
    border-top: 1px solid #dddddd;
    display: table;
    width: 100%;
    padding: 10px;
}

.ups-descr {
    color: #777777;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
    width: 90%;
    position: relative;
}

.ups-time {
    display: block;
    color: #b2b2b2;
}

.cart-add-opt {
    display: table-cell;
    vertical-align: middle;
}

a.blue-but {
    display: block;
    background-color: #40aeb8;
    border-color: #40aeb8;
    color: #fff;
    background: -webkit-linear-gradient(#69c4c9, #42b4bb);
    background: -moz-linear-gradient(#69c4c9, #42b4bb);
    background: -o-linear-gradient(#69c4c9, #42b4bb);
    background: linear-gradient(#69c4c9, #42b4bb);
    font: 700 12px/12px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    padding: 9px 20px 8px 20px;
    margin: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    border-radius: 3px;
}

a.blue-but:hover {
    border-color: #338a92;
    text-decoration: none;
}

.delete-cart-opts {
    display: table-cell;
    vertical-align: middle;
}

a.delete-opts-but {
    color: #b2b2b2;
    font-size: 14px;
    padding-right: 10px;
    display: block;
}

.cart-header .link-blue {
    margin: 10px 0 0 10px;
}

.product-item .hint--top:after {
    left: 30px;
}

.total-box {
    background: #fafafa;
    border: 1px solid #dddddd;
}

.price-line {
    padding: 15px 10px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 14px;
}

.price-line:last-child {
    border-bottom: none;
}

.price-total-title {
    text-align: left;
    float: left;
}

.price-total-sum {
    text-align: right;
    float: right;
    font-size: 15px;
}

.total-all {
    font-weight: bold;
}

.total-all .btn-big {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.cart-left {
    margin-bottom: 30px;
}

.cart-left a.btn-big {
    float: right;
    margin-right: 15px;
}

.payment-methods {
    width: 100%;
    font-size: 24px;
    padding: 6px 0;
    margin-bottom: 50px;
    color: #b2b2b2;
}

.payment-methods .fa {
    margin: 0 4px 0 0;
    float: left;
}

.secure {
    float: right;
    position: relative;
}

.secure span {
    font-size: 9px;
    line-height: 11px;
    display: inline-block;
}

.secure.hint--top-right:after {
    width: 290px;
}

.cart-header-block {
    font: 700 15px/32px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-bottom: none;
    padding: 10px 20px;
    color: #0e0e0f;
}

.payment-options {
    border: 1px solid #ddd;
    background-color: #fff;
}

.payment-item {
    padding: 5px 20px;
}

.payment-item .radio label {
    font-size: 18px;
}

.payment-item .radio + .radio {
    margin-top: 10px;
}

.pay-icon {
    display: inline;
    vertical-align: middle;
    height: 50px;
    margin: 0 10px;
}

.tariff-days {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.cart-fair-play {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-top: none;
    padding: 20px 0;
    text-align: center;
}

.cart-fair-play .image-container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.cart-fair-play .message-container {
    color: #000;
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
}

.cart-fair-play .image-container:hover {
    color: #000;
}

.cart-tutorial {
    padding: 15px 15px 0 18px;
    position: relative;
    min-height: 300px;
}

.cart-tutorial p {
    margin-bottom: 10px;
}

.pay-big-block {
    padding: 10px 0;
}

.pay-title {
    margin: 15px 0 15px;
    font-size: 20px !important;
}

.pay-title i{
    font-size: 16px;
}

a.pay-title {
    color: #00698c;
}

a.pay-title:hover, a.pay-title:focus {
    color: #00698c;
}

.pay-cells {
    position: relative;
}

.pay-cell {
    -webkit-transition: ALL .5s ease;
    -moz-transition: ALL .5s ease;
    -o-transition: ALL .5s ease;
    transition: ALL .5s ease;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    display: inline-block;
    width: calc(33% - 10px);
    margin: 0 10px 10px 0;
    height: 130px;
    padding: 30px 15px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    color: #488dcd;
    line-height: 70px;
    position: relative;
    float: left;
}
.pay-cell-big {
    width: calc(66% - 10px);
    height: auto;
    -webkit-transition: ALL .5s ease;
    -moz-transition: ALL .5s ease;
    -o-transition: ALL .5s ease;
    transition: ALL .5s ease;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 20px 15px 5px;
    position: relative;
    float: left;
    background-color: #f7f7f7;
}

.pay-cell > div {
    position: absolute;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    color: #555;
}
.pay-cell-big > div {
    position: absolute;
    top: 8px;
    left: 25px;
    color: #555;
    line-height: 20px;
    font-size: 16px;
}

.pay-cell .pay-cell-title {
    top: 5px;
    left: 0;
}

.pay-cell .pay-cell-subtitle {
    bottom: 5px;
    left: 0;
}

.pay-cell > img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.pay-cell:hover,
.pay-cell:focus {
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px #ccc;
    border: 1px solid #CCC;
    color: #488dcd;
    text-decoration: none;
}

.pay-info {
    padding: 5px 0 5px 15px;
    border-left: 2px solid #b4cbd6;
    display: block;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 15px;
}

ul.gig-steps {
    float: left;
    counter-reset: steps;
}

ul.gig-steps li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

ul.gig-steps li:before {
    content: counter(steps);
    counter-increment: steps;
    background-color: #c2c2c2;
    float: left;
    width: 22px;
    height: 22px;
    margin: 19px 5px 0 0;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

ul.gig-steps li a {
    color: #999;
    line-height: 60px;
    height: 60px;
    text-decoration: none;
    padding: 0 25px 0 30px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

ul.gig-steps li.active a {
    color: #0e0e0f;
}

ul.gig-steps li.active:after {
    content: '\f041';
    font-family: 'FontAwesome', sans-serif;
    background-color: #00B22D;
    width: 22px;
    height: 22px;
    margin: 19px 5px 0 0;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

ul.gig-steps li.completed:after {
    content: '\f00c';
    font-family: 'FontAwesome', sans-serif;
    background-color: #8dc63f;
    width: 22px;
    height: 22px;
    margin: 19px 5px 0 0;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

ul.gig-steps a:after {
    content: '\f054';
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0;
    color: #909090;
    display: block;
    line-height: 18px;
    font-size: 10px;
}

ul.gig-steps li:last-child a:after {
    display: none;
}

.step-continue a.link-blue {
    line-height: 60px;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .pay-cell-big {
        width: calc(100% - 10px);
    }

    .pay-cell {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .pay-cells {
        text-align: center;
    }

    .pay-cell {
        width: calc(100% - 10px);
    }
}