.checkout-steps .step-title {
    background: #fff;
    border: 1px solid #58acf7;
    cursor: default;
    padding: 10px;
    color: #58acf7;
}

.checkout-steps li:not(:first-child) .step-title {
    border-top: 0;
}

.checkout-steps .step-title .number {
    background-color: #58acf7;
    border-radius: 50%;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 26px;
    margin: 0 5px;
    color: #fff;
}

.checkout-steps .step-title h2 {
    display: inline-block;
    margin: 0;
    font-size: 113.67%;
    text-transform: uppercase;
}

.checkout-steps {
    list-style: none;
    margin: 0;
    padding: 0 0 30px 0;
}

.checkout-steps .step-content h3 {
    font-size: 108.33%;
    border-bottom: 1px solid #58acf7;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
}

.checkout-steps .step-content {
    border: 1px solid #58acf7;
    border-top: 0;
    padding: 0 19px 15px 19px;
    position: relative;
}

.checkout-steps .inline-radio {
    width: 50%;
    float: left;
}

.checkout-steps .radio + .radio {
    margin-top: 10px;
}

.checkout-steps li.success .step-title {
    color: #3bbb13;
    border: 1px solid #3bbb13;
}

.checkout-steps li.success .step-title .number {
    background: #3bbb13;
}

.checkout-steps li.success .step-content {
    border: 1px solid #3bbb13;
    border-top: 0;
}