.age21 {
    width: 580px;
}

.age21 .modal-content {
    padding: 40px 80px 60px;
}

.age21 .title-age {
    margin-bottom: 40px;
    font-weight: bold;
    color: #eb2427;
    font-size: 80px;
    line-height: 140%;
    text-align: left;
}

.age21 .title-age span {
    display: block;
    font-size: 20px;
    color: #0e0e0f;
    font-weight: normal;
    line-height: 26px;
}

.age21 .text-age p {
    font-size: 13px;
    margin-bottom: 40px;
}

.age21 .warning-age {
    display: block;
    position: absolute;
    bottom: 50%;
    left: calc(-50% - 40px);
    width: 100%;
    text-align: center;
    color: #eb2427;
    font-size: 28px;
    font-weight: 700;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.age21 .modal-header .close {
    margin: -30px -70px 0 0;
    color: #555;
    opacity: 1;
    border-radius: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-size: 40px;
}

.age21 .modal-header .close:focus,
.age21 .modal-header .close:hover {
    color: #555;
    opacity: 0.8;
}

.age21 p.age-low, .age21 .button.age-home {
    display: none;
}