.product-measure-amount-block {
    margin: 8px 0;
    height: 40px;
    width: 100%;
    display: flex;
}

.product-measure-amount-block .product-amount-block,
.product-measure-amount-block .product-measure-block{
    /*display: inline-block;*/
    position: relative;
    height: 40px;
    /*width: calc(50% - 10px);*/
    border: 1px #777 solid;
    /*vertical-align: top;*/
    width: 100%;
}
.product-measure-amount-block .product-amount-block{
    margin-right: 6px;
}
.product-measure-amount-block .product-measure-block{
    margin-left: 6px;
    line-height: 38px;
    font-size: 22px;
    text-align: center;
}
.product-measure-amount-block .product-amount-block a{
    position: absolute;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 4px 10px;
    /*width: 40px;*/
    height: 38px;
}
.product-measure-amount-block .product-amount-block a:visited,
.product-measure-amount-block .product-amount-block a:hover,
.product-measure-amount-block .product-amount-block a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #00b22d;
}
.product-measure-amount-block .product-amount-block .product-amount-minus{
    left: 0;
}
.product-measure-amount-block .product-amount-block .product-amount-plus{
    right: 0;
}
.product-measure-amount-block .product-amount-block input{
    height: 38px;
    font-size: 22px;
    line-height: 38px;
    border: none;
    text-align: center;
}