.cat-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-img-block{
    padding: 0 10px 30px 10px;
}

.cat-img-block.big{
    width: 50%;
}

.cat-img-block.middle{
    width: 33.33%;
}

.cat-img-block.small{
    width: 25%;
}

.cat-img-block .cat-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 3px;
}

.cat-img-block .cat-img img{
    width: 100%;
    border-radius: 3px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.cat-img-block .cat-name{
    display: block;
    padding-top: 5px;
}

.cat-img-block a.cat-alias{
    text-decoration: none;
    color: #777777;
    font-size: 17px;
    line-height: 110%;
    padding-top: 5px;
    display: block;
}

.cat-img-block a.cat-alias:hover,.cat-img-block a.cat-alias:focus{
     text-decoration: none;
     color: #777777;
 }

.cat-img-block a.cat-alias:hover .cat-img img{
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}