.chatU-content {
    position: fixed;
    right: 200px;
    bottom: 0;
    z-index: 2500;
}

.chatU-block {
    width: 260px;
    height: 335px;
    border: 0;
    margin-left: 15px;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    position: relative;
    display: inline-block;
    background-color: #fff;
    transition: transform 0.2s linear, width 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear, width 0.2s linear;
}

.chatU-block.small {
    width: auto;
    transform: translateY(310px);
    -webkit-transform: translateY(310px);
}

.chatU-block.small #userAdd,
.chatU-block.small #openSetting,
.chatU-block.small #chatU-close {
    opacity: 0;
    pointer-events: none;
}

.chatU-block.small #chatU-close:before,
.chatU-block.small #chatU-close:after {
    display: none;
}

.chatU-block.small .chatU-header:hover #chatU-close {
    opacity: 1;
    pointer-events: auto;
}

.chatU-block.small .chatU-body-over,
.chatU-block.small .chatU-footer {
    opacity: 0;
}

.chatU-header {
    background: #f6f7f9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    color: #555;
    height: 26px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.chatU-block.active .chatU-header {
    background: #00b22d;
}

.chatU-block.active {
    z-index: 2900;
}

.chatU-user {
    color: #555;
    font-size: 13px;
    line-height: 16px;
}

.chatU-user:focus, .chatU-user:hover {
    text-decoration: underline;
    color: #555;
}

.chatU-block.active .chatU-header .chatU-user {
    color: #fff;
}

.chatU-block.active .chatU-header .chatU-user:focus,
.chatU-block.active .chatU-header .chatU-user:hover {
    text-decoration: underline;
    color: #fff;
}

.chatU-settings > a {
    color: #555;
    opacity: 0.7;
    font-size: 15px;
    line-height: 16px;
    margin-right: 5px;
    position: relative;
}

.chatU-settings > a:focus,
.chatU-settings > a:hover {
    opacity: 1;
    color: #555;
    text-decoration: underline;
}

.chatU-settings > a:before,
.chatU-settings > a:after,
.chat-mes-ava:before,
.chat-mes-ava:after,
.chat-mes-text:before,
.chat-mes-text:after {
    white-space: nowrap;
}

.chat-mes-text.hint--right::before, .chat-mes-text.hint--right::after {
    left: 100%;
    width: auto;
    white-space: normal;
    top: 0;
}

.chat-mes-text.hint--right::before {
    top: 15px;
}

.chat-mes-attachment {
    width: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.chat-mes-attachment img {
    width: 100%;
    height: auto;
}

.chatU-block.active .chatU-header .chatU-settings > a,
.chatU-block.active .chatU-header .chatU-settings > a:focus,
.chatU-block.active .chatU-header .chatU-settings > a:hover {
    color: #fff;
}

.chat-setting-menu {
    display: none;
    border: 1px solid #555;
    background-color: #fff;
    padding: 0 3px;
    position: absolute;
    right: 30px;
    z-index: 5;
    top: 26px;
    width: 220px;
    left: calc(100% - 50px);
}

.chat-setting-group {
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
}

.chat-setting-group a {
    background-color: #fff;
    color: #0e0e0f;
    font-size: 13px;
    line-height: 20px;
    padding: 0 10px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-setting-group a:focus,
.chat-setting-group a:hover {
    text-decoration: none;
    background-color: #8dc63f;
    color: #fff;
}

.chatU-body-over {
    position: relative;
    opacity: 1;
}

.chatU-body {
    padding: 5px 0;
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    /*display: flex;*/
    /*flex-direction: column-reverse;*/
}

.chatU-mes {
    align-items: flex-end;
    display: flex;
    padding: 5px 8px;
    position: relative;
    flex-wrap: wrap;
}

.chatU-mes.user {
    justify-content: flex-start;
}

.chatU-mes.you {
    justify-content: flex-end;
}

.chat-mes-ava {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.chat-mes-ava img {
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.chat-mes-text {
    max-width: 80%;
    min-height: 22px;
    min-width: 14px;
    border-radius: 6px;
    padding: 5px;
    font-size: 13px;
    line-height: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.chatU-mes.you .chat-mes-text {
    background-color: #00b22d;
    color: #fff;
}

.chatU-mes.user .chat-mes-text {
    background-color: #f1f0f0;
    color: #555;
}

.chatU-mes-send {
    width: 100%;
    font-size: 12px;
    text-align: right;
    margin: 5px 0;
}

.chatU-mes.user .chatU-mes-send {
    color: #555;
}

.chatU-mes.you .chatU-mes-send {
    color: #00b22d;
}

.chatU-mes.you .chatU-mes-send:before {
    content: '';
    width: 18px;
    height: 12px;
    display: inline-block;
}

.chatU-mes.you .chatU-mes-send.send:before {
    background: url(../images/icons/check-send.png) center / cover;
}

.chatU-mes.you .chatU-mes-send.read:before {
    background: url(../images/icons/check-read.png) center / cover;
}

.chatU-mes-info {
    width: 100%;
    font-size: 11px;
    color: #999;
    text-align: center;
    padding: 5px 8px;
}

.chatU-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e6e6e6;
    opacity: 1;
}

.like-text {
    width: 100%;
    padding: 5px;
    color: #0e0e0f;
    line-height: 16px;
    font-size: 13px;
    height: 58px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: auto;
}

.like-text .css-emoticon {
    font-size: 10px;
    margin: 3px;
    width: 20px !important;
    height: 20px !important;
}

.bottom-panel {
    width: 100%;
    padding: 5px;
    text-align: right;
}

.chatU-footer-icon {
    display: inline-block;
    color: #999;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
}

.chatU-footer-icon:hover {
    text-decoration: none;
    color: #999;
    opacity: 0.8;
}

.smile-window {
    padding: 10px;
    position: absolute;
    width: 215px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    left: calc(100% - 60px);
    background: #fff;
    bottom: 30px;
    line-height: 24px;
    text-align: left;
    overflow: auto;
    display: none;
    z-index: 2550;
}

.smile-window > a {
    line-height: 24px;
    width: 24px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.smile-window > a img {
    vertical-align: middle;
}

.noti-body#header-messages-container {
    max-height: 600px;
    overflow: auto;
}

.lg-actions .lg-prev:after {
    content: "\f060";
}

.lg-actions .lg-next:after {
    content: "\f061";
}

.lg-actions .lg-next:before {
    content: "";
}

.lg-toolbar .lg-download:after {
    content: "\f019";
}

.lg-toolbar .lg-close:after {
    content: "\f00d";
}

.lg-backdrop {
    z-index: 3040;
}

.lg-outer {
    z-index: 3050;
}

.chat-mes-attachment .link-attachment-icon {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.chatU-status {
    position: relative;
}

.chatU-status:before {
    left: -1px;
    top: 3px;
}

.chatU-status.offline:before {
    background-color: #ccc;
}