.buttons-message .dropdown-menu {
    right: 0;
    bottom: 40px;
    left: auto;
    top: auto;
    width: 100%;
    height: 130px;
    padding: 20px 10px;
    border: none;
}
.buttons-message .dropdown-menu li{
    height: 100%;
}
.buttons-message .dropdown-menu .input-container{
    width: 100%;
}
.buttons-message .dropdown-menu .button-container{
    float: right;
}
.selectize-dropdown {
    top: auto !important;
    bottom: 65px !important;
    border: 1px solid #d0d0d0  !important;
    border-radius: 3px 3px 0 0  !important;
}
.selectize-input {
    height: 45px !important;
    /*padding: 6px 0 7px 0;*/
}
.selectize-input input{
    /*position: absolute;*/
    left: 0;
    /*padding: 0 7px 0 7px !important;*/
    width: 100px !important;
}
.message.user a {
    color: #fff;
}
