html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, aside,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

ul,
ol {
  list-style-position: inside; }

ul li {
  list-style: none;
  margin: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

a:focus,
div:focus {
  outline: 0; }

@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url("fonts/HelveticaNeueCyrRoman.eot");
  src: url("fonts/HelveticaNeueCyrRoman.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyrRoman.woff2") format("woff2"), url("fonts/HelveticaNeueCyrRoman.woff") format("woff"), url("fonts/HelveticaNeueCyrRoman.ttf") format("truetype"), url("fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman") format("svg"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2") format("woff2"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.column-check {
  display: block;
  padding: 3px 0; }

.popup-check {
  display: block;
  padding: 5px 0; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

input[type="checkbox"] + label,
input[type="checkbox"] + label,
input[type="radio"] + label,
input[type="radio"] + label {
  width: 100%;
  cursor: pointer; }

input[type="checkbox"] + label:before,
.popup-check input[type="radio"] + label:before {
  width: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
  content: "\f096";
  color: #ccc;
  font-family: 'FontAwesome', serif;
  font-size: 20px;
  text-align: left; }

input[type="checkbox"]:checked + label:before,
.popup-check input[type="radio"]:checked + label:before {
  width: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  content: "\f14a";
  color: #1e6373;
  font-family: 'FontAwesome', serif;
  font-size: 18px;
  text-align: left; }

.column-check input[type="checkbox"] + label:before {
  width: 25px;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0 0 1px;
  margin: -1px 5px 0 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
  content: "\f096";
  color: #ccc;
  font-family: 'FontAwesome', serif;
  font-size: 20px;
  text-align: left; }

.column-check input[type="checkbox"]:checked + label:before {
  width: 25px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: -1px 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  content: "\f14a";
  color: #31c0be;
  font-family: 'FontAwesome', serif;
  font-size: 20px;
  text-align: left; }

input[type="checkbox"]:disabled + label:before {
  width: 25px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  content: "\f14a";
  color: #ccc;
  font-family: 'FontAwesome', serif;
  font-size: 20px;
  text-align: left; }

input[type="checkbox"] + label {
  display: inline;
  vertical-align: middle;
  font-family: 'HelveticaNeueCyrRoman', serif;
  color: #767676;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400; }

.popup-check input[type="checkbox"] + label {
  font-size: 12px;
  color: #1e6373; }

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"], input[type="search"] {
  width: 100%;
  background-color: #fff;
  font: 400 14px "HelveticaNeueCyrRoman", sans-serif;
  color: #767676;
  border: 1px #ccc solid;
  padding: 6px;
  margin: 0;
  border-radius: 3px;
  height: 30px;
  line-height: 18px;
  display: block;
  text-align: left; }

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
input[type="text"].form-control:focus,
input[type="number"].form-control:focus,
input[type="email"].form-control:focus,
input[type="tel"].form-control:focus,
input[type="password"].form-control:focus,
textarea.form-control:focus {
  border: 1px #1e6373 solid;
  color: #767676; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button {
  display: none; }

::-webkit-input-placeholder {
  font: 400 14px "HelveticaNeueCyrRoman", sans-serif;
  color: #767676; }

::-moz-placeholder {
  color: #767676;
  font: 400 14px "HelveticaNeueCyrRoman", sans-serif; }

textarea {
  width: 100%;
  background-color: #fff;
  font: 400 14px "HelveticaNeueCyrRoman", sans-serif;
  color: #767676;
  border: 1px #ccc solid;
  padding: 7px;
  margin: 0;
  resize: none;
  border-radius: 3px;
  height: 90px;
  line-height: 16px;
  display: block;
  text-align: left; }

.search {
  position: relative; }
  .search:before {
    content: "\f002";
    font-size: 14px;
    font-family: "FontAwesome", serif;
    position: absolute;
    left: 9px;
    top: 5px;
    color: #b3b3b3;
    z-index: 20; }

input[type="search"] {
  border: 1px solid #cbd5dd;
  padding-left: 25px;
  background-color: #f9f9f9;
  margin-bottom: 12px;
  position: relative; }

input.add-tag {
  font-size: 12px;
  border: 0;
  outline: 0;
  margin: 2px;
  padding: 0 0 0 5px;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 125px; }
  input.add-tag::-webkit-input-placeholder {
    font: 400 12px "HelveticaNeueCyrRoman", sans-serif;
    color: #ccc; }
  input.add-tag:focus, input.add-tag:hover {
    border: none; }

textarea.write-message {
  height: 100px;
  border: none; }
  textarea.write-message:focus, textarea.write-message:hover {
    border: none; }

select {
  background: #fff;
  font-size: 12px;
  color: #3e6372;
  border-color: #d7d7d7;
  padding: 2px 7px;
  margin-top: 6px;
  height: 30px; }

.modal-userForm {
  width: 90%; }
  .modal-userForm .modal-content {
    padding: 10px;
    background: #f0f0f0; }
  .modal-userForm .main-info {
    margin: 0;
    padding: 0;
    border-bottom: none; }
  .modal-userForm .modal-body {
    padding: 20px 0 0; }

.user-info-form-head {
  background: #fcfcfc;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  padding: 10px; }

.uForm-column.info {
  width: 250px;
  float: left; }
  @media only screen and (min-width: 1500px) {
    .uForm-column.info {
      width: 350px; } }

.uForm-column.history {
  padding: 0 20px;
  width: calc(50% - 175px);
  float: left; }
  @media only screen and (max-width: 1500px) {
    .uForm-column.history {
      width: calc(50% - 125px); } }
  .uForm-column.history:last-child {
    padding: 0; }

.uForm-column .title {
  font-size: 14px;
  font-weight: 700;
  color: #5c5c5c; }

.chats-history {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0; }
  .chats-history .history-body {
    padding: 0 10px;
    background: #f9f9f9;
    border-radius: 5px;
    max-height: 510px;
    overflow: hidden; }
    .chats-history .history-body .history-opt {
      text-align: center;
      padding: 2px 0 5px;
      font-size: 12px; }
      .chats-history .history-body .history-opt a, .chats-history .history-body .history-opt a:hover, .chats-history .history-body .history-opt a:focus {
        color: #526d80;
        text-decoration: underline; }
  .chats-history .history-bottom {
    border-top: 3px solid #ccc;
    padding: 10px;
    text-align: center; }

ul.history-switch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0; }
  ul.history-switch li {
    font-size: 14px;
    border-bottom: 1px solid #dadada;
    border-bottom: 0;
    background: #dadada;
    padding: 10px;
    border-radius: 7px 7px 0 0;
    width: calc(50% - 2px);
    text-align: center; }
    ul.history-switch li.active {
      background: #fff;
      border: 1px solid #d7d7d7;
      padding-top: 11px;
      padding-bottom: 9px;
      border-bottom: none; }
      ul.history-switch li.active a {
        color: #1e6373;
        border: none; }
    ul.history-switch li a {
      color: #767676;
      width: 100%;
      height: 100%;
      display: block; }
      ul.history-switch li a:hover, ul.history-switch li a:focus {
        text-decoration: none;
        color: #767676;
        border: none; }

.tab-history-content {
  background: #fff;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d7d7d7; }
  .tab-history-content .tab-head {
    border-bottom: 1px solid #e8e8e8; }

.chronology {
  padding-top: 25px; }
  .chronology .chronology-item {
    padding: 0 10px 15px;
    position: relative;
    width: 100%;
    z-index: 1; }
    .chronology .chronology-item:last-child .left-line {
      display: none; }

.left-line {
  height: 100%;
  position: absolute;
  border-right: 1px solid #9fb0b8;
  margin-left: 18px;
  z-index: 1; }

.arrow-cell {
  position: relative;
  z-index: 3;
  width: 36px;
  min-width: 36px;
  display: table-cell;
  vertical-align: top; }
  .arrow-cell .icon-arrow {
    width: 36px;
    height: 36px;
    background: #fff url(../images/cursor.png) top no-repeat; }

.time-cell {
  padding: 3px 10px;
  white-space: nowrap;
  display: table-cell;
  vertical-align: top; }
  .time-cell p {
    padding: 0;
    margin: 0;
    color: #9fb0b8;
    font-size: 10px;
    line-height: 140%; }

.props-cell {
  display: table-cell;
  vertical-align: top;
  width: 90%; }
  .props-cell .props-title {
    color: #9fb0b8;
    margin-top: 2px; }
  .props-cell .props-table {
    display: table;
    width: 100%;
    font-size: 12px; }
    .props-cell .props-table .props-row {
      display: table-row; }
      .props-cell .props-table .props-row .props-name {
        display: table-cell;
        vertical-align: top;
        padding-right: 5px;
        font-weight: 700;
        width: 40%; }
      .props-cell .props-table .props-row .props-text {
        display: table-cell;
        vertical-align: top;
        width: 60%; }

.no-data {
  font-size: 12px;
  text-align: left;
  width: 100%;
  padding-left: 45px;
  color: #7f7f7f; }

.chronology-group {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  border-left: 2px solid #fff;
  position: relative; }
  .chronology-group.open .group-body {
    display: block; }
  .chronology-group:hover, .chronology-group.open {
    border-left: 2px solid #ff851b;
    background-color: #fcfcfc; }
  .chronology-group a.chron-head {
    display: table;
    color: #767676; }
    .chronology-group a.chron-head:hover, .chronology-group a.chron-head:focus {
      color: #767676;
      text-decoration: none; }
    .chronology-group a.chron-head .group-name {
      display: table-cell;
      vertical-align: top;
      font-weight: 700;
      width: 95%;
      padding: 0 10px; }
    .chronology-group a.chron-head .chevron {
      display: table-cell;
      vertical-align: top;
      width: 20px;
      text-align: right; }

.group-body {
  display: none; }

.circle-cell {
  width: 25px;
  min-width: 25px;
  max-width: 25px;
  padding: 0 5px 0 8px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  z-index: 3; }
  .circle-cell .circle-arrow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fcfcfc;
    border: 1px solid #9fb0b8; }

.modal-sendForm {
  width: calc(100% - 60px);
  margin: 0 0 0 auto;
  max-width: 1400px;
  min-width: 948px; }
  .modal-sendForm .modal-content {
    background: #fff;
    border-radius: 0; }
  .modal-sendForm .modal-body {
    padding: 20px; }

.grey-header {
  font-size: 21px;
  padding: 15px 20px;
  background-color: #f3f3f3; }
  .grey-header a.send-grey {
    position: absolute;
    top: 15px;
    right: 15px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2; }
    .grey-header a.send-grey:hover, .grey-header a.send-grey:focus {
      opacity: 0.5;
      text-decoration: none;
      color: #000; }

.to-user {
  line-height: 25px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  vertical-align: top; }
  .to-user > div {
    width: 55px; }
  .to-user .to-name {
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 0 0 0 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    width: 95%; }
    .to-user .to-name .count-msg {
      background: #878787;
      border-radius: 30px;
      color: #fff;
      padding: 0 5px;
      line-height: 18px;
      font-size: 12px;
      float: right;
      margin: 4px; }

ul.type-msg {
  margin-bottom: 15px;
  display: block; }
  ul.type-msg li {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top; }
    ul.type-msg li a {
      display: block;
      width: 100px;
      height: 90px;
      text-align: center;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      padding: 10px;
      color: #767676; }
      ul.type-msg li a:hover, ul.type-msg li a:focus {
        text-decoration: none;
        color: #767676; }
      ul.type-msg li a img {
        height: 45px;
        display: block;
        margin: 0 auto; }
      ul.type-msg li a span {
        font-weight: bold;
        line-height: 2em; }
    ul.type-msg li.active a {
      background-color: #d8d8d8;
      color: #fff; }

.tab-type {
  margin: 0 -20px; }
  .tab-type .send-cols {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8; }
    .tab-type .send-cols .left-column {
      padding: 0 20px 20px;
      width: 50%;
      overflow: visible;
      border-right: 1px solid #d8d8d8;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
    .tab-type .send-cols .right-column {
      padding: 20px;
      width: 50%;
      background: #ebeff1;
      position: relative; }
  .tab-type .msg-option {
    margin: 20px 0; }
    .tab-type .msg-option select {
      font-size: 14px;
      width: 350px;
      max-width: 100%; }

textarea.form-msg {
  height: 150px;
  width: 100%;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 0 0 3px 3px; }

.send-from {
  margin: 10px 0; }
  .send-from .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e0e0e0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    overflow: hidden; }
    .send-from .avatar img {
      height: 100%;
      display: block;
      margin: 0 auto; }

.email-block {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px; }
  .email-block .email-head {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 2px 2px 0 0; }
    .email-block .email-head .browser-circle {
      float: right;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      border-radius: 100%;
      background: #ccc; }
  .email-block .email-body {
    padding: 20px; }
    .email-block .email-body .email-from {
      display: table;
      width: 100%;
      margin-bottom: 30px; }
      .email-block .email-body .email-from .email-icon {
        display: table-cell;
        vertical-align: middle;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #8aaeb5;
        color: #fff;
        font-size: 25px;
        line-height: 45px;
        text-align: center; }
      .email-block .email-body .email-from .from-name {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px; }

.pop-up {
  position: fixed;
  width: 100%; }
  .pop-up.example {
    position: absolute; }
    .pop-up.example .popup-body .popup-text {
      min-height: 80px; }
  .pop-up.big {
    max-width: 580px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .pop-up.small {
    max-width: 350px;
    top: 60px;
    right: 10px; }
  .pop-up .popup-icon {
    margin: 0 auto -5px;
    background-color: #3a3a3a;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: 12px;
    border: 3px solid #fff;
    display: block;
    overflow: hidden; }
    .pop-up .popup-icon img {
      height: 100%;
      display: block;
      margin: 0 auto; }
  .pop-up .popup-body {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    display: block;
    border-radius: 6px;
    background: #fff; }
    .pop-up .popup-body .popup-text {
      font-size: 14px;
      padding: 10px;
      overflow: hidden; }

* html,
body {
  background-color: #fff;
  font: 14px/130% "HelveticaNeueCyrRoman", sans-serif;
  width: 100%;
  color: #767676; }

html,
body {
  height: 100%;
  min-height: 100%; }

a {
  text-decoration: none;
  color: #1e6373;
  cursor: pointer;
  outline: none; }
  a:active {
    color: #2e97b0;
    text-decoration: none; }
  a:hover {
    color: #2e97b0;
    text-decoration: underline; }

h1 {
  padding: 0;
  text-align: center;
  color: #767676;
  font: 700 44px/130% "HelveticaNeueCyrRoman", sans-serif; }

h2 {
  font: 700 30px/140% "HelveticaNeueCyrRoman", sans-serif;
  color: #767676;
  margin: 15px 0;
  text-align: center; }

p {
  margin: 0 0 5px 0;
  color: #767676;
  font: 400 14px/18px "HelveticaNeueCyrRoman", sans-serif;
  text-align: left;
  font-size: 14px; }

.close-dialog p {
  color: #b0cecf; }

a.filter-btn {
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 180px;
  padding: 3px 10px;
  display: inline-block;
  margin: 2px 0;
  color: #767676;
  font-size: 14px; }
  a.filter-btn:hover, a.filter-btn:focus {
    background-color: #eee;
    color: #767676;
    text-decoration: none; }

a.blue-btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  height: 25px;
  color: #fff;
  padding: 3px 10px;
  margin: 0 4px;
  font-size: 14px;
  line-height: 20px;
  background-color: #1e6373; }
  a.blue-btn:hover, a.blue-btn:focus {
    text-decoration: none;
    background-color: #407084;
    color: #fff; }
  a.blue-btn.disabled {
    background-color: #bdbdbd; }
    a.blue-btn.disabled:hover, a.blue-btn.disabled:focus {
      background-color: #bdbdbd; }
  a.blue-btn .icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px; }
    a.blue-btn .icon.i-email {
      background: url("../images/email.svg") left no-repeat; }
    a.blue-btn .icon.i-popup {
      background: url("../images/pop-up.svg") left no-repeat; }
    a.blue-btn .icon.i-chat {
      background: url("../images/chat.svg") left no-repeat; }

a.blue-btn .icon.i-email, a.blue-btn .icon.i-popup, a.blue-btn .icon.i-chat {
  background-size: 18px 18px; }

a.refresh {
  transition: transform .2s;
  -webkit-transition: transform .2s;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../images/refresh.svg);
  background-size: 22px 22px;
  width: 22px;
  height: 22px; }
  a.refresh:hover {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }

.simple-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #aaa;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fafafa;
  color: #767676; }

a.simple-btn:hover, a.simple-btn:focus {
  background-color: #eee;
  color: #767676;
  text-decoration: none; }

a.bigBlue-btn, input[type=submit] {
  min-width: 180px;
  display: inline-block;
  background-color: #3e6372;
  color: #fff;
  border: 1px solid #3e6372;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  padding: 3px 27px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative; }
  a.bigBlue-btn:hover, a.bigBlue-btn:focus, input[type=submit]:hover, input[type=submit]:focus {
    background-color: #3e6372;
    color: #fff;
    text-decoration: none; }
  a.bigBlue-btn.inverse {
    background-color: #fff;
    color: #3e6372; }
    a.bigBlue-btn.inverse:hover, a.bigBlue-btn.inverse:focus {
      background-color: #fff;
      color: #3e6372; }

.continue {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d2def0;
  -webkit-transition: background .15s,color .15s;
  -o-transition: background .15s,color .15s;
  transition: background .15s,color .15s;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #d2def0;
  color: #777; }
  .continue:hover, .continue:focus {
    background-color: #acc2e3;
    border-color: #acc2e3;
    color: #777;
    text-decoration: none; }

.send-buttons {
  padding: 20px; }
  .send-buttons a.bigBlue-btn {
    min-width: 1px;
    margin-left: 10px; }
    .send-buttons a.bigBlue-btn:hover, .send-buttons a.bigBlue-btn:focus, .send-buttons input[type=submit]:hover, .send-buttons input[type=submit]:focus {
      background-color: #fff;
      color: #3e6372; }
    .send-buttons a.bigBlue-btn.inverse:hover, .send-buttons a.bigBlue-btn.inverse:focus {
      background-color: #3e6372;
      color: #fff; }

/* Main menu */
.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background: #fff; }

.nav-tabs {
  padding: 0;
  border: none; }

nav.left-menu {
  padding: 0;
  background: #4c6371;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  border: none; }
nav.left-menu .avatar {
  padding: 10px 5px;
  border-bottom: 1px solid #627b8b; }
nav.left-menu .avatar img {
  display: block;
  margin: 0 auto;
  max-width: 50px;
  background: #e0e0e0;
  border: 2px solid #c0cbd0;
  border-radius: 100px;
  width: 34px;
  height: 34px; }
nav.left-menu ul {
  display: block;
  width: 100%; }
nav.left-menu ul > li:last-child {
  border-bottom: none; }
nav.left-menu ul li {
  padding: 4px 0;
  display: block;
  position: relative; }
nav.left-menu ul li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #627b8b; }
nav.left-menu ul li.active a {
  background-color: #3d505b;
  border: none;
  color: #fff; }
nav.left-menu ul li.active a:hover, nav.left-menu ul li.active a:focus {
  background-color: #3d505b;
  border: none;
  color: #fff; }
nav.left-menu ul li.active a:after {
  display: block; }
nav.left-menu ul li a {
  text-align: center;
  display: block;
  width: 60px;
  height: 50px;
  background-size: 60px;
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 2px 0; }
nav.left-menu ul li a:after {
  content: '';
  width: 2px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: #e18437;
  display: none; }
nav.left-menu ul li a:hover, nav.left-menu ul li a:focus {
  background-color: #3d505b;
  border: none;
  color: #fff; }
nav.left-menu ul li a:hover:after, nav.left-menu ul li a:focus:after {
  display: block; }
nav.left-menu ul li a i {
  font-size: 24px; }
nav.left-menu ul li a i .fa-users {
  font-size: 20px; }
nav.left-menu ul li a .nav-title {
  margin-top: 2px; }

.dialog-right .dialog-body .write .buttons-message .msg-btn, .icon {
  background: url(../images/conversations-icons2.png);
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle; }

.container-fluid {
  padding: 0 15px;
  border-radius: 0;
  max-width: 1270px;
  margin: 0 auto; }

.row {
  margin-right: -15px;
  margin-left: -15px;
  clear: both;
  text-align: left; }

.mainblock {
  width: 100%; }

.wrapper {
  position: absolute;
  top: 0;
  left: 60px;
  bottom: 0;
  right: 0;
  background: #f3f3f3; }

aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 300px;
  background: #fafaff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #c9d4d9; }

.aside-header {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 18px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .aside-header .segment-text {
    text-transform: uppercase;
    font-size: 18px; }
  .aside-header .count-dialogs {
    background: url("../images/segments.png") right no-repeat;
    padding-right: 25px;
    font-size: 14px; }

.segments a, .segments span {
  display: inline-block;
  background: #666;
  border-radius: 10px;
  color: #fff;
  padding: 0 8px;
  margin: 0 4px 4px 0;
  font-size: 12px; }

.segments {
  padding: 20px 0;
  text-align: left; }
  .segments a.active, .segments span.active, .segments a:hover {
    background: #1e6373; }
  .segments a:hover, .segments a:focus {
    text-decoration: none; }

.filter-body {
  position: absolute;
  padding: 0 18px 50px;
  overflow: auto;
  top: 40px;
  bottom: 0;
  left: 0; }
  .filter-body hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #ddd; }
  .filter-body .filter-bottom {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0 0;
    padding-top: 5px;
    background: #fff; }

.content {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff; }

.content-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  color: #aaa;
  background: #f0f0f0;
  padding: 13px 12px; }
  .content-top .top-buttons {
    float: left; }
    .content-top .top-buttons .buttons-arrow {
      background: url(../images/users-button-arrow.png) no-repeat;
      width: 20px;
      height: 16px;
      float: left;
      position: relative;
      top: 8px;
      left: 3px;
      display: inline-block;
      vertical-align: middle; }
    .content-top .top-buttons a.grey-dashed {
      display: inline-block;
      vertical-align: middle;
      margin: 2px 8px;
      color: #aaa;
      font-size: 14px;
      border-bottom: #aaa 1px dashed; }
      .content-top .top-buttons a.grey-dashed:hover, .content-top .top-buttons a.grey-dashed:focus {
        color: #aaa;
        text-decoration: none; }
  .content-top .columns-data {
    float: right;
    display: block; }
    .content-top .columns-data .columns-block {
      float: none;
      display: block; }
      .content-top .columns-data .columns-block .choose-columns {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 10px; }
        .content-top .columns-data .columns-block .choose-columns .text-choose {
          border: 1px solid #1e6373;
          padding: 0 10px;
          border-radius: 2px;
          color: #1e6373;
          cursor: pointer;
          background: #fff;
          font-size: 12px;
          line-height: 26px;
          height: 26px; }
        .content-top .columns-data .columns-block .choose-columns .list-columns {
          display: none;
          position: absolute;
          top: 24px;
          right: 0;
          background: #fff;
          border: 1px solid #1e6373;
          z-index: 10;
          width: 300px;
          height: 300px;
          overflow: auto;
          padding: 10px; }
        .content-top .columns-data .columns-block .choose-columns:hover .list-columns {
          display: block; }

.list-messages {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #fff; }
  .list-messages .list-messages-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px; }
    .list-messages .list-messages-table .not-exist {
      color: #ccc; }
    .list-messages .list-messages-table thead {
      background: #fafaff;
      border-bottom: 4px solid #ddd; }
      .list-messages .list-messages-table thead tr {
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 12px;
        vertical-align: middle;
        border-bottom: 1px solid #ddd; }
        .list-messages .list-messages-table thead tr th, .list-messages .list-messages-table thead tr td {
          white-space: normal;
          padding: 10px; }
    .list-messages .list-messages-table tbody tr {
      border-top: 1px solid #ddd; }
      .list-messages .list-messages-table tbody tr:nth-child(even) {
        background-color: #f5f5f5; }
      .list-messages .list-messages-table tbody tr:hover {
        background-color: #eaeaea; }
      .list-messages .list-messages-table tbody tr td {
        padding: 10px;
        white-space: nowrap;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        position: relative; }

.author {
  display: table;
  color: #1e6373;
  position: absolute;
  top: 10px;
  left: 10px; }
  .author .avatar-author {
    display: table-cell;
    vertical-align: middle;
    position: relative; }
    .author .avatar-author img {
      display: block;
      margin: 0 auto;
      width: 25px;
      height: 25px;
      background: #ddd;
      border-radius: 50%;
      border: 2px solid #b4dce7; }
    .author .avatar-author .online-author {
      width: 12px;
      height: 12px;
      border-radius: 10px;
      position: absolute;
      top: 15px;
      right: -5px;
      border: 2px solid #fff;
      background-color: #60cd9b; }
      .author .avatar-author .online-author.no {
        background-color: #e87352; }
  .author .name-author {
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px; }
  .author:hover, .author:focus {
    color: #1e6373;
    text-decoration: none; }
    .author:hover .name-author, .author:focus .name-author {
      text-decoration: underline; }

a.column-name {
  color: #767676; }
  a.column-name:hover, a.column-name:focus {
    color: #767676;
    text-decoration: underline; }
  a.column-name.sorted i {
    margin: 0 0 0 5px; }

.text-center {
  padding: 10px;
  display: block;
  width: 100%;
  text-align: center; }

.left-dialog {
  position: absolute;
  bottom: 5px;
  top: 0;
  left: 0;
  width: 250px;
  background: #f3f3f3;
  padding: 10px 5px 5px 10px; }
  @media only screen and (min-width: 1300px) {
    .left-dialog {
      width: 350px; } }
  .left-dialog .filter-dialog .head-filter {
    width: 100%;
    height: 46px;
    background: #fefefe;
    padding: 10px 5px;
    border: 1px solid #d7d7d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .left-dialog .filter-dialog .head-filter .filter-icon {
      margin-top: 3px;
      color: #8e8f8f;
      padding: 0 2px 2px 5px;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      vertical-align: middle; }
    .left-dialog .filter-dialog .head-filter .open-filter, .left-dialog .filter-dialog .head-filter .close-filter {
      float: right;
      font-size: 14px;
      padding-right: 7px;
      cursor: pointer;
      color: #1e6373;
      margin-top: 2px; }
    .left-dialog .filter-dialog .head-filter .close-filter {
      display: none; }
    .left-dialog .filter-dialog .head-filter .filters-left {
      color: #3e6372;
      font-size: 11px;
      width: calc(100% - 50px);
      display: inline-block;
      vertical-align: middle; }
      .left-dialog .filter-dialog .head-filter .filters-left .filter-group {
        line-height: 10px;
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        position: relative; }
        .left-dialog .filter-dialog .head-filter .filters-left .filter-group .filter-group-name {
          cursor: pointer;
          color: #3e6372;
          font-size: 11px; }
          .left-dialog .filter-dialog .head-filter .filters-left .filter-group .filter-group-name span {
            max-width: calc(100% - 11px);
            border-bottom: 1px dashed #3e6372;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 3px; }
          .left-dialog .filter-dialog .head-filter .filters-left .filter-group .filter-group-name i {
            margin-right: 2px; }
  .left-dialog .filter-message-body {
    position: absolute;
    top: 50px;
    bottom: 8px;
    background: #fff;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 5px;
    left: 10px; }
    .left-dialog .filter-message-body .list-dialog .dialog-item {
      background: #fff;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      position: relative;
      display: block; }
      .left-dialog .filter-message-body .list-dialog .dialog-item:before {
        content: '';
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: #f69f5e; }
      .left-dialog .filter-message-body .list-dialog .dialog-item.active {
        background: #f9f9f9; }
      .left-dialog .filter-message-body .list-dialog .dialog-item.unread {
        background: #efefef; }
        .left-dialog .filter-message-body .list-dialog .dialog-item.active:before {
          display: block; }
      .left-dialog .filter-message-body .list-dialog .dialog-item:hover, .left-dialog .filter-message-body .list-dialog .dialog-item:focus {
        color: #767676;
        text-decoration: none; }
      .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head {
        width: 100%; }
        .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head .user-name {
          float: left;
          font-size: 14px; }
          .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head .user-name .name {
            font-weight: 700;
            color: #3e6372;
            display: inline-block;
            overflow: hidden;
            max-width: 120px;
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head .user-name .online {
            border: 3px solid #60cd9b;
            background-color: #60cd9b;
            width: 12px;
            height: 12px;
            border-radius: 10px;
            display: inline-block;
            line-height: 20px;
            margin: 4px 0; }
            .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head .user-name .online.off {
              border: 3px solid #ff6900;
              background-color: #fff; }
        .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head .dialog-time {
          float: right;
          font-size: 10px;
          color: #767676; }
          .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-head .dialog-time span {
            color: #ccc; }
      .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message {
        display: table;
        width: 100%; }
        .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .avatar {
          width: 30px;
          display: table-cell;
          vertical-align: top; }
          .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .avatar img {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            background: #ccc; }
        .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .short-message {
          width: 95%;
          display: table-cell;
          vertical-align: top;
          padding: 0 10px; }
        .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .right-col {
          display: table-cell;
          vertical-align: top;
          min-width: 22px; }
          .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .right-col .count {
            display: block;
            padding: 2px 6px;
            text-align: center;
            height: 18px;
            line-height: 16px;
            color: #fff;
            border-radius: 50%;
            background-color: #7c7c7c;
            font-size: 10px; }
            .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .right-col .count .new {
              background-color: #e06919; }
          .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .right-col .who-avatar {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 2px solid #b2d4dc;
            background: #ccc;
            margin-top: 8px;
            overflow: hidden; }
            .left-dialog .filter-message-body .list-dialog .dialog-item .dialog-message .right-col .who-avatar img {
              height: 100%;
              display: block;
              margin: 0 auto; }
      .left-dialog .filter-message-body .list-dialog .dialog-item .tags {
        border-top: 1px dotted #ebebeb;
        position: relative;
        margin-top: 5px;
        padding-top: 7px; }
        .left-dialog .filter-message-body .list-dialog .dialog-item .tags .dialog-tag, .left-dialog .filter-message-body .list-dialog .dialog-item .tags .dialog-right .dialog-body .write .bottom-tags ul li, .dialog-right .dialog-body .write .bottom-tags ul .left-dialog .filter-message-body .list-dialog .dialog-item .tags li {
          margin: 0 5px 0 0; }
    .left-dialog .filter-message-body .filter-opened {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      background: #fff;
      width: 100%;
      overflow: auto;
      border-top: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0 15px 15px;
      z-index: 10; }
      .left-dialog .filter-message-body .filter-opened .filter-group-box {
        top: 30px; }
      .left-dialog .filter-message-body .filter-opened .filter-item {
        margin-top: 20px;
        width: 100%; }
        .left-dialog .filter-message-body .filter-opened .filter-item .title {
          font-weight: 400;
          font-size: 12px;
          border-bottom: 1px dashed #e3e3e3;
          width: 100%;
          padding-bottom: 6px;
          margin-bottom: 10px; }
      .left-dialog .filter-message-body .filter-opened .filter-option {
        display: block;
        position: absolute;
        padding: 20px 0;
        z-index: 15;
        bottom: 0;
        left: 0;
        right: 0; }

.filter-group-box {
  top: 15px;
  left: 0;
  width: 180px;
  display: none;
  position: absolute;
  border: 1px solid #d7d7d7;
  background: #fff;
  z-index: 50; }
  .filter-group-box.opened {
    display: block; }
  .filter-group-box.big {
    width: 280px;
    padding-bottom: 10px; }
  .filter-group-box a {
    width: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding: 0 8px;
    color: #1e6373; }
    .filter-group-box a .operator-avatar {
      width: 22px;
      height: 22px;
      position: relative;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle; }
      .filter-group-box a .operator-avatar img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        overflow: hidden; }
      .filter-group-box a .operator-avatar .online {
        width: 12px;
        height: 12px;
        border-radius: 10px;
        position: absolute;
        top: 13px;
        right: -5px;
        border: 2px solid #fff;
        background-color: #60cd9b; }
        .filter-group-box a .operator-avatar .online.off {
          background-color: #e87352; }
    .filter-group-box a:hover, .filter-group-box a:focus {
      background: #1e6373;
      color: #fff;
      text-decoration: none; }
      .filter-group-box a:hover .online, .filter-group-box a:focus .online {
        border: 2px solid #1e6373; }

.fake-select {
  display: block;
  position: relative; }
  .fake-select .select-box {
    width: 180px;
    position: relative;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    padding: 5px 20px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    height: 31px;
    cursor: pointer;
    -webkit-user-select: none; }
    .fake-select .select-box:before {
      content: "\f0d7";
      position: absolute;
      top: 5px;
      right: 5px;
      font-family: 'FontAwesome', serif; }

.dialog-right {
  position: absolute;
  top: 5px;
  bottom: 8px;
  right: 5px;
  left: 250px;
  padding: 5px;
  border-radius: 4px; }
  @media only screen and (min-width: 1300px) {
    .dialog-right {
      left: 350px; } }
  .dialog-right .dialog-body {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 265px;
    top: 5px; }
    @media only screen and (min-width: 1500px) {
      .dialog-right .dialog-body {
        right: 370px; } }
    .dialog-right .dialog-body .dialog-top {
      border-bottom: 1px solid #d7d7d7;
      height: 45px;
      padding: 5px 10px;
      background: #fcfcfc;
      border-radius: 5px 5px 0 0; }
    .dialog-right .dialog-body .chats {
      position: absolute;
      overflow: hidden;
      bottom: 171px;
      left: 0;
      right: 0;
      top: 45px;
      background-color: #fff;
      padding: 5px;
      overflow-y: auto;
      overflow-x: hidden; }
    .dialog-right .dialog-body .write {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .dialog-right .dialog-body .write .bottom-tags {
        padding: 0 5px;
        min-height: 30px;
        background-color: #fff;
        border-bottom: 1px solid #d7d7d7;
        border-top: 1px dashed #d7d7d7; }
        .dialog-right .dialog-body .write .bottom-tags ul {
          margin: 0;
          display: inline-block;
          vertical-align: middle; }
          .dialog-right .dialog-body .write .bottom-tags ul li a.tag-delete {
            color: #d5d5d5;
            margin: 0 0 0 5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            vertical-align: middle; }
            .dialog-right .dialog-body .write .bottom-tags ul li a.tag-delete:focus, .dialog-right .dialog-body .write .bottom-tags ul li a.tag-delete:hover {
              text-decoration: none;
              color: #767676; }
      .dialog-right .dialog-body .write .buttons-message {
        border-top: 1px solid #d7d7d7;
        background: #fcfcfc;
        height: 40px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        line-height: 36px;
        padding: 0 10px; }
        .dialog-right .dialog-body .write .buttons-message .msg-btn.note {
          background-position: -5px 32px; }
          .dialog-right .dialog-body .write .buttons-message .msg-btn.note:hover {
            background-position: -5px -3px; }
        .dialog-right .dialog-body .write .buttons-message .msg-btn.save {
          background-position: -37px 30px;
          margin-top: 3px; }
          .dialog-right .dialog-body .write .buttons-message .msg-btn.save:hover {
            background-position: -37px -5px; }
        .dialog-right .dialog-body .write .buttons-message .msg-btn.file {
          background-position: -186px -4px; }
          .dialog-right .dialog-body .write .buttons-message .msg-btn.file:hover {
            opacity: 0.9; }
        .dialog-right .dialog-body .write .buttons-message .msg-btn.smile {
          background-position: -223px 32px; }
          .dialog-right .dialog-body .write .buttons-message .msg-btn.smile:hover {
            background-position: -223px -3px; }
        .dialog-right .dialog-body .write .buttons-message .msg-btn.send {
          background-position: -68px 32px; }
        .dialog-right .dialog-body .write .buttons-message .buttons-prop {
          float: left;
          margin-right: 20px; }
        .dialog-right .dialog-body .write .buttons-message .send-msg {
          float: right;
          padding-left: 40px;
          width: auto; }
          .dialog-right .dialog-body .write .buttons-message .send-msg:hover, .dialog-right .dialog-body .write .buttons-message .send-msg:focus {
            text-decoration: none;
            color: #1e6373; }
            .dialog-right .dialog-body .write .buttons-message .send-msg:hover .send, .dialog-right .dialog-body .write .buttons-message .send-msg:focus .send {
              background-position: -68px -3px; }

.message-actions {
  margin-bottom: 20px;
  width: 100%;
  text-align: center; }
  .message-actions .table-actions {
    display: inline-table; }
    .message-actions .table-actions .circles {
      padding: 0 3px;
      display: table-cell;
      vertical-align: middle;
      color: #ccc;
      line-height: 25px;
      font-size: 4px; }
      .message-actions .table-actions .circles i {
        margin: 0 1px; }
    .message-actions .table-actions .avatar {
      display: table-cell;
      vertical-align: middle;
      padding: 0 3px; }
      .message-actions .table-actions .avatar img {
        width: 25px;
        height: 25px;
        background: #ddd;
        border-radius: 50%;
        border: 2px solid #b4dce7; }
    .message-actions .table-actions .name {
      display: table-cell;
      vertical-align: middle;
      padding: 0 3px;
      color: #3e6372;
      line-height: 25px; }
    .message-actions .table-actions .text {
      display: table-cell;
      vertical-align: middle;
      padding: 0 3px;
      color: #ccc;
      line-height: 25px; }

.message {
  width: 100%;
  display: flex;
  margin-bottom: 20px; }
  .message .avatar {
    width: 45px;
    height: 45px;
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #b4dce7;
    margin-right: 5px;
    display: block;
    min-width: 45px; }
    .message .avatar img {
      display: block;
      height: 100%;
      margin: 0 auto; }
  .message .message-block {
    max-width: 95%;
    width: auto; }
    .message .message-block .message-body {
      padding: 10px;
      position: relative;
      border-radius: 5px; }
      .message .message-block .message-body p {
        margin-bottom: 0; }
      .message .message-block .message-body img {
        max-width: 200px;
        max-height: 200px;
        display: block; }
    .message .message-block .message-props {
      font-size: 10px; }
      .message .message-block .message-props .left {
        float: left; }
      .message .message-block .message-props .right {
        float: right; }
      .message .message-block .message-props span {
        color: #ccc; }
  .message.our {
    padding-right: 100px; }
    .message.our .message-body {
      background-color: #fff;
      border: 1px solid #eee; }
      .message.our .message-body:before, .message.our .message-body:after {
        right: 100%;
        top: 20px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute; }
      .message.our .message-body:before {
        border-right: 1px solid #eee;
        border-width: 6px;
        margin-top: -6px; }
      .message.our .message-body:after {
        border-right: 1px solid #fff;
        border-width: 5px;
        margin-top: -5px; }
  .message.user {
    padding-left: 100px;
    padding-right: 6px;
    justify-content: flex-end; }
    .message.user .message-body {
      background-color: #1e6373; }
      .message.user .message-body p {
        color: #fff; }
      .message.user .message-body:before {
        left: 100%;
        top: 20px;
        border: 6px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-left: 6px solid #1e6373;
        margin-top: -6px; }

.left-side {
  float: left; }
  .left-side .text {
    max-width: 60px;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    vertical-align: middle; }
  .left-side .fake-select {
    max-width: 160px;
    display: inline-block;
    vertical-align: middle; }
    .left-side .fake-select .filter-group-box {
      top: 30px; }

.right-side {
  float: right; }
  .right-side .top-alias {
    float: none;
    text-align: right; }
    .right-side .top-alias a.blue-alias {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      line-height: 25px; }
      .right-side .top-alias a.blue-alias:hover, .right-side .top-alias a.blue-alias:focus {
        text-decoration: none;
        color: #1e6373; }
        .right-side .top-alias a.blue-alias:hover .icon.history, .right-side .top-alias a.blue-alias:focus .icon.history {
          background-position: -100px -3px; }
        .right-side .top-alias a.blue-alias:hover .icon.xclose, .right-side .top-alias a.blue-alias:focus .icon.xclose {
          opacity: .8; }

.icon.alias {
  background: url(../images/icons.png) no-repeat;
  background-position: -14px 3px;
  width: 19px; }

.icon.history {
  background-position: -100px 32px; }

.icon.xclose {
  background-position: -164px 33px;
  width: 14px; }

.icon.closeform {
  width: 16px;
  background: url(../images/icons.png) no-repeat;
  background-position: -31px 3px; }

.icon.refresh {
  width: 16px;
  background: url(../images/icons.png) no-repeat;
  background-position: 0 3px; }

.dialog-tag, .dialog-right .dialog-body .write .bottom-tags ul li {
  display: inline-block;
  vertical-align: middle;
  background: #eee;
  border-radius: 30px;
  border: 0;
  line-height: 20px;
  font-size: 12px;
  padding: 0 10px;
  height: 20px;
  margin: 0 5px;
  color: #767676; }

.user-info {
  width: 250px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 5px; }
  @media only screen and (min-width: 1500px) {
    .user-info {
      width: 355px; } }

.main-info {
  padding: 0 10px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dadada;
  display: table;
  width: 100%; }
  .main-info .user-avatar {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    min-width: 60px;
    text-align: center;
    padding-right: 10px; }
    .main-info .user-avatar .avatar {
      width: 50px;
      height: 50px;
      border: 2px solid #c0d3dc;
      border-radius: 50%;
      background-color: #c0d3dc;
      overflow: hidden; }
      .main-info .user-avatar .avatar img {
        display: block;
        height: 100%;
        margin: 0 auto; }
    .main-info .user-avatar .status {
      background-color: #60cd9b;
      margin-top: 4px;
      width: 100%;
      display: block;
      padding: 3px 2px;
      text-align: center;
      font-size: 10px;
      color: #fff;
      border-radius: 10px;
      line-height: 10px; }
      .main-info .user-avatar .status.off {
        background-color: #ff6900; }
  .main-info .contact {
    display: table-cell;
    vertical-align: top; }
    .main-info .contact .contact-item {
      display: block;
      padding: 0 0 0 25px;
      font-size: 16px;
      color: #959595;
      position: relative;
      margin-bottom: 5px; }
      .main-info .contact .contact-item a.username {
        color: #526d80;
        text-decoration: underline;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
        display: inline-block; }
      .main-info .contact .contact-item a.edit {
        color: #d3d3d3;
        margin-right: 5px; }
        .main-info .contact .contact-item a.edit:hover, .main-info .contact .contact-item a.edit:focus {
          color: #444;
          text-decoration: none; }

.all-info {
  overflow-y: auto;
  height: calc(100% - 110px);
  padding-right: 4px; }

.white-block {
  margin-top: 10px;
  background: #fff;
  border-radius: 4px;
  padding: 8px;
  max-width: 350px;
  font-size: 12px;
  border: 1px solid #d7d7d7; }
  .white-block .current-page {
    position: relative;
    padding-left: 20px; }
  .white-block .no-page {
    display: block;
    color: #1e6373; }
  .white-block .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px; }
  .white-block .segments {
    padding: 0; }
  .white-block .prop-item {
    margin-bottom: 10px;
    word-break: break-all;
    color: #474747;
    line-height: 18px;
    font-size: 14px; }
    .white-block .prop-item .prop-title {
      color: #aaa; }
  .white-block .new-prop {
    margin-bottom: 25px; }

a.plus-prop {
  font-size: 12px; }
  a.plus-prop:hover, a.plus-prop:focus {
    text-decoration: none;
    color: #1e6373; }

.ico-user {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/icons.png) no-repeat;
  height: 16px;
  width: 16px; }
  .ico-user.i-name {
    background-position: -63px 0; }
  .ico-user.i-email {
    background-position: -79px 1px; }
  .ico-user.i-phone {
    background-position: -96px 1px; }
  .ico-user.i-page {
    background-position: -50px 1px;
    height: 17px; }

.live-head {
  max-width: 1630px;
  margin: 0 auto;
  padding: 15px; }
  .live-head .right-side {
    font-style: italic; }
  .live-head .live-title {
    font-weight: 700;
    font-size: 16px;
    margin-right: 10px;
    text-transform: uppercase; }
    .live-head .live-title a.icon-refresh {
      font-size: 14px;
      padding: 0 5px;
      color: #767676; }
      .live-head .live-title a.icon-refresh:hover, .live-head .live-title a.icon-refresh:focus {
        text-decoration: none;
        color: #767676; }

.live-content-over {
  position: absolute;
  bottom: 0;
  top: 50px;
  left: 10px;
  right: 10px;
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto; }

.live-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12); }

.write-user {
  width: 25px;
  height: 25px;
  display: block;
  background: url(../images/live-icon-sprite.png) 51px 0;
  float: right; }
  .write-user:hover {
    background-position: 26px 0; }

.icon-msg1 {
  background: url(../images/live-icon-sprite.png) 150px 0;
  width: 25px;
  height: 25px; }

.icon-msg2 {
  background: url(../images/live-icon-sprite.png) 125px 0;
  width: 25px;
  height: 25px; }

.icon-visit {
  background: url(../images/live-icon-sprite.png) 98px -2px;
  width: 25px;
  height: 25px; }

.list-online .list-online-table {
  width: 100%;
  margin-bottom: 20px; }
  .list-online .list-online-table .name-author:hover, .list-online .list-online-table .name-author:focus {
    text-decoration: none; }
  .list-online .list-online-table thead tr {
    background: #f9f9f9;
    height: 40px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-radius: 6px;
    border-bottom: 1px solid #eeeef4; }
    .list-online .list-online-table thead tr th {
      padding: 0 5px;
      vertical-align: middle; }
  .list-online .list-online-table tbody tr {
    background: #fff;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
    border-bottom: 1px solid #eeeef4;
    border-left: 3px solid #fff;
    position: relative; }
    .list-online .list-online-table tbody tr td {
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      position: relative;
      vertical-align: middle;
      min-width: 60px;
      max-width: 250px; }
      .list-online .list-online-table tbody tr td .author {
        top: 0; }
      .list-online .list-online-table tbody tr td i.fa {
        font-size: 18px;
        color: #1e6373;
        vertical-align: middle; }
    .list-online .list-online-table tbody tr:hover {
      background: #f9f9f9;
      cursor: pointer;
      border-left: 3px solid #ffa059; }

a.page-link {
  text-decoration: underline; }
  a.page-link:hover, a.page-link:focus {
    text-decoration: none; }

.all-load {
  font-size: 12px;
  color: #1e6373; }

.flag {
  height: 17px;
  line-height: 17px;
  width: 21px; }
  .flag img {
    border: 1px solid #eee;
    width: 100%;
    display: block; }

.subtitle {
  display: block;
  margin: 10px 0;
  font-weight: bold; }

.center-example {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.site-chat {
  position: relative;
  display: table; }
  .site-chat .msg {
    background: rgba(255, 255, 255, 0.98);
    color: #767676;
    border-radius: 8px;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    position: relative; }
    .site-chat .msg > div {
      max-width: 200px;
      max-height: 153px;
      overflow: hidden; }
      .site-chat .msg > div p {
        line-height: 17px;
        padding: 0;
        margin: 0; }
    .site-chat .msg:before, .site-chat .msg:after {
      left: 100%;
      border: 7px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      bottom: 12px; }
    .site-chat .msg:before {
      border-left: 7px solid #f2f2f2;
      margin-top: -7px; }
    .site-chat .msg:after {
      border-left: 7px solid #fff;
      margin-top: -6px; }
  .site-chat .chat-icon {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 10px; }
    .site-chat .chat-icon img {
      border: 4px solid #3a3a3a;
      background-color: #3a3a3a;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      margin-bottom: -5px; }
    .site-chat .chat-icon .count {
      left: 35px;
      bottom: 30px;
      background-color: #ff6900;
      font-weight: bold;
      font-size: 13px;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: absolute;
      text-align: center;
      border: 2px solid #ff6900; }
  .site-chat .close {
    position: absolute;
    display: none;
    top: -5px;
    left: -5px;
    font-size: 18px;
    z-index: 3;
    color: #3a3a3a;
    opacity: 1;
    width: 18px;
    height: 18px; }
    .site-chat .close:hover {
      text-decoration: none;
      color: #3a3a3a;
      opacity: 0.7; }
  .site-chat:hover .close {
    display: block; }

/****************email***************/
.email-footer {
  text-align: center;
  font-size: 10px;
  width: 100%;
  line-height: 120%; }
  .email-footer a {
    color: #aaa;
    text-decoration: underline; }
    .email-footer a:hover, .email-footer a:focus {
      color: #aaa;
      text-decoration: underline; }

.table-email {
  margin-bottom: 60px;
  width: 100%; }

.email-inner {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 100px; }

.sign-table {
  width: 100%;
  font-size: 13px;
  vertical-align: middle;
  line-height: 100%;
  padding: 0 10px; }
  .sign-table .avatar {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #c9c9c9;
    vertical-align: middle;
    margin: 10px 0 0 0; }

/**************email end*************/
