.messager {
    display: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 2000;
    width: 340px;
    max-width: 100%;
    min-height: 410px;
    max-height: 100%;
    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease; }
.we-online, .no-online{
    display: none;}
.messager .messager-icon {
    display: none; }
.messager .messager-send {
    display: none; }
.messager input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 30px;
    margin: 10px 0; }
.messager input[type="submit"] {
    width: auto; }
.messager input:focus {
    border-color: #8dc63f; }
.messager textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0; }
.messager textarea:focus {
    border-color: #8dc63f; }
.messager textarea::-webkit-input-placeholder {
    font: 400 13px/15px "HelveticaNeueCyrRoman", sans-serif;
    color: #9fabb7; }
.messager textarea::-moz-placeholder {
    font: 400 13px/15px "HelveticaNeueCyrRoman", sans-serif;
    color: #9fabb7; }
.messager input::-webkit-input-placeholder {
    font: 400 13px/30px "HelveticaNeueCyrRoman", sans-serif;
    color: #9fabb7; }
.messager input::-moz-placeholder {
    font: 400 13px/30px "HelveticaNeueCyrRoman", sans-serif;
    color: #9fabb7; }
.messager .messager-close {
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 2003;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    font-size: 24px;
    color: #57585a;
    border: 2px solid #eef1f5;
    background-color: rgba(255, 255, 255, 0.4); }
.messager .messager-close:hover, .messager .messager-close:focus {
    opacity: 0.6; }
.messager .messager-close .mclose-circle {
    opacity: .4;
    fill: #FFF;
    stroke: #000; }
.messager .messager-close .mclose-circle, .messager .messager-close .mclose-times {
    stroke-width: 1.5;
    stroke-linecap: round; }
.messager .messager-close .mclose-times {
    fill: none;
    stroke: #383d45; }
.messager .messager-main {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 11px 34px -16px #000000;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease; }
.messager .messager-main .messager-body-landscape, .messager .messager-main .messager-body-portrait {
    position: relative; }
.messager .messager-main .messager-body-landscape {
    height: 100%;
    background: #333 url(/images/new/rotate-mobile.png) 50% no-repeat;
    display: none; }
.messager .messager-main .messager-body-portrait {
    background-color: #fff;
    border-radius: 4px 33px 0 0; }
.messager .messager-main .messager-body-portrait .header {
    cursor: pointer;
    border-radius: 4px 33px 0 0;
    background-color: #383345;
    z-index: 2002;
    position: relative; }
.messager .messager-main .messager-body-portrait .header .messager-close-mobile {
    display: none; }
.messager .messager-main .messager-body-portrait .header .header-mobile {
    display: none; }
.messager .messager-main .messager-body-portrait .header .start-header {
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    display: table;
    width: 100%;
    color: #fff;
    padding: 0 20px; }
.messager .messager-main .messager-body-portrait .header .start-header .start-text {
    text-align: left;
    display: table-cell;
    vertical-align: middle; }
.messager .messager-main .messager-body-portrait .header .start-header .messager-logo {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    height: 40px;
    padding-top: 10px; }
.messager .messager-main .messager-body-portrait .header .start-header .messager-logo img{
    width: 54px;
    height: 25px;
}
.messager.open {
    padding-left: 30px; }
.messager.open .messager-close {
    display: block; }
.messager.open .messager-main .header .start-header {
    display: none; }
.messager.open .messager-main .header .start-header .main-header {
    display: table; }

.header {
    height: 70px;
    width: 100%; }
.header .main-header {
    padding: 15px 20px; }
.header .personal-photo {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    width: 50px; }
.header .personal-photo .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("/images/new/messager-avatar.svg"); }
.header .personal-photo .avatar img {
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;}
.header .personal-info {
    display: table-cell;
    vertical-align: middle; }
.header .personal-info .personal-name {
    font: 15px/18px "HelveticaNeueCyrRoman", sans-serif;
    padding-bottom: 3px;
    color: #fff; }
.header .personal-info .personal-text {
    font: 12px/13px "HelveticaNeueCyrRoman", sans-serif;
    color: #f0f1f1;
    opacity: 0.7; }

.messager-body {
    min-height: 340px;
    width: 100%;
    background-color: #fff; }
.messager-body .type-message {
    background-color: #eef1f5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 5px 18px; }
.messager-body .chat {
    background-color: #fff;
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    height: 260px; }
.messager-body .chat .chat-bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    max-height: 240px; }
.messager-body .chat .chat-bottom .message {
    padding: 8px 15px; }
.messager-body .chat .chat-bottom .message .message-time, .messager-body .chat .chat-bottom .message .message-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    color: #9fabb7;
    position: relative; }
.messager-body .chat .chat-bottom .message .our-message {
    width: 100%;
    display: table; }
.messager-body .chat .chat-bottom .message .our-message .message-time {
    float: right;
    text-align: right;
    padding: 13px 0;
    width: 50px; }
.messager-body .chat .chat-bottom .message .our-message .message-text {
    max-width: calc(100% - 50px);
    float: left;
    text-align: left;
    background-color: #8dc63f;
    color: #fff;
    padding: 12px;
    line-height: 16px;
    border-radius: 3px; }
.messager-body .chat .chat-bottom .message .our-message .message-text p {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0; }
.messager-body .chat .chat-bottom .message .our-message .message-text:before {
    content: '';
    background: transparent;
    border: 6px solid transparent;
    border-right-color: #8dc63f;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%); }
.messager-body .chat .chat-bottom .message .your-message {
    width: 100%;
    display: table; }
.messager-body .chat .chat-bottom .message .your-message .message-time {
    padding: 13px 0;
    float: left;
    text-align: left; }
.messager-body .chat .chat-bottom .message .your-message .message-text {
    max-width: calc(100% - 50px);
    float: right;
    text-align: right;
    background-color: #eef1f5;
    color: #57585a;
    padding: 12px;
    line-height: 16px;
    border-radius: 3px; }
.messager-body .chat .chat-bottom .message .your-message .message-text:before {
    content: '';
    background: transparent;
    border: 6px solid transparent;
    border-left-color: #eef1f5;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%); }
.messager-body .chat .chat-bottom .message .your-message .message-text p {
    text-align: right;
    color: #57585a;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0; }

.introduction-big {
    position: relative;
    width: 100%;
    padding: 20px;
    z-index: 2001;
    background-color: #fff; }
.introduction-big .text-intro {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0; }
.introduction-big textarea {
    height: 95px; }
.introduction-big .intro-submit {
    text-align: right; }

.introduction {
    display: none;
    padding: 10px 20px;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    background-color: #eef1f5;
    top: 70px;
    overflow: hidden;
    border-bottom: 1px solid #aaa; }
.introduction .intro-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer; }
.introduction .text-intro {
    font-size: 13px;
    padding-right: 20px; }
.introduction .intro-submit {
    text-align: right; }
.introduction input {
    margin: 15px 0; }

.messager.mobile .messager-close {
    display: none; }

.messager.mobile .messager-icon {
    display: block;
    z-index: 2001;
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #8dc63f;
    box-shadow: 0 11px 45px -18px #000000;
    padding: 22px 20px; }

.messager.mobile .messager-main {
    box-shadow: none;
    display: none; }
.messager.mobile .messager-main .messager-body-portrait {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.messager.mobile .messager-main .messager-body-portrait .introduction {
    padding: 20px;
    top: 45px; }
.messager.mobile .messager-main .messager-body-portrait .introduction .intro-close {
    right: 15px;
    top: 15px; }
.messager.mobile .messager-main .messager-body-portrait .introduction .text-intro {
    font-size: 16px; }
.messager.mobile .messager-main .messager-body-portrait .introduction-big {
    display: block; }
.messager.mobile .messager-main .messager-body-portrait .messager-close {
    display: none; }
.messager.mobile .messager-main .messager-body-portrait .messager-send {
    display: block; }
.messager.mobile .messager-main .messager-body-portrait .start-header {
    display: none; }
.messager.mobile .messager-main .messager-body-portrait input {
    height: 40px;
    line-height: 16px;
    font-size: 16px;
    padding: 12px; }
.messager.mobile .messager-main .messager-body-portrait input::-webkit-input-placeholder {
    font: 400 16px/16px "HelveticaNeueCyrRoman", sans-serif; }
.messager.mobile .messager-main .messager-body-portrait input::-moz-placeholder {
    font: 400 16px/16px "HelveticaNeueCyrRoman", sans-serif; }
.messager.mobile .messager-main .messager-body-portrait textarea {
    height: 92px;
    line-height: 16px;
    font-size: 16px;
    padding: 12px; }
.messager.mobile .messager-main .messager-body-portrait textarea::-webkit-input-placeholder {
    font: 400 16px/16px "HelveticaNeueCyrRoman", sans-serif; }
.messager.mobile .messager-main .messager-body-portrait textarea::-moz-placeholder {
    font: 400 16px/16px "HelveticaNeueCyrRoman", sans-serif; }
.messager.mobile .messager-main .messager-body-portrait .header {
    display: block;
    height: 45px;
    line-height: 45px;
    width: 100%;
    background-color: #8dc63f;
    padding: 0 20px;
    color: #fff;
    cursor: default;
    border-radius: 0; }
.messager.mobile .messager-main .messager-body-portrait .header .header-mobile {
    display: block; }
.messager.mobile .messager-main .messager-body-portrait .header .main-header {
    display: none; }
.messager.mobile .messager-main .messager-body-portrait .header .messager-close-mobile {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 2003;
    top: 10px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff; }
.messager.mobile .messager-main .messager-body-portrait .no-online {
    position: relative;
    width: 100%;
    height: 100%; }
.messager.mobile .messager-main .messager-body-portrait .we-online {
    display: none;
    position: relative;
    width: 100%;
    height: 100%; }
.messager.mobile .messager-main .messager-body-portrait .we-online .header {
    padding: 10px 40px 10px 20px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .header .personal-photo {
    width: 35px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .header .personal-photo .avatar {
    width: 25px;
    height: 25px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .header .personal-info .personal-name {
    font: 16px/18px "HelveticaNeueCyrRoman", sans-serif;
    padding-bottom: 0; }
.messager.mobile .messager-main .messager-body-portrait .we-online .header .personal-info .personal-text {
    display: none; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body {
    height: 100%; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat {
    height: calc(100% - 180px);
    bottom: 120px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message {
    padding: 10px 15px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message .message-time, .messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message .message-text {
    max-width: 260px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message .our-message .message-time {
    text-align: left;
    padding: 0 20px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message .our-message .message-text p {
    font-size: 16px;
    line-height: 18px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message .your-message .message-time {
    text-align: right;
    padding: 0 20px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-body .chat .chat-bottom .message .your-message .message-text p {
    font-size: 16px;
    line-height: 18px; }
.messager.mobile .messager-main .messager-body-portrait .we-online .type-message {
    position: absolute;
    padding: 5px 50px 5px 15px;
    background-color: #eef1f5;
    height: auto; }
.messager.mobile .messager-main .messager-body-portrait .we-online .messager-send {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer; }
.messager.mobile .messager-main.open {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding-left: 0;
    z-index: 999999; }
.messager.mobile .messager-main.open .messager-body-portrait .no-online .introduction-big {
    padding: 20px; }

/*Админка*/
.messager-admin {
    width: 100%;
    position: relative;
}
.messager-admin .chat {
    background-color: #fff;
    width: 100%;}
.messager-admin .chat .chat-bottom {
    width: 100%; }
.messager-admin .chat .chat-bottom .message {
    padding: 3px 15px;
    position: relative;
}
.messager-admin .chat .chat-bottom .message .message-time, .messager-admin .chat .chat-bottom .message .message-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    color: #9fabb7;
    position: relative; }
.messager-admin .chat .chat-bottom .message .our-message {
    width: 100%;
    display: table; }
.messager-admin .chat .chat-bottom .message .our-message .message-time {
    float: right;
    text-align: right;
    padding: 13px 0;
    width: 50px; }
.messager-admin .chat .chat-bottom .message .our-message .message-text {
    max-width: calc(100% - 100px);
    float: left;
    text-align: left;
    background-color: #c7e7c8;
    color: #202025;
    padding: 12px;
    line-height: 16px;
    border-radius: 3px;
    margin-left: 50px;
}
.messager-admin .chat .chat-bottom .message .our-message .message-text p {
    color: #202025;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0; }
.messager-admin .chat .chat-bottom .message .our-message .message-text:before {
    content: '';
    background: transparent;
    border: 6px solid transparent;
    border-right-color: #c7e7c8;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%); }
.messager-admin .chat .chat-bottom .message .your-message {
    width: 100%;
    display: table; }
.messager-admin .chat .chat-bottom .message .your-message .message-time {
    padding: 13px 0;
    float: left;
    text-align: left; }
.messager-admin .chat .chat-bottom .message .your-message .message-text {
    max-width: calc(100% - 100px);
    float: right;
    text-align: right;
    background-color: #eef1f5;
    color: #57585a;
    padding: 12px;
    line-height: 16px;
    border-radius: 3px;
    margin-right: 50px;
}
.messager-admin .chat .chat-bottom .message .your-message .message-text:before {
    content: '';
    background: transparent;
    border: 6px solid transparent;
    border-left-color: #eef1f5;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%); }
.messager-admin .chat .chat-bottom .message .your-message .message-text p {
    text-align: right;
    color: #57585a;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0; }
.messager-admin .message-from-image {
    width: 40px;
    position: absolute;
}
.messager-admin .your-message .message-from-image {
    right: 15px;
}
.messager-admin .our-message .message-from-image {
    left: 15px;
}
.messager-admin .message-from-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.messager-admin .type-message {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 5px 50px 5px 18px;
    margin-top: 15px;
}
.messager-admin .type-message textarea{
    width: 100%;
    height: 70px;
    line-height: 16px;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #8dc63f;
    resize: none;
}
.messager-admin .messager-send {
    position: absolute;
    right: 15px;
    top: 25px;
    cursor: pointer;
}
.messager-admin .message-date-block {
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 10px 0;
}
/*Конец админки*/

@media screen and (max-width: 768px) and (orientation: landscape) {
    .messager.mobile.open {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999999;
        top: 0;
        left: 0;
        padding: 0; }
    .messager.mobile.open .messager-icon {
        display: none; }
    .messager.mobile.open .messager-main {
        display: block; }
    .messager.mobile.open .messager-main .messager-body-landscape {
        display: block; }
    .messager.mobile.open .messager-main .messager-body-portrait {
        display: none; } }

@media screen and (max-width: 768px) and (orientation: portrait) {
    .messager.mobile.open {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999999;
        top: 0;
        left: 0;
        padding: 0; }
    .messager.mobile.open .messager-icon {
        display: none; }
    .messager.mobile.open .messager-main {
        display: block; }
    .messager.mobile.open .messager-main .messager-body-landscape {
        display: none; }
    .messager.mobile.open .messager-main .messager-body-portrait {
        display: block; } }