.pop-up {
  position: fixed;
  width: 100%; }
  .pop-up.big {
    max-width: 580px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    .pop-up.big .close-popup {
      background: url(../images/close-popup.svg) no-repeat;
      display: block;
      position: absolute;
      cursor: pointer;
      right: -25px;
      top: 35px;
      width: 18px;
      height: 18px; }
  .pop-up.small {
    z-index: 1000001;
    max-width: 350px;
    top: 60px;
    right: 10px; }
  .pop-up .popup-icon {
    margin: 0 auto -5px;
    background-color: #3a3a3a;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: 12px;
    border: 3px solid #fff;
    display: block;
    overflow: hidden; }
    .pop-up .popup-icon img {
      height: 100%;
      display: block;
      margin: 0 auto; }
  .pop-up .popup-body {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    display: block;
    border-radius: 6px;
    background: #fff; }
    .pop-up .popup-body .popup-text {
      font-size: 14px;
      padding: 10px;
      overflow: hidden; }

.modal-popup {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none; }
  .modal-popup .pop-up {
    z-index: 3001; }
  .modal-popup.open {
    display: block; }

.chat-button {
  z-index: 1000001;
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
  cursor: pointer; }
  .chat-button.open {
    display: none; }

.site-chat {
  position: relative;
  display: flex; }
  .site-chat .msg {
    background: rgba(255, 255, 255, 0.98);
    color: #767676;
    border-radius: 8px;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    position: relative; }
    .site-chat .msg.default {
      background: #3a3a3a;
      color: #fff; }
      .site-chat .msg.default:before, .site-chat .msg.default:after {
        border-left: 7px solid #3a3a3a; }
    .site-chat .msg > div {
      max-width: 200px;
      max-height: 153px;
      overflow: hidden; }
      .site-chat .msg > div p {
        line-height: 17px;
        padding: 0;
        margin: 0; }
    .site-chat .msg:before, .site-chat .msg:after {
      left: 100%;
      border: 7px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      bottom: 12px; }
    .site-chat .msg:before {
      border-left: 7px solid #f2f2f2;
      margin-top: -7px; }
    .site-chat .msg:after {
      border-left: 7px solid #fff;
      margin-top: -6px; }
  .site-chat .chat-icon {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 10px; }
    .site-chat .chat-icon img {
      border: 4px solid #3a3a3a;
      background-color: #3a3a3a;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      margin-bottom: -5px;
      display: none; }
    .site-chat .chat-icon .count {
      left: 35px;
      bottom: 30px;
      background-color: #ff6900;
      font-weight: bold;
      font-size: 13px;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: absolute;
      text-align: center;
      border: 2px solid #ff6900; }
  .site-chat .close {
    position: absolute;
    display: none;
    top: -5px;
    left: -5px;
    font-size: 18px;
    z-index: 3;
    color: #3a3a3a;
    opacity: 1;
    width: 18px;
    height: 18px; }
    .site-chat .close:hover {
      text-decoration: none;
      color: #3a3a3a;
      opacity: 0.7; }
  .site-chat:hover .close {
    display: block; }

.chat-block {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 370px;
  background: #fff;
  z-index: 2147483000;
  -webkit-font-smoothing: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  font-size: 14px;
  display: none;
  box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.2); }
  .chat-block.open {
    display: block; }
  .chat-block .chat-head {
    background: #fff;
    font-size: 16px;
    line-height: 50px;
    color: #000;
    display: block;
    height: 50px;
    border-bottom: solid 1px #ddd; }
    .chat-block .chat-head .operator {
      padding: 0 40px;
      font-size: 17px;
      text-align: center;
      line-height: 50px;
      overflow: hidden;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .chat-block .chat-head .operator .avatar {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden; }
        .chat-block .chat-head .operator .avatar img {
          height: 100%;
          display: block;
          margin: 0 auto; }
      .chat-block .chat-head .operator .name {
        display: inline-block;
        vertical-align: middle;
        color: #3a3a3a; }
  .chat-block .chat-load-more{
    background: #fff;
    font-size: 16px;
    line-height: 35px;
    color: #000;
    display: none;
    height: 35px;
    border-bottom: solid 1px #ddd;
    text-align: center; }
  .chat-block .chat-load-more.open{
    display: block; }
  .chat-block .chat-load-more.open + .chat-body {
    height: calc(100% - 181px);}
  .chat-block .chat-close {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 0.8;
    background: url(../images/close-chat.svg) no-repeat; }
    .chat-block .chat-close:hover, .chat-block .chat-close:focus {
      opacity: 1;
      text-decoration: none; }
  .chat-block .chat-body {
    overflow: auto;
    /*position: absolute;*/
    /*bottom: 95px;*/
    width: 100%;
    height: calc(100% - 146px);
    /*top: 51px;*/
    padding: 10px; }
    .chat-block .chat-body .pop-up {
      position: relative;
      margin-bottom: 20px; }
      .chat-block .chat-body .pop-up .popup-body {
        box-shadow: none; }
    .chat-block .chat-body .message {
      width: 100%;
      display: flex;
      margin-bottom: 20px; }
      .chat-block .chat-body .message .avatar {
        width: 30px;
        height: 30px;
        background-color: #3a3a3a;
        border: 2px solid #3a3a3a;
        min-width: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 5px;
        display: block; }
        .chat-block .chat-body .message .avatar img {
          display: block;
          height: 100%;
          margin: 0 auto; }
      .chat-block .chat-body .message .message-block {
        max-width: 95%;
        width: auto; }
        .chat-block .chat-body .message .message-block .message-body {
          padding: 10px;
          position: relative;
          border-radius: 5px; }
          .chat-block .chat-body .message .message-block .message-body p {
            word-wrap: break-word;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            margin-bottom: 0; }
          .chat-block .chat-body .message .message-block .message-body img {
            max-width: 100px;
            max-height: 100px;
            display: block;}
        .chat-block .chat-body .message .message-block .message-props {
          font-size: 10px; }
          .chat-block .chat-body .message .message-block .message-props .left {
            float: left; }
          .chat-block .chat-body .message .message-block .message-props .right {
            float: right; }
          .chat-block .chat-body .message .message-block .message-props span {
            color: #ccc; }
      .chat-block .chat-body .message.our {
        padding-right: 100px; }
        .chat-block .chat-body .message.our .message-body {
          background-color: #fff;
          border: 1px solid #eee; }
          .chat-block .chat-body .message.our .message-body:before, .chat-block .chat-body .message.our .message-body:after {
            right: 100%;
            top: 15px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute; }
          .chat-block .chat-body .message.our .message-body:before {
            border-right: 1px solid #eee;
            border-width: 6px;
            margin-top: -6px; }
          .chat-block .chat-body .message.our .message-body:after {
            border-right: 1px solid #fff;
            border-width: 5px;
            margin-top: -5px; }
        .chat-block .chat-body .message.our.no-operator .message-body {
          background-color: #636b71;
          color: #fff;
          border: 1px solid #636b71; }
          .chat-block .chat-body .message.our.no-operator .message-body:before, .chat-block .chat-body .message.our.no-operator .message-body:after {
            border-right-color: #636b71; }
          .chat-block .chat-body .message.our.no-operator .message-body p {
            color: #fff; }
        .chat-block .chat-body .message.our.no-operator .message-props {
          display: none; }
        .chat-block .chat-body .message.our.no-operator .send-message {
          background: url(../images/msg.svg) no-repeat;
          height: 24px;
          width: 25px;
          display: block;
          margin: -2px -5px -7px; }
        .chat-block .chat-body .message.our.no-operator .input-group-addon {
          background-color: #fff; }
          .chat-block .chat-body .message.our.no-operator .input-group-addon:hover {
            background-color: #eee; }
        .chat-block .chat-body .message.our.no-operator .input-group {
          margin-top: 10px; }
      .chat-block .chat-body .message.user {
        padding-left: 50px;
        padding-right: 6px;
        justify-content: flex-end; }
        .chat-block .chat-body .message.user .message-body {
          background-color: #3a3a3a; }
          .chat-block .chat-body .message.user .message-body p {
            color: #fff; }
          .chat-block .chat-body .message.user .message-body:before {
            left: 100%;
            top: 15px;
            border: 6px solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-left: 6px solid #3a3a3a;
            margin-top: -6px; }

.chat-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 95px;
  background: #fff;
  padding: 10px 50px 10px 10px; }
  .chat-bottom textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 75px;
    display: block;
    overflow: hidden;
    padding: 5px 30px 5px 5px;
    resize: none; }
  .chat-bottom .send-message {
    background: url(../images/msg.svg) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 30px;
    opacity: 0.8; }
    .chat-bottom .send-message:hover, .chat-bottom .send-message:focus {
      opacity: 1;
      text-decoration: none; }
body.no-overflow {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
  .site-chat .msg {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .chat-block {
    top: 95px;
    max-width: 280px; }
  .chat-block .chat-body .message.our {
    padding-right: 0;
  }
  .chat-block .chat-body .message.user {
    padding-left: 0;
  }
}


/************CUSTOM *************/
.chat-block .chat-body .live-offer-wrap {
  display: none;
}

.chat-block .chat-body .live-offer-item {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}
.chat-block .chat-body .live-offer-title {
  font-size: 15px;
  line-height: initial;
  max-height: 50px;
  color: #303030;
  overflow: hidden;
  margin-bottom: 5px;
}

.chat-block .chat-body a.live-offer-order-button, .chat-block .chat-body a.live-send-button {
  line-height: 30px;
  padding: 0 20px;
  font-size: 15px;
  background-color: #00b22d;
  color: #fff;
  white-space: nowrap;
  border: 1px solid #00b22d;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.chat-block .chat-body a.live-send-button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.chat-block .chat-body a.live-offer-order-button:hover,
.chat-block .chat-body a.live-send-button:hover{
  text-decoration: none;
  border-color: #007e20;
}

.live-offer-main-img{
  width: calc(100% + 20px);
  margin: 0 -10px 20px;
}

.live-offer-main-img img{
  width: 100%;
  display: block;
}

.live-offer-wrap .live-offer-item{
  display: table;
  width: 100%;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.live-offer-wrap .live-offer-image{
  display: table-cell;
  vertical-align: middle;
  width: 90px;
  padding-right: 15px;
  min-height: 75px;
  text-align: left;
}

.live-offer-wrap .live-offer-image img{
  width: 75px !important;
  /*height: 75px;*/
  display: block;
}

.live-offer-info{
  display: table-cell;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 5px;
}

.live-offer-title,.live-offer-title a{
  font-size: 14px;
  color: #767676;
}

.live-offer-author,.live-offer-author s{
  font-size: 12px;
  color: #767676;
  margin-bottom: 10px;
}

.live-offer-price{
  font-size: 24px;
  margin: 10px 0;
}

.live-offer-price .left-price{
  float: left;
  text-decoration: line-through;
}

.live-offer-price .right-price{
  float: right;
  color: #8dc63f;
}

.chat-icon .offline-icon {
  font-size: 20px;
  color: #fff;
  background-color: #00b22d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}