@import "../modules/variables"

=m-transform($transform-item)
  -webkit-transform: $transform-item
  -moz-transform: $transform-item
  -ms-transform: $transform-item
  -o-transform: $transform-item
  transform: $transform-item

=m-transition($type, $sec, $effect)
  -webkit-transition: $type $sec $effect
  -moz-transition: $type $sec $effect
  -o-transition: $type $sec $effect
  transition: $type $sec $effect
