.slider.contact-slider .slider-form {
    top: 60px;
}

.first-round.contact-container {
    padding-bottom: 100px;
    padding-top: 50px;
}

.first-round.contact-container h2 {
    margin-top: 20px;
    padding-bottom: 0;
    font-size: 18px;
    text-align: left;
}

.contact-container .contact-sidebar ul {
    padding: 10px 5px;
}

.contact-container .contact-sidebar ul li {
    padding-top: 5px;
    padding-bottom: 10px;
}

.contact-container .contact-sidebar a {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.contact-form-container {
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.contact-container .contact-form-container .jq-selectbox__select {
    max-width: none;
}

.contact-container .contact-form-container .form-group {
    margin-bottom: 15px;
}

.contact-container .contact-form-container .control-label {
    margin-bottom: 5px;
    color: #777777;
}

.contact-container .contact-form-container .contact-submit-block {
    text-align: right;
}

.contact-support {
    margin-top: 25px;
}
/********************СЮДА БОЛЬШЕ НИЧЕГО НЕ ПИСАТЬ!!!!! ТУТ ТОЛЬКО КЛАССЫ КОТОРЫЕ АНДРЕЙ НЕ ЗНАЕТ ЗАЧЕМ И В ПРОЕКТЕ НЕ НАХОДИТ******************/