/*******NEW ROOT CATEGORY*******/

.cat-middle-section {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.cat-middle-block {
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cmd-news-head {
    display: table;
    width: 100%;
}

.cmd-avatar {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.cmd-avatar div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: block;
    border-radius: 50%;
}

.cmd-avatar div img {
    height: 100%;
    min-width: 100%;
}

.cmd-head-info {
    display: table-cell;
    vertical-align: middle;
}

.cmd-head-title {
    font-size: 17px;
    font-weight: bold;
    color: #0a3d55;
    margin-bottom: 5px;
}

.cmd-head-title a {
    color: #0a3d55;
}

.cmd-head-title a:visited, .cmd-head-title a:hover {
    color: #0a3d55;
}

.cmd-head-time {
    font-size: 13px;
    color: #999;
}

.cmd-info {
    margin: 10px 0;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cmd-info-title {
    margin: 10px 0;
    max-height: 60px;
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0e0e0f;
}
.cmd-info-title a{
    color: #0e0e0f;
}
.cmd-info-title a:hover, .cmd-info-title a:visited{
    color: #0e0e0f;
}
.cmd-info.hAuto {
    height: auto;
}

.cmd-img {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 20px;
}

.cmd-img img {
    /*display: block;*/
    max-height: 350px;
    max-width: 100%;
}

.job-section {
    float: left;
    width: 30%;
}
.cat-news-more {
    margin: 0;
}

.mob-news{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 11px -7px #000000;
    background: #fff;
    margin-bottom: 15px;
}

.mob-news-header{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}

.mob-news-u-img{
    width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.mob-news-u-img img{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.mob-news-author{
    font-size: 18px;
    color: #555;
    line-height: 20px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.mob-news-img{
    width: 100%;
    display: block;
    overflow: hidden;
}

.mob-news-img img{
    width: 100%;
    min-height: 150px;
}

.mob-news-info{
    margin-bottom: 10px;
}

.mob-news-title{
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0 10px;
    color: #0e0e0f;
    display: block;
}

.mob-news-title:focus,
.mob-news-title:hover{
    color: #0e0e0f;
    text-decoration: none;
}

.mob-news-text,.mob-news-text p{
    font-size: 16px;
    color: #555;
    line-height: 20px;
    margin: 0;
}

.mob-news-comments{
    color: #555;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.mob-news-date{
    color: #999;
    font-size: 14px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin: 0 3px;
}

.mob-news-date:before,
.mob-news-date:after{
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #999;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

@media screen and (max-width: 1200px) {
    .cat-middle-section {
        width: 40%;
    }
}

@media screen and (max-width: 992px) {
    .cat-middle-section {
        width: 70%;
        padding-right: 0;
    }

    .job-section {
        width: 100%;
    }
}

/*******************************/