.card-payment-form-container {
    width: 300px;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px!important;
    line-height: 14px!important;
}
.card-payment-form-container.card-payment-standalone {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 auto 10px;
}
.card-payment-form-container label{
    margin: 0!important;
    font-size: 12px!important;
    font-weight: 700!important;
    line-height: 14px!important;
}
.card-payment-form-container .card-payment-year {
    display: inline-block;
    width: 54%
}
.card-payment-form-container .card-payment-month {
    display: inline-block;
    width: 44%
}
.card-payment-form-container .card-payment-submit {
    display: block;
    width: 100%;
}
.card-payment-form-container .payment-method-icons {
    width: 100%;
    height: 30px;
}
.card-payment-form-container .payment-method-icons img{
    max-width: 100px;
    max-height: 100%;
}
.card-payment-form-container .card-payment-date-block {
    letter-spacing: -0.1em;
}
.card-payment-form-container .card-payment-date-block label{
    letter-spacing: normal;
    display: block;
}