.banner {
  width: 100%;
  background-size: cover;
  height: 290px;
  padding: 1px 0 0 0;
}

.bsmall {
  height: 240px;
}

.btext-left {
  padding-left: 35px;
}

.bsmall h1.cat-title {
  text-shadow: none;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.bsmall .banner-descr {
  font-size: 15px;
  text-shadow: none;
  font-family: "HelveticaNeueCyrRoman", serif;
  /*line-height: initial;*/
}

.bsmall .banner-descr a,.bsmall .banner-descr a:visited {
  color: #fff;
}

.bsmall .banner-descr a:hover {
  color: #fff;
  text-decoration: underline;
}

.bsmall.products h1 {
  color: #000;
}

.bsmall.products .banner-benefits {
  color: #000;
}

.banner-benefits {
  font-size: 21px;
  color: #b6fbc3;
  display: none;
}

.banner-benefits > div {
  margin-bottom: 14px;
  max-width: 75%;
}

.banner-benefits > div:first-child {
  font-size: 24px;
}

.banner-benefits > div:last-child {
  margin-bottom: 0;
  line-height: 20px;
}

.banner-benefits img {
  width: 14px;
  margin-right: 10px;
}

.banner-descr {
  font-weight: 500;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-size: 18px;
  width: 100%;
}

.banner-alias {
  max-width: 850px;
  margin: 30px auto 0 auto;
  display: block;
}

.banner-alias a {
  background: rgba(0, 0, 0, 0.55);
  opacity: 0.8;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  -moz-transition: opacity 0.2s, background-color 0.2s;
  -o-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  margin: 0 7px 10px 7px;
  padding: 8px 10px;
  display: inline-block;
  border: solid 1px #1f1f1f;
  border-radius: 3px;
}

.banner-alias a:hover {
  background: rgba(0, 0, 0, 0.65);
  opacity: 1;
  text-decoration: none;
  color: #fff;
}

.dark-gradient {
  background: url(/images/new/bg-exp4.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.category-main {
  padding: 0 0 50px 0;
  margin-left: 0;
  margin-right: 0;
}

.category-main .mark {
  margin: 0 auto;
  width: 850px;
}

.cat-main-list {
  margin-top: 120px;
  display: block;
  width: 100%;
}

aside {
  width: 20%;
  padding-right: 20px;
  float: left;
  margin: 0 0 30px 0;
}

.cat-list {
  width: 80%;
  float: left;
}

.cat-list .bf-item {
  width: 19%;
  margin: 0 1% 20px 0;
}

.filter-fair-play {
  margin-bottom: 15px;
  border: 1px solid #eee;
  padding: 10px 5px 10px 40px;
  background: url("/images/new/icons/security-on.svg") left 2px center no-repeat;
  background-size: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-fair-play-text {
  font-size: 13px;
  color: #0e0e0f;
}

.aside-block {
  border-bottom: 1px #eeeeee solid;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.filter-title {
  background-color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #0e0e0f;
}

ul.cats {
  color: #777;
  padding-top: 8px;
}

ul.cats li {
  padding: 6px 0;
  color: #0e0e0f;
  width: 100%;
  font: 14px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

ul.cats li a:visited,ul.cats li a:active {
  color: #777;
}

ul.cats li a.selected:visited,ul.cats li a.selected:active {
  color: #0e0e0f;
}

ul.cats li ul {
  padding: 7px 0 0 10px;
}

ul.cats li a {
  text-decoration: none;
  display: inline-block;
  color: #777;
}

ul.cats li a:hover {
  text-decoration: underline;
}

.item-count {
  font-size: 14px;
  line-height: 15px;
  color: #c6c6c6;
  float: right;
  font-weight: 400;
}

ul.cats h2, .fi-title {
  font-size: 18px;
  line-height: 18px;
  padding: 0 0 5px 0;
  color: #0e0e0f;
}

ul.cats h2 {
  font-weight: normal;
  margin: 0;
}

.hide-filter {
  max-height: 112px;
  overflow: hidden;
}

.show-filter {
  height: auto;
  overflow: hidden;
}

.filter-top {
  display: block;
}

.ftr-text {
  font-size: 16px;
  line-height: 20px;
  padding: 15px 10px;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.ftr-choose {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  max-width: 50%;
}

.ftr-current {
  position: relative;
}

.ftr-current a {
  border: 1px solid transparent;
  color: #0e0e0f;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 40px 15px 10px;
  display: block;
  position: relative;
  margin-bottom: -1px;
}

.ftr-current a:before {
  font: 400 18px/18px 'FontAwesome';
  content: '\f107';
  top: 17px;
  right: 15px;
  color: #0e0e0f;
  position: absolute;
}

.ftr-current a:visited,.ftr-current a:hover,.ftr-current a:active,.ftr-current a:focus {
  text-decoration: none;
}

.ftr-current a:hover,.ftr-current a:hover:before {
  color: #00B22D;
}

ul.ftr-list {
  top: 100% !important;
  right: 0;
  position: absolute;
  z-index: 350;
  width: auto;
  white-space: nowrap;
  display: none;
  margin-top: 1px;
  border-top: 1px #dddddd solid;
}

ul.ftr-list li {
  width: 100%;
  border-bottom: 1px #dddddd solid;
  border-left: 1px #dddddd solid;
  border-right: 1px #dddddd solid;
  background-color: #fff;
}

.ftr-choose.open ul.ftr-list {
  display: block;
}

.ftr-choose.open .ftr-current a {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #dddddd;
}

ul.ftr-list li a {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 40px 10px 10px;
  border-left: 4px solid transparent;
  color: #777;
}

ul.ftr-list li:last-child a,ul.ftr-list li:last-child {
  border-radius: 0 0 3px 3px;
}

ul.ftr-list li a:hover {
  border-left: 4px solid #00B22D;
  text-decoration: none;
  color: #00B22D;
}

.price-label {
  padding: 5px;
  border: 1px solid #c6c6c6;
  font-size: 14px;
  line-height: 15px;
  color: #a6a6a6;
}

input.price-label {
  width: 100%;
}

.currency-label {
  width: auto;
  padding: 5px 15px;
  margin: 0 5px;
}

.mobile-price > div {
  flex-shrink: 0;
  flex-grow: 1;
}

.checked-filter {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.checked-filter a {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  white-space: nowrap;
  border: 1px #dddddd solid;
  border-radius: 3px;
  text-transform: capitalize;
  float: left;
  padding: 0 10px 0 7px;
  margin: 0 10px 10px 0;
}

.checked-filter a:hover,.checked-filter a:focus {
  text-decoration: none;
  color: #777777;
}

.checked-filter a:hover .fa {
  color: #777777;
}

.checked-filter a .fa {
  font-size: 14px;
  font-weight: 300;
  color: #b2b2b2;
  margin-right: 5px;
}

/***********NEW BANNER**********/

.new-banner {
  padding: 0;
  min-height: 135px;
}

.how-works {
  background: #eeeeee;
  overflow: hidden;
  display: none;
  padding: 50px 30px 30px 30px;
  position: relative;
}

.close-how {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 50px;
  top: 65px;
}

.close-how:before,.close-how:after {
  content: "";
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-ttransform 0.15s ease-out;
  -moz-transition: -moz-transform 0.15s ease-out;
  -o-transition: -o-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
}

.close-how:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-how:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-how:hover:before,.close-how:hover:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.circle-title {
  font: 17px/32px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}

.circle-descr,.circle-descr p {
  font-size: 15px;
  line-height: 22px;
  color: #555;
  margin-bottom: 0;
}

.newb-descr {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #0e0e0f;
}

.newb-descr-grey {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #555;
  margin-bottom: 20px;
}

.three-steps-item {
  display: inline-block;
  vertical-align: top;
  width: 252px;
  margin: 45px 45px 40px;
}

.circle-works {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 12px solid #fff;
}

.circle-works:hover,.inner-circle:hover {
  overflow: hidden;
}

.circle-works .inner-circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  box-shadow: 6px 9px 12px -7px #777 inset;
}

.three-steps-item:nth-child(2) img {
  width: auto;
  height: 100%;
}

.circle-works img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}

/*******************************/

/*********MOBILE FILTERS********/
.hide-filters {
  display: none;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px 3px 0 0;
}

.filters-mobile {
  margin: 0 0 20px 0;
}

.show-hide-filters {
  margin: 20px 0;
  overflow: hidden;
  max-height: 110px;
  -webkit-transition: max-height 0.3s linear;
  -moz-transition: max-height 0.3s linear;
  -ms-transition: max-height 0.3s linear;
  -o-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
}

.show-hide-filters.shf-open {
  max-height: 999px;
}

/*******************************/

/*********PRODUCT BANNER********/

.banner-product {
  position: relative;
  padding: 40px 0 30px 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  /*margin-bottom: 10px;*/
}

.bsmall.products {
  border-bottom: 1px solid #ccc;
  max-height: 240px;
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 10px;
  line-height: initial;
}

.banner-product h1 {
  font-size: 44px;
  line-height: 120%;
  font-weight: bold;
  color: #0e0e0f;
}

.banner-prod-descr,.banner-prod-descr p {
  font-size: 18px;
  line-height: 120%;
  max-width: 735px;
  display: block;
  margin: 0 auto 30px;
}

.product-how-works {
  color: #00698C;
  font-size: 18px;
  display: inline-block;
  padding: 0;
  background-color: transparent;
}

a.product-how-works:hover,a.product-how-works:focus {
  color: #00698C;
  text-decoration: underline;
}

/*******************************/

/*****DESCRIPTION CATEGORY******/

.text-categories {
  background: #fff;
  border-top: 1px #dddddd solid;
  padding: 30px 0 60px;
}

.text-categories h2 {
  color: #0e0e0f;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
  padding-bottom: 5px;
}

.text-categories h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #0e0e0f;
  margin: 0;
  padding: 0 0 20px;
  text-transform: none;
}

.categories-descr {
  -webkit-columns: 300px auto;
  -moz-columns: 300px auto;
  columns: 300px auto;
  vertical-align: top;
  -webkit-column-gap: 62px;
  -moz-column-gap: 62px;
  column-gap: 62px;
}

.cd-all {
  display: none;
}

.categories-descr p,.categories-descr li {
  font-size: 13px;
  line-height: 22px;
  color: #999;
}

/*************noUi**************/
.noUi-price-over {
  padding-left: 17px;
  background: #e5e5e5;
}

.noUi-base {
  height: 3px;
  background-color: #e5e5e5;
}

.noUi-base::before, .noUi-base::after {
  width: 1px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  top: -3px;
}

.noUi-base::before {
  left: -3px;
}

.noUi-base::after {
  right: 0;
}

.noUi-horizontal {
  height: 5px;
  margin: 20px 0 30px;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 1024px) {
  .noUi-horizontal {
    width: 90%;
    margin-left: 5%;
  }
}

.noUi-background {
  background: #e5e5e5;
  border-radius: 2px;
  box-shadow: none;
}

.noUi-draggable {
  cursor: default;
}

.noUi-origin {
  height: 5px;
  top: 1px;
}

@media only screen and (max-width: 1024px) {
  .noUi-origin {
    height: 6px;
  }
}

.noUi-connect {
  box-shadow: none;
  background: -webkit-linear-gradient(bottom, #039525, #35c350);
  background: linear-gradient(0deg, #039525, #35c350);
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: -webkit-linear-gradient(bottom, #039525, #35c350);
  background: linear-gradient(0deg, #039525, #35c350);
  border: none;
  box-shadow: none;
  top: -8px;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    top: -12px;
  }
}

@media only screen and (max-width: 768px) {
  .order-details-price {
    padding-bottom: 10px;
  }
}

.price-label-wrap {
  margin: 0 4px;
}

/*******************************/

.categories-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-main .cat-img-block {
  padding: 20px 10px;
  width: 25%;
}

.categories-main .cat-img-block .cat-img {
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

.categories-main .cat-img-block .cat-img img {
  height: 100%;
  min-width: 100%;
  border-radius: 3px;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.categories-main .cat-img-block .cat-name {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories-main .cat-img-block .cat-name-mobile {
  font-size: 14px;
  line-height: 26px;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 26px;
}

.categories-main .cat-img-block .cat-alias {
  text-decoration: none;
  color: #777777;
  font-size: 17px;
  line-height: 110%;
  display: block;
}

.categories-main .cat-img-block .cat-alias:hover .cat-img img {
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}

.categories-main .cat-img-block .cat-alias a.center-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
  display: none;
  margin: 0;
}

.categories-main .cat-img-block .cat-alias:hover a.center-btn {
  display: block;
}

/*****************************FROM ADDONS*********************************/

#catalog-search i.fa-search {
  position: absolute;
  left: 10px;
  top: 7px;
  font-size: 20px;
  line-height: 35px;
  color: #00b22d;
}

#top_filter_form {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#catalog-entity-create {
  width: 15%;
  float: left;
  padding: 8px;
}

#catalog-entity-create .btn-middle {
  line-height:33px;
}

#catalog-sort .ftr-current a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 25px;
}

#catalog-sort .ftr-current a:before {
  right: 7px;
}

#catalog-sort {
  width: 30%;
  float: left;
}

.catalog-empty-text {
  font-size: 20px;
  padding: 15px 0 0 15px;
}
/*************************************************************************/

@media screen and (max-width: 1200px) {
  aside {
    width: 30%;
  }

  .cat-list {
    width: 70%;
  }

  .cat-list .block-flex {
    justify-content: space-between;
  }

  .cat-list .bf-item {
    width: 31%;
  }

  .bsmall h1.cat-title {
    margin-top: 30px;
  }

  .three-steps-item {
    margin: 45px 20px 40px;
  }

  .help-radio input[type="radio"] + label {
    width: 110px;
  }

  #catalog-entity-create {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .cat-list .block-flex {
    justify-content: space-around;
  }

  #catalog-sort .ftr-current a {
      font-size: 14px;
  }

  #catalog-sort .ftr-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .cat-list .bf-item {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .categories-main .cat-img-block {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .no-img-banner h1.cat-title {
    color: #0e0e0f;
    text-align: center;
    text-transform: none;
    font-size: 30px !important;
    margin-top: 10px;
  }

  .no-img-banner .banner-descr {
    color: #555;
    font-size: 18px;
    line-height: 120%;
    max-width: 735px;
    display: block;
    text-align: center;
    text-shadow: none;
    margin-bottom: 10px;
  }

  .categories-main .cat-img-block .cat-img,  .categories-main .cat-img-block .cat-img img {
    border-radius: 3px 3px 0 0;
  }

  .banner-product {
    padding: 10px 0 0;
  }

  .banner-product h1 {
    font-size: 30px;
  }

  .banner-prod-descr,  .banner-prod-descr p {
    margin-bottom: 10px;
  }

  .banner {
    height: 140px;
  }

  .no-img-banner {
    height: auto;
    border-bottom: 1px solid #ccc;
    background: none !important;
  }

  h1.cat-title {
    font-size: 22px !important;
    text-align: left;
    margin-top: 30px;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .banner-descr {
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
  }

  .category-main {
    margin-top: 150px;
  }

  aside {
    width: 100%;
  }

  .cat-list {
    width: 100%;
  }

  .filter-title:before {
    content: "\f0c9";
    font-family: 'FontAwesome', serif;
    font-size: 1.5em;
    vertical-align: top;
    margin: 2px 10px 0 0;
    cursor: pointer;
  }

  .filter-title {
    cursor: pointer;
  }

  input.price-label {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .category-main .bf-item {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .categories-main .cat-img-block {
    width: 100%;
  }
}