.company-list {
    width: 100%;
}
.company-list .company-item{
    width: 100%;
    height: 40px;
    border-bottom: 2px #777 solid;
    padding: 0;
    margin: 0;
}
.company-list .company-item:before{
    content: '';
}
.company-list .company-item a{
    color: #555;
}
.company-list .company-item a:hover,
.company-list .company-item a:visited,
.company-list .company-item a:focus{
    color: #555;
}
.company-list .company-item > div {
    display: inline-block;
    line-height: 28px;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
}
.company-list .company-item .company-role-label,
.company-list .company-item .company-title-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.company-list .company-item:first-child > div{
    border-bottom: none;
    font-weight: bold;
}
.company-list .company-item:last-child{
    border-bottom: none;
}
.company-list .company-item .company-title{
    width: calc(100% - 280px);
}
.company-list.company-member-list .company-item .company-title {
    width: calc(100% - 390px);
}
.company-list .company-item .company-role{
    width: 200px;
}
.company-list .company-item .company-status{
    width: 100px;
}
.company-list .company-item .company-actions{
    width: 70px;
    font-size: 16px;
}
.company-list .company-item .company-actions a{
    margin: 0 6px;
    position: relative;
}
.company-list .company-item .company-role-dropdown{
    height: 28px;
    padding: 4px 12px;
}
.company-list .company-item .company-role-dropdown,
.company-list .company-item .company-actions.edit-buttons {
    display: none;
}
.company-list .company-item.editing .company-role-dropdown,
.company-list .company-item.editing .company-actions.edit-buttons {
    display: inline-block;
}
.company-list .company-item.editing .company-role-label,
.company-list .company-item.editing .company-actions.action-buttons {
    display: none;
}
.company-member-add-container .company-member-add-form{
    display: none;
}
.company-member-add-container.editing .company-member-add-form{
    display: block;
}
.company-member-add-container.editing .company-member-add {
    display: none;
}

@media screen and (max-width: 768px) {
    .company-list .company-item .company-status{
        display: none;
    }
    .company-list.company-member-list .company-item .company-title {
        width: calc(100% - 280px);
    }
}

@media screen and (max-width: 480px) {
    .company-list .company-item .company-role{
        display: none;
    }
    .company-list .company-item .company-title, .company-list.company-member-list .company-item .company-title {
        width: calc(100% - 80px);
    }
}