.box-404{
    position: relative;
}
.error-blue{
    background-color: #0a3d55;
}
.brick {
    position: absolute;
    top: 135px;
    left: -20px;
    width: 435px;
    height: 210px;
    background: url(/images/new/brick.png) center no-repeat;
    background-size: 100%;
}
.number {
    position: relative;
    z-index: 100;
    text-align: right;
    margin-top: 70px
}
.number .four {
    width: 230px;
    height: 292px;
    display: inline-block;
    background: url(/images/new/4.png) no-repeat;
    background-size: 100%;
    z-index: 19;
    position: relative;
    vertical-align: top;
}
.number .five{
    width: 230px;
    height: 292px;
    display: inline-block;
    background-size: 100%;
    z-index: 19;
    font-size: 300px;
    color: #efefef;
    font-family: 'Comic Sans MS',sans-serif;
    text-shadow: -10px 18px 2px #12172d;
    position: relative;
    vertical-align: top;
    line-height: 87%;
}
.number .zero {
    width: 230px;
    height: 292px;
    display: inline-block;
    vertical-align: top;
    background: url(/images/new/0.png) no-repeat 0 20px;
    background-size: 100%;
    position: relative;
    z-index: 18;
    -webkit-animation: zero 4s infinite ease-in-out;
    -webkit-transform-origin: top;
    animation: zero 4s infinite ease-in-out;
    transform-origin: top
}
.number .nail {
    width: 30px;
    height: 50px;
    top: 6px;
    left: 115px;
    background: url(/images/new/nail.png) no-repeat;
    background-size: 100%;
    position: absolute
}
@-webkit-keyframes zero {
    0% {
        -webkit-transform: rotate(-2deg)
    }
    50% {
        -webkit-transform: rotate(2deg)
    }
    100% {
        -webkit-transform: rotate(-2deg)
    }
}
@keyframes zero {
    0% {
        transform: rotate(-2deg)
    }
    50% {
        transform: rotate(2deg)
    }
    100% {
        transform: rotate(-2deg)
    }
}
.info {
    margin-left: 550px;
    position: relative;
    z-index: 999
}
.info h1 {
    font-size: 50px;
    font-weight: 300;
    color: #ffc938;
}
.info p {
    font-size: 20px;
    color: #fff;
    line-height: 140%;
}
#footer {
    width: 100%;
    height: 370px;
    margin-top: -370px;
    padding: 0;
}
.worker {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 370px;
    background-size: 100%;
    background-image: url(/images/new/worker.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}
.tools {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 730px;
    height: 199px;
    background-size: 100%;
    background: url(/images/new/tools.png) no-repeat center;
}
.animated {
    visibility: hidden
}
.visible {
    visibility: visible
}
@media (max-width: 1200px) {
    .info {
        margin-left: 300px
    }
}
@media (max-width: 992px) {
    .info {
        margin-left: 0;
        text-align: center
    }
    #wrapper {
        min-height: 0;
        height: auto
    }
    #footer {
        height: auto;
        margin-top: 0
    }
}
@media (max-width: 768px) {
    .brick {
        width: 256px
    }
    .number {
        text-align: center
    }
    .number .four {
        width: 123px;
        height: 157px
    }
    .number .zero {
        width: 130px;
        height: 157px
    }
    .number .five {
        font-size: 160px;
        width: 125px;
        height: 157px;
        line-height: 101%;
    }
    .number .nail {
        width: 18px;
        top: 12px;
        left: 64px
    }
    .worker {
        display: none;
    }
    .tools {
        display: none;
    }
    .info h1 {
        font-size: 30px
    }
    .info p {
        font-size: 16px
    }
}
@media (max-width: 440px) {
    .brick {
        width: 156px
    }
    .number {
        text-align: center;
        margin-top: 32px
    }
    .number .four {
        width: 80px;
        height: 103px
    }
    .number .five {
        width: 80px;
        height: 103px;
        font-size: 110px;
        line-height: 110%;
        text-shadow: -5px 10px 2px #12172d;
    }
    .number .zero {
        width: 85px;
        height: 112px
    }
    .number .nail {
        width: 11px;
        top: 14px;
        left: 44px
    }
}