.fair-play{
    margin-bottom: 30px;
    padding-right: 50px;
    position: relative;
}

.fp-img{
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.fp-img img{
    height:100%;
    display: block;
}

.fp-text{
    font-size: 18px;
    line-height: 1.2em;
    display: block;
}

.fair-play:after{
    content: '\f054';
    display: block;
    font-family: 'FontAwesome',serif;
    font-size: 50px;
    color: #4995d6;
    position: absolute;
    top: 40%;
    right: 0;
}

.fair-play:last-child{
    padding-right: 15px;
}

.fair-play:last-child:after{
    display: none;
}

p{
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .fair-play:after {
        right: 10px;
    }
}