.share-form{
    width: 500px;
}

.share-form .modal-header{
    background: #eee;
    margin: -20px -20px 15px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-bottom: #ccc 1px solid;
}

.share-form button.close{
    font-size: 30px;
    color: #999;
    background-color: transparent;
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    margin: 0;
    padding: 0;
}

.share-form button.close:hover,
.share-form button.close:focus{
    color: #777;
}

.share-container{
    width: 100%;
    display: flex;
    padding: 0 0 10px;
    border-bottom:  1px #ccc solid;
    margin-bottom: 15px;
}

.share-img{
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 15px;
}

.share-img img{
    width: 100%;
}

.share-info{
    font-size: 15px;
    line-height: 20px;
}

.share-item-title{
    font-weight: bold;
}

.share-link span{
    font-weight: bold;
}

.share-email{
    font-size: 15px;
}

.se-left{
    float: left;
    margin: 0 10px 15px 0;
    font-weight: bold;
}

.share-import{
    float: right;
    margin: 0 0 15px;
}

.share-email .chover{
  margin: 15px 0;
}

.share-socials{
    float: left;
    margin: 0 10px 0 0;
}

.share-list{
    height: 58px;
}