.work-share{
    padding: 28px 10px;
}

.work-share a{
    display: inline-block;
    vertical-align: top;
    line-height: 35px;
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    margin: 0 5px;
}

.work-share a .fa{
    font-size: 1.2em;
}

.friends-bg{
    background: #fff url(/images/new/baba-glass.jpg) center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.friend-block{
    background: #2a4661;
    padding: 35px 30px 50px 30px;
    border-radius: 5px;
    width: 380px;
    max-width: 100%;
    float: right;
}

.friend-title{
    font-size: 32px;
    color: #fff;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 20px;
}

.to-do-list{
    margin: 30px 0;
    display: block;
}

.to-do-item{
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

.to-do-img{
    display: table-cell;
    vertical-align: middle;
    width: 65px;
    min-width: 65px;
    max-width: 65px;
    height: 65px;
}

.to-do-img img{
    height:65px;
    display: block;
    margin: 0 auto;
}

.to-do-text{
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
    width: 90%;
    padding-left: 15px;
}

.friends-bg2{
    background: #fff url(/images/new/baba-glass.jpg) center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    min-height: 750px;
}

.friend-block2{
    background-color: transparent;
    padding: 35px 0;
    width: 380px;
    max-width: 100%;
    float: right;
    position: relative;
}

.friend-descr{
    color: #fff;
    font-size: 21px;
    line-height: 28px;
    padding-top: 5px;
    margin-bottom: 60px;
}

.gmail-btn{
    background-color: #1e3751;
    background: -webkit-linear-gradient(#445b72,#2b465f);
    background: linear-gradient(#445b72,#2b465f);
    position: relative;
    font: 700 16px/16px "HelveticaNeueCyrRoman",Helvetica,Arial,sans-serif;
    color: #fff;
    width: 100%;
    padding: 12px 0;
    border: 1px solid #1e3751;
    display: block;
    border-radius: 3px;
    text-decoration: none;
}

a.gmail-btn:visited{
    color: #fff;
}

a.gmail-btn:hover,a.gmail-btn:focus{
    color: #fff;
    text-decoration: none;
}

.gmail-btn:before {
    content: "";
    background: transparent url(/images/new/icons.png) no-repeat -450px -1000px;
    position: absolute;
    display: block;
    top: 7px;
    left: 16px;
    overflow: hidden;
    width: 24px;
    height: 24px;
}

.friend-or{
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.friend-email{
    margin-bottom: 50px;
}

.email-hint{
    color: #fff;
    font-size: 12px;
    padding: 5px 5px 0;
}

.but-email-friend{
    padding-left: 0;
}

.but-email-friend .btn-middle{
    margin-top: 0;
    height: 35px;
    line-height: 35px;
}

.email-hint a,.email-hint a:visited,.email-hint a:hover,.email-hint a:focus{
    color: #fff;
}

.email-hint a:hover,.email-hint a:focus {
    text-decoration: underline;
}

.ref-alias{
    position: absolute;
    z-index: 2;
    bottom: -30px;
    left: 0;
    width: 100%;
    color: #fff;
}

a.ref-alias:visited{
    color: #fff;
}

a.ref-alias:hover,a.ref-alias:focus{
    color: #fff;
    text-decoration: underline;
}

.referral-program{
    display: none;
    padding: 50px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.ref-subtitle{
    font-size: 24px;
    line-height: 26px;
    padding: 25px 0 7px 0;
    font-weight: bold;
}

.referral-program p{
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

.referral-program p.ref-subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 25px 0 7px 0;
    font-weight: bold;
}

.referral-program h2{
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.referral-list{
    padding: 50px 0 0;
    overflow: auto;
    margin-bottom: 100px;
}

.table-friends{
    display: table;
    width:100%;
    border-collapse: collapse;
}

.row-friends{
    display: table-row;
    border-bottom: 1px solid #dddddd;
}

.cell-friends{
    display: table-cell;
    vertical-align: top;
    font-size: 15px;
    line-height: 19px;
    padding: 15px;
}

.row-friends:first-child .cell-friends{
    font-size: 17px;
    font-weight: 700;
}

.row-friends .cell-friends:last-child {
    float: right;
}
.row-friends .cell-friends.action-cell{
    min-width: 85px;
}
.row-friends .cell-friends.action-cell a{
    margin: 0 6px;
    position: relative;
    color: #555;
}

.friend-social{
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.ref-h1{
    font-size: 32px;
    line-height: 130%;
    color: #0e0e0f;
}

.referral-list p{
    font-size: 18px;
    line-height: 24px;
    padding-top: 5px;
    color: #555;
}


a.grey-but{
    height: 35px;
    width: 230px;
    max-width: 100%;
    padding: 0 10px;
    border: 1px #b2b2b2 solid;
    font-weight: 400;
    color: #777;
    font-size: 13px;
    line-height: 35px;
    background: linear-gradient(#fff, #f5f5f5);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin: 20px 0 10px 0;
}

a.grey-but:hover{
    color: #00b22d;
    text-decoration: none;
}

a.grey-small{
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}

#ModalPreview .modal-dialog {
    width: 800px;
}

@media screen and (max-width: 768px) {
    .but-email-friend{
        padding-left: 15px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .friends-bg{
        padding: 0;
        background: #2a4661;
    }
    .friend-block{
        float: none;
        width:100%;
        padding: 35px 0;
    }
    .ref-alias{
        bottom: 30px;
    }
    .friend-block2{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row-friends:first-child .cell-friends {
        font-size: 14px;
    }
    .row-friends .cell-friends:nth-child(1){
        word-break: break-all;
        min-width: 100px;
    }
    .row-friends .cell-friends:nth-child(3){
        display: none;
    }
    .cell-friends {
        padding: 5px;
        font-size: 12px;
    }
}