.slider {
  position: relative;
  overflow: hidden;
}

.text-green {
  color: #8dc63f;
}

.main-slide {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: none;
}

.main-slide:first-child {
  display: block;
}

.main-slide .container-fluid {
  position: relative;
  height: 100%;
}

.main-slide-info {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.main-slide-info .main-slide-info-title {
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  font: 400 18px "HelveticaNeueCyrRoman", sans-serif;
  margin: 20px 15px 0 0;
}

.main-slide-info .main-slide-info-price {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font: 700 30px "HelveticaNeueCyrRoman", sans-serif;
  width: 100px;
  height: 100px;
  background-color: #103947;
  border-radius: 50%;
  position: relative;
}

.main-slide-info .main-slide-info-price .center-price {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.main-slide-info .main-slide-info-price .center-price .number-up {
  display: inline-block;
  font-size: 36px;
  vertical-align: text-top;
}

.main-slide-info .main-slide-info-price .center-price .currency {
  font: 400 16px "HelveticaNeueCyrRoman",sans-serif;
  text-transform: uppercase;
}

.slider-form {
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 30px;
}

.slider-form h1 {
  font: 200 34px/40px "HelveticaNeueCyrRoman", sans-serif;
  letter-spacing: normal;
  text-transform: none;
}

.slider-form .slider-midtext {
  margin-top: 30px;
  font: 700 35px/42px "HelveticaNeueCyrRoman", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.slider-form .slider-smalltext {
  color: #fff;
  font: 200 18px/24px "HelveticaNeueCyrRoman", sans-serif;
  letter-spacing: normal;
  margin-top: 15px;
}

.slider-form .search-box {
  background: rgba(0, 0, 0, 0.1);
  margin: 20px 0 0 0;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 0;
  width: 525px;
  max-width: 100%;
}

.slider-form .search-box .form-control {
  border-radius: 3px;
  height: 45px;
}

.slider-form .search-box .form-control::-webkit-input-placeholder {
  line-height: 30px;
}

.slider-form .search-box .form-control::-moz-placeholder {
  line-height: 30px;
}

.slider-form .search-box .button.green.middle {
  margin: 0 0 0 10px;
  height: 45px;
}

.slider-form .search-box .button.green.middle.hide-button-text {
  margin: 0;
  display: none;
  width: 90px;
  border-radius: 0 3px 3px 0;
}

.search-box .grbut {
  min-width: initial;
}

.search-box .grbut:hover {
  background: linear-gradient(#32b44c, #03a524);
}

.search-box .form-group {
  margin: 0;
}

.block-white {
  padding: 30px 0;
  background-color: #fff;
}

.ujobs-presents p {
  margin: 0;
  padding: 0;
}

.ujobs-presents p.big-font {
  font: 700 30px/36px "HelveticaNeueCyrRoman", sans-serif;
}

.ujobs-presents p.small-font {
  font: 400 24px/30px "HelveticaNeueCyrRoman", sans-serif;
}

.ujobs-presents p a {
  color: #57585a;
  background-image: -webkit-linear-gradient(bottom, transparent, transparent 0.0625em, currentColor 0.0825em, currentColor 0.125em, transparent 0.125em);
  background-image: linear-gradient(to top, transparent, transparent 0.0625em, currentColor 0.0825em, currentColor 0.125em, transparent 0.125em);
  background-position: 0 -0.175em;
  padding-bottom: 0.375em;
  -webkit-transition: background-position 0.25s ease-in-out;
  -moz-transition: background-position 0.25s ease-in-out;
  -o-transition: background-position 0.25s ease-in-out;
  transition: background-position 0.25s ease-in-out;
}

.ujobs-presents p a:hover,.ujobs-presents p a:focus {
  text-decoration: none;
  color: #57585a;
  background-position: 0 -0.001em;
}

.ujobs-presents p a:visited {
  color: #57585a;
}

ul.role-switch {
  margin: 30px 0 35px;
  padding: 0;
  display: table;
  border-collapse: collapse;
}

ul.role-switch li {
  display: table-cell;
  width: 200px;
  height: 40px;
  font: 400 18px/40px "HelveticaNeueCyrRoman", sans-serif;
  color: #57585a;
  border: 1px solid #b6b6b6;
  background-color: #fff;
}

ul.role-switch li:first-child {
  border-radius: 3px 0 0 3px;
}

ul.role-switch li:last-child {
  border-radius: 0 3px 3px 0;
}

ul.role-switch li.active,ul.role-switch li:hover {
  background-color: #ececec;
}

ul.role-switch li a {
  color: #57585a;
  display: block;
}

ul.role-switch li a:hover,ul.role-switch li a:focus {
  color: #57585a;
  text-decoration: none;
}

ul.role-switch li a:visited {
  color: #57585a;
}

.role-content {
  width: 100%;
}

.role-content.fade,.switch-title > div,.ujobs-anim-tab > div {
  margin-left: -50px;
  transition: opacity 0.75s linear, margin-left 0.75s linear;
  -webkit-transition: opacity 0.75s linear, margin-left 0.75s linear;
}

.role-content.fade.in,.switch-title > div.in,.switch-title > div.open,.ujobs-anim-tab > div.open {
  margin-left: 0;
}

.ujobs-anim-tab .ujobs-anim-item {
  transition: opacity 0.75s linear, margin-left 0.75s linear;
  -webkit-transition: opacity 0.75s linear, margin-left 0.75s linear;
  width: 100%;
}

.ujobs-anim-tab .ujobs-anim-item > div {
  position: relative;
  height: 400px;
}

.display-flex {
  display: flex;
}

.how-work-slider-center {
  align-self: center;
}

.switch-title > div {
  width: 100%;
}

.switch-title > div,.ujobs-anim-tab > div {
  opacity: 0;
}

.switch-title > div.open,.ujobs-anim-tab > div.open {
  opacity: 1;
}

.ujobs-anim-tab1 > div,.ujobs-anim-tab2 > div {
  transition: opacity 0.8s linear, margin-left 0.8s linear;
  -webkit-transition: opacity 0.8s linear, margin-left 0.8s linear;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.ujobs-anim-tab1 > div:first-child,.ujobs-anim-tab2 > div:first-child {
  opacity: 1;
}

.role-info-item {
  width: 100%;
  margin-bottom: 30px;
  display: table;
}

.role-info-item .role-info-img {
  display: table-cell;
  width: 65px;
  vertical-align: top;
}

.role-info-item .role-info-text {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}

.role-info-item .role-info-text .role-info-title {
  font: 700 15px "HelveticaNeueCyrRoman", sans-serif;
  padding-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
}

.role-info-item .role-info-text p {
  margin: 0;
  padding: 0;
  font: 400 17px "HelveticaNeueCyrRoman", sans-serif;
  line-height: 1.7;
}

.role-buttons {
  /*padding-left: 70px;*/
}

.showsmall {
  display: none;
}

.role-buttons a.link {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  text-decoration: underline;
}

.bottom-bordered-block {
  border-bottom: 1px solid #e5e5e5;
}

.block-light-grey {
  background-color: #f6f6f6;
  padding: 15px 0 40px 0;
}

.review-slider {
  min-height: 330px;
}

.review-slider .rev-slide {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}

.review-slider .rev-slide-info {
  position: relative;
  padding: 0;
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.review-slider .rev-slide-info .info-center {
  padding: 0 20px 0 60px;
}

.review-slider .rev-slide-info .info-center .rev-slide-title {
  color: #57585a;
  font-size: 25px;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 15px;
}

.review-slider .rev-slide-info .info-center blockquote {
  color: #57585a;
  font-size: 20px;
  font-style: italic;
  line-height: 125%;
  margin-bottom: 15px;
  display: block;
}

.review-slider .rev-slide-info .info-center blockquote:before {
  content: "\201C";
}

.review-slider .rev-slide-info .info-center blockquote:after {
  content: "\201D";
}

.review-slider .rev-slide-info .info-center cite {
  color: #57585a;
  font-size: 16px;
  line-height: 120%;
  font-style: normal;
}

.review-slider .rev-slide-info .info-center cite span {
  display: block;
  color: #57585a;
  font-size: 14px;
  line-height: 120%;
  margin: 0;
}

.review-slider .rev-slide-video {
  padding: 0;
  position: relative;
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.review-slider .rev-slide-video .href-video {
  position: relative;
  display: block;
  height: 330px;
  width: 100%;
  overflow: hidden;
}

.review-slider .rev-slide-video .href-video img {
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.review-slider .rev-slide-video .href-video .play {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 70px;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  padding-left: 5px;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile {
  display: none;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile .rev-slide-title {
  color: #fff;
  margin-bottom: 10px;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote {
  font-style: italic;
  font-size: 15px;
  line-height: 125%;
  color: #fff;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote:before {
  content: "\201C";
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote:after {
  content: "\201D";
}

.review-slider .rev-slide-video .href-video .slide-info-mobile cite {
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  font-style: normal;
}

.rev-slide-video:hover .play, .video-view-image:hover .play {
  background-color: rgba(0, 0, 0, 0.7);
}

.review-slider .rev-slide-video .href-video .slide-info-mobile cite span {
  display: block;
  color: #fff;
  font-size: 13px;
  line-height: 100%;
  margin: 0;
}

.news-slider {
  margin: 0 -15px 0 -15px;
}

.mark {
  background-color: #fceac5;
  width: 850px;
  max-width: 100%;
  display: block;
  padding: 25px 15px 15px 15px;
  border: 1px #ffdfbf solid;
  border-radius: 4px;
  margin: 60px auto;
  margin-bottom: 25px;
}

.mark-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #303030;
  padding-top: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 10px;
  max-width: 560px;
}

.mark-small {
  font-size: 14px;
  font-weight: 400;
}

.mark .fa {
  vertical-align: top;
  color: #605962;
  font-size: 5em;
}

.about p {
  font-size: 16px;
  line-height: 21px;
  color: #999999;
  padding-top: 10px;
}

.block-rev-slider {
  padding: 50px 0 80px 0;
}

.info-center {
  padding: 0 20px 0 60px;
}

.rev-slide-title {
  color: #0e0e0f;
  font-size: 26px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.index-benefit-block ul,.block-content ul {
  font-size: 16px;
  line-height: 20px;
  color: #0e0e0f;
}

.block-content .mark {
  width: 850px;
}

/*****DESCRIPTION CATEGORY******/

.text-categories {
  background: #fff;
  border-top: 1px #dddddd solid;
  padding: 30px 0;
}

.text-categories h2 {
  color: #0e0e0f;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
  padding-bottom: 5px;
}

.text-categories h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #0e0e0f;
  margin: 0;
  padding: 0 0 20px;
  text-transform: none;
}

.categories-descr {
  -webkit-columns: 300px auto;
  -moz-columns: 300px auto;
  columns: 300px auto;
  vertical-align: top;
  -webkit-column-gap: 62px;
  -moz-column-gap: 62px;
  column-gap: 62px;
}

.categories-descr p {
  font-size: 13px;
  line-height: 22px;
  color: #999;
}

.index-benefit-block {
  background-color: #f7f7f7;
  padding: 30px 40px 0 40px;
  border-bottom: 1px solid #e5e5e5;
  z-index: 200;
  position: relative;
}

/*******************************/

@media screen and (max-width: 1200px) {
  .slider-form h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .slider-form h1 .slider-midtext {
    font-size: 28px;
    line-height: 36px;
  }

  .role-buttons {
    padding-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .index-benefit-block h2 {
    margin: 15px 0;
  }

  .role-buttons {
    text-align: center;
  }

  .role-buttons a {
    margin: 10px;
  }

  .response-block .block-flex .bf-item {
    width: 23%;
  }

  .response-block .block-flex .bf-item:last-child {
    display: none;
  }

  .index-benefit-block h2 {
    margin: 15px 0;
  }
}

@media screen and (max-width: 992px) {
  .block-light-grey {
    padding: 15px 0;
  }

  .role-buttons {
    margin-bottom: 30px;
  }

  .review-slider {
    padding: 0;
    min-height: 1px;
  }

  .review-slider .rev-slide-info {
    display: none;
  }

  .review-slider .rev-slide-video {
    display: block;
    width: 100%;
  }

  .review-slider .rev-slide-video .href-video {
    border-radius: 5px;
  }

  .review-slider .rev-slide-video .href-video img {
    height: auto;
    width: 100%;
  }

  .review-slider .rev-slide-video .href-video .play {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  .review-slider .rev-slide-video .href-video .slide-info-mobile {
    display: block;
  }

  .video-modal .header-col.modal-header .close {
    margin: 10px;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .review-slider .rev-slide-video .href-video {
    height: 400px;
  }

  .review-slider .rev-slide-video .href-video img {
    width: 100%;
    height: auto;
  }

  .review-slider .rev-slide-video .href-video .slide-info-mobile {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    padding: 0 0 0 20px;
  }

  .review-slider .rev-slide-video .href-video .slide-info-mobile .rev-slide-title {
    font-size: 26px;
  }

  .review-slider .rev-slide-video .href-video .slide-info-mobile blockquote {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 992px) and (orientation: portrait) {
  .review-slider {
    height: 250px;
  }

  .review-slider .rev-slide-video .href-video {
    height: 250px;
  }

  .review-slider .rev-slide-video .href-video img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .review-slider .rev-slide-video .slide-info-mobile {
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    padding: 0 15px;
  }

  .review-slider .rev-slide-video .slide-info-mobile .rev-slide-title {
    display: none;
  }

  .review-slider .rev-slide-video .slide-info-mobile blockquote {
    line-height: 100%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  a.logo {
    display: inline-block;
  }
  .mark .fa {
    display: none;
  }

  .mark-text {
    text-align: center;
  }

  .block-light-grey,  .block-white {
    padding: 15px 0;
  }

  .news-heading {
    text-align: left;
  }

  .all-content {
    padding-top: 90px;
  }

  .search {
    width: 100%;
    margin: 10px 0 0;
  }

  .slider-form .search-box {
    padding: 5px;
  }

  .slider-form .search-box .form-control {
    border-radius: 3px 0 0 3px;
  }

  .slider-form .search-box .button.green.middle.show-button-text {
    display: none;
  }

  .slider-form .search-box .button.green.middle.hide-button-text {
    display: inline-block;
  }

  .main-slide {
    background-position: left !important;
    height: 330px;
  }

  .main-slide-info {
    display: none;
  }

  .slider-form .search-box {
    width: 100%;
  }

  .slider-form h1 {
    font-size: 25px;
    line-height: 28px;
    text-align: center;
  }

  .slider-form h1 .slider-midtext {
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
    letter-spacing: normal;
    text-align: center;
  }

  .slider-form .slider-smalltext {
    text-align: center;
  }

  .index-benefit-block {
    padding: 0;
    background: none;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .review-slider .rev-slide-video .href-video {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    width: 100%;
  }

  .bright {
    display: table;
    margin: auto;
    float: none;
  }

  .role-buttons {
    padding-left: 0;
  }

  .role-buttons a.green {
    margin: 20px 0;
  }

  .showsmall {
    display: block;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .review-slider .rev-slide-video .href-video {
    height: 250px;
  }
}

@media screen and (max-width: 480px) {
  .review-slider .rev-slide-video .href-video img {
    width: auto;
    height: 250px;
  }

  .slider-form {
    top: 15px;
  }

  .slider-form h1 .slider-midtext {
    font-size: 20px;
  }

  .role-buttons {
    text-align: center;
  }

  .role-buttons a {
    margin: 5px 0;
  }

  .role-switch li a {
    font-size: 16px;
  }
}