/*******************************/

/**********Help Choose**********/

.help-content {
  padding: 40px 0;
  background-color: #353537;
  display: block;
}

.help-header {
  color: #f7f7f7;
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  padding: 0 20px 5px;
  position: relative;
  width: 100%;
}

.help-header a {
  color: #337ab7;
}

.help-header a:hover,.help-header a:focus {
  color: #337ab7;
  text-decoration: underline;
}

.help-close {
  color: #b2b2b2;
  font-size: 36px;
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 0;
}

.help-step-title {
  color: #999999;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  margin: 5px 0 25px 0;
  width: 100%;
}

.help-step {
  display: flex;
  justify-content: center;
}

.help-radio {
  margin-right: 10px;
}

.help-radio:last-child {
  margin-right: 0;
}

input[type="radio"] {
  display: none;
}

.help-radio input[type="radio"] + label {
  width: 140px;
  height: 180px;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.help-radio input[type="radio"] + label:before,.help-radio input[type="radio"]:checked + label:before {
  display: none;
}

.help-radio input[type="radio"] + label img {
  height: 140px;
  display: block;
  margin: 0 auto;
  width: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.help-radio input[type="radio"] + label span.help-radio-title {
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  left: 0;
}

.help-radio.job-step-option input[type="radio"] + label span.help-radio-title {
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  bottom: 20px;
}

.help-radio.job-step-option input[type="radio"] + label span.help-radio-title.price-range {
  bottom: 0;
}

/*.help-radio.budget input[type="radio"] + label span.help-radio-title {*/

/*line-height: 120%;*/

/*height: 60px;*/

/*}*/

.help-radio.budget input[type="radio"] + label span.help-radio-title span {
  text-transform: uppercase;
  display: block;
  line-height: 26px;
  font-size: 18px;
  color: #0A3D55;
}

.help-radio.budget input[type="radio"] + label span.help-radio-package {
  text-transform: uppercase;
  display: block;
  line-height: 22px;
  font-size: 18px;
  color: #777;
  height: 60px;
  overflow: hidden;
  padding: 15px 5px 0;
  text-overflow: ellipsis;
}

.help-radio.budget input[type="radio"] + label span.help-radio-include {
  text-transform: uppercase;
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #0A3D55;
  height: 80px;
  overflow: hidden;
  padding: 4px 5px;
  text-overflow: ellipsis;
}

.help-radio.budget input[type="radio"] + label span.help-radio-include-number {
  text-transform: uppercase;
  display: block;
  line-height: 24px;
  font-size: 20px;
  color: #0A3D55;
  height: 34px;
  overflow: hidden;
  padding: 10px 5px 0;
  text-overflow: ellipsis;
}

.help-radio:hover input[type="radio"] + label {
  background-color: #f2f7f9;
}

.help-radio.budget {
  width: 120px;
  margin-right: 30px;
}

#job-search-help .modal p {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 0 0;
}
#job-search-help .modal ul {
  margin: 10px 0 0 0;
}
#job-search-help .modal li {
  font-size: 18px;
  line-height: 20px;
}

.job-search-toggle-block {
  padding: 30px 20px;
  background-color: #353537;
  display: none;
}

.help-step-calculator {
  font-size: 20px;
  line-height: 35px;
  color: #999;
}

.help-step .add-to-cart {
  margin-left: 10px;
}

#job-search-quantity {
  width: 60px;
  /*margin: 0 5px;*/
  display: inline-block;
  height: 27px;
  padding: 0 7px;
}

.job-search-quantity-block .help-step {
  padding: 76px 0;
}

@media screen and (max-width: 1024px) {
  .help-content {
    display: none;
  }

  .job-search-toggle-block {
    display: block;
  }

  .help-content .help-step {
    max-width: 620px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .help-content .help-radio {
    display: inline-block;
  }
}

@media screen and (max-width: 650px) {
  .help-content .help-step {
    max-width: 310px;
  }

  .help-content .help-radio:last-child {
    margin-right: 10px;
  }
}

@media screen and (max-width: 360px) {
  .help-content .help-radio {
    margin-right: 5px;
  }

  .help-content .help-radio:last-child {
    margin-right: 5px;
  }
}