html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,big,code,img,q,s,small,var,b,i,ol,li,label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

ol {
  list-style-position: inside;
}

q {
  quotes: none;
}

q:before,q:after {
  content: '';
}

a:focus,div:focus {
  outline: 0;
}

@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url("fonts/HelveticaNeueCyrRoman.eot");
  src: url("fonts/HelveticaNeueCyrRoman.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyrRoman.woff2") format("woff2"), url("fonts/HelveticaNeueCyrRoman.woff") format("woff"), url("fonts/HelveticaNeueCyrRoman.ttf") format("truetype"), url("fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman") format("svg");
}

body {
  font-family: "HelveticaNeueCyrRoman";
}

.main-content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  font-weight: normal;
  line-height: 1.1em;
  color: #000;
  margin: 15px 0 10px;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.1em;
  color: #000;
  margin: 10px 0;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #000;
  margin: 20px 0 10px;
}

a.button {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border: 2px solid #494949;
  padding: 15px 30px;
  margin: 20px 0;
  letter-spacing: 0.15em;
  border-radius: 22px;
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
}

a.button:hover,a.button:focus {
  background-color: #494949;
  color: #fff;
  text-decoration: none;
}

.process-steps .steps-content {
  clear: both;
}

.process-steps .steps-content:before,.process-steps .steps-content:after {
  display: table;
  content: ' ';
}

.process-steps .steps-content:after {
  clear: both;
}

header {
  padding: 20px 3%;
}

header a.logo {
  width: 100px;
  display: block;
}

header a.logo.delo {
  width: 200px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

header a.logo.delo:visited,header a.logo.delo:hover,header a.logo.delo:focus {
  color: #000;
  text-decoration: none;
}

header a.logo img {
  width: 100%;
}

.block-title {
  background-color: #fff;
  position: relative;
  padding: 40px 6% 50px;
}

.block-title.no-padding {
  padding-top: 0;
}

.block-title .main-center {
  width: 600px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.block-title .main-center.width650 {
  width: 650px;
}

.block-image .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.examples {
  width: 100%;
  letter-spacing: -0.32em;
  overflow: hidden;
}

.examples p span {
  line-height: 60px;
  font-size: 26px;
}

.examples .button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  width: 200px;
  margin: 20px auto;
}

.examples .button:hover,.examples .button:focus {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.examples .example-item {
  width: 25%;
  height: 480px;
  position: relative;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 -5px;
}

@media screen and (max-width: 1200px) {
  .examples .example-item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .examples .example-item {
    width: 100%;
  }
}

.examples .example-item .example-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: #000;
}

.examples .example-item .example-img img {
  opacity: 0.6;
  min-height: 100%;
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.examples .example-item:hover .example-img img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.examples .example-item .example-info {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  padding: 0 6%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.examples .example-item .example-info h2 {
  font-size: 24px;
  color: #fff;
  margin: 10px 0 15px;
  line-height: 1.4em;
}

.examples .example-item .example-info p {
  line-height: 1.4em;
  font-size: 20px;
  color: #fff;
}

.block-info {
  background-color: #fff;
  margin: 50px auto;
  width: 100%;
  max-width: 750px;
  padding: 0 6%;
}

.block-info h3 {
  font-size: 19px;
  color: #000;
  letter-spacing: 0.05em;
  margin: 20px 0 10px;
  line-height: 1.5em;
  text-transform: none;
}

.process-steps {
  background-color: #f3f3f3;
  padding: 50px 6%;
}

.process-steps h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.05em;
  margin: 10px 0;
}

.process-steps .steps-content {
  padding-top: 50px;
}

.process-steps .steps-content .step-item {
  float: left;
  width: 33.33%;
  padding: 0 6% 30px;
}

@media screen and (max-width: 1200px) {
  .process-steps .steps-content .step-item {
    width: 100%;
  }
}

.process-steps .steps-content .step-item h2 {
  color: #000;
  line-height: 1.2em;
  font-size: 27px;
  margin-bottom: 15px;
}

.process-steps .steps-content .step-item p {
  font-size: 18px;
  color: #3c3c3c;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.block-image {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.block-image .parallax-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.block-image .parallax-image .dark-bg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.block-image .center-text {
  width: 800px;
  z-index: 3;
  max-width: 100%;
  padding: 0 6%;
}

.block-image .center-text .button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.block-image .center-text .button:hover,.block-image .center-text .button:focus {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.block-image .center-text h2 {
  font-size: 45px;
  color: white;
  margin: 0 0 15px;
  line-height: 0.9em;
}

.block-image .center-text h3 {
  line-height: 1.5em;
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.05em;
  margin: 5px 0 15px;
  text-transform: none;
}

footer {
  background-color: #fff;
  width: 100%;
  padding: 90px 0;
}

footer .inline-center {
  padding: 10px 0;
  width: 100%;
}

footer .inline-center a.logo-footer {
  width: 110px;
  display: inline-block;
}

footer .inline-center a.logo-footer.delo {
  width: 200px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

footer .inline-center a.logo-footer.delo:visited,footer .inline-center a.logo-footer.delo:hover,footer .inline-center a.logo-footer.delo:focus {
  color: #000;
  text-decoration: none;
}

footer .inline-center a.logo-footer img {
  width: 100%;
  display: block;
}

footer .inline-center h2 {
  line-height: 1.2em;
  font-size: 23px;
  margin: 0;
  letter-spacing: 0;
}

footer .inline-center h2 a {
  color: #000;
}

footer .inline-center h2 a:visited {
  color: #000;
}

footer .inline-center h2 a:hover,footer .inline-center h2 a:focus {
  text-decoration: none;
  color: #000;
}

footer .inline-center a.social {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

footer .inline-center a.social img {
  width: 100%;
  display: block;
}

.modal {
  z-index: 9999;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border: none;
}

.modal-body {
  padding: 0;
}

.modal-header {
  border: none;
  z-index: 3;
  position: relative;
  padding: 0;
  margin-top: 0;
}

.width100 {
  width: 100%;
  text-transform: uppercase;
  margin-top: 15px;
}

.or-text {
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 0 10px;
  display: inline-block;
}

.header-col {
  font: 500 20px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px #e5e5e5 solid;
  border-radius: 5px 5px 0 0;
  margin: -20px -20px 0 -20px;
  color: #0e0e0f;
  text-transform: capitalize;
}

.btn-small {
  height: 30px;
  line-height: 30px;
  padding: 0 15px !important;
  font-size: 14px !important;
  margin: 15px 0 0 0;
  background-color: #00b22d;
  color: #fff;
  border: 1px solid #00b22d;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#35c350, #03b525);
  -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.btn-big {
  background-color: #00b22d;
  font: 700 16px/16px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  color: #fff;
  border: 1px solid #00b22d;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#35c350, #03b525);
  -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.modal a {
  text-decoration: none;
  color: #00b22d;
  cursor: pointer;
}