html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, i, aside,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ul {
    /*list-style: none;*/
}

ul, ol {
    list-style-position: inside;
}

ul li {
    /*list-style: none;*/
}

ul.no-markers li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

/* устанавливаем фокус */
:focus {
    outline: 0;
}

@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url('fonts/HelveticaNeueCyrRoman.eot');
    src: url('fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
    url('fonts/HelveticaNeueCyrRoman.woff') format('woff'),
    url('fonts/HelveticaNeueCyrRoman.ttf') format('truetype'),
    url('fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}

* html, body {
    background-color: #fff;
    font: 12px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    width: 100%;
    color: #555555;
}

html, body {
    height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: #00b22d;
    cursor: pointer;
}

a:active {
    color: #00b22d;
    text-decoration: none;
}

a:hover {
    color: #00b22d;
    text-decoration: underline;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

a:hover, a:active, a:focus {
    outline: none;
}

h1 {
    padding: 0;
    color: #fff;
    font: 700 44px/130% "HelveticaNeueCyrRoman", sans-serif;
}

h2 {
    font: 700 30px/140% "HelveticaNeueCyrRoman", sans-serif;
    color: #57585a;
    margin: 15px 0;
}

h2 span {
    font: 400 18px/130% "HelveticaNeueCyrRoman", sans-serif;
    display: block;
}

h1.profileh, .profileh {
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 130%;
    color: #0e0e0f;
    margin-bottom: 20px;
    font-weight: bold;
}

h3.profileh {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: none;
    padding: 0;
    font-weight: normal;
}

h1.cat-title {
    padding: 0;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    font-size: 44px;
    line-height: 130%;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    width: 100%;
}

.page-content h2 {
    text-transform: uppercase;
    padding: 10px 0;
}

h2 span {
    font: 17px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    display: block;
    text-transform: none;
    font-weight: normal;
}

h3 {
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 5px 0 5px;
    color: #0e0e0f;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.crosslink h3 {
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    color: #0e0e0f;
    margin: 0 0 10px 0;
}

.crosslink h4 {
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 8px 0;
    padding: 0;
    line-height: 16px;
    font-size: 15px;
}

.page-content h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #0e0e0f;
    padding: 10px 0;
    text-transform: none;
}

p {
    margin: 0 0 20px 0;
    color: #0e0e0f;
    font-weight: 400;
    font: 14px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    background-color: #fff;
    font: 400 15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    border-radius: 3px;
    height: 35px;
    line-height: 20px;
    display: block;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="tel"]:focus, input[type="password"]:focus, textarea:focus,
input[type="text"].form-control:focus, input[type="number"].form-control:focus, input[type="email"].form-control:focus,
input[type="tel"].form-control:focus, input[type="password"].form-control:focus, textarea.form-control:focus {
    border: 1px #00b22d solid;
    color: #555555;
    box-shadow: inset 2px 2px 2px #e3e3e3;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

::-webkit-input-placeholder {
    font-family: 'HelveticaNeueCyrRoman', serif;
    font-size: 15px;
    color: #9797A6;
}

:-moz-placeholder {
    color: #9797A6;
    font-family: 'HelveticaNeueCyrRoman', serif;
    font-size: 15px;
}

textarea, textarea.form-control {
    width: 100%;
    background-color: #fff;
    font: 400 15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    resize: none;
    border-radius: 3px;
    height: 90px;
    line-height: 15px;
    display: block;
}

/* Почему через запятую не работает я хз */
/* Потому что. Прими это как аксиому */
textarea.readsym:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea.readsym:focus:-moz-placeholder {
    color: transparent;
}

textarea.readsym:focus::-moz-placeholder {
    color: transparent;
}

textarea.readsym:focus:-ms-input-placeholder {
    color: transparent;
}

.chover {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 6px 0;
}

.chover.mini {
    width: auto;
    padding: 2px 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label,
input[type="checkbox"] + label {
    width: 100%;
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\f096";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
    font-weight: normal;
}

input[type="checkbox"]:checked + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    content: "\f046";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
}

input[type="checkbox"] + label span.ctext {
    display: inline;
    vertical-align: middle;
    font-family: 'HelveticaNeueCyrRoman', serif;
    color: #777;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}

input[type="radio"] + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
    content: "\f10c";
    font-weight: normal;
}

input[type="radio"]:checked + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
    content: "\f192";
}

input[type="radio"] + label span.ctext {
    display: inline;
    vertical-align: middle;
    font-family: 'HelveticaNeueCyrRoman', serif;
    color: #777;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
}

.wa-item {
    border-top: 1px solid #dddddd;
    width: 100%;
    position: relative;
}

.work-opt {
    font-weight: 400;
    font-size: 14px;
    padding: 15px;
    display: block;
    margin: 0;
    line-height: 35px;
    width: 100%;
}

input[type="checkbox"]:checked + label.work-opt {
    background-color: #fff;
    color: #0e0e0f;
}

input[type="checkbox"] + label.work-opt .ctext {
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label.work-opt .ctext {
    color: #0e0e0f;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"] + label.work-opt {
    background-color: #F4F4F4;
}

.wa-item .select120 {
    float: right;
    min-height: 30px;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 15px;
}

.select120 input {
    height: 35px !important;
    line-height: 35px !important;
}

.select-margin {
    margin-bottom: 10px;
}

.nw {
    white-space: nowrap;
    display: inline-block;
}

.clear {
    clear: both;
}

.container-fluid {
    padding: 0 15px;
    border-radius: 0;
    max-width: 1270px;
    margin: 0 auto;
}

.container-fluid2 {
    padding: 0 15px;
    border-radius: 0;
    max-width: 990px;
    margin: 0 auto;
}

.container-fluid-work {
    padding: 0 15px;
    border-radius: 0;
    max-width: 1020px;
    margin: 0 auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    clear: both;
}

.mainblock {
    min-height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
}

.breadcrumbs {
    padding: 2px 0 0 0;
    font-size: 14px;
    color: #333;
}

.breadcrumbs a {
    padding: 0 5px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    color: #379ae6;
    text-decoration: none;
}

.breadcrumbs span {
    color: #72b8ff;
    padding: 0 4px;
}

.breadcrumbs span:after {
    content: ">";
}

.breadcrumbs a:hover {
    color: #337ab7;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
}

.all-content {
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
    padding: 90px 0 0 0;
    position: relative;
}

ul.check li {
    margin: 0 0 15px 25px;
    position: relative;
    display: block;
    font-size: 15px;
}

ul.check li:before {
    content: "\f00c";
    font-family: 'FontAwesome', serif;
    font-size: 16px;
    color: #00b22d;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -25px;
}

ul.check a, ul.check a:visited, ul.check a:hover {
    color: #00698C;
    text-decoration: none;
}

ul.check li.addsoc:before {
    content: "\f067";
    color: #555;
}

.select120 {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    min-height: 50px;
    margin: 0 20px 0 0;
}

.dark-head {
    background-color: #0A3D55;
    min-height: 60px;
    width: 100%;
}

.logo-search {
    float: left;
    display: table;
    width: 375px;
    max-width: 100%;
}

a.logo, a.logo:active, a.logo:hover, a.logo:visited {
    font-size: 24px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin: 15px 10px 0 0;
}

a.logo:active, a.logo:hover {
    text-decoration: none;
    font-size: 24px;
}

a.logo span, a.logo:active span, a.logo:hover span, a.logo:visited span {
    color: #00b22d;
    font-weight: 700;
    position: relative;
}

a.logo span.bot-logo {
    color: #00b22d;
    font-size: 11px;
    margin: 5px 0 0 0;
    display: block;
    font-weight: 400;
    white-space: nowrap;
    line-height: 9px;

}

a.logo img {
    display: block;
    width: 70px;
}

.lang-change {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #fff;
    font-size: 13px;
    background: url(/images/new/icons/earth-globe.png) left top no-repeat;
    background-size: 20px;
    padding-left: 20px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
}

.globe .locale {
    text-transform: uppercase;
    line-height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 3px 3px 0 5px;
}

.globe i {
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}

.pos-relative {
    position: relative;
}

.d-inline {
    display: inline;
}

.header-stats {
    display: inline-block;
    vertical-align: super;
    margin-left: 10px;
    color: #e5e5e5;
    position: relative;
    font-size: 13px;
}

.header-stats > div {
    position: relative;
    padding-left: 15px;
}

.header-stats div:before {
    content: '● ';
    font-size: 16px;
    background-color: transparent;
    left: 0;
    position: absolute;
    top: 0;
}

.header-stats .users-total:before {
    color: #44ab00;
}

.header-stats .orders-total:before {
    color: #2472d2;
}

.search {
    display: inline-table;
    width: 195px;
    max-width: 100%;
    position: relative;
}

.search input {
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    font-family: 'HelveticaNeueCyrRoman', serif;
    border: none;
    background-color: #fff;
    color: #0e0e0f;
    padding: 7px 10px;
    width: 100%;
    -webkit-transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search .input-group-addon {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #fff;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.search .input-group-addon .fa {
    color: #9797A6;
    padding: 5px;
}

.search .button-as-link {
    height: 100%;
}

.search .button-as-link:hover {
    background-color: #00b22d;
    border-radius: 3px;
}

.search .button-as-link:hover i {
    color: #fff;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.nav-right {
    float: right;
    font: 700 12px/25px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #e5e5e5;
    max-width: calc(100% - 375px);
}

a.nav-autor {
    padding: 8px 10px;
    font-size: 14px;
    color: #e5e5e5;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
}

a.nav-autor:visited {
    color: #e5e5e5;
}

a.nav-autor:focus, a.nav-autor:hover {
    color: #00b22d;
    text-decoration: none;
}

a.green-b {
    font-size: 13px;
    font-weight: 700;
    padding: 6px 12px 7px 12px;
    margin: 10px 0 10px 5px;
    background-color: #00b22d;
    color: #e5e5e5;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    white-space: nowrap;
}

a.green-b:visited {
    color: #e5e5e5;
}

a.green-b:hover {
    color: #e5e5e5;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}

.nav-tabs {
    padding: 0;
    width: 100%;
    border: none;
}

nav.top-menu {
    background: #fff;
    border-bottom: 1px #dddddd solid;
    height: 30px;
    padding: 3px 0 0 0;
}

nav.top-menu .nav-tabs > li {
    float: left;
    padding: 0;
    position: relative;
    height: 24px;
    font-size: 15px;
    line-height: 23px;
    color: #303030;
    white-space: nowrap;
    border: 1px transparent solid;
    border-radius: 3px 3px 0 0;
}

.nav-tabs {
    border-bottom: none;
}

nav.top-menu .nav-tabs > li > a {
    border: none;
    font-weight: 400;
    color: #555555;
    border-radius: 0;
    padding: 0 10px;
    display: inline-block;
    float: none;
    text-decoration: none;
    z-index: 11;
    position: relative;
    background-color: #fff;
    margin-right: 0;
}

nav.top-menu .dropdown .fa {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 15;
    right: 15px;
    cursor: pointer;
    font-size: 1.5em;
}

nav.top-menu .nav-tabs > li:hover {
    border: 1px #dddddd solid;
    color: #00698c;
    border-bottom: none;
    box-shadow: 0 1px 3px 0 #dddddd;
    padding-bottom: 11px;
}

nav.top-menu .nav-tabs > li:hover:before {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #fff;
    z-index: 12;
}

nav.top-menu .nav-tabs li a:hover {
    color: #00698c;
}

nav.top-menu .nav li a:hover, .nav li a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #00698c;
}

nav.top-menu .drop-menu {
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 10;
    display: none;
    border: 1px #dddddd solid;
    padding: 15px 0;
    border-radius: 0 3px 3px 3px;
    width: 400px;
    margin-top: -2px;
}

nav.top-menu .nav li ul {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}

nav.top-menu .nav > li:last-child {
    display: none;
}

nav.top-menu .nav li ul:first-child {
    border-right: 1px #dddddd solid;
}

nav.top-menu .nav li ul li {
    line-height: 16px;
    display: block;
    max-width: 200px;
    overflow: hidden;
}

nav.top-menu .nav-tabs li ul li a {
    color: #00698c;
    display: block;
    line-height: 16px;
    padding: 10px 15px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav.top-menu .nav-tabs li ul li a:hover {
    text-decoration: underline;
}

nav.top-menu .nav li:hover .drop-menu {
    display: block;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #fff;
}

#top-menu ul.nav > li {
    display: none;
}

#top-menu > ul.nav {
    width: 49%;
    display: inline-block;
}

#top-menu > ul.nav:nth-child(n+2) {
    border-left: 1px #b2b2b2 solid;
    left: auto;
    right: -1px;
}

#top-menu > ul.nav:nth-child(n+2) .drop-menu {
    left: auto;
    right: -1px;
}

.navbar-toggle {
    border-color: #555;
    z-index: 100;
    float: left;
    background-color: #fff;
    margin-left: 0;
}

.navbar-toggle .icon-bar {
    background-color: #555;
}

.navbar-collapse, .navbar-form {
    border: none;
    padding: 0;
    float: left;
    width: 100%;
}

.navbar-collapse, .navbar-form {
    float: none;
    position: relative;
}

header .navbar-collapse.in {
    width: 100%;
    overflow-y: hidden;
}

.block-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-list .block-flex, .fav-page .block-flex {
    justify-content: flex-start;
}

.bf-item {
    background-color: #fff;
    width: 19%;
    margin: 0 0 15px 0;
    padding: 0;
    position: relative;
    border: 1px #e5e5e5 solid;
    max-width: 232px;
}

.block-top {
    position: relative;
    font-size: 12px;
    color: #b2b2b2;
    display: flex;
    height: 35px;
    padding: 0 5px;
    align-items: center;
}

.block-top-ava {
    border-radius: 50%;
    width: 30px;
    min-width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: #c2c2c2;
    margin-right: 5px;
}

.block-top-ava img {
    width: 100%;
    display: block;
}

.bt-name-rate {
    width: calc(100% - 40px);
}

.by {
    line-height: 100%;
    height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.by a, .by a:visited {
    color: #0e0e0f;
}

.by a:hover {
    color: #0e0e0f;
    text-decoration: underline;
}

.job-section .by {
    line-height: 20px;
    width: calc(100% - 100px);
    height: 20px
}

.rate {
    float: left;
    line-height: initial;
}

.rating-container .fa {
    font-size: 0.8em;
    color: #ffbf00;
    margin: 0;
    vertical-align: baseline;
}

.bf-item .bf-alias, .pg-item .bf-alias {
    position: relative;
    z-index: 310;
    display: block;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bf-img {
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 310;
    width: 100%;
}

.worker-gigs .bf-img,
.slick-list .bf-img {
    overflow: hidden;
}

.pg-item .bf-img {
    height: auto;
}

.bf-img img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.bf-descr {
    margin: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    height: 60px;
    overflow: hidden;
}

a.bf-descr {
    display: block;
}

.bf-item:hover .bf-descr, .pg-item:hover .bf-descr {
    color: #00b22d;
}

.bf-alias:hover {
    text-decoration: none;
}

.bf-descr:hover {
    text-decoration: underline;
}

.markers {
    max-height: 22px;
    overflow: hidden;
}

.markers .stick {
    margin: 1px 7px 0 0;
    font: 700 10px/15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    height: 15px;
    position: relative;
    padding: 0 4px;
    border-radius: 3px;
    font-weight: 400;
    display: none;
}

.markers .stick.active {
    display: inline-block;
}

.feat {
    background-color: #f21aa5;
}

.new {
    background-color: #17b710;
}

.block-bottom {
    padding: 5px 10px 5px 10px;
    justify-content: space-between;
    display: flex;
}

.like {
    margin: 0 5px 0 0;
    position: relative;
}

[data-hint]::before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}

[data-hint]::after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0 black;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

[data-hint]::before, [data-hint]::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hint--top::before, .hint--top::after {
    bottom: 100%;
    left: 50%;
    max-width: 200px;
    white-space: normal;
}

.hint--top::after {
    margin-left: -22px;
}

.hint--top::before {
    margin-left: -5px;
    margin-bottom: -12px;
    border-top-color: #383838;
    display: block;
}

.hint--top-right:before, .hint--top-right:after {
    bottom: 100%;
    right: 0;
}

.hint--top:hover::before, .hint--top:hover::after {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

[data-hint]:hover::before, [data-hint]:hover::after {
    visibility: visible;
    opacity: 1;
}

.hint--bottom::before {
    margin-left: -5px;
    margin-top: -12px;
    border-bottom-color: #383838;
}

.hint--bottom::before, .hint--bottom::after {
    top: 100%;
    left: 50%;
}

.hint--bottom::after {
    margin-left: -22px;
}

.hint--bottom:hover::before, .hint--bottom:hover::after {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.hint--left:before {
    margin-right: -12px;
    margin-bottom: -5px;
    border-left-color: #383838;
}

.hint--left:after {
    margin-bottom: -13px;
}

.hint--left:before,
.hint--left:after {
    right: 100%;
    bottom: 50%;
}

.hint--left:hover:before,
.hint--left:hover:after {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}

.hint--right::before, .hint--right::after {
    left: 100%;
    max-width: 200px;
    width: 200px;
    white-space: normal;
}

.hint--right::after {
}

.hint--right::before {
    margin-left: -12px;
    border-right-color: #383838;
    display: block;
    width: 10px;
    height: 12px;
    top: 50%;
    margin-top: -5px;
}

.hint--right:hover::before, .hint--right:hover::after {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.like .fa {
    font-size: 1.3em;
    color: #c6c6c6;
}

.save-like {
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: 3;
    opacity: 0;
}

.save-like a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
    cursor: pointer;
}

.save-like a .fa {
    color: #fff;
    font-size: 14px;
}

a.block-price {
    font-weight: 700;
    color: #00b22d;
    font-size: 16px;
}

div.block-price {
    color: #00b22d;
    float: right;
    font-weight: 700;
    line-height: 20px;
}

a.block-price span {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: initial;
    padding: 1px 5px 0 0;
}

a.block-price:hover {
    text-decoration: none;
}

.btn-big {
    background-color: #00b22d;
    font: 700 16px/16px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #fff;
    border: 1px solid #00b22d;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#35c350, #03b525);
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.btn-big[disabled], .btn-middle[disabled] {
    background: #aaa;
    border: 1px solid #bbb;
}

a.btn-big:visited {
    color: #fff;
}

.btn-big:focus, .btn-big:hover {
    color: #fff;
    border-color: #007e20;
    text-decoration: none;
}

.btn-middle {
    line-height: 30px;
    padding: 0 20px;
    font-size: 15px;
    background-color: #00b22d;
    color: #fff;
    white-space: nowrap;
    border: 1px solid #00b22d;
    display: inline-block;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#35c350, #03b525);
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.btn-middle.confirm-method {
    width: 49%;
}

.btn-middle.revert, .btn-middle.revert:visited {
    background: #fff;
    text-shadow: none;
    color: #00b22d;
    border: 1px solid #00b22d;
}

.btn-middle.revert:focus, .btn-middle.revert:hover, .btn-middle.revert:active {
    background: linear-gradient(#35c350, #03b525);
    color: #fff;
    text-decoration: none;
}

.btn-small.red, .btn-middle.red, .btn-big.red {
    background: linear-gradient(#df5355, #e90400);
    border: 1px solid #b25d5d;
}

.btn-small.blue, .btn-middle.blue, .btn-big.blue {
    background: linear-gradient(#4479a4, #005ba4);
    border: 1px solid #2e6da4;
}

.btn-small.grey, .btn-middle.grey, .btn-big.grey {
    border: 1px #ddd solid;
    color: #777;
    background: linear-gradient(#fff, #f5f5f5);
    text-shadow: none;
}

.btn-small.grey:hover, .btn-middle.grey:hover, .btn-big.grey:hover {
    border: 1px #c4c4c4 solid;
    color: #777;
}

.file-input .btn-middle {
    line-height: 32px;
    cursor: pointer;
    vertical-align: top;
}

a.btn-middle:visited {
    color: #fff;
}

.btn-middle:focus, .btn-middle:hover {
    color: #fff;
    border-color: #007e20;
    text-decoration: none;
}

.bright {
    float: right;
}

a.all {
    float: right;
    font: normal 12px/15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #999999;
    text-transform: uppercase;
    margin: -80px 0 0 20px;
}

a.all:visited {
    color: #999999;
}

a.all:hover {
    text-decoration: none;
    color: #00b22d;
}

.mark-container {
    margin-left: 20%;
}

.mark {
    background-color: #fceac5;
    width: 560px;
    max-width: 100%;
    display: block;
    padding: 25px 15px 15px 15px;
    border: 1px #ffdfbf solid;
    border-radius: 4px;
    margin: 60px auto;
}

.mark-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #303030;
    padding-top: 1px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
    max-width: 530px;
}

.mark-small {
    font-size: 14px;
    font-weight: 400;
}

.mark .fa {
    vertical-align: top;
    color: #605962;
    font-size: 5em;
}

.three-blocks {
    padding: 0;
}

.three-blocks-container {
    padding: 0 50px;
}

.about-img {
    background: transparent url("../../images/new/three.png") no-repeat 0 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20px;
    display: block;
    width: 126px;
    height: 126px;
    margin-left: -63px;
}

.about:nth-child(2) .about-img {
    background-position: -126px 0;
}

.about:nth-child(3) .about-img {
    background-position: -252px 0;
}

.about {
    margin-bottom: 30px;
}

.about a {
    padding: 185px 30px 0 30px;
    display: block;
}

.about a:hover {
    text-decoration: none;
}

.about p{
    font-size: 16px;
    line-height: 21px;
    color: #999999;
    padding-top: 10px;
    text-align: center;
}

.three-title {
    font: 900 20px/23px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #555;
}

footer {
    padding: 30px 0 55px;
    background-color: #0A3D55;
    font: 400 14px/18px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

footer a {
    display: block;
    color: #ddd;
    font-size: 14px;
    line-height: 14px;
    padding: 7px 0;
}

footer a:visited {
    color: #ddd;
}

footer a:hover, footer a:focus {
    color: #ddd;
    text-decoration: underline;
}

.footer-title {
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 10px;
    text-transform: uppercase;
}

.footer-follow {
    padding-left: 30px;
    position: relative;
}

.footer-follow .fa {
    position: absolute;
    left: 0;
    top: 7px;
    font-size: 16px;
}

.footer-bottom {
    padding-top: 10px;
    position: relative;
}

.footer-bottom img {
    display: block;
    margin: 0 auto;
}

.copyright {
    color: #dddddd;
    font-size: 14px;
    line-height: 38px;
}

a.check-but {
    border: 1px #ddd solid;
    line-height: 38px;
    vertical-align: top;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 12px;
    color: #ddd;
    display: block;
    height: 38px;
    text-transform: uppercase;
    text-decoration: none;
}

a.check-but:visited {
    color: #ddd;
}

a.check-but:hover {
    color: #0a3d55;
    background-color: #ddd;
    text-decoration: none;
}

.check-but:hover .current, .check-but:hover .fa {
    color: #0a3d55;
}

.lc-header {
    border-bottom: 1px solid #dddddd;
    padding: 5px 10px;
    color: #0a3d55;
    border-radius: 4px 4px 0 0;
}

.lc-header .fa-globe {
    top: 10px;
    right: 12px;
    position: absolute;
    color: #aaa;
}

.lang-cur {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 250px;
    background-color: #fff;
    z-index: 1001;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
    display: none;
}

.lc-inner {
    padding: 10px 10px 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

a.more-less, ul.cats li a.more-less {
    font-weight: 700;
    color: #00698c;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    padding: 15px 0 6px 10px;
    display: block;
}

a.more-less:visited, a.more-less:active, ul.cats li a.more-less:visited, ul.cats li a.more-less:active {
    color: #00698c;
}

a.more-less:hover, ul.cats li a.more-less:hover {
    color: #00698c;
    text-decoration: none;
}

.load-button-place {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
}

a.load {
    background: linear-gradient(#fff, #f5f5f5);
    color: #303030;
    background-color: #00b22d;
    font: 700 15px/15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.75)
}

a.load:visited {
    color: #303030;
}

a.load:hover {
    color: #00b22d;
    border-color: #b3b3b3;
    text-decoration: none;
}

a.load:focus {
    text-decoration: none;
}

a.read-more {
    color: #00698c;
    display: block;
    font-size: 15px;
    margin-top: 20px;
}

a.read-more:visited {
    color: #00698c;
}

a.read-more:hover {
    color: #00698c;
    text-decoration: underline;
}

a.link-blue {
    color: #00698c;
    display: block;
    font-size: 14px;
}

a.link-blue:visited {
    color: #00698c;
}

a.link-blue:hover {
    color: #00698c;
    text-decoration: underline;
}

.modal {
    z-index: 9999;
}

.modal-dialog {
    width: 390px;
    max-width: 100%;
    margin: 160px auto;
}

.modal-dialog.middle {
    width: 660px;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.modal-content {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border: none;
    text-align: center;
}

.modal-body {
    padding: 0;
}

.modal-header .close {
    margin: -15px -15px 0 0;
}

button.close {
    float: right;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    border-radius: 50%;
    background-color: #999;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.remember {
    float: left;
    display: block;
    padding: 0;
    font-size: 13px;
    width: auto;
}

button.close:hover, button.close:focus {
    color: #fff;
}

.modal-header {
    border: none;
    z-index: 3;
    position: relative;
    padding: 0;
    margin-top: 0;
}

.modal-dialog.modal-md {
    width: 600px;
}

.modal-dialog.modal-lg {
    width: 900px;
}

.form-group {
    margin: 15px 0 0 0;
}

.modal-dialog input[type="text"], .modal-dialog input[type="number"],
.modal-dialog input[type="email"], .modal-dialog input[type="tel"], .modal-dialog input[type="password"] {
    font-size: 16px;
    width: 100%;
    height: 44px;
    -webkit-transition: padding 0.1s;
    -moz-transition: padding 0.1s;
    -o-transition: padding 0.1s;
    transition: padding 0.1s;
    background-color: #fff;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 0 10px;
    margin: 0;
    border-radius: 3px;
}

textarea:active, textarea:focus, input[type="date"]:active, input[type="date"]:focus,
input[type="datetime"]:active, input[type="datetime"]:focus,
input[type="datetime-local"]:active, input[type="datetime-local"]:focus,
input[type="email"]:active, input[type="email"]:focus, input[type="month"]:active,
input[type="month"]:focus, input[type="number"]:active, input[type="number"]:focus,
input[type="password"]:active, input[type="password"]:focus, input[type="search"]:active,
input[type="search"]:focus, input[type="tel"]:active, input[type="tel"]:focus,
input[type="text"]:active, input[type="text"]:focus, input[type="time"]:active,
input[type="time"]:focus, input[type="url"]:active, input[type="url"]:focus,
input[type="week"]:active, input[type="week"]:focus {
    border: 1px #00b22d solid;
    color: #555555;
    box-shadow: inset 2px 2px 2px #e3e3e3;
}

.form-title {
    font: normal 23px/26px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #0e0e0f;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.error-mes {
    font-weight: 700;
    color: #ff4d4d;
    padding: 10px 0;
    display: block;
}

.width100 {
    width: 100%;
    text-transform: uppercase;
    margin-top: 15px;
}

.add-form-op {
    padding: 20px 0;
    margin: 0;
}

.forgot {
    font: 13px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    float: right;
}

.or-text {
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
    display: inline-block;
}

.or-line {
    border-bottom: 1px solid #dddddd;
    height: 8px;
}

.social-login {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.social-login a {
    width: 30%;
    color: #fff;
    font-size: 28px;
    line-height: 45px;
    height: 45px;
    border-radius: 3px;
}

.social-login .fb {
    background-color: #3b5998;
}

.social-login .goo {
    background-color: #dd4b39;
}

.form-bottom {
    background-color: #eeeeee;
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin: 0 -20px -20px -20px;
    padding: 10px 20px 13px 20px;
    border-top: 1px solid #dddddd;
    border-radius: 0 0 5px 5px;
    color: #555555;
}

.form-warning {
    padding: 10px;
    font-size: 13px;
}

.fw-item {
    display: block;
    margin: 5px 0;
}

.form-subtitle {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.header-col {
    font: 500 20px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px #e5e5e5 solid;
    border-radius: 5px 5px 0 0;
    margin: -20px -20px 0 -20px;
    color: #0e0e0f;
    text-transform: capitalize;
}

.header-col button.close {
    float: right;
    font-size: 30px;
    font-weight: normal;
    color: #b2b2b2;
    text-shadow: none;
    opacity: 1;
    border-radius: 50%;
    background-color: transparent;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.header-col button.close:hover, .header-col button.close:focus {
    color: #00b22d;
}

.header-col.modal-header .close {
    margin: 0 -10px 0 0;
}

.btn-small {
    height: 30px;
    line-height: 30px;
    padding: 0 15px !important;
    font-size: 14px !important;
    margin: 15px 0 0 0;
    background-color: #00b22d;
    color: #fff;
    border: 1px solid #00b22d;
    display: inline-block;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#35c350, #03b525);
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

a.btn-small:visited {
    color: #fff;
}

.btn-small:focus, .btn-small:hover {
    color: #fff;
    border-color: #007e20;
    text-decoration: none;
}

.nav-right {
    float: right;
    position: relative;
}

.nav-right-item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

a.icon-profnav {
    font-size: 14px;
    color: #b2b2b2;
    width: 35px;
    line-height: 60px;
    position: relative;
    display: block;
}

a.icon-profnav:hover {
    color: #999;
}

a.icon-profnav .fa {
    font-size: 20px;
}

.cart-head {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    font-size: 14px;
    color: #666666;
    background-color: #fff;
    border: 1px #dddddd solid;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.21);
    border-radius: 3px;
    z-index: 600;
}

.cart-head:before {
    content: "\f0d8";
    font-family: 'FontAwesome', sans-serif;
    color: #fff;
    font-size: 37px;
    position: absolute;
    z-index: 1;
    display: block;
    top: -20px;
    right: 11px;
    margin-left: 16px;
}

.cart-head-item {
    display: table;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    width: 100%;
}

.ch-img {
    display: table-cell;
    vertical-align: middle;
    width: 75px;
}

.ch-img img {
    width: 100%;
    display: block;
}

.ch-name {
    font-size: 14px;
    line-height: 18px;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    font-weight: normal;
}

.ch-price {
    font-size: 22px;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
}

.ch-name a, .ch-name a:visited {
    color: #666;
}

.ch-name a:hover, .ch-name a:focus {
    text-decoration: none;
    color: #00B22D;
}

.view-cart {
    padding: 0 15px 15px 0;
}

.icon-act:after {
    content: '';
    background-color: #f21aa5;
    position: absolute;
    z-index: 2;
    top: 19px;
    right: 5px;
    width: 10px;
    height: 10px;
    display: none;
    border-radius: 50%;
}

.head-name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 6px;
    line-height: 20px;
    float: none;
}

/********NEW HEADER PROFILE MENU*********/

ul.nav-head-prof {
    z-index: 2000;
}

.nav-head-profile {
    background-color: #e8e8e8;
    max-height: 0;
    width: 100%;
    transition: 0.5s max-height linear;
    -moz-transition: 0.5s max-height linear;
    -webkit-transition: 0.5s max-height linear;
    -o-transition: 0.5s max-height linear;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 600;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.35);
}

.nav-head-profile .container-fluid {
    position: relative;
}

.nav-head-profile.open {
    max-height: 999px;
}

.nav-head-profile a.close-nav-head-profile {
    position: absolute;
    font-size: 20px;
    color: #555 !important;
    top: 15px;
    right: 10px;
}

.nph-padding {
    padding: 40px 0 10px 0;
}

.nhp-title, .nav-head-profile a.nhp-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    display: block;
    color: #0e0e0f;
}

.nhp-subtitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}

.nav-head-profile ul {
    width: 100%;
    margin-bottom: 10px;
}

.nav-head-profile ul li {
    display: block;
    padding: 0 0 0 23px;
    position: relative;
}

.nav-head-profile a {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    color: #555;
    display: block;
    padding-bottom: 13px;
}

.nav-head-profile a:hover {
    color: #00b22d;
    text-decoration: underline;
}

.nav-head-profile ul li a, .nav-head-profile ul li a:visited,
.nav-head-profile ul li a:hover {
    color: #555;
    text-decoration: none;
}

.nav-head-profile ul li a:hover {
    text-decoration: none;
    font-weight: bold;
}

/*
.nav-head-profile ul li a:before {
    font-size: 10px;
    content: '\f054';
    text-align: center;
    border: 2px solid #555;
    line-height: 12px;
    border-radius: 50%;
    color: #555;
    width: 16px;
    height: 16px;
    font-family: 'FontAwesome', sans-serif;
    font-weight: 400;
    top: 0;
    left: -23px;
    position: absolute;
    padding: 0 0 0 2px;
}*/
.nav-head-profile ul li i {
    font-size: 14px;
    line-height: 16px;
    border-radius: 50%;
    color: #555;
    width: 16px;
    height: 16px;
    font-family: 'FontAwesome', sans-serif;
    font-weight: 400;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 0 0 2px;
}

.nav-head-profile ul li i.fa-credit-card-alt {
    font-size: 12px;
}

.prof-menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 10px;
    height: 100%;
    padding: 15px 0;
}

.head-avatar {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 14px;
    line-height: 25px;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.head-avatar img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.head-name {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.header-cart-amount {
    right: 10px;
    content: '';
    background-color: #f21ca6;
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
}

.online:before, .offline:before, .vacation:before {
    left: 15px;
    content: '';
    background-color: #44ab00;
    position: absolute;
    z-index: 1;
    top: -1px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
}

.vacation:before {
    background-color: #ee9900;
}

.prof-headm {
    cursor: pointer;
    position: relative;
}

.prof-headm .fa {
    color: #999;
    display: block;
    position: absolute;
    font-size: 16px;
    right: -15px;
    top: 7px;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.prof-headm:hover .fa {
    color: #00b22d;
}

.work-sliders {
    border-top: 1px #e5e5e5 solid;
    background: #f7f7f7;
    padding: 40px 0 0 0;
}

.ws-block {
    padding-bottom: 40px;
}

.ws-title {
    font-size: 18px;
    color: #0e0e0f;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: 'HelveticaNeueCyrRoman', 'sans-serif';
    text-transform: uppercase;
    line-height: initial;
}

.ws-title a, .ws-title a:visited {
    color: #00698c;
}

.ws-title a:hover {
    color: #00698c;
    text-decoration: underline;
}

.ws-content .bf-item {
    width: auto;
    margin: 0 auto;
    float: none;
    max-width: 232px;
}

.cat-list .ws-block {
    margin-top: 20px;
}

.cat-list .ws-content .bf-item {
    width: auto;
    margin: 0 auto;
}

.cat-list .ws-content .slick-prev {
    left: -18px;
}

.cat-list .ws-content .slick-next {
    right: -19px;
}

.work-sliders .ws-content .slick-prev {
    left: -25px;
}

.work-sliders .ws-content .slick-next {
    right: -25px;
}

.slideitem-over {
    padding: 0 5px;
}

.nav-fixed {
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 90px;
}

.menu-work {
    float: left;
}

.menu-work li, .tab-gigs li {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.menu-work li a, .tab-gigs li a {
    font-size: 14px;
    line-height: 45px;
    font-weight: 500;
    display: inline-block;
    color: #999999;
    text-decoration: none;
}

.menu-work li a.active, .menu-work li a.active:visited {
    color: #0e0e0f;
}

.menu-work li a:visited, .tab-gigs li a:visited {
    color: #999;
}

.menu-work li a:hover, .tab-gigs li a:hover {
    color: #777;
    text-decoration: none;
}

.tab-gigs li a:hover {
    border: none;
    background-color: transparent;
}

.menu-work li a.selected:hover, .menu-work li a.active:hover,
.tab-gigs li.active a:hover, .tab-gigs li.active a,
.tab-gigs li a:focus, .tab-gigs li.active a:focus {
    color: #0e0e0f;
    text-decoration: none;
    border: none;
}

.menu-work li a.selected, .menu-work li.active,
.tab-gigs li.active a {
    color: #0e0e0f;
    border: none;
}

.menu-work li a.selected::after, .tab-gigs li.active a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background: #00b22d;
}

.menu-work li:hover ul {
    display: block;
}

.menu-work li ul {
    position: absolute;
    border: 1px solid #dddddd;
    border-top: none;
    left: -13px;
    white-space: nowrap;
    top: 100%;
    z-index: 350;
    display: none;
    background: #fff;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0 0 3px 3px;
}

.menu-work li ul li {
    display: block;
}

.menu-work li ul li a {
    padding: 5px 13px 3px 13px;
    width: 100%;
    color: #555555;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: block;
}

.menu-work li ul li:first-child a {
    padding-top: 10px;
}

.menu-work li ul li a:hover {
    color: #00b22d;
}

.table-packs {
    display: table;
    width: 100%;
    margin: -20px -15px;
    border-collapse: collapse;
}

.row-packs {
    display: table-row;
    position: relative;
}

.cell-packs {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    border-top: solid #f4f4f4 1px;
    border-left: solid #dddddd 1px;
    font-size: 15px;
    line-height: 16px;
    padding: 13px;
    color: #777777;
    position: relative;
}

.cell-packs:first-child {
    background: #f7f7f7;
    border-left: none;
    border-top: solid #dddddd 1px;
}

.cell-packs p {
    color: #777;
}

.cell-packs.noborder {
    border-top: none;
    border-left: none;
}

.faq {
    display: block;
    width: 100%;
}

.faq-item {
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.faq-head {
    display: block;
    padding: 20px 30px 20px 15px;
    cursor: pointer;
    color: #0e0e0f;
    position: relative;
}

.faq-head:before {
    content: "\f107";
    color: #0e0e0f;
    font-size: 15px;
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.faq-item.open .faq-head:before {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    -moz-transform: rotate3d(0, 0, 1, -180deg);
    -ms-transform: rotate3d(0, 0, 1, -180deg);
    -o-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
}

.faq-body {
    max-height: 0;
    margin: 0;
    -webkit-transition: max-height 0.3s, padding-top 0.3s;
    -moz-transition: max-height 0.3s, padding-top 0.3s;
    -o-transition: max-height 0.3s, padding-top 0.3s;
    transition: max-height 0.3s, padding-top 0.3s;
    overflow: hidden;
}

.faq-body p {
    margin: 0;
}

.faq-body ol, .faq-body ul {
    margin-top: 10px;
    color: #0e0e0f;
    font-weight: 400;
    font: 14px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

.faq-item.open .faq-body {
    padding: 20px 15px 20px 15px;
    max-height: inherit;
}

.faq-item.open .faq-head {
    padding-bottom: 0;
}

/*--------------notification_window--------------*/

.noti-block {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1001;
    right: 0;
    margin-top: -5px;
    width: 400px;
    min-height: 150px;
    border: 1px solid #cccccc;
    border-top: 0;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
}

.noti-block:before {
    content: "\f0d8";
    display: block;
    margin-left: -8px;
    font-family: "FontAwesome", sans-serif;
    font-size: 28px;
    line-height: 12px;
    color: #f4f4f4;
    position: absolute;
    top: -9px;
    right: 16px;
    z-index: 1;
}

.noti-head {
    background-color: #f4f4f4;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 3px 3px 0 0;
}

.noti-title {
    font-size: 12px;
    color: #0e0e0f;
    float: left;
}

.noti-options {
    float: right;
}

.noti-options a {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

a.noti-opt-icons {
    color: #555;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
}

a.link-dashb {
    color: #00698c;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}

a.noti-opt-icons:hover {
    color: #0e0e0f;
    text-decoration: none;
}

.noti-alias {
    background-color: #fff;
    width: 100%;
    color: #555555;
    font-weight: 400;
    line-height: 15px;
    border-top: 1px solid #f7f7f7;
    padding: 10px 15px;
    min-height: 75px;
    position: relative;
    -webkit-backface-visibility: hidden;
    display: table;
}

.noti-alias:hover {
    text-decoration: none;
    color: #555555;
}

.noti-avatar {
    display: table-cell;
    vertical-align: top;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
}

.noti-avatar div {
    width: 55px;
    height: 55px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 24px;
    line-height: 55px;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.noti-avatar img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.noti-info {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px;
}

.noti-name p, .noti-name a {
    font-size: 13px;
    color: #555;
    margin: 0;
    padding: 0;
}

.noti-status {
    position: relative;
}

.noti-status:hover {
    color: #0e0e0f;
}

.noti-extra {
    color: #b2b2b2;
    font-size: 11px;
    padding-top: 5px;
}

.noti-adds {
    display: table-cell;
    vertical-align: top;
    width: 30px;
    min-width: 30px;
}

.noti-unread {
    color: #b2b2b2;
    font-size: 14px;
    opacity: 0;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

a.noti-alias:hover .noti-unread {
    opacity: 1;
}

.noti-unread:hover {
    color: #0e0e0f;
}

.noti-preview {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: block;
    margin-top: 10px;
}

.noti-preview img {
    height: 100%;
    display: block;
}

.noti-footer {
    color: #00698c;
    display: block;
    padding: 5px 0;
    border-top: 1px solid #ebf2f5;
    font-size: 11px;
    margin-bottom: -5px;
}

.noti-footer:visited {
    color: #00698c;
}

.noti-footer:hover, .noti-footer:focus {
    color: #00698c;
    text-decoration: underline;
}

.noti-subinfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.noti-subinfo > div {
    vertical-align: middle;
}

.noti-subinfo .noti-subinfo-avatar {
    width: 25px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.noti-subinfo .noti-subinfo-avatar img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.noti-subinfo .noti-subinfo-text {
    padding-left: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 250px;
}

.header-no-messages {
    line-height: 75px;
    color: #666;
    font-size: 14px;
}

a.blue-but {
    background-color: #40aeb8;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(#69c4c9, #42b4bb);
    font-size: 13px;
    line-height: 13px;
    border: 1px #40aeb8 solid;
    padding: 9px 20px 8px 20px;
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
}

a.blue-but:visited {
    color: #fff;
}

a.blue-but:hover {
    border-color: #338a92;
    text-decoration: none;
}

.prof-aside-block {
    border: 1px solid #dddddd;
    background-color: #fff;
    margin-bottom: 25px;
    padding: 20px 0;
    margin-left: -10px;
    margin-right: -10px;
}

.aside-post .post-aside-money-icon {
    background: transparent url(../../images/new/money.svg) no-repeat 0 0;
}

.post-aside-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    line-height: 130%;
    color: #0e0e0f;
}

.post-mes {
    font-size: 15px;
    line-height: 18px;
    color: #303030;
}

.post-aside-img {
    content: '';
    background: transparent url("../../images/new/profile.svg") no-repeat 0 0;
    background-size: 300px 100px;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    display: block;
}

/**********attachment list**********/
ul.attachment-list {
    display: block;
}

ul.attachment-list li {
    font-size: 12px;
    line-height: 16px;
    padding: 3px 0;
    height: 17px;
    max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

ul.attachment-list li i {
    margin-left: 1px;
    color: #00b22d;
}

ul.attachment-list li a {
    color: #00698c;
}

ul.attachment-list li a:visited,
ul.attachment-list li a:hover,
ul.attachment-list li a:focus {
    color: #00698c;
}

ul.attachment-list li a:hover {
    text-decoration: underline;
}

/***********************************/

.page-content {
    background-color: #fff;
    padding: 30px 40px;
    border: 1px #cccccc solid;
    border-radius: 5px;
}

.page-content .page-content-title {
    font-size: 2.5rem;
    font-weight: 400;
    color: #333;
    padding: 40px 0 10px;
    line-height: initial;
}

.page-content .page-content-text p {
    width: 70%;
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 200;
    margin: 0 auto 18px;
    color: #777;
}

.page-content ol {
    list-style-type: decimal;
}

.page-content ul {
    list-style-type: disc;
}

.page-content img {
    max-width: 100%;
}

.page-content .page-content__title {
    font-size: 4rem;
    font-weight: 400;
    color: #333;
    padding: .5em 0;
}

.page-content ul,
.page-content li {
    margin: 0;
    padding-left: 20px;
}

.page-content li {
    list-style-position: inside;
    text-align: justify;
    margin: 0 0 10px 0;
    color: #0e0e0f;
    font-weight: 400;
    font: 14px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

.page-content ul li {
    list-style: disc;
}

.page-content li:last-child {
    margin: 0 0 20px 0;
}

.page-update {
    font-size: 16px;
    line-height: 20px;
    color: #777777;
    font-weight: 500;
    display: block;
}

.greybg {
    background-color: #f7f7f7;
}

.fcheck {
    z-index: 300;
    display: inline-block;
    position: relative;
}

.grey-steps {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
    border-radius: 3px;
    font-family: "HelveticaNeueCyrRoman", sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button.green, a.button.green {
    color: #fff;
    background-color: #8dc63f;
    text-shadow: 1px 1px 1px black;
    border: 1px solid #81a550;
}

.button.green:hover, .button.green:focus {
    background-color: #81a550;
    text-decoration: none;
}

.button.white, a.button.white {
    background-color: #fff;
    border: 1px solid #81a550;
    color: #81a550;
}

.button.white:hover, .button.white:focus {
    background-color: #8dc63f;
    color: #fff;
    text-decoration: none;
}

.button.orange {
    background-color: #fff;
    border: 1px solid #f38e00;
    color: #ff9900;
}

.button.gray {
    background-color: #fff;
    border: 1px solid #999;
    color: #111;
}

.button.orange:hover, .button.orange:focus {
    background-color: #ff9900;
    color: #333;
    text-decoration: none;
}

.button.gray:hover, .button.gray:focus {
    background-color: #eee;
    /*color: #fff;*/
    text-decoration: none;
}

.button.orange.active {
    background-color: #ff9900;
    color: #fff;
}

.button.orange.active:hover, .button.orange.active:focus {
    background-color: #fff;
    color: #ff9900;
}

.button.auto {
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 30px;
    margin: 0 10px;
}

.button.big {
    width: auto;
    min-width: 190px;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.button.no-size {
    width: auto;
    height: auto;
    line-height: 20px;
    font-size: 18px;
    padding: 14px;
}

.button.middle {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.button.small {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 14px;
}

.add-to-cart-mob {
    width: 100%;
}

.add-to-cart-mob a {
    width: 100%;
}

.pos-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 70px 20px 20px;
    z-index: 1000;
    background-color: #fff;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/**********FORM SUBSCRIBE*********/
.modalSubscribe .modal-dialog, #modalSubscribe .modal-dialog {
    width: 600px;
    max-width: 100%;
}

.modal-news {
    display: table;
    width: 100%;
}

.modal-news .ujobs-ava {
    width: 120px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.modal-news .ujobs-ava img {
    width: 100%;
}

.modal-news .news-info {
    display: table-cell;
    vertical-align: top;
}

.modal-news .news-info .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 120%;
}

.modal-news .news-info p {
    font-size: 16px;
}

/********END FORM SUBSCRIBE*******/

/************HEAD BANNER**********/
.head-banner {
    background-color: #f6f5f3;
    width: 100%;
    position: relative;
    border-bottom: #fff;
}

.hb-body {
    padding: 10px 0;
    display: table;
    width: 100%;
    color: #fff;
}

.hb-body .hb-img {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

.head-banner.success {
    background: #218834;
}

.head-banner.warning {
    background: #D8B027;
}

.head-banner.information {
    background: #0a78b6;
}

.head-banner.error {
    background: #ea4545;
}

.hb-body .hb-img img {
    width: 100%;
}

.hb-body .hb-info {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.hb-body .hb-info .title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 120%;
    color: #0e0e0f;
}

.hb-body .hb-info p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #fff;
}

.head-banner .close-banner {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 14px;
    height: 14px;
    background: url(/images/new/close-banner.svg);
    color: #fff;
}

/**********END HEAD BANNER********/

/***************PUSH**************/
.push-block {
    position: fixed;
    top: 60px;
    left: 15px;
    z-index: 1000;
    display: none;
}

.push-block.fadeIn {
    -webkit-animation: pushPanelShow 0.3s linear 0s 1;
    animation: pushPanelShow 0.3s linear 0s 1;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.push-msg {
    box-sizing: border-box;
    padding: 10px 40px 10px 12px;
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 10px;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    line-height: 1.4em;
    width: 380px;
}

.push-img {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.push-img img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.push-text p {
    font-size: 15px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

.push-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.push-close:hover svg path {
    fill: #d90d0d;
}

.push-close svg path {
    fill: #888;
}

.push-btn {
    box-sizing: border-box;
    border: 2px solid #1b80e5;
    padding: 0 16px;
    background-color: #fff;
    color: #1b80e5;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 3px rgba(27, 128, 229, 0.3);
    width: 200px;
}

.push-btn:hover {
    background-color: #1b80e5;
    color: #fff;
}

.push-btn:hover .push-bell svg path {
    fill: #fff;
}

.push-bell {
    margin-right: 10px;
    color: #1b80e5;
}

.push-bell svg path {
    fill: #1b80e5;
}

.push-subscribe {
    line-height: 1.5em;
}

.push-subscribe span {
    display: block;
    font-weight: 500;
    font-size: 15px;
}

.status-site {
    position: absolute;
    top: 20px;
    right: 0;
}

.status i {
    font-size: 5px;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}

.status {
    border-radius: 10px;
    color: #999;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 2px 8px;
    text-transform: capitalize;
}

.status.isonline {
    color: #8dc63f;
    border: 1px solid #8dc63f;
}

.status.isoffline {
    color: #999;
    border: 1px solid #ddd;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-v-center {
    align-items: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-grown {
    flex-grow: 1;
}

.messenger-group-members-actions {
    padding: 10px 0;
}

.messenger-group-members-list-header {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.messenger-group-avatar-input {
    border: 1px dashed #bec2c9;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-size: cover;
}

.messenger-group-avatar-input i {
    line-height: 48px;
}

.messenger-group-avatar-input img {
    width:100%;
    height: 100%;
}

.messenger-group-title {
    margin-left: 10px;
}

.messenger-group-title input.transparent,
.messenger-group-title input.transparent:focus{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    box-shadow: initial;
}

.messenger-group-form-head {
    border-top: 1px solid #bec2c9;
    border-bottom: 1px solid #bec2c9;
}

.messenger-group-members-list {
    padding: 10px 0;
    border-bottom: 1px solid #bec2c9;
}

.messenger-group-member-list-container {
    margin-bottom: 10px;
}

.messenger-group-member-list-item-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.messenger-group-member-list-item-name {
    margin-left: 10px;
}

.messenger-group-members-list input.default-form-control {
    height: 35px;
}

.messenger-group-add-member-button-block {
    margin-top: 10px;
}

@-webkit-keyframes pushPanelShow {
    0% {
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
    50%,
    100% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes pushPanelShow {
    0% {
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
    50%,
    100% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/**************END PUSH************/

.cat-related {
    padding: 0 12px;
    height: 22px;
    overflow: hidden;
}

.cat-related a, .cat-related a:visited, .cat-related a:hover, .cat-related a:focus {
    color: #555;
}

.album-opt {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font-size: 18px;
}

.album-opt span {
    padding: 0 10px;
    color: #0e0e0f;
    font-size: 12px;
}

.tags-container {
    padding: 30px 50px;
    position: relative;
    min-height: 200px;
}

.tags {
    margin-bottom: 30px;
    width: 100%;
}

.tags a {
    background: #fafafa;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: #999999;
    padding: 5px;
    margin: 0 5px 5px 0;
    border-radius: 3px;
}

.tags a h2 {
    font-family: "HelveticaNeueCyrRoman", serif;
    color: #999999;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.taga a:visited {
    color: #999;
}

.tags a:hover {
    background: #fff;
    color: #999;
    text-decoration: none;
}

.work-share {
    padding: 28px 10px;
}

.work-share a {
    display: inline-block;
    vertical-align: top;
    line-height: 35px;
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    margin: 0 5px;
}

a.fb {background-color: #3D5999;}
a.tw {background-color: #60A9DD;}
a.g {background-color: #CE3F2F;}
a.in {background-color: #0777B6;}
a.link{
    background-color: #fff;
    border: 1px solid;
    color: #777;
}

.work-share a .fa {
    font-size: 1.4em;
}

.other-products {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 15px 0;
    color: #249ec6;
}

.other-products:hover,
.other-products:focus {
    color: #00698c;
    text-decoration: underline;
}

/*----------Switch-----------*/

input.onoffswitch-checkbox:checked + label:before,
input.onoffswitch-checkbox + label:before {
    display: none;
}

.onoffswitch {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-checkbox + .onoffswitch-label,
.onoffswitch-checkbox + .onoffswitch-label .onoffswitch-switch {
    border: 1px solid #ccc;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #00B22D;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
    box-shadow: inset 0 0 0 1px #ccc, 0 1px 3px rgba(0, 0, 0, 0.2);
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 22px;
    height: 20px;
    padding: 0;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 11px;
    background-color: #00B22D;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 11px;
    background-color: #fff;
    color: #CCCCCC;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 22px;
    margin: 0;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 13px;
    border-radius: 50%;
    transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
    border: 1px solid #00B22D;
}

/*Likes*/
.like-over {
    position: relative;
}

.people-likes {
    position: absolute;
    letter-spacing: -0.32em;
    bottom: calc(100% + 5px);
    right: -30px;
    width: 300px;
    background-color: rgba(56, 56, 56, 0.95);
    color: white;
    text-shadow: 0 -1px 0 black;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: -22px;
}

.people-likes:before {
    content: '';
    position: absolute;
    background: transparent;
    background-color: transparent;
    border: 8px solid transparent;
    z-index: 1000;
    border-top-color: #383838;
    display: block;
    top: 100%;
    width: 15px;
    right: 55px;
    margin-top: 10px;
}

.people-likes:before, .people-likes {
    position: absolute;
    white-space: normal;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.like-over:hover .people-likes, .like-over:hover .people-likes::before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.people-likes-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 0 5px;
    letter-spacing: normal;
}

.people-likes a {
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 50%;
    letter-spacing: normal;
}

.people-likes a img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

a.global-create-link {
    position: fixed;
    right: 15px;
    top: 105px;
    z-index: 601;
    background-color: #00b22d;
    border-radius: 50%;
    font-size: 25px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
}

.welcome-left {
    background: #fafafa;
    padding: 20px 15px;
}

.welcome-left-title {
    font-size: 16px;
    line-height: 18px;
    padding: 0 0 12px 0;
    color: #0e0e0f;
    font-weight: bold;
}

.welcome-left .btn-middle {
    width: 100%;
}

#catalog-search {
    width: 35%;
    margin-left: 20%;
    float: left;
    position: relative;
}

#catalog-search input {
    margin: 8px 0;
    padding-left: 35px;
}

#catalog-search .btn-middle {
    position: absolute;
    right: 0;
    top: 8px;
    height: 35px;
    padding: 0 40px;
    background: #fff;
    color: #00b22d;
    text-shadow: none;
}

#catalog-search .btn-middle:focus,
#catalog-search .btn-middle:hover {
    background: #00b22d;
    color: #fff;
    text-decoration: none;
}

.btn-middle.btn-hov-dark:focus,
.btn-middle.btn-hov-dark:hover {
    background: #007e20;
}

.btn-success-inverse {
    color: #5cb85c;
    background-color: transparent;
    border-color: #4cae4c;
}

.btn-success-inverse:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-danger-inverse {
    color: #c9302c;
    background-color: transparent;
    border-color: #761c19;
}

.btn-danger-inverse:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

#request-form .offer-price,
#offer-form .offer-price {
    margin-top: 10px;
}

.modal-dialog .offer-price input {
    border: 1px solid #dddddd;
}

.offer-job {
    margin-right: 10px;
    float: right;
}

.disabled {
    background: none;
    background-color: #dddddd !important;
    border-color: #dddddd !important;
    box-shadow: none !important;
    color: #999999 !important;
    cursor: default !important;
}

/***********************************************************FROM ADDONS**************************************************************/
.payment-icons {
    margin-top: 40px;
    color: #ddd;
}

.payment-icons img {
    width: 65px;
}

.empty {
    width: 100%;
}

.max-width {
    width: 100%;
}

.relative {
    position: relative;
}

.position-static {
    position: static;
}

.autosize {
    width: auto !important;
    height: auto;
}

.visible-all {
    display: block !important;
}

.btn-mid {
    font-size: 16px;
    line-height: 18px;
    padding: 9px 30px;
    font-weight: 700;
    text-transform: none;
    color: #fff !important;
    border: 1px solid #00b22d;
    background: -webkit-linear-gradient(#35c350, #03b525);
    background: -moz-linear-gradient(#35c350, #03b525);
    background: -o-linear-gradient(#35c350, #03b525);
    background: linear-gradient(#35c350, #03b525);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.btn-mid-gray {
    max-width: 100%;
    border: 1px #b2b2b2 solid;
    font-weight: 400;
    color: #777;
    background: linear-gradient(#fff, #f5f5f5);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    width: auto;
    height: 38px;
    line-height: 18px;
    font-size: 16px;
    padding: 9px 30px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.table-packs .form-group {
    margin: 0 1.5px 1.5px 0;
}

.table-packs .form-group.has-error {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.ui-autocomplete {
    z-index: 10000;
}

.ui-menu .ui-menu-item {
    font-size: 14px;
    padding: 8px 10px;
    color: #777777;
    display: block;
}

.ui-menu .ui-menu-item:hover {
    color: #777;
    text-decoration: none;
    background-color: #eaeaea;
}

.ui-menu .ui-menu-item:first-child {
    padding-top: 10px;
}

.ui-menu .ui-menu-item:last-child {
    padding-bottom: 10px;
}

.ui-widget.ui-autocomplete {
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 0 3px 13px 0 rgba(60, 60, 60, 0.4);
    border: 1px solid #eeeeee;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    z-index: 10000;
}

.show-all {
    display: block;
}

.fright {
    float: right;
}

.dropdown {
    display: inline-block;
}

.dropdown .dropdown-menu {
    white-space: nowrap;
}

.header-balance {
    font-size: 18px;
    color: #fff;
    width: auto;
    line-height: 60px;
    position: relative;
    display: block;
    font-weight: 700;
    margin-left: 20px;
}

.header-balance:visited, .header-balance:hover {
    color: #fff;
}

.half-width {
    max-width: 50%;
}

.big-checkbox-container input[type="checkbox"] + label, .big-checkbox-container input[type="radio"] + label {
    font-size: 18px;
    line-height: initial;
    font-weight: normal;
}

.big-checkbox-container input[type="checkbox"]:checked + label, .big-checkbox-container input[type="radio"]:checked + label {
    font-weight: 700;
}

.catalog-breadcrumbs-container {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.catalog-breadcrumbs-container .breadcrumbs {
    padding: 10px 0 0 18px;
}

/*------------*/
.step .form-group {
    margin: 0 0 15px 0;
}

.redactor-box-fullscreen {
    z-index: 2050 !important;
}

.send-message .form-group, .container-fluid2 .form-group {
    margin: 0;
}

.group-set .chover {
    padding: 0;
}

.profile .form-group .mini label {
    margin: 2px 5px;
}

.worker-info-block .form-group {
    margin: 0;
}

#header-form .form-group,
#request-form .form-group,
#offer-form .form-group,
#tender-price-form .form-group {
    margin: 0;
}

#header-form .input-group {
    width: 100%;
}

.button-as-link {
    background: transparent;
    border: 0;
}

.cell-packs .btn-middle {
    white-space: inherit;
}

.noty_message {
    font-size: 15px !important;
    padding: 10px 15px !important;
}

.pad-content {
    padding-top: 15px;
}

a.grey-but.red {
    border: 1px solid #a00;
    color: #a00;
}

.noti-body {
    min-height: 75px;
}

.message-attachments {
    width: 100%;
    display: block;
}

.message-attachments-label {
    width: 100%;
    color: #9a9a9a;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.message-attachments .message-attachment {
    width: 150px;
    height: 170px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #cccccc;
    margin: 0 10px 10px 0;
    display: inline-block;
    text-overflow: ellipsis;
}

.message-attachments .message-attachment .file-container {
    width: 150px;
    height: 150px;
    display: block;
}

.message-attachments .message-attachment .file-container img {
    height: 150px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.message-attachments .message-attachment i.fa {
    margin: 0 5px;
    color: #02b22e;
}

.message-attachments .message-attachment a {
    width: 100%;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
}

.reset-block {
    width: 450px;
    margin: 10px auto;
    padding-top: 1px;
}

.reset-block h1 {
    margin: 10px 0 25px;
    color: #000;
}

.reset-block .reset-form {
    padding: 15px;
    background-color: #fff;
    border: 1px #b2b2b2 solid;
    box-shadow: 0 0 3px 1px #8c8c8c;
}

.reset-block .reset-form input {
    height: 45px;
    font-size: 24px;
}

.form-country {
    position: relative;
    display: none;
}

.form-country input[type="text"] {
    margin-top: 10px;
}

.form-country input[type="text"]:focus {
    outline: none;
}

.spinner-bg {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #acacac;
    z-index: 4;
}

.spinner-bg .fa-spinner {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    font-size: 80px;
    cursor: default;
}

.bf-item.owner:hover .bf-alias {
    margin-top: 0;
}

.bf-item.owner:hover .bf-descr {
    color: #303030;
}

.job-owner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 320;
}

.job-owner-buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 325;
}

.job-owner-buttons .job-owner-button {
    margin-top: 20px;
    width: 100%;
}

.bf-item-video .job-owner-buttons .job-owner-button:first-of-type {
    margin-top: 45px;
    width: 100%;
}

.job-owner-buttons .job-owner-button a {
    margin: 0 auto;
    width: 150px;
    display: block;
    padding: 5px 12px;
    opacity: 0.9;
    background: rgba(0, 255, 68, 0.51) none repeat scroll 0 0;
    border-color: #d1d1d1;
}

.job-owner-buttons .job-owner-button a.blue {
    background: rgba(0, 50, 200, 0.4) none repeat scroll 0 0;
}

.job-owner-buttons .job-owner-button a.red {
    background: rgba(200, 0, 0, 0.4) none repeat scroll 0 0;
}

.job-owner-buttons .job-owner-button a.dark {
    background: rgba(34, 34, 34, 0.9) none repeat scroll 0 0;
}

.job-owner-buttons .job-owner-button a:hover {
    border-color: #616161;
}

.rating-sm, .rating-xs {
    padding: 7px 0;
    line-height: 20px;
}

.rating-container .rating {
    overflow: initial !important;
}

.rating-label-sm {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}

.rating-label-xs {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
}

.rating-xxs {
    font-size: 26px;
}

.rating-xxxs {
    font-size: 20px;
}

.rating-xxxxs {
    font-size: 15px;
    float: left;
}

a.tag-but {
    background: #fff;
    color: #555;
    font: 400 15px/15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    border: 1px solid #555;
    padding: 7px 20px;
    margin: 8px 10px 8px 0;
    display: inline-block;
    border-radius: 3px;
    position: relative;
}

a.tag-but:focus, a.tag-but:active {
    text-decoration: none;
}

span.grey {
    color: #888888;
    font-size: 12px;
}

a.tag-but:visited {
    color: #555;
}

a.tag-but:hover span.grey {
    color: #00b22d;
}

a.tag-but.active, a.tag-but:hover {
    color: #00b22d;
    border-color: #00B22D;
    padding-left: 30px;
    padding-right: 10px;
    text-decoration: none;
}

a.tag-but:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;
    width: 15px;
    height: 10px;
    display: none;
    background: transparent url(/images/new/checked.png) 100% 100% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

a.tag-but.active:before, a.tag-but:hover:before {
    display: block;
}

.tags-block a.tag-but:nth-child(n+6) {
    display: none;
}

.like.toggle-favourite:hover .fa {
    color: #ff4d4d;
}

.like.toggle-favourite.active .fa {
    color: #ff4d4d;
}

.like.toggle-favourite.active:hover .fa {
    color: #c6c6c6;
}

.biglike.toggle-favourite.active, .biglike.toggle-favourite:hover {
    color: #ff4d4d;
    border-color: #dddddd;
    background-color: #ffe9ed;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.biglike.toggle-favourite.active:hover {
    color: #555555;
    border-color: #cccccc;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.auto {
    margin: 0 auto;
}

.order-item-thumb {
    width: 65px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.index-lower-benefit-block {
    padding: 30px 40px 0 40px;
}

a.social-share:hover, a.social-share:active, a.social-share:visited {
    color: #fff;
}

.redactor-placeholder:focus:after {
    display: none;
}

.bf-item .rating-container .filled-stars {
    -webkit-text-stroke-width: 0;
    text-shadow: none;
}

.refund-icon {
    display: block;
    width: 100%;
    padding: 0 5px;
}

input.c + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\f096";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
}

.dynamic-attr input.radio-checkbox + label:before {
    width: 17px;
}

input.radio-checkbox + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\f096";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
}

input.radio-checkbox:checked + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    content: "\f046";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
}

.referral-link-block {
    width: 65%;
    margin: 10px auto 0;
}

.referral-link-block .your-link {
    font-size: 28px;
    line-height: 30px;
    margin: 5px 0;
    font-weight: bold;
}

.referral-link-block input {
    padding: 5px 15px;
}

.zxasfgvb {
    color: #0e0e0f;
    font-size: 13px;
}

.no-fair-play {
    border-top: 1px solid #e8e8e8;
    margin-top: 15px;
    padding: 15px 5px 20px;
    line-height: initial;
}

.no-fair-play.order-history {
    border: 1px solid #ddd;
    background-color: #fafafa;
    padding: 15px 8px;
}

.no-pair-play-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.no-pair-play-header span {
    font-size: 20px;
    width: 22px;
    color: #ffdc5c;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    display: inline-block;
}

.no-pair-play-text {
    font-size: 14px;
}

.bf-item .tariff-icon, .pg-item .tariff-icon, .mob-work-item .tariff-icon {
    right: 8px;
    position: absolute;
    bottom: -10px;
    width: 40px !important;
    z-index: 311;
    opacity: 0.8;
}

/*
.tariff {
    background-color: #f19410;
}

.hw-profadd .tariff {
    padding: 0 12px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    vertical-align: middle;
}
.post-aside-ads {
    font-size: 32px;
    line-height: 44px;
    margin: 20px 0;
}*/
.osh-icon {
    content: "";
    background: transparent url(/images/new/icons.png) no-repeat 0 0;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.osh-icon-horn {
    width: 30px;
    height: 30px;
    background-position: -150px 0;
}

.osh-icon-require {
    width: 24px;
    height: 35px;
    background-position: -550px -450px;
}

.osh-icon-cancel {
    background-position: 0 0;
    width: 24px;
    height: 30px;
}

.osh-icon-created {
    width: 30px;
    height: 35px;
    background-position: -200px 0;
}

.osh-icon-paid {
    background-position: -300px -1300px;
    width: 35px;
    height: 38px;
}

.osh-icon-delivery {
    background-position: -600px 0;
    width: 38px;
    height: 33px;
}

.osh-title {
    display: block;
    font-size: 12px;
    color: #00668c;
    text-transform: uppercase;
    padding: 10px 0 3px 0;
    font-weight: 700;
}

p.osh-descr {
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

.video-modal .modal-dialog {
    margin: 40px auto;
}

.ajcbxkqjef {
    border: 1px solid #dddddd;
    background-color: #fff;
    margin-bottom: 25px;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
    clear: both;
}

.ajcbxkqjef .qwdgfcash {
    width: 100%;
    height: 100%;
}

.switcher-companies-list {
    max-height: 300px;
    overflow-y: auto;
}

.switcher-companies-item {
    margin-bottom: 5px;
}

.switcher-companies-item-img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.switcher-companies-item a {
    padding: 0;
}

.switcher-companies-item a.active {
    color: #00b22d;
}

.switcher-companies-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.spinner-bg2 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #fff;
    z-index: 4;
}

.spinner-bg2 .fa-spinner {
    color: #777;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    font-size: 80px;
    cursor: default;
}

.more-container .show-more {
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    font-size: 14px;
}

.more-container .more {
    display: none;
}

#contract-price-checkbox + label, #free-price-checkbox + label {
    margin-bottom: 0;
    line-height: 35px;
    font-size: 18px;
}

#contract-price-checkbox + label:before, #free-price-checkbox + label:before {
    font-size: 30px;
}

.file-drop-zone-title {
    padding: 60px 10px !important;
}

form .intl-tel-input {
    display: block;
}
/*
.redactor-editor h1,
.redactor-editor h2,
.redactor-editor h3,
.redactor-editor h4,
.redactor-editor h5 {
    text-align: left;
}
*/
/************************************************************************************************************************************/

/*---------------------------*/

@media screen and (max-width: 1200px) {
    .logo-search {
        width: 350px;
    }

    .search {
        width: 170px;
    }

    #catalog-search {
        width: 40%;
        margin-left: 30%;
    }

    .mark-container {
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .block-flex, .cat-list .block-flex, .fav-page .block-flex {
        justify-content: space-around;
    }

    .bf-item, .fav-page .bf-item {
        width: 31%;
    }

    a.nav-autor {
        display: none;
    }

    a.nav-autor.modal-dismiss {
        display: inline;
    }

    .page-content .page-content-text p {
        width: 80%;
    }

    .three-blocks-container {
        padding: 0;
    }

    .btn-middle.confirm-method {
        float: none;
        width: 100%;
        display: block;
        margin-top: 8px;
    }

    .modal-dialog {
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    .page-content .page-content-text p {
        width: 90%;
    }

    .lang-change {
        display: none;
    }

    .modal-news .ujobs-ava {
        display: none;
    }

    .modal-news .right-side {
        float: none;
        text-align: center;
    }

    .modal-news .right-side .button {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
    }

    nav.top-menu {
        border-bottom: none;
    }

    nav.top-menu .nav-tabs > li:hover {
        box-shadow: none;
        padding-bottom: 1px;
    }

    nav.top-menu .nav-tabs > li {
        float: none;
        padding: 0;
        position: relative;
        height: auto;
        font-size: 16px;
        width: 100%;
        border: 1px solid #ddd;
    }

    nav.top-menu .nav-tabs > li > a {
        color: #555555;
        float: none;
        position: relative;
        background-color: #f5f4f4;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid transparent;
    }

    nav.top-menu .drop-menu {
        position: relative;
        width: 100%;
        left: 0;
    }

    nav.top-menu .nav-tabs > li > ul > li a {
        font-size: 14px;
    }

    .container-fluid > .navbar-collapse {
        margin-left: 0;
    }

    nav.top-menu .nav-tabs > li:hover:before {
        display: none;
    }

    nav.top-menu .nav li:hover .drop-menu {
        display: none;
    }

    nav.top-menu .nav li ul:first-child {
        border-right: none;
    }

    nav.top-menu .nav-tabs > li > a:hover {
        border-bottom: 1px solid #eee;
    }

    nav.top-menu .nav li ul {
        width: 100%;
        display: block;
    }

    nav.top-menu .nav-tabs li ul li a {
        width: 100%;
    }

    nav.top-menu .dropdown .fa {
        display: block;
    }

    .bf-item {
        width: 48%;
    }

    .falias {
        text-align: center;
    }

    .aside-body {
        display: none;
    }

    .search {
        width: 80%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }

    .all-content {
        padding-top: 55px;
    }

    a.logo {
        display: none;
        width: auto;
        margin: 0 auto;
    }

    a.logo, a.logo:active, a.logo:hover, a.logo:visited {
        padding: 10px 0 0 0;
        margin: 0;
    }

    .logo-search {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .nav-fixed {
        display: none;
    }

    a.logo span.bot-logo {
        display: none;
    }

    #yii-debug-toolbar {
        display: none !important;
    }

    .page-content {
        padding: 15px 10px;
    }

    h1.profileh, .profileh {
        font-size: 26px;
    }

    .nav-head-profile {
        display: none;
    }

    .by {
        line-height: 30px;
        width: calc(100% - 100px);
        height: 30px;
    }

    .reset-block {
        width: 400px;
    }

    .reset-block h1 {
        font-size: 42px;
    }

    .index-lower-benefit-block {
        padding: 10px 15px;
    }

    .block-content .mark {
        width: 500px;
    }

    .block-content .mark .btn-big {
        display: table;
        margin: 8px auto;
        float: none;
    }

    .block-content .mark .mark-small {
        display: block;
        clear: both;
    }

    .block-content .mark .mark-text {
        max-width: 380px;
    }

    .profile .ajcbxkqjef {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    a.all {
        margin-top: -30px;
    }

    .nav-right {
        text-align: right;
        margin-top: -5px;
        padding-bottom: 5px;
    }

    .push-block.fadeIn {
        flex-wrap: wrap;
    }

    .push-msg {
        width: 100%;
    }

    .push-btn {
        width: 100%;
        margin: 5px 10px 0 0;
    }
}

@media screen and (max-width: 660px) {
    .block-content .mark .mark-text {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .bf-item {
        width: 100%;
    }

    a.nav-autor[data-target="#login"] {
        display: none;
    }

    a.nav-autor {
        padding: 8px 4px;
    }

    .width480 {
        width: 100%;
    }

    .noti-block {
        width: 280px;
    }

    h1.profileh, .profileh {
        font-size: 23px;
    }

    .page-content .page-content-text p {
        width: 100%;
    }

    .reset-block {
        width: 350px;
    }

    .reset-block h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 360px) {
    .prof-menu {
        float: right;
        padding: 5px 0;
    }

    a.icon-profnav {
        width: 35px;
        line-height: 40px;
    }

    .if-full {
        right: 2px;
        top: 5px;
    }

    .reset-block {
        width: 300px;
    }

    .reset-block h1 {
        font-size: 38px;
    }
}

@media (min-width: 1024px) {
    .hidden-1024 {
        display: none;
    }

    .visible-1024 {
        display: block;
    }
}

@media (min-width: 768px) {
    .index-benefit-block h2, .index-lower-benefit-block h2 {
        font-size: 22px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
}