.mobile-menu {
    display: block;
    opacity: 0;
    background: #2e3237;
    position: fixed;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.mobile-menu.mLeft.mm-show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mobile-menu.mRight {
    width: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    padding-right: 20%;
}

.mobile-menu.mRight.mm-show {
    -webkit-transform: translate3d(20%, 0, 0);
    -moz-transform: translate3d(20%, 0, 0);
    -ms-transform: translate3d(20%, 0, 0);
    -o-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
}

.mobile-menu.mRight .btn-big {
    margin: 30px;
    padding: 0;
}

.mobile-menu .nav-links {
    margin-bottom: 20px;
    display: block;
}

.mobile-menu .nav-links a,
.mobile-menu .nav-links .select-wrap {
    font-size: 16px;
    line-height: 50px;
    color: #e5e5e5;
    height: 51px;
    padding: 0 10px 0 35px;
    position: relative;
    display: block;
    border-bottom: 1px #43474c solid;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mobile-menu .nav-links > a:before,
.mobile-menu .nav-links .select-wrap:before {
    content: '';
    background: transparent url(/images/new/mob-menu.svg) no-repeat 0 0;
    background-size: 20px 380px;
    float: left;
    margin: 15px 0 0 -25px;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.mobile-menu .nav-links > a.mm-fa:before {
    background: none;
    font-family: 'FontAwesome', sans-serif;
    margin: 0 0 0 -25px;
    font-size: 16px;
    height: auto;
    width: 25px;
    color: #e5e5e5;
}

.mobile-menu .nav-links > a.mm-fa.mm-announcement:before {
    content: '\f1ea';
}

.mobile-menu .nav-links > a.mm-fa.mm-product:before {
    content: '\f06b';
    font-size: 20px;
}

.mobile-menu .nav-links > a.mm-fa.mm-service:before {
    content: '\f0ad';
}

.mobile-menu .nav-links > a.mm-fa.mm-pro:before {
    content: '\f0c0';
}

.mobile-menu .nav-links > a.mm-fa.mm-tender:before {
    content: '\f0f6';
}

.mobile-menu .nav-links > a.mm-fa.mm-feed:before {
    content: "\f1ea";
}

.mobile-menu .nav-links > a.mm-fa.mm-message:before {
    content: '\f075';
}

.mobile-menu .nav-links > a.mm-fa.mm-noti:before {
    content: '\f0f3';
}

.mobile-menu .nav-links > a.mm-fa.mm-portfolio:before {
    content: '\f03e';
}

.mobile-menu .nav-links > a.mm-fa:before {

}

.mobile-menu .nav-links > a.mm-none:before {
    background: transparent;
}

.mobile-menu .nav-links > a.mm-signin:before {
    background-position: 0 -120px;
}

.mobile-menu .nav-links > a.mm-cats:before {
    background-position: 0 -220px;
}

.mobile-menu .nav-links > a.mm-home:before {
    background-position: 0 -200px;
}

.mobile-menu .nav-links > a.mm-dashb:before {
    background-position: 0 -240px;
}

.mobile-menu .nav-links > a.mm-fav:before {
    background-position: 0 -40px;
}

.mobile-menu .nav-links > a.mm-set:before {
    background-position: 0 -120px;
}

.mobile-menu .nav-links > a.mm-request:before {
    background-position: 0 -60px;
}

.mobile-menu .nav-links > a.mm-sales:before {
    background-position: 0 -100px;
}

.mobile-menu .nav-links > a.mm-logout:before {
    background-position: 0 -160px;
}

.mobile-menu .nav-links .select-wrap.mm-lang:before {
    background-position: 0 -300px;
}

.mobile-menu .nav-links .select-wrap.mm-cur:before {
    background-position: 0 -320px;
}

.nav-subtitle {
    background-color: #363b42;
    padding: 0 20px;
    font-size: 12px;
    line-height: 30px;
    color: #999999;
    font-weight: 500;
    text-transform: uppercase;
}

.trigger-menu {
    display: block;
    height: 47px;
    width: 50px;
    text-decoration: none !important;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    float: left;
    cursor: pointer;
    padding: 0 15px;
    margin: 0 -15px;
    z-index: 3000;
}

.logon-category-menu {
    float: right;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.logon-category-menu i {
    margin-top: 15px;
}

.trigger-menu i {
    position: relative;
    margin: 25px 0 0 0;
}

.trigger-menu i, .trigger-menu i:before, .trigger-menu i:after {
    background: #fff;
    width: 20px;
    height: 4px;
    display: block;
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.trigger-menu i:before {
    bottom: 7px;
}

.trigger-menu i:before, .trigger-menu i:after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
}

.trigger-menu i:after {
    top: 7px;
}

.m-main .logon-category-menu i {
    position: relative;
    margin: 25px 0 0 0;
}

.m-main .logon-category-menu i, .m-main .logon-category-menu i:before, .m-main .logon-category-menu i:after {
    background: #fff;
    width: 20px;
    height: 4px;
    display: block;
}

.m-main .logon-category-menu i:before {
    bottom: 7px;
    width: 18px !important;
    -webkit-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -moz-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -ms-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -o-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    transform: translate3d(8px, 2px, 0) rotateZ(45deg);
}

.m-main .logon-category-menu i:before, .m-main .logon-category-menu i:after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
}

.m-main .logon-category-menu i:after {
    top: 7px;
    width: 18px;
    -webkit-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -moz-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -ms-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -o-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
}

.m-main:before, header.m-main:before {
    content: '';
    z-index: 2000;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    top: 0;
    left: 0;
    display: block;
}

header.m-main:before {
    z-index: 2001;
}

.m-main .trigger-menu, .m-main .logon-category-menu {
    z-index: 2002;
}

.m-main .trigger-menu i {
    background: #fff;
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    box-shadow: 0 0 18px 4px rgba(255, 255, 255, 0.5);
}

.m-main .trigger-menu i:before {
    background: #fff;
    width: 18px;
    -webkit-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -moz-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -ms-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -o-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    transform: translate3d(8px, 2px, 0) rotateZ(45deg);
}

.m-main .trigger-menu i:after {
    background: #fff;
    width: 18px;
    -webkit-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -moz-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -ms-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -o-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
}

.m-main {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
}

.m-main.mainRight {
    -webkit-transform: translate3d(-80%, 0, 0);
    -moz-transform: translate3d(-80%, 0, 0);
    -ms-transform: translate3d(-80%, 0, 0);
    -o-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
}

a.mob-cat-log {
    padding: 12px;
    margin: 15px 5px -15px 0;
}

.mmhead {
    padding: 20px;
    border-bottom: 1px #43474c solid;
}

.menu-avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 30px;
    line-height: 60px;
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.menu-avatar img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

/*.menu-infoprof {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
/*}*/

.menu-nick {
    font-size: 17px;
    line-height: 20px;
    /*color: #fff;*/
    display: block;
    width: 100%;
    max-width: 150px;
    text-overflow: ellipsis;
    padding: 6px 0 7px 0;
    overflow: hidden;
}

.menu-nick a {
    color: #fff;
}

.menu-sum {
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #ddd;
    border: 1px #ddd solid;
    border-radius: 3px;
}

.mob-cat-log {
    margin: 15px 0 0 -35px;
    height: 20px;
    width: 20px;
    float: right;
    font-size: 22px;
    line-height: 20px;
    color: #fff;
}

.mob-cat-log i.fa-user {
    color: #fff;
}

.mob-cat-log i.mob-signin {
    background: transparent url(/images/new/mob-menu.svg) no-repeat 0 -220px;
    background-size: 20px 380px;
    overflow: hidden;
    height: 20px;
    width: 20px;
    display: block;
    margin: -10px 0 0 -5px;
}

.nav-links select {
    background-size: 12px 8px;
    font-size: 16px;
    color: #e5e5e5;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
    background: transparent url(/images/new/select-ar.svg) no-repeat center right 10px;
}

.nav-links select::-ms-expand {
    display: none;
}

.cats-mobile-block {
    display: block;
    width: 100%;
}

.text-chose-subc {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 20px 0;
}

.subcats-mobile-block {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.subcats-mobile-block a {
    display: block;
    color: #0e0e0f;
    font-size: 16px;
    line-height: 10px;
    font-weight: 300;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}

.subcats-mobile-block .more-less {
    font-weight: bold;
}

.mob-head {
    margin: 10px 0;
}

.block-mob {
    width: 100%;
    margin-top: 20px;
}

.select-subcat {
    /*height:50px;*/
    width: 100%;
}

.mob-work-item {
    background-color: #fff;
    padding: 10px 10px 8px 10px;
    margin-bottom: 10px;
    position: relative;
    border: 1px #dddddd solid;
    display: block;
    width: 100%;
}
/******* MOBILE JOB PRO SLIDER VERSION 1 *******/
.mob-work-sl{
    position: relative;
}

.mob-work-sl .like{
    position: absolute;
    left: 10px;
    top: 30px;
    z-index: 5;
}

.mob-work-sl .mob-work-table{
    padding: 10px 20px 10px 0;
    position: relative;
}

.mob-work-sl .mob-work-img{
    width: 200px;
    min-width: 200px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}

.mob-work-sl .by a{
    color: #fff;
}

.mob-work-sl a.block-price{
    font-size: 20px;
}

.mob-work-sl .mob-work-img:before{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.45);
    z-index: 2;
}

.mob-work-sl .mob-work-info {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 3;
    width: calc(100% - 25px);
}

.mob-work-sl .bf-descr{
    color: #fff;
    height: 40px;
}

/******* MOBILE JOB PRO SLIDER VERSION 2 *******/

.mob-work-sl-v2{
    position: relative;
}

.mob-work-sl-v2 .like{
    position: absolute;
    left: 10px;
    top: 30px;
    z-index: 5;
}

.mob-work-sl-v2 .mob-work-table{
    padding: 10px 30px 10px 0;
    width: 280px;
}

.mob-work-sl-v2 .mob-work-img{
    width: 250px;
    min-width: 250px;
    height: 250px;
    display: block;
    border-radius: 10px;
}

.mob-work-sl-v2 a.block-price{
    font-size: 24px;
    margin-top: 10px;
}

.mob-work-sl-v2 .mob-work-info {
    display: block;
    width: 100%;
}

.mob-work-sl-v2 .mob-work-info .bf-descr{
    margin: 10px 0;
    height: 50px;
    font-size: 20px;
    line-height: 25px;
}

.mob-work-sl-v2 .by{
    font-size: 16px;
    margin: 10px 0 0 0;
}

.mob-work-sl-v2 .mob-block-bottom,
.mob-work-sl-v2 .mob-work-info .rate{
    padding: 0;
}

/***********************************************/

.mob-work-item .tariff-icon {
    width: 30px !important;
    right: 0;
}

.mob-work-img {
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    width: 105px;
    min-width: 105px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

.mob-work-img img {
    width: 100%;
    max-height: 100%;
    display: block;
    z-index: 1;
}

.mob-work-item .like {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 20px;
    font-size: 1.5em;
    color: #999;
}

.mob-work-table{
    display: flex;
    flex-wrap: wrap;
}

.mob-work-info {
    width: calc(100% - 105px);
}

.mob-work-info .rate {
    float: left;
    padding: 0 12px;
    font-size: 1.2em;
}

.mob-work-info .bf-descr {
    margin-top: 0;
}

.mob-block-bottom {
    position: relative;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.mob-block-bottom .block-price {
    font-size: 16px;
    line-height: 20px;
}

.log-mobile {
    background: transparent url("/images/new/login.png") 100% 100% no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .mob-block-bottom .by{
        line-height: 20px;
        height: 20px
    }
}

@media screen and (max-width: 360px) {
    .mob-block-bottom .by{
        width: 100%;
    }

    .mob-block-bottom .block-price {
        width: 100%;
        text-align: right;
    }
}