.news-content{
  background: #ffffff;
  padding: 25px 25px;
  border: 1px solid #E5E5E5;
  margin: 30px 0;
}

.news-box img {
  max-width: 100%;
}

h1.news-title{
  font-size: 45px;
  line-height: 48px;
  color: #0e0e0f;
}

a.alias-news-comment{
  float: right;
  background: #999;
  color: #fff;
  display: block;
  position: relative;
  padding: 2px 8px;
  text-decoration: none;
  line-height: 1.5;
  margin: 7px 0 12px;
}

a.alias-news-comment:visited{ color: #fff; }
a.alias-news-comment:hover,a.alias-news-comment:focus{
  color: #fff;
  text-decoration: none;
}

.alias-news-comment:after{
  content: "";
  position: absolute !important;
  bottom: -7px;
  z-index: 100;
  border-right: 7px solid #999;
  border-bottom: 7px solid transparent;
  width: 100%;
  right: 0;
}

.news-img {
  margin-bottom: 25px;
  display: block;
  width: 100%;
}

.news-img img {
  max-height: 600px;
  max-width: 100%;
  /*width:100%;*/
  /*display: block;*/
}

.share-date{
  display: block;
}

.share{
  margin-bottom: 20px;
  padding: 0;
}

.date-post{
  margin-bottom: 18px;
  padding: 15px;
  background: #F2F2F2;
  display: table;
}

.ujobs-circle-cell{
  display: table-cell;
  vertical-align: middle;
  width:65px;
  min-width: 65px;
}
.article-avatar{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.ujobs-circle{
  width: 65px;
  height: 65px;
  line-height: 65px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  background-color: #00B22D;
  border-radius: 50%;
}

.date-cell{
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  padding: 10px;
}

.who-post{
  font-size: 15px;
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #dcdcdc;
  color: #0e0e0f;
  font-weight: bold;
  line-height: 18px;
}
.who-post a{
  color: #0e0e0f;
}
.who-post a:visited, .who-post a:hover{
  color: #0e0e0f;
}

.date-news{
  line-height: 18px;
  color: #555;
}

.news-content p, .news-content li{
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 22px;
  padding: 0;
  color: #555;
}

.news-content ol, .news-content ul {
  padding-left: 25px;
}

.news-content li {
  list-style-position: inside;
}

.news-content ul li {
  list-style-type: disc;
}

.news-content h2, .news-content h3{
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  color: #0e0e0f;
}

.news-content h3 {
  font-size: 18px;
  text-transform: initial;
  font-weight: bold;
}

.more-news{
  margin-bottom: 30px;
}

.more-news-title{
  padding: 0 10px;
  text-transform: uppercase;
  color: #162436;
  letter-spacing: 0.25em;
  line-height: 0.1em;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 1;
}

.more-news-title div{
  display: inline-block;
  background: #fff;
  z-index: 3;
  position: relative;
  padding: 0 15px;
}

.more-news-title:before{
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #162436;
  z-index: 2;
  position: absolute;
  vertical-align: middle;
  left: 0;
}

.news-list-over{
  margin-bottom: 30px;
  overflow: hidden;
}

.news-list-alias{
  overflow: hidden;
  height: 280px;
  display: block;
}

.news-list-img{
  display: block;
  height: 100%;
}

.news-list-img img{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  display: block;
  border: none;
  height: 100%;
}

.news-list-alias:hover .news-list-img img{
  transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
}

.news-list-descr {
  background: rgba(255, 255, 255, .9);
  color: #000;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 23px 0;
  min-height: 60px;
  font-size: 15px;
  line-height: 1.4em;
}

.news-tags {
  margin: 20px 0 15px 0;
  font-weight: bold;
  color: #0e0e0f;
  font-size: 14px;
  line-height: 16px;
}

.news-tags a{
  margin-right: 2px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  color: #FFF;
  background-color: #00B22D;
  white-space: nowrap;
}

.news-tags a:visited{ color: #fff; }

.news-tags a:focus,.news-tags a:hover{
  color: #fff;
  text-decoration: none;
}

.news-comtitle{
  margin: 24px 0 18px 0;
  font-size: 24px;
  line-height: 30px;
  color: #0e0e0f;
  display: block;
  font-weight: bold;
}
.news-comtitle .button.big {
  width: 175px;
  margin: 0;
}
.news-comtitle .btn-big {
  padding: 15px 30px;
}

.comment-news{
  padding: 20px 30px;
  border: none;
  background: #F3F3F3;
  margin-top: 12px;
}

.cn-date{
  font-size: 10px;
  line-height: 22px;
  color: #0e0e0f;
  display: block;
  margin-bottom: 20px;
}

.cn-author-row{
  margin: 0 0 15px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #dcdcdc;
}

.cn-author{
  float: left;
  font-size: 18px;
  color: #0e0e0f;
  font-weight: bold;
}

a.cn-reply{
  font-size: 12px;
  line-height: 11px;
  margin: 2px 6px 0 0;
  float: right;
  color: #0e0e0f;
}

a.cn-reply:visited{
  color: #0e0e0f;
}

a.cn-reply:focus,a.cn-reply:hover{
  color: #0e0e0f;
  text-decoration: none;
}

.send-news-comment .form-group label{
  margin: 10px 0;
}

.star-warning:after{
  content: ' *';
  color: #c85849;
}

.news-aside-block{
  margin-bottom: 20px;
}

.news-aside-title{
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  color: #b2b2b2;
  font-weight: bold;
}

.subscribe-form input::-webkit-input-placeholder {
  text-align: center;
  margin: 5px 0 20px 0;
}
.subscribe-form input:-moz-placeholder {
  text-align: center;
  margin: 5px 0 20px 0;
}

.subscribe-form .form-group label{
  margin: 0 0 10px 0;
  font-weight: normal;
  line-height: 16px;
}

.related-post{
  display: block;
  border-bottom: 1px dotted #CCCCCC;
  margin: 0 0 6px 0;
  padding: 6px 0;
}

.related-post-img{
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
  border: 1px solid #EEEEEE;
  padding: 3px;
  width: 60px;
  height: 60px;
  transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
}

.related-post-img a{
  overflow: hidden;
  display: block;
  height:100%;
  width:100%;
}

.related-post-img a img{
  display: block;
  height:100%;
}

a.related-alias{
  font-size: 15px;
  line-height: 20px;
  color: #00B22D;
}

a.related-alias:visited{ color: #00B22D; }

a.related-alias:focus,a.related-alias:hover{
  color: #333333;
  text-decoration: none;
}

.related-post-img:hover{
  opacity: 0.6;
}

.related-post p {
  color: #4c4c4c;
  font-size: 15px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.news-aside-follow{
  display: table;
  width:100%;
  margin-top: 30px;
}

.news-aside-soc-text{
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  font-weight: bold;
  color: #0e0e0f;
  padding-right: 10px;
  line-height: 18px;
}

a.news-aside-socials{
  display: table-cell;
  vertical-align: middle;
  padding-left: 3px;
}

a.news-aside-socials div{
  border-radius: 50%;
  background-color: #999;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 28px;
  transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
}

a.news-aside-socials:nth-child(2):hover div{
  background-color: #5074BF;
}

a.news-aside-socials:nth-child(3):hover div{
  background-color: #44B8F2;
}

a.news-aside-socials:nth-child(4):hover div{
  background-color: #F78634;
}
.news-text-side .work-share .social-share, .news-text-side .work-share .email-share,.news-text-side .work-share .link{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  margin-bottom: 10px;
}
.news-text-side .work-share .link i{
  line-height: 40px;
}
.news-text-side .work-share .social-share .fa, .news-text-side .work-share .email-share .fa{
  vertical-align: middle;
}

.mob-news{
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 11px -7px #000000;
  background: #fff;
  margin-bottom: 15px;
}

.mob-news-header{
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}

.mob-news-u-img{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.mob-news-u-img img{
  height: 100%;
  margin-left: -35%;
  display: inline-block;
  vertical-align: middle;
}

.mob-news-author{
  font-size: 18px;
  color: #555;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.mob-news-img{
  width: 100%;
  height: 250px;
  display: block;
  overflow: hidden;
}

.mob-news-img img{
  width: 100%;
  min-height: 150px;
}

.mob-news-info{
  margin-bottom: 10px;
}

.mob-news-title{
  font-size: 22px;
  line-height: 28px;
  margin: 20px 0 10px;
  color: #0e0e0f;
  display: block;
}

.mob-news-title:focus,
.mob-news-title:hover{
  color: #0e0e0f;
  text-decoration: none;
}

.mob-news-text,.mob-news-text p{
  font-size: 16px;
  color: #555;
  line-height: 20px;
  margin: 0;
}

.mob-news-comments{
  color: #555;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.mob-news-date{
  color: #999;
  font-size: 14px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin: 0 3px;
}

.mob-news-date:before,
.mob-news-date:after{
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #999;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.bf-img {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .news-list-over{
    max-width: 400px;
    float: none;
    display: block;
    margin: 0 auto 30px auto;
  }
}

@media screen and (max-width: 480px) {
  .news-list-over{
    max-width: 100%;
  }
  .news-content {
    padding: 15px 5px;
    margin: 0;
  }
  h1.news-title{
    font-size: 25px;
    line-height: 28px;
    margin-top: 0;
  }
}