.green-status {
  background-color: #00b22d;
  border-bottom-color: #01921f;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
}

.order-finished-step {
  float: left;
  height: 50px;
  padding: 15px 20px 15px 0;
  color: #fff;
  font-size: 24px;
}

.finished-steps-title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
}

.order-status {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  float: right;
  color: #fff;
}

.order-status span {
  font-weight: bold;
}

.order-status i {
  font-size: 40px;
  vertical-align: middle;
  margin: -5px 10px 0 0;
}

a.view-invoice {
  color: #b2b2b2;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 10px 0 10px 0;
  display: block;
  position: relative;
  white-space: nowrap;
  margin-top: 20px;
}

a.view-invoice,a.view-invoice:visited,a.view-invoice:hover {
  color: #b2b2b2;
}

a.view-invoice:hover {
  text-decoration: none;
}

.order-issues {
  font-size: 14px;
  background: #fff;
  padding: 20px 20px 25px 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.order-issues p {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-size: 13px;
}

.order-history {
  background-color: #fff;
  border: 1px #cccccc solid;
  border-radius: 5px;
  margin-bottom: 30px;
}

.order-history .alert-info {
  background-color: #d8f2ff;
  line-height: 20px;
  font-size: 15px;
}

.order-details {
  padding: 20px;
  display: block;
  background: url(../../images/new/wave.png) repeat-x bottom center;
}

.order-descr {
  font-size: 14px;
}

.order-descr-table {
  display: table;
  width: 100%;
}

.order-img-cell {
  display: table-cell;
  vertical-align: top;
  min-width: 105px;
  max-width: 105px;
}

.order-img {
  display: block;
  border: 1px #cccccc solid;
  background-color: white;
  width: 105px;
  height: 105px;
  overflow: hidden;
}

.order-img img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.order-info {
  display: table-cell;
  vertical-align: top;
  width: 70%;
  padding: 0 15px;
}

a.order-link {
  color: #555;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a.order-link:visited {
  color: #555;
}

a.order-link:hover,a.order-link:focus {
  color: #00B22D;
  text-decoration: none;
}

.order-opts {
  margin: 10px 0 0 0;
  display: block;
}

.order-opts-item {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 14px;
  color: #555;
  border-right: 1px #cccccc solid;
  margin-right: 8px;
  padding: 0 8px 2px 0;
}

.order-opts-item span {
  color: #999;
}

.order-opts-item:last-child {
  border-right: none;
}

.order-price {
  display: table-cell;
  vertical-align: top;
  font-size: 40px;
  line-height: 45px;
  color: #555555;
}

.order-job-table {
  display: table;
  width: 100%;
  margin: 20px 0 0 0;
}

.order-job-row {
  display: table-row;
  width: 100%;
}

.order-job-cell {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  padding: 10px 15px;
  border-bottom: 1px #dddddd solid;
}

.order-job-cell:first-child,.order-job-row:first-child .order-job-cell {
  font-weight: bold;
}

.order-job-cell:nth-child(1) {
  width: 90%;
}

.order-job-cell:nth-child(3),.order-job-cell:nth-child(4) {
  white-space: nowrap;
}

.order-job-row:first-child .order-job-cell {
  background-color: #f7f7f7;
}

.order-total {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.order-steps {
  background: url(../../images/new/wave2.png) repeat-x top center;
  padding: 15px 0 0 0;
}

.order-steps.has-warning .order-step {
  background-color: rgba(255, 255, 0, 0.1);
}

.order-steps.has-error .order-step {
  background-color: rgba(255, 0, 0, 0.1);
}

.order-step-head {
  border-bottom: 1px #e5e5e5 solid;
  padding: 20px;
  position: relative;
}

.osh-icon {
  content: "";
  background: transparent url(../../images/new/icons.png) no-repeat 0 0;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
}

.osh-icon-require {
  width: 24px;
  height: 35px;
  background-position: -550px -450px;
}

.osh-icon-created {
  width: 30px;
  height: 35px;
  background-position: -200px 0;
}

.osh-icon-paid {
  background-position: -300px -1300px;
  width: 35px;
  height: 38px;
}

.osh-icon-delivery {
  background-position: -600px 0;
  width: 38px;
  height: 33px;
}

.osh-title {
  display: block;
  font-size: 12px;
  color: #00668c;
  text-transform: uppercase;
  padding: 10px 0 3px 0;
  font-weight: 700;
}

p.osh-descr {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.order-step-body {
  display: block;
  padding: 25px 20px;
  border-bottom: 1px #e5e5e5 solid;
  position: relative;
}

.answer-table {
  display: table;
  width: 100%;
}

.answer-avatar {
  display: table-cell;
  vertical-align: top;
  max-width: 55px;
  min-width: 55px;
}

.answer-avatar a {
  height: 55px;
  width: 55px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 22px;
  line-height: 55px;
  font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.answer-avatar a img {
  height: 100%;
  display: block;
}

.answer-info {
  display: table-cell;
  vertical-align: top;
  width: 95%;
  padding-left: 20px;
}

.require-mes {
  background-color: #d5eafe;
  font-size: 14px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}

.require-mes p {
  padding: 0;
  margin: 0;
}

.require-mes:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -10px;
  top: 50%;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #d5eafe;
}

a.require-seller {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}

.require-answer {
  margin: 20px 0 0 0;
  position: relative;
}

.require-answer p {
  margin: 0 0 20px 0;
  padding: 0;
}

.order-step-date {
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #b2b2b2;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.order-step-head:hover .order-step-date,.order-step-body .order-step-date {
  opacity: 1;
}

.order-step-buyer {
  color: #0e0e0f;
  font-weight: 700;
  margin-top: -2px;
  padding-bottom: 3px;
  display: inline-block;
}

.osh-icon-start {
  background-position: -350px 0;
  width: 48px;
  height: 23px;
}

.order-attachment {
  display: block;
  margin-top: 20px;
}

.attach-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #b2b2b2;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}

.osh-icon-review {
  background-position: -500px -450px;
  width: 35px;
  height: 33px;
}

.order-rate-line {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  margin: 10px 0 0 0;
}

.order-rate-name {
  float: left;
  margin: 0 10px 10px 0;
}

.review-grey {
  background-color: #f7f7f7;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  margin: 0;
}

.my-rev-left {
  float: left;
  margin: 0 10px;
}

.my-rev-right {
  float: right;
  color: #555555;
  font-size: 22px;
  line-height: 100%;
}

.my-rev-right i {
  color: #ffc100;
}

.order-rev-time {
  color: #b2b2b2;
  font-weight: 700;
  display: inline-block;
  margin-left: 10px;
}

.order-step-review {
  padding-top: 20px;
  border-top: 1px #e5e5e5 solid;
}

.order-step-review:first-child {
  padding-top: 0;
  border-top: none;
}

.order-rate-list {
  margin: 20px 0;
  display: block;
  padding-left: 30px;
  padding-right: 20px;
}

.order-icon-completed {
  background-position: -600px 0;
  width: 38px;
  height: 33px;
}

.order-completed:before {
  background: transparent url(../../images/new/blue-waves.png) repeat-x center 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: -4px;
  left: 0;
}

.order-completed:after {
  background: transparent url(../../images/new/blue-waves.png) repeat-x center -10px;
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.order-completed {
  background-color: #d2eaff;
  position: relative;
  padding-bottom: 30px;
}

.order-completed .osh-descr {
  color: #00668c;
  text-transform: uppercase;
  font-size: 12px;
}

.order-completed .osh-title {
  background-color: #d2eaff;
  position: relative;
  z-index: 1;
}

.order-completed .osh-title:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  height: 1px;
  background-color: #00668c;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .order-details {
    padding: 5px 5px 20px 5px;
  }

  .order-img-cell {
    min-width: 50px;
    max-width: 50px;
  }

  .order-img {
    width: 50px;
    height: 50px;
  }

  .order-info {
    padding: 0 5px;
  }

  a.order-link {
    font-size: 16px;
    line-height: 16px;
  }

  .order-price {
    font-size: 25px;
    line-height: 25px;
  }

  .order-opts-item {
    border-right: none;
  }

  .order-job-cell {
    padding: 10px 5px;
  }

  .answer-info {
    padding-left: 10px;
  }

  .review-grey {
    padding: 5px 5px 0 5px;
  }

  .order-step-body {
    padding: 5px;
  }

  .order-rate-list {
    padding-left: 5px;
    padding-right: 5px;
  }

  .require-mes {
    padding: 10px;
  }
}