.pdf-container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 110%;
    font-family: Calibri, sans-serif;
}

table.rekviziti {
    border: 1px solid #333;
    margin-top: 15px;
}

table.rekviziti td {
    height: 20px;
    vertical-align: top;
    border: 1px solid #333;
    padding: 1px;
    font-size: 14px !important;
    line-height: 100%;
    font-family: Calibri, sans-serif;
}

.number-schet {
    font-size: 20px;
    padding: 20px 0 15px;
    box-sizing: border-box;
    border-bottom: 2px solid #333;
}

table.legal-contacts {
    margin: 10px 0;
}

table.legal-contacts td {
    border: none;
    padding: 10px 15px 10px 0;
    vertical-align: top;
    font-size: 12px;
    line-height: 110%;
    font-family: Calibri, sans-serif;
}

table.buy td {
    border: 1px solid #333;
    padding: 2px;
    vertical-align: top;
    font-size: 14px;
    line-height: 110%;
    font-family: Calibri, sans-serif;
    height: 20px;
}

table.buy thead th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #333;
    font-size: 14px;
    line-height: 110%;
    font-family: Calibri, sans-serif;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

line {
    border-top: 2px solid #333;
    width: 100%;
    display: block;
    margin: 40px 0 10px;
}

hr {
    color: #333;
    background-color: #333;
    border: none;
    height: 2px;
    clear: both;
    margin: 40px 0 10px;
}

table.subscribe {
    margin: 10px 0;
}

table.subscribe tr td {
    border: none;
    padding: 30px 5px 0 20px;
    vertical-align: top;
    font-size: 14px;
    line-height: 110%;
    font-family: Calibri, sans-serif;
    position: relative;
}

.subscribe-img {
    position: absolute;
    top: -40px;
    left: 90px;
    width: 60px;
}

.pechat {
    position: absolute;
    top: -20px;
    right: -150px;
    width: 130px;
}

.subscribe-img img, .pechat img {
    width: 100%;
    display: block;
}

table {
    border-collapse: collapse;
}

table.phys tr td {
    border: 1px solid #333;
    position: relative;
    padding: 10px 0 5px 0;
}

.form-name {
    font-size: 11px;
    text-align: right;
    font-style: italic;
}

table.kvit-row tr td {
    height: 20px;
    padding: 1px 0;
    border: none;
    vertical-align: top;
}

.kvit-description {
    font-size: 11px;
    height: 10px !important;
    line-height: 10px;
}

table.cells {
    border-collapse: collapse;
    display: inline-table;
    vertical-align: top;
}

table.cells tr td {
    padding: 0;
    height: 15px;
    width: 13px;
    border: 1px solid #333;
    text-align: center;
}

.column-type table tr td {
    border: none;
}

.wrap-doc {
    width: 1280px;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    font-family: 'Times New Roman';
    font-size: 14pt;
    text-align: left;
    color: #000;
}

.wrap-doc p {
    font-family: 'Times New Roman';
    font-size: 13pt;
    text-indent: 40px;
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #000;
}

.wrap-doc .title1 {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    margin: 50px 0 20px 0;
}

.wrap-doc .title2 {
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
}

.wrap-doc .right-head {
    width: 50%;
    float: right;
}

.wrap-doc .rh-items {
    font-family: 'Times New Roman';
    font-size: 13pt;
    text-align: left;
    display: block;
}

.wrap-doc .rh-item span, .wrap-doc p span, .wrap-doc .bold {
    font-weight: bold;
}

.wrap-doc .clear {
    clear: both;
}

.wrap-doc ol {
    list-style: none;
    counter-reset: point;
    margin: 0;
    padding: 0;
    text-align: left;
}

.wrap-doc ol li {
    font-family: 'Times New Roman';
    font-size: 13pt;
    text-align: left;
    display: block;
    display: flex;
}

.wrap-doc ol li:before {
    content: counter(point) ") ";
    counter-increment: point 1;
    margin: 0 5px 0 0;
}

.wrap-doc ol.bold li, .wrap-doc ol.bold li:before {
    font-weight: bold;
}

.end-doc {
    display: block;
    margin: 30px 0 0 0;
}

.ed-left {
    width: 50%;
    display: block;
    float: left;
}

.ed-right {
    width: 50%;
    float: right;
    height: 20px;
}

.subscr {
    width: 250px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px solid #000;
}

.name {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 20px;
}

.right-form {
    font-size: 10pt;
}