.portfolio-grid {
    position: relative;
    width: 102%;
    margin: 0 -1%;
    letter-spacing: -0.32em;
}

.portfolio-grid > div {
    letter-spacing: normal;
}

.pg-item {
    padding: 0 1%;
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

.pg-item .block-bottom {
    justify-content: normal;
}

.pg-over {
    background-color: #fff;
    margin: 0 10px 20px 0;
    padding: 0 0 10px 0;
    position: relative;
    border: 1px #e5e5e5 solid;
    width: 100%;
}

.pg-over .block-bottom {
    z-index: initial;
}

p.portfolio-description {
    padding: 0 10px;
    font-size: 14px;
}

.album-modal {
    border: 0 none;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0 50px;
    z-index: 5000;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);

}

.album-watch {
    padding-top: 30px;
}

.album-content {
    border-radius: 3px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 150px;
    width: 100%;
    max-width: 1400px;
    position: relative;
}

.album-main-side {
    background-color: #EDEDED;
    max-width: 1400px;
    margin-right: 280px;
}

.album-author-side {
    background: #fafafa;
    border-left: 1px solid #e8e8e8;
    border-radius: 0 3px 3px 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
}

.album-main-side .photo {
    width: 100%;
    margin-bottom: 30px;
    display: block;
}

.album-main-side .photo img {
    width: 100%;
    display: block;
}

.album-side-block {
    padding: 20px;
    width: 100%;
    word-wrap: break-word;
    border-bottom: 1px solid #e8e8e8;
}

.album-follow {
    display: flex;
    justify-content: space-between;
}

.af-button {
    margin-right: 10px;
}

.af-button .button {
    margin: 0;
}

.af-name {
    display: block;
    color: #0e0e0f;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.af-name:hover, .af-name:focus {
    color: #0e0e0f;
}

.af-ava {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    max-width: 50px;
}

.af-ava img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.album-side-block .album-title {
    text-transform: uppercase;
    font-size: 16px;
    color: #0e0e0f;
    margin-bottom: 5px;
    line-height: 20px;
    font-weight: bold;
}

.album-options {
    display: block;
    margin: 10px 0;
}

.album-mobile-author .people-likes {
    right: auto;
    left: -70px;
}

.album-mobile-author .people-likes:before {
    right: auto;
    left: 90px;
}

.album-publish {
    font-size: 12px;
    color: #a4a4a4;
}

.sticky-top {
    position: absolute;
    top: 0;
    width: 280px;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 280px;
}

.sticky-bottom .work-share {
    padding-bottom: 80px;
}

.like-album {
    padding: 20px;
}

.like-album a {
    width: 100% !important;
    margin: 0;
}

.like-album a i {
    margin-right: 10px;
}

.album-side-block .cat-related {
    padding: 0;
    height: auto;
    overflow: auto;
}

.pg-item .cat-related {
    padding: 0 12px;
    height: auto;
    overflow: auto;
}

.album-bottom-info {
    margin-bottom: 50px;
}

.album-info-head {

}

.album-head-opts {
    align-items: center;
    background: #212121;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 25px;
}

.album-head-right a {
    color: #b8b8b8;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 15px;
}

.album-head-right a i {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
}

.album-head-right a:hover,
.album-head-right a:focus {
    color: #b8b8b8;
    text-decoration: none;
}

.album-info-author {
    background: #161616;
    padding: 25px;
    display: table;
    width: 100%;
}

.album-info-right {
    display: table-cell;
    vertical-align: middle;
}

.album-info-left {
    display: table-cell;
    vertical-align: top;
}

.album-info-author-table {
    display: table;
    vertical-align: top;
}

.album-author-ava {
    display: table-cell;
    vertical-align: top;
}

.album-author-ava div {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.album-author-ava div img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.album-author-contact {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}

.album-author-name {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.album-author-name:hover,
.album-author-name:focus {
    color: #fff;
    text-decoration: underline;
}

.album-author-address {
    color: #b8b8b8;
    margin-bottom: 10px;
    font-size: 14px;
}

.album-author-address i {
    color: #777;
    font-size: 12px;
    margin-right: 5px;
}

.album-author-buttons i {
    font-size: 20px;
    margin-right: 10px;
}

.album-author-buttons a {
    margin-bottom: 10px;
}

.full-profile {
    color: #a4a4a4;
    font-size: 18px;
    display: block;
}

.full-profile:hover,
.full-profile:focus {
    color: #a4a4a4;
    text-decoration: underline;
}

.other-albums {
    background: #212121;
    /*height: 450px;*/
    padding: 50px 25px 50px 25px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.other-albums .bf-item {
    width: 18%;
    margin-right: 2%;
    margin-bottom: 50px;
}

.album-small-block {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 25px 30px;
}

.album-sb-head {
    color: #0e0e0f;
    font-size: 18px;
    padding-bottom: 17px;
}

.album-sb-body, .album-sb-body p {
    font-size: 13px;
    color: #555;
}

.album-sb-body p {
    margin: 0 0 15px 0;
    padding: 0;
}

.tools-icons {
    margin-bottom: 15px;
}

.tools-item {
    max-height: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
}

.tools-item img {
    height: 100%;
    width: 30px;
}

.tools-list {

}

.tools-list a {
    color: #555;
    font-size: 15px;
}

.tools-list a:hover,
.tools-list a:focus {
    color: #555;
    text-decoration: underline;
}

.album-mobile-author .album-follow {
    display: table;
    width: 100%;
}

.album-mobile-author .af-ava,
.album-mobile-author .af-button,
.album-mobile-author .af-name {
    display: table-cell;
    vertical-align: middle;
}

.album-mobile-author .af-name {
    padding-left: 10px;
}

.album-mobile-author .album-side-block {
    padding: 15px;
}

.album-arrow {
    width: 40px;
    height: 40px;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.2);
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.25s ease-in-out, margin 0.25s ease-in-out;
    transition-property: background, margin;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease-in-out
}

.album-arrow svg {
    fill: #fff;
    width: 10px;
}

.album-prev {
    left: 5px;
}

.album-next {
    right: 22px;
}

.album-arrow:hover,
.album-arrow:focus {
    background-color: rgba(105, 105, 105, 0.4);
}

.album-go-back {
    height: 30px;
    display: block;
    position: fixed;
    top: 30px;
    left: 50px;
}
.album-go-back:hover, .album-go-back:focus, .album-go-back:visited {
    color: #fff;
}
.album-go-back svg {
    fill: #fff;
    width: 8px;
}
.album-go-back span {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}


.like-album-big {
    padding: 55px 0 70px;
}

.like-album-big div {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.like-svg-over {
    fill: #8dc63f;
    height: 90px;
    width: 90px;
}

.like-svg-over:hover {
    fill: #81a550;
    height: 90px;
    width: 90px;
}

.like-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    left: 0;
    margin: 0 auto 0 29px;
    padding-bottom: 1px;
    right: 0;
    width: 35px;
    fill: #fff;
}

.mobile-other-albums {
    background: #212121;
    padding: 15px;
}

.other-albums-table {
    display: table;
    width: 100%;
}

.other-albums-table a {
    display: table-cell;
    padding: 3px;
    width: 33%;
    max-width: 33%;
}

.other-albums-table a img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

.full-profile-mobile {
    background: #262626;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 32px;
    margin-top: 10px;
    width: 100%;
}

@media screen and (max-width: 1366px) {

    .other-albums .bf-item {
        width: 23%;
    }

    .gigs-list .bf-item {
        width: 31%;
    }
}

@media screen and (max-width: 1200px) {
    .other-albums .bf-item {
        width: 31%;
    }
}

@media screen and (max-width: 1024px) {
    .pg-item {
        width: 33.3%;
    }
}

@media screen and (max-width: 992px) {
    .pg-item {
        width: 50%;
    }

    .other-albums .bf-item {
        width: 48%;
    }

    .other-albums {
        justify-content: space-between;
    }

    .album-author-side {
        display: none;
    }

    .album-main-side {
        margin-right: 0;
    }

    .album-info-right {
        display: none;
    }

    .album-head-right a span {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .other-albums .bf-item {
        width: 31%;
    }

    .album-info-author {
        padding: 25px 10px;
    }

    .album-author-ava div {
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width: 600px) {
    .album-modal {
        padding: 0 20px;
    }

    .album-head-opts {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .pg-item {
        width: 100%;
    }
}