.time-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -10px;
}

.time-options input[type="radio"] {   display:none;}
.time-options input[type="radio"] + label{
  width: auto;
  cursor: pointer;
}
.time-options input[type="radio"]:checked + label:before,
.time-options input[type="radio"] + label:before{ display: none; }
.time-options input[type="radio"] + label span.ctext,a.butlikeradio{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
  margin: 0 10px;
  width: 110px;
  background: #fff ;
  font-family: "HelveticaNeueCyrRoman", serif;
  color: #777777;
  border: 1px #cccccc solid;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

.time-options input[type="radio"] + label span.ctext:hover,
.butlikeradio:hover{
  color: #00b22d;
  border: 1px #b3b3b3 solid;
  text-decoration: none;
}

.time-options input[type="radio"]:checked + label span.ctext{
  background: #00b22d;
  border-color: #00931e;
  color: #fff;
  font-weight: 700;
}

.nav-main-prof {
  background: #fff;
  border-bottom: 1px solid #dddddd;
  padding: 0 20px;
  top: 60px;
  z-index: 500;
  width: 100%;
}

.profile {
  display: block;
  width: 100%;
  padding-top: 50px;
}

.formpost-block{
  padding: 20px 40px 30px 40px;
  position: relative;
}

.formpost-block:last-child{
  border-bottom: 1px #e3e3e3 solid;
  border-top: none;
}

.er-input{
  border: 1px solid #ff4d4d;
}

.file-upload {
  display: block;
  position: relative;
  width: 100%;
}

.fileup > mark {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #999;
  font-weight: normal;
  vertical-align: top;
  font-size: 13px;
  background-color: transparent;
}

.file-upload .button {
  height: 30px;
  float: left;
  padding: 0 10px;
  border: 1px #b2b2b2 solid;
  font-weight: 700;
  color: #303030;
  font-size: 13px;
  line-height: 30px;
  background: linear-gradient(#fff, #f5f5f5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
}

.file-upload input[type=file] {
  position: absolute;
  top: 0;
  opacity: 0;
  display: none;
}

.file-upload .button:hover {
  color: #00b22d;
}

.fileup .fa {
  color: #b2b2b2;
  font-size: 16px;
  margin: 0 5px 0 0;
}

.profile .form-group label {
  font-size: 15px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 18px;
}


.profile .form-group .set-title label {
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #777777;
  padding-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.profile .form-group label.file-upload {
  min-height: 30px;
  width: 105px;
  display: inline-block;
}

.form-box {
  position: relative;
  padding-left: 45px;
}

.form-box.money:before {
  content: "\f0d6" !important;
}

.form-box.time:before {
  content: "\f017" !important;
}

.formpost .form-box:before {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 1;
  color: #11d5ea;
  top: 0;
  left: 0;
  display: block;
  font: normal normal normal 30px/1 FontAwesome;
}

.formpost .formpost-block:first-child .form-box:before{
  content: "\f0f6";
}

.formpost .formpost-block:nth-child(4) .form-box:before{
  content: "\f115";
}

.formpost .formpost-block:nth-child(2) .form-box:before{
  content: "\f0f6";
}

.formpost .formpost-block:nth-child(3) .form-box:before{
  content: "\f03e";
}

.formpost .formpost-block:nth-child(5) .form-box:before{
  content: "\f017";
}

.formpost .formpost-block:nth-child(6) .form-box:before{
  content: "\f0d6";
}

.dollar input{
  position: relative;
  padding-left: 25px;
}

.dollar:after{
  content: '$';
  color: #777777;
  position: absolute;
  top: 10px;
  left: 53px;
  z-index: 10;
  font-size: 16px;
}

.per50{
  width: 49%;
}

input[type="number"].inputlikeradio{
  width: 110px;
  font-size: 13px;
  display: none;
  margin: 0 10px;
  line-height: 25px;
}

.inputlikeradio::-webkit-input-placeholder { font-size: 13px; }
.inputlikeradio:-moz-placeholder { font-size: 13px; }

.notes {
  position: absolute;
  top: 0;
  background-color: #deeff0;
  display: block;
  padding: 17px 15px;
  z-index: 3;
  opacity: 0;
  border-radius: 2px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  left: 50px;
}

.notes-head {
  display: block;
}

.notes-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  color: #303030;
  margin: 0 0 0 10px;
  display: inline;
  vertical-align: middle;
}

.notes-descr {
  padding: 12px;
  display: block;
}

.notes p {
  line-height: 18px;
  color: #303030;
  padding: 0;
  margin: 0;
}

.example{
  border: 1px solid #78cdd2;
  border-radius: 5px;
  padding: 12px;
}

.example span {
  color: #0097a7;
  font-weight: 700;
}
.formgig-block:hover .notes,.additional-gig-item:hover .notes,.show-notes:hover .notes, .formpost-block:hover .notes {
  opacity: 1;
}

.show-notes {
  position: relative;
}

.lamp {
  display: inline-block;
  vertical-align: middle;
  background-color: #78CDD2;
  border-radius: 50%;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 30px;
}

input[type="submit"] {
  font-size: 16px;
  line-height: 18px;
  padding: 9px 30px;
  font-weight: 700;
  text-transform: none;
  color: #fff !important;
  border: 1px solid #00b22d;
  background: -webkit-linear-gradient(#35c350, #03b525);
  background: -moz-linear-gradient(#35c350, #03b525);
  background: -o-linear-gradient(#35c350, #03b525);
  background: linear-gradient(#35c350, #03b525);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}

input[type="submit"]:hover,input[type="submit"]:focus {
  color: #fff;
  border-color: #007e20;
  text-decoration: none;
}

input[type="submit"].post {
  float: right;
  display: block;
  margin: 0 0 0 0;
}

.prof-aside-block.waller-referral {
    margin: 40px 0 0;
}
.prof-aside-block.waller-referral .referral-link-block{
    width: 100%;
}
.prof-aside-block.waller-referral .clipboard{
    color: #555;
    border: 1px solid;
}

.aside-post .referral-icon {
  background: transparent url(/images/new/networking.png) no-repeat center/ cover;
}

.transfer-confirm-modal .modal-body p{
    font-size: 16px;
    margin-bottom: 5px;
}
.transfer-confirm-modal .modal-body p span{
    font-weight: bold;
}

.prof-avatar {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 24px;
  line-height: 80px;
  font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.prof-avatar img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.prof-right-al {
  display: block;
}

.prof-right-al a {
  color: #00698c;
  line-height: 18px;
  font-size: 15px;
  border-bottom: 1px solid #f4f4f4;
  padding: 6px 0;
  display: block;
}

.prof-right-al a:visited {
  color: #00698c;
}

.prof-right-al a:hover {
  color: #00698c;
  text-decoration: none;
}

.dashboards-tabs {
  border-bottom: 1px #dddddd solid;
  width: 100%;
  background-color: transparent;
}

.dashboards-tabs li {
  border: none;
  margin-bottom: 0;
  margin-right: 5px;
  position: relative;
  background-color: transparent;
}

.dashboards-tabs li.active a,.dashboards-tabs li a:hover,.dashboards-tabs li.active a:hover,.dashboards-tabs li:focus,.dashboards-tabs li a:focus {
  color: #0e0e0f;
  background-color: transparent !important;
  border: none !important;
}

.dashboards-tabs li.active .not-count,.dashboards-tabs li a:hover .not-count {
  background-color: #00b22d;
}

.dashboards-tabs li a {
  display: block;
  padding: 3px 5px 10px 5px;
  color: #999999;
  font-size: 14px;
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.dashboards-tabs li.active:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -1px;
  border-bottom: 9px solid #f7f7f7;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  margin-left: -4px;
}

.dashboards-tabs li.active:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin: 0;
  border-bottom: 10px solid #dddddd;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  display: block;
  margin-left: -5px;
}

.tab-content {
  width: 100%;
  padding: 25px 15px 35px 15px;
  background-color: #fff;
  margin: 15px 0 60px 0;
  border: 1px solid #dddddd;
}

.all-messages {
  margin: 15px 0 60px 0;
}

/*********************Mobile Messages**********************/

.messages-mobile {
  border-top: solid 1px #8dc63f;
  padding-bottom: 20px;
}

.imobile-item {
  padding: 10px 40px 10px 0;
  border-bottom: solid 1px #8dc63f;
  display: table;
  width: 100%;
  position: relative;
}

.imobile-avatar {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
  max-width: 65px;
}

.imobile-avatar a {
  border-radius: 50%;
  background-color: white;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.imobile-avatar a img {
  max-width: 50px;
  max-height: 50px;
}

.imobile-info {
  display: table-cell;
  vertical-align: top;
  width: 90%;
}

.imobile-sender {
  font-size: 15px;
  padding-bottom: 7px;
}

.imobile-sender a,.imobile-sender a:focus,.imobile-sender a:hover {
  color: #8dc63f;
}

.inbox .navbar-toggle:hover,.inbox .navbar-toggle:focus {
  background-color: transparent;
}

.inbox .navbar-toggle {
  border-color: transparent;
  z-index: 100;
  float: left;
  background-color: transparent;
  margin-left: 0;
  position: absolute;
  top: -60px;
  right: 20px;
}

.inbox .navbar-collapse.in {
  overflow-y: hidden;
}

.imobile-empty {
  padding: 20px 0;
  font-size: 14px;
  border-bottom: solid 1px #8dc63f;
}

/*******************End Mobile Messages********************/

/********************Mobile Job Tables*********************/
.jobs-table-mobile {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 20px;
}

.jobs-table-mobile .pagination{
  padding: 0 15px;
}

.jobMobile-item{
  padding: 0 15px;
  border-bottom: 1px solid #8dc63f;
}

.jm-option {
  display: table;
  width: 100%;
  padding: 10px 0;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
}

.jobs-table-mobile .jobMobile-item:last-child {
  border-bottom: none;
}

.jobMobile-item .jm-option:last-child{
  border-bottom: none;
}

.jm-img{
  display: table-cell;
  vertical-align: top;
  width: 50px;
  min-width: 50px;
  padding: 10px 0;
}

.jm-img a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  color: #8dc63f;
}

.jm-img a:focus,.jm-img a:hover{
  text-decoration: underline;
  color: #8dc63f;
}

.jm-img a img{
  height: 100%;
  display: block;
}

.jm-name{
  display: table-cell;
  vertical-align: top;
  padding: 15px 0 10px 10px;
  width: 99%;
  font-size: 17px;
  line-height: 20px;
  position: relative;
}

.jm-edit .jm-name{
  padding-right: 40px;
}

.jm-name .tg-opt{
  position: absolute;
  right: 0;
  top: 10px;
}

.jm-optionName{
  display: table-cell;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  color: #0e0e0f;
  padding: 10px 0;
  text-transform: lowercase;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.jm-optionParam{
  display: table-cell;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0 10px 10px;
  text-transform: lowercase;
  width: 50%;
}

.inbox-background .profileh{
  padding-right: 60px;
}

/*******************End Mobile Job Tables******************/

.notis-item {
  display: table-row;
}

.dashboards {
  padding: 0;
}

.notis-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.notis-item {
  display: table-row;
  width: 100%;
  min-height: 90px;
  height: 90px;
  vertical-align: middle;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
}

.notis-item:last-child {
  border-bottom: none;
}

.notis-ico {
  padding-right: 15px;
  padding-left: 20px;
}

.notis-ico div {
  width: 26px;
  height: 26px;
  background: transparent url("../../images/new/prof-icon.svg") no-repeat 0 0;
  background-size: 100px 200px;
  margin-right: 5px;
  display: table-cell;
  vertical-align: middle;
}

.notis-text {
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
}

.notis-text a,.notis-text p {
  color: #303030;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.notis-text a:visited,.notis-text a:hover {
  color: #303030;
  text-decoration: none;
}

.notis-but {
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
}

.notis-item:hover {
  background-color: #f5fbfc;
}

.notis-item:hover .notis-text a {
  color: #00698c;
}

.empty-noti {
  background-color: #fff;
  padding: 70px 0;
}

.not-count {
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
}

.notis-but .btn-middle {
  display: inline-block;
}

.bell {
  margin: 0 auto 10px auto;
  display: block;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  line-height: 55px;
  color: #5a5a5a;
  border-radius: 50%;
  font-size: 26px;
}

.en-title {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0e0e0f;
  padding-bottom: 5px;
}

.en-text {
  font-weight: 400;
  color: #b2b2b2;
  display: block;
  font-size: 15px;
  line-height: 20px;
}

.greybg {
  background-color: #f7f7f7;
}

.buy-sell-over {
  margin: 15px 0;
}

.buy-sell {
  position: relative;
  overflow: hidden;
  height: 275px;
  display: block;
}

.buy-sell:before {
  content: "";
  background: #1f1f1f;
  opacity: 0.1;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.buy-sell img {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

nav.profa-menu {
  background: transparent;
  border: none;
}

.other-settings {
  float: left;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}

nav.profa-menu .nav-tabs > li {
  float: left;
  padding: 0;
  position: relative;
  height: auto;
  font-size: 13px;
  line-height: 16px;
  color: #999;
  border: none;
  border-radius: 0;
  width: 100%;
}

.settings nav.profa-menu .nav-tabs > li {
  width: auto;
  margin: 0 15px 0 0;
}

nav.profa-menu .nav-tabs > li > a {
  border: none;
  color: #999;
  border-radius: 0;
  padding: 0 0 10px 0;
  display: block;
  float: none;
  text-decoration: none;
  background-color: transparent;
  margin-right: 0;
}

nav.profa-menu .nav-tabs > li.active > a:hover,nav.profa-menu .nav-tabs > li.active > a:focus {
  color: #0e0e0f;
  background-color: inherit;
  border: none;
}

nav.profa-menu .nav-tabs li a:hover {
  color: #777;
}

nav.profa-menu .nav li a.active {
  text-decoration: none;
  background-color: transparent;
  color: #0e0e0f;
}

nav.profa-menu .nav-tabs > li.active > a {
  color: #000;
}

.settings {
  padding-top: 50px;
  min-height: 450px;
}

.settings-content {
  background-color: #fff;
  border: 1px #e5e5e5 solid;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
}

.settings-content .confirm-block {
  display: none;
}

.confirm-block .token-input {
  display: inline-block;
  width: calc(100% - 140px);
}

.confirm-block .btn-middle {
  float: right;
}

.settings-content ul.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.settings-content ul.nav-tabs li {
  margin: 0;
  padding: 0;
}
.settings-content ul.nav-tabs li:before {
  content: '';
}
.settings-content ul.nav-tabs li:not(.active) a, .settings-content ul.nav-tabs li:not(.active) a:hover{
  color: #337ab7;
}
.settings-content .tab-content {
  margin: 0;
  padding: 0 15px;
  border: none;
}

.settings-content .redactor-box ul.redactor-toolbar li:before {
  content: '';
}

.settings-content .redactor-box ul.redactor-toolbar li {
  display: inline-block;
}

.set-item {
  margin-bottom: 25px;
  display: block;
}

.set-title {
  display: block;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #777777;
  padding-top: 5px;
  margin-bottom: 10px;
}

.profile .tab-content .set-title label {
  font-size: 16px;
  font-weight: normal;
}

.set-descr {
  line-height: 15px;
  font-size: 13px;
  padding-top: 3px;
  color: #777777;
  display: block;
  margin-top: -10px;
}

.lang-com-item{
  margin: 0 0 10px 0;
  padding: 0 0 0 30px;
  position: relative;
}

.del-lang {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 15px;
  color: #bcbcbc;
  cursor: pointer;
}

.input-auto {
  width: 200px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 100%;
}

.input-auto input {
  margin-bottom: 10px;
}

.counttext {
  color: #999999;
  font-size: 13px;
  margin-top: 10px;
  float: right;
}

.counttext {
  color: #999999;
}

.group-set {
  border-bottom: 1px solid #ddd;
  padding: 20px 0 5px 0;
}

.settings-content p {
  font-size: 14px;
  line-height: 17px;
  color: #777777;
  padding: 0 0 10px 0;
  display: block;
  width: 100%;
  margin: 0;
}

a.grey-but {
  height: 35px;
  width: 230px;
  max-width: 100%;
  padding: 0 10px;
  border: 1px #b2b2b2 solid;
  font-weight: 400;
  color: #777;
  font-size: 13px;
  line-height: 35px;
  background: linear-gradient(#fff, #f5f5f5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
}

a.grey-but:hover {
  color: #00b22d;
  text-decoration: none;
}

a.grey-small {
  width: auto;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
}

a.grey-middle {
  width: auto;
  height: 38px;
  line-height: 18px;
  font-size: 16px;
  padding: 9px 30px;
}

input[disabled] {
  border-color: #dddddd !important;
  background: #dddddd !important;
  color: #999 !important;
  font-weight: 400;
}

.settings-content ul li,.notes ul li {
  margin: 5px 0;
  display: block;
  padding-left: 15px;
  position: relative;
  font-size: 13px;
}

.settings-content  ul li:before,.notes ul li:before {
  content: '●';
  font-size: 13px;
  left: 0;
  position: absolute;
  top: 0;
}

.notes ol li {
  margin: 5px 0;
  padding-left: 15px;
  font-size: 13px;
}

.start {
  display: block;
}

.edit,.remove {
  display: none;
}

.fav-page{
  border: none;
  background-color: transparent;
  padding: 0;
}

.fav-page .bf-item{
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}

.worker-info-title .fa {
  color: #999;
  font-size: 16px;
  margin: 0 0 0 10px;
}

.worker-info-title span {
  position: relative;
}

.worker-info-block form {
  display: none;
  margin-top: 5px;
}

.worker-info-title [data-hint]::after {
  min-width: 200px;
}

.save.hint--top:after {
  white-space: nowrap;
}

a.edit-alias {
  color: #00698C;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

a.edit-alias:visited {
  color: #00698C;
}

a.edit-alias:hover {
  color: #00698C;
  text-decoration: underline;
}

.form-eform{
  background-color: #F4F4F4;
  border: 1px solid #e5e5e5;
  margin: 0 -30px 20px -30px;
  padding: 20px;
  border-radius: 3px;
}

.form-eform .input-auto{ width: 100%; }

.form-eform input[type="text"] { margin-bottom: 10px; }

.form-eform .form-group input[type="text"] {
  margin: 0;
}

.worker-info-item:hover .edit-prof-icons {
  display: inline-block;
}

.edit-prof-icons {
  vertical-align: middle;
  display: none;
  line-height: 15px;
}

.edit-prof-icons span {
  position: relative;
}

.edit-prof-icons a {
  margin-left: 5px;
  color: #999;
}

.edit-prof-icons a:hover,.edit-prof-icons a:focus {
  color: #00b22d;
  text-decoration: none;
}

.no-gigs {
  background: transparent url(../../images/new/nogig.png) no-repeat center bottom 70px;
  display: block;
  height: 400px;
  padding: 30px 0 20px 0;
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
}

.bottom-gig {
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 20px;
  position: relative;
}

.online-status {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding: 0 0 0 25px;
  position: relative;
}

.vac-mode{
  float: right;
  margin-top: 15px;
}

.vac-text{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: #0e0e0f;
  margin-right: 5px;
}

.vac-select{
  border-bottom: 1px #dddddd solid;
  padding: 15px 0;
  margin-bottom: 15px;
}

.vac-sel-item{
  display: block;
  margin-bottom: 15px;
}


.table-viewgigs {
  border-collapse: collapse;
  width: 100%;
}

.table-viewgigs tr {
  border: 1px solid #e5e5e5;
}

.table-viewgigs td {
  padding: 10px 15px 10px 0;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.table-viewgigs tr:first-child td {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999999;
  line-height: 150%;
  min-width: 65px;
}

.table-viewgigs td:first-child {
  padding-left: 20px;
}

.head-viewgigs {
  font-size: 14px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #0e0e0f;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  margin: 0;
  background-color: #fff;
}

.tab-gigs {
  background: #fff;
  padding: 0 15px;
}

.tab-gigs li a {
  border: none;
}

.tab-gigs li a {
  font-size: 17px;
  padding: 5px 0;
}

.check-star {
  min-width: 90px;
}

.tg-img {
  float: left;
  margin-right: 12px;
  border-radius: 3px;
  background-color: white;
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.tg-img img {
  max-width: 40px;
  max-height: 40px;
}

.tg-opt{
  background-color: #fff;
  position: relative;
  color: #777777;
  line-height: 30px;
}

.tg-opt.tg-open .tg-opt-block{
  display: block;
}

.tg-optbut{
  border: 1px #b2b2b2 solid;
  cursor: pointer;
  border-radius: 3px;
  z-index: 5;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.tg-opt-block{
  background-color: #fff;
  position: absolute;
  top: -2px;
  right: 15px;
  z-index: 10;
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  border: 1px #cccccc solid;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.tg-opt-block a{
  display: block;
  padding: 6px 10px;
  color: #777;
  line-height: 14px;
}

.tg-opt-block a:visited{
  color: #777;
}

.tg-opt-block a:hover{
  color: #00B22D;
  text-decoration: none;
}

.table-viewgigs tr:hover {
  background-color: #f5fbfc;
}

.table-viewgigs tr:first-child:hover {
  background-color: #fff;
}

a.tg-name,.tg-name {
  max-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  margin: 0;
  white-space: normal;
}

a.tg-name,a.tg-name:visited {
  color: #0e0e0f;
}

a.tg-name:hover {
  color: #00698c;
  text-decoration: none;
}

.allgigs {
  padding: 0;
  border: none;
}

.allgigs-tabs {
  min-width: 850px;
  width: 100%;
}

.inbox-margin0 {
  margin-top: 0;
}

.inbox-content {
  min-width: 570px;
}

/*************inbox order**************/

.message-item {
  background-color: #f7f7f7;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.message-head {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.message-content p {
  margin: 0;
  padding: 0;
}

.message-box {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  padding-bottom: 20px;
  padding-right: 20px;
}

.message-content {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.message-details {
  padding: 15px;
  color: #999999;
}

.details-text {
  display: inline-block;
  min-width: 100px;
  padding-right: 20px;
  vertical-align: top;
  margin-bottom: 10px;
  font-weight: bold;
}

a.offer-item {
  overflow: hidden;
  color: #0e0e0f;
  display: block;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: height 0.2s,border-width 0.2s;
  -moz-transition: height 0.2s,border-width 0.2s;
  -o-transition: height 0.2s,border-width 0.2s;
  transition: height 0.2s,border-width 0.2s;
}

a.offer-item:hover,a.offer-item:focus {
  text-decoration: none;
}

a.offer-item:last-child {
  border-bottom: none;
}

.offer-item-choose {
  display: table;
  width: 100%;
  padding: 20px;
}

.offer-img {
  display: table-cell;
  vertical-align: middle;
  width: 75px;
  min-width: 75px;
}

.offer-img div {
  width: 75px;
  max-height: 75px;
  overflow: hidden;
}

.offer-img img {
  width: 100%;
  display: block;
}

.offer-title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.offer-title p {
  font-size: 14px;
  line-height: 20px;
  color: #0e0e0f;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.offer-submit {
  padding: 0 20px 20px 20px;
  border-top: 1px solid #dddddd;
}

a.back-grey {
  display: none;
  font-size: 14px;
  color: #999999;
  margin-top: 25px;
}

a.back-grey:visited {
  color: #999999;
}

a.back-grey:hover,a.back-grey:focus {
  color: #999999;
  text-decoration: underline;
}

.offer-edit-table {
  display: table;
  width: 100%;
  padding: 20px;
}

.offer-edit-img {
  display: table-cell;
  vertical-align: top;
  width: 130px;
  min-width: 130px;
}

.offer-edit-img div {
  width: 130px;
  max-height: 130px;
  overflow: hidden;
}

.offer-edit-img img {
  width: 100%;
  display: block;
}

.offer-edit-descr {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  width: 95%;
}

.offer-edit-block p {
  font-size: 14px;
  line-height: 20px;
  color: #0e0e0f;
  margin: 0;
  padding: 10px 20px 0 20px;
  font-weight: bold;
}

/**************************************/

.modal-big {
  width: 600px !important;
}

.grey-but.del-gigs {
  display: none;
  margin-top: 5px;
}

.over-allgigs-tabs {
  overflow-x: auto;
}

.search-gigs {
  float: right;
  position: relative;
}

.search-gigs input[type="search"] {
  background: transparent;
  width: 170px;
  padding: 7px 25px 7px 3px;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  -webkit-transition: border-color 0.2s, width 0.2s;
  -moz-transition: border-color 0.2s, width 0.2s;
  -o-transition: border-color 0.2s, width 0.2s;
  transition: border-color 0.2s, width 0.2s;
}

.search-gigs input[type="search"]:focus {
  width: 220px;
  box-shadow: none;
  border-bottom: 1px solid #00B22D;
}

a.btn-search {
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 3px;
  width: 19px;
  height: 19px;
}

a.btn-search:before {
  content: "\f002";
  font-family: 'FontAwesome',sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #cccccc;
  display: block;
}

input[type="search"].with-error {
  border-color: #ff4d4d !important;
}

.count-offers {
  color: #777777;
  font-size: 15px;
  float: right;
  margin: 20px 0 0 20px;
}

ul.gig-steps {
  float: left;
  counter-reset: steps;
}

ul.gig-steps li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

ul.gig-steps li:before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #c2c2c2;
  float: left;
  width: 22px;
  height: 22px;
  margin: 19px 5px 0 0;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

ul.gig-steps li a {
  color: #999;
  line-height: 60px;
  height: 60px;
  text-decoration: none;
  padding: 0 25px 0 30px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

ul.gig-steps li.active a {
  color: #0e0e0f;
}

ul.gig-steps li.active:after {
  content: '\f041';
  font-family: 'FontAwesome',sans-serif;
  background-color: #00B22D;
  width: 22px;
  height: 22px;
  margin: 19px 5px 0 0;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

ul.gig-steps a:after {
  content: '\f054';
  font-family: 'FontAwesome',sans-serif;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 0;
  color: #909090;
  display: block;
  line-height: 18px;
  font-size: 10px;
}

ul.gig-steps li:last-child a:after {
  display: none;
}

.formgig-block {
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.formgig-block .notes {
  left: 50px;
}

.seo-gig {
  display: none;
}

.nostyle-tab-content {
  width: 100%;
  padding: 0;
  background-color: transparent;
  margin: 0;
  border: none;
}


textarea.bigsymb{
  font-size: 40px;
  line-height: 45px;
  height: 100px;
}

.bigsymb::-webkit-input-placeholder {
  font-size: 40px;
  line-height: 45px;
}
.bigsymb:-moz-placeholder {
  font-size: 40px;
  line-height: 45px;
}

.form-gig{
  display: block;
  position: relative;
  z-index:1;
}

.form-gig .table-packs{
  /*min-width: 768px;*/
}

#job-form .form-gig .table-packs {
  min-width: initial;
}

textarea.packstext,input[type="number"].packstext {
  height: 70px;
  font-size: 15px;
  width: 100%;
  border: none;
  padding-right: 25px;
  color: #0e0e0f;
  border-radius: 0;
}

input[type="number"].packstext{
  text-align: center;
}

textarea.packstext.gigp-descr{
  height: 125px;
}

.form-gig .cell-packs{
  padding: 0;
  border-top: solid #ddd 1px;
}

.form-gig .cell-packs:hover,
.form-gig textarea:hover,
.form-gig input:hover{
  background-color: #f2f8f9;
}

.form-gig .row-packs{
  position: relative;
  clear: both;
  width: 100%;
}

.form-gig .cell-packs:first-child:hover{
  background-color: #f7f7f7;
}

.cell-packs.noborder{
  border: none;
}

.form-gig .cell-packs:first-child,
.form-gig .row-packs:first-child .cell-packs{
  padding: 20px 15px;
}

.form-gig .row-packs:first-child .cell-packs{
  background-color: #f7f7f7;
}

.cell-packs .fa-pencil {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c6c6c6;
  z-index: 1;
}

.cell-packs:hover .fa-pencil{
  display: none;
}

textarea.packstext:focus,
input.packstext:focus{
  border: none;
  padding-right: 10px;
  border-radius: 0;
  box-shadow: inset 2px 2px 2px #e3e3e3;
}

a.packs-plus,a.packs-minus {
  position: absolute;
  display: block;
  right: 10px;
  height: 16px;
  width: 16px;
  z-index: 2;
  color: #9f9f9f;
  font-size: 16px;
}
a.packs-plus{
  top: 10px;
}

a.packs-minus{
  bottom: 10px;
}

.gigp-error::-webkit-input-placeholder {
  color: #d80000;
}
.gigp-error:-moz-placeholder {
  color: #d80000;
}

.unlock-packs{
  position: absolute;
  top:0;
  width:50%;
  height:100%;
  left: 50%;
  bottom:0;
  padding-top: 130px;
  font-size: 17px;
  line-height: 21px;
  color: #0e0e0f;
  background: rgba(255,255,255,0.9);
  z-index:200;
  font-weight: bold;
}

.form-gig textarea:hover,.form-gig input:hover {
  background-color: #f2f8f9;
}

.gig-head {
  border-bottom: 1px solid #F4F4F4;
  padding: 10px 0 20px 0;
  margin: 0;
}

.gig-head h1 {
  float: left;
}

.form-gig .table-packs{
  margin: 0;
  border: 1px solid #ddd;
  border-collapse: separate;
  padding: 0;
}

.create-gig-block {
  display: block;
  margin: 0 0 30px 0;
}
.cgb-head{
  padding: 30px 10px 15px 0;
  color: #555;
  font-size: 18px;line-height: 20px;
}

.cgb-head.zerotop{
  padding-top: 0;
}

.cgb-body{
  border: 1px solid #e1e1e1;
}

.cgb-optbox:first-child{
  padding-top: 10px;
}

.cgb-optbox:last-child{
  padding-bottom: 10px;
}

.cgb-optbox {
  padding: 7px 5px 7px 43px;
  background: #f7f7f7;
  margin: 0;
  display: block !important;
}

.cgb-optbox:nth-child(2){
  border-top: 1px solid #e1e1e1;
}

.additional-gig-item {
  display: block;
  font-size: 15px;
  position: relative;
}

.additional-gig-head {
  background-color: #fff;
  padding: 15px;
  display: block;
  border-top: 1px solid #e1e1e1;
}

.additional-gig-item:first-child .additional-gig-head {
  border-top: none;
}

.additional-gig-head span {
  font-size: 15px;
}

.select160 {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  min-width: 160px;
  min-height: 50px;
  margin: 0 20px 0 0;
}

.additional-gig-head .chover {
  width: auto;
}

.additional-gig-item .fa-plus,
.additional-gig-item .fa-times {
  color: #00698c;
  font-size: 14px;
}

.additional-gig-item a.link-blue {
  display: inline-block;
  font-size: 14px;
}

.additional-gig-head .chover {
  width: auto;
}

.vert-gig-tabs{
  border: 1px solid #b2b2b2;
  height: auto;
  border-radius: 3px;
  margin: 0;
  display: table;
  width:100%;
}

.vert-gig-tabs-ul{
  background: #f7f7f7;
  border-right: 1px solid #cccccc;
  vertical-align: top;
  border-radius: 3px 0 0 3px;
  padding: 0;
  height:100%;
  display: table-cell;
  width:30%;
  min-width: 30%;
  max-width: 30%;-moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.vert-gig-tabs-ul li,
.settings-content .vert-gig-tabs-ul li{
  display: block;
  width:100%;
  padding: 0;
  margin: 0;
}
.vert-gig-tabs-ul li a{
  padding: 12px 10px;
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  color: #777777;
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.vert-gig-tabs-ul li:first-child a,
.settings-content .vert-gig-tabs-ul li:first-child a{
  border-top: none;
}

.vert-gig-tabs-ul li.active a{
  background-color: #fff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.vert-gig-tabs-ul li.active a:before{
  content: '';
  height: 100%;
  width:1px;
  position: absolute;
  top: 0;
  right: -1px;
  background-color: #fff;
}

.vert-gig-tabs-ul li:before{
  display: none;
}

.vert-gig-tabs-ul li a:hover,
.vert-gig-tabs-ul li a:focus{
  text-decoration: none;
  color: #777;
}


.vert-gig-tabs-ul li a i.fa-plus{
  color: #ff9226;
}

.vert-gig-tabs-ul li a i.fa-check{
  color: #00B22D;
}

.vert-gig-tabs-ul li i {
  position: absolute;
  right: 12px;
  top: 16px;
  z-index: 1;
}

.vert-gig-tabs-pane{
  background: #fff;
  padding: 13px 25px 25px 25px;
  position: relative;
  border-radius: 0 3px 3px 0;
  display: table-cell;
  vertical-align: top;
  width: 70%;
  min-width: 70%;
  max-width: 70%;
}

.extra-recommend{
  color: #999999;
  font-style: italic;
  padding-top: 2px;
  line-height: 1em;
  margin-left: 0;
}

.extra-recommend span {
  /*color: #ff9226;*/
  /*font-weight: 700;*/
}

.additional-gig-item a.link-blue{
  display: inline-block;
  font-size: 14px;
}

.additional-gig-item .fa-plus,
.additional-gig-item .fa-times{
  color: #00698c;
  font-size: 14px;
}

.delete-extra{
  padding: 10px 0;
}

.line-add-extra{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  line-height: 35px;
}

.cell-packs .chover{
  text-align: center;
  padding-top: 20px;
}

#editor {
  height:300px;
}

.faqedit-block{
  margin: 0 0 15px 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
}

.feb-head{
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 20px 40px 20px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  position: relative;
}

.feb-head .fa{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  color: #555;
}

.feb-body{
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
  display: none;
}

.faqedit-block.feb-open .feb-body{
  display: block;
}

.feb-body input,.faqadd-block input,
.feb-body textarea,.faqadd-block textarea{
  margin-bottom: 15px;
}

a.del-faq {
  float: left;
  color: #777;
  font-size: 15px;
  margin-top: 20px;
}

.faq-buttons {
  margin: 30px 0 15px 0;
}

a.addfaq{
  display: block;
  margin: 10px 0;
  font-weight: 600;
  font-size: 13px;
}

#faq-container .faqadd-block {
  display: block;
}

.left-grey-text {
  padding-top: 10px;
  font-size: 13px;
  color: #999;
  display: inline-block;
}

.create-gig-portfolio {
  padding: 0 15px 0 0;
  display: block;
  margin-bottom: 30px;
}

.load-portfolio-extra {
  font-size: 18px;
}

.gig-head .profileh {
  display: inline-block;
}

.publish-title {
  margin-top: -8px;
  font-size: 40px;
  line-height: 43px;
  color: #00668c;
  font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.publish-text {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  margin-bottom: 50px;
}

.gig-more-info {
  display: block;
  background-color: #f5fbfc;
  border-top: 1px #e5e5e5 solid;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  float: left;
  width: 100%;
}

.gig-more-info:hover {
  background-color: #f5fbfc;
}

.gig-more-info-title {
  font-size: 11px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.gig-more-status {
  padding-left: 0;
  margin-top: -15px;
}

.gig-more-info-item {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  margin-right: 20px;
  color: #777;
}

.gig-more-info-count {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  line-height: 28px;
}

.gig-more-info-text {
  line-height: 14px;
  margin: 0 0 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 90px;
}

.gig-more-info-block {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.gig-more-info-block:last-child {
  border-bottom: none;
}

.gig-more-info-block p {
  color: #555;
}

.gig-more-info-left {
  border-right: 1px solid #ddd;
  padding-left: 30px;
}

.table-viewgigs tr:nth-child(odd) {
  display: none;
}

.table-viewgigs tr:first-child {
  display: table-row;
}

.mes-who {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}


.write-avatar {
  font-size: 28px;
  line-height: 28px;
  display: table-cell;
  vertical-align: middle;
}
.write-avatar > a, .write-avatar > .write-avatar-name {
  display: table-cell;
  vertical-align: top;
  padding: 5px 40px 5px 10px;
}
.write-avatar a,.write-avatar a:visited {
  color: #00698c;
}
.write-avatar a:hover,.write-avatar a:focus {
  text-decoration: underline;
  color: #00698c;
}

.wavatar-block {
  height: 65px;
  width: 65px;
  max-width: 65px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 24px;
  line-height: 65px;
  font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: top;
}
.wavatar-block img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.conversation-message {
  width: 100%;
  padding: 20px 10px 10px 10px;
  border: 1px solid #dddddd;
  border-bottom: none;
  font-size: 14px;
  line-height: 18px;
}

.conversation-message.offer-status, .conversation-message.offer-actions {
  padding-left: 10px;
}

.offer-actions a.offer-action {
  margin: 0 0 10px 10px;
}

.conversation-message .message-text {
  display: table-cell;
  padding-left: 10px;
}

.conversation-message .message-time {
  display: block;
  color: #b2b2b2;
  text-align: right;
}

.conversation-message .message-avatar {
  width: 50px;
  display: table-cell;
  vertical-align: top;
}

.conversation-message .message-avatar a {
  height: 50px;
  width: 50px;
  max-width: 50px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 24px;
  line-height: 50px;
  font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: top;
}

.conversation-message .message-avatar a img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

/*.inbox-sender {
    padding-left: 30px;
}*/

.inbox-sender .sender-avatar {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 0 0;
}

.inbox-sender .sender-avatar .tg-img {
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 18px;
  line-height: 40px;
  font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.inbox-sender .sender-name {
  display: table-cell;
  width: 90%;
  vertical-align: middle;
}

.inbox-star {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 0;
  cursor: pointer;
}

.inbox-star .fa-star {
  display: none;
  color: #ffd24e;
}

.inbox-star:hover .fa-star,.inbox-star.starred  .fa-star {
  display: inline-block;
}

.inbox-star:hover .fa-star-o,.inbox-star.starred .fa-star-o {
  display: none;
}

.messages-row .chover {
  width: auto;
}

.contact-user-info {
  display: table-cell;
  vertical-align: middle;
  color: #999999;
  padding: 15px 0 0 20px;
  border-left: 1px solid #e5e5e5;
}

.contact-user-info-item {
  display: block;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #b2b2b2;
  line-height: 18px;
}

.contact-user-info-item .fa {
  font-size: 20px;
  vertical-align: middle;
  line-height: 1px;
  margin-right: 5px;
}

.contact-user-info-item span {
  color: #0e0e0f;
}

.message-block {
  border: 1px #cccccc solid;
  border-radius: 0 0 5px 5px;
  background-color: #f7f7f7;
  position: relative;
}

.user-online,.user-offline {
  color: #b2b2b2;
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.user-online .status,.user-offline .status {
  display: inline-block;
  padding-left: 15px;
}

.user-online .online {
  color: #00B22D;
  position: relative;
}

.user-offline .offline {
  color: #b2b2b2;
  position: relative;
}

.user-online .status:before,.user-offline .status:before {
  content: '● ';
  font-size: 16px;
  background-color: transparent;
  left: 0;
  position: absolute;
  top: 0;
}

.user-offline span {
  color: #0e0e0f;
}

.send-message {
  margin: 0;
}

.white-mes-bg {
  background: #fff;
  border: 1px solid #dddddd;
  padding: 10px 10px 0 10px;
}

.white-mes-bottom {
  background-color: #fff;
  padding: 10px 15px;
  margin: 0;
  border-top: 1px solid #ddd;
}

.write-block {
  background-color: #f7f7f7;
}

.white-mes-bg textarea {
  border: none;
  border-radius: 0;
  height: 300px;
}

.white-mes-bg textarea:focus {
  box-shadow: none;
}

.white-mes-bottom .counttext {
  float: left;
  margin-top: 5px;
}

.white-mes-bottom .fileup {
  float: right;
}

.white-mes-bottom .fileup .button {
  position: relative;
  border: none;
}

.white-mes-bottom .fileup .button .fa {
  font-size: 20px;
}

.inbox-background {
  background-color: #f7f7f7;
}

.all-messages .table-viewgigs tr {
  display: table-row;
  background-color: #fff;
}

.statistic-right-item {
  color: #999999;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.rate-table {
  position: absolute;
  visibility: hidden;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  top: 100%;
  margin-top: 0;
  left: -15px;
  padding: 15px 15px 10px 15px;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  z-index: 10;
  min-width: 140px;
}

.rate-table:before {
  top: -8px;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #2c2c2c transparent;
  content: '';
  display: block;
  position: absolute;
  z-index: 3;
  border-style: solid;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  visibility: hidden;
}

.statistic-right-item:hover .rate-table {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.statistic-right-item:hover .rate-table,.statistic-right-item:hover .rate-table:before {
  visibility: visible;
}

.rate-table-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.rate-table-item {
  display: block;
  font-weight: normal;
  font-size: 12px;
  margin: 5px 0;
}

.rate-table-item:after {
  content: attr(data-count);
  float: right;
}

.statistic-bottom {
  margin: 0 0 -20px 0;
}

.statistic-bottom-item {
  font-size: 14px;
  padding: 15px;
  color: #0e0e0f;
  position: relative;
  border-bottom: 2px solid #74c5ca;
  font-weight: bold;
}

.sell-statistic-box {
  background-color: #fff;
  padding: 25px 10px;
  margin: 0 0 30px 0;
  border: 1px #e5e5e5 solid;
}

.sell-statistic {
  padding: 0 5px;
  border-right: 1px solid #dddddd;
  font-size: 27px;
  line-height: 27px;
  font-weight: 400;
  color: #303030;
}

.sell-statistic:last-child {
  border-right: none;
}

a.stat-alias,a.stat-alias:visited {
  color: #303030;
}

a.stat-alias:hover,a.stat-alias:focus {
  color: #00B22D;
  text-decoration: none;
}

.sellstat-title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  padding: 0 0 15px 0;
}

.seller-profile-block {
  padding: 40px 0;
}

.seller-profile-block input,.seller-profile-block select,.seller-profile-block .input-group {
  margin-bottom: 10px;
}

.head-seller-profile {
  background-size: cover;
  min-height: 350px;
  width: 100%;
  padding: 30px 10px;
  position: relative;
  margin-top: 100px;
  background: #8ad2d7 url(../../images/new/edit-bg.png);
}

.inpd{
  height: auto;
  white-space: normal;
}

.next-language {
  margin-bottom: 10px;
  margin-left: 10px;
}

/*************WALLET************/

.ul-wallet {
  width: 100%;
  background-color: #fff;
  margin-top: 15px;
}



.ul-wallet li a {
  height: 50px;
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
  color: #555;
  display: table;
  width: 100%;
}

.ul-wallet li a:first-child {
  border-top: 1px solid #ededed;
}

.ul-wallet li a:hover,.ul-wallet li a:focus {
  text-decoration: none;
  color: #555;
}

.wallet-circle {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  max-width: 50px;
}

.wallet-circle div {
  width: 50px;
  height: 50px;
  background-color: #8dc63f;
  border-radius: 50%;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  overflow: hidden;
}

.wallet-circle img {
  display: block;
  height: 100%;
  margin: 0;
}

.ul-wallet li.active,.ul-wallet li:hover {
  background-color: #ededed;
}

.ul-wallet li.active a {
  color: #555;
}

.ul-wallet li.active .title-sum .money {
  color: #8dc63f;
}

.wallet-title-info {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  padding-left: 15px;
}

.wallet-title-info .title-sum {
  font-weight: bold;
  margin-bottom: 5px;
}

.wallet-title-info .title-sum .money {
  font-size: 22px;
  color: #0e0e0f;
}

.table-money {
  width: 100%;
  border: none;
}

.table-money td {
  border-bottom: 1px solid #ededed;
  padding: 10px;
}

.table-money td .wallet-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}

.table-money td .sum {
  font-size: 22px;
}

.table-money td .sum span {
  font-size: 13px;
  color: #555;
}

.table-money td .number {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}

.table-money td .time {
  text-align: right;
  font-size: 13px;
}

.head-wallet {
  display: table;
  margin-bottom: 20px;
}

.wallet-title {
  color: #0e0e0f;
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.wallet-btns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.wallet-btns .dropdown {
  margin-bottom: 10px;
}

.wallet-content .button.big{
  width: auto;
  margin: 0;
}

.wallet-title [data-hint], .wallet-title-info [data-hint] {
  position: relative;
}

.wallet-title [data-hint]::after, .wallet-title-info [data-hint]::after, .work-opt [data-hint]::after {
  min-width: 200px;
}
/***************END*************/


.reason-options{
  display: none;
}

.set-title.title-big,.set-title.title-big label{
  text-transform: uppercase;
  font-weight: normal;
}

.reason-check label{
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.reason .rightset .form-group{
  margin: 0;
}

.reason{
  margin-bottom: 10px;
}

.mobile-question {
  width: 20px;
  height: 20px;
  background: url("/images/new/question.svg") no-repeat center / contain;
  display: none;
  cursor: pointer;
  vertical-align: middle;
  margin: -5px 0 0 5px;
}

.mobile-note-title {
  font: normal 20px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  color: #0e0e0f;
  padding-bottom: 15px;
  padding-top: 5px;
}

.mobile-note-text p {
  font-size: 16px;
  color: #000;
}

.mobile-note-btn {
  margin-top: 20px;
}

.mobile-note-btn a {
  width: 100%;
}

.profile .ajcbxkqjef {
  margin: 40px 0;
}

.translation-toggle {
  font-size: 18px;
}
.profile-translations-block .set-item {
  margin-bottom: 5px;
}

#job-locale-form .settings-content, #job-form .settings-content {
  padding: 15px 20px;
}

#postrequestform-type label {
  padding-left: 0;
  margin-bottom: 0;
  width: auto;
}

.sender-mini-avatar {
  margin-right: 5px;
}

.sender-mini-avatar img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  vertical-align: middle;
}

.tg-name-new {
  max-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.tg-name-new,.tg-name-new:visited {
  color: #0e0e0f;
}

.tg-name-new:hover {
  color: #00698c;
  text-decoration: none;
}

.payment-settings .formgig-block {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.payment-settings .formgig-block:first-of-type {
  border-top: none;
}

.payment-settings .wallet-type {
  font-size: 20px;
  color: #555;
  padding: 5px 15px;
}

/*****************************/

.profile-location-title-string {
  font-size: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.field-trigger {
  padding: 5px 0;
}

.expandable-field .form-group {
  margin: 0;
}

.category-suggestion {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #777777;
  padding-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .y-inbox-block {
    display: none!important;
  }
}

@media screen and (max-width: 1024px) {
  textarea.bigsymb{
    font-size: 20px;
    line-height: 25px;
  }

  .bigsymb::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 25px;
  }

  .bigsymb:-moz-placeholder {
    font-size: 20px;
    line-height: 25px;
  }
  .notes {
    display: none;
  }

  ul.gig-steps li a {
    line-height: 40px;
    height: 40px;
  }

  ul.gig-steps,  .gig-save {
    width: 100%;
  }

  ul.gig-steps li:before,  ul.gig-steps li.active:after,  ul.gig-steps li.completed:after {
    margin-top: 10px;
  }

  .gig-save a {
    line-height: 20px;
    height: 20px;
  }

  .dashboards-tabs li a {
    text-transform: none;
    line-height: 20px;
  }

  .dashboards-tabs li.active:before,  .dashboards-tabs li.active:after {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .mobile-question {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .unlock-packs {
    top: 1px;
    width: 66.3%;
    height: 99.5%;
    left: 33.7%;
  }

  .form-gig .cell-packs:first-child, .cell-packs .fa-pencil {
    display: none;
  }

  .cgb-optbox {
    padding: 10px;
  }

  .cgb-head {
    padding: 10px 10px 15px 0;
  }

  .formpost-block{ padding: 0; }

  .group-set {
    padding-top: 0;
  }

  .counttext {
    margin: 0;
  }

  .leftset {
    width: 100%;
  }

  .rightset {
    width: 100%;
  }

  .settings-content {
    padding: 10px;
  }

  #global-locale-form .settings-content {
    padding-top: 0;
  }

  .inbox.margin-30 {
    margin-top: 30px;
  }

  .nav-jobs-table ul li {
    width: 100%;
  }

  .search-gigs {
    margin-bottom: 20px;
    float: none;
  }

  .write-avatar {
    font-size: 18px;
    line-height: 18px;
  }

  .inbox-background .dashboards-tabs {
    border-bottom: none;
  }

  .create-gig-block {
    margin: 30px 0;
  }

  .formgig-block {
    padding-bottom: 0;
  }

  .set-item {
    margin-bottom: 10px;
  }

  .gig-head {
    padding: 0;
  }

  .settings {
    padding-top: 0;
  }

  .dashboards-tabs {
    padding: 0;
  }

  .profile {
    padding-top: 15px;
  }

  .aside-post {
    display: none;
  }

  .notis-item .notis-but .btn-middle {
    display: none;
  }

  nav.profa-menu {
    background: #eee;
    padding: 10px;
  }

  .inbox  nav.profa-menu {
    background-color: transparent;
  }

  .inbox-tabs {
    min-width: 570px;
  }

  .settings nav.profa-menu .nav-tabs > li {
    width: 100%;
    margin: 0;
  }

  .inbox-tabs nav.profa-menu li {
    width: auto;
    margin: 0 20px -10px 20px;
  }

  .seller-profile-block {
    padding: 20px 0;
  }

  .head-seller-profile {
    min-height: 200px;
    background: #8ad2d7 url(../../images/new/edit-bg.png) center right;
  }

  .head-seller-profile h1 {
    padding: 20px 0;
    font-size: 35px;
  }

  .sell-statistic {
    margin-bottom: 30px;
  }

  .fav-page .bf-item {
    width: 50%;
  }

  #global-locale-form input[type="radio"] + label {
    font-size: 15px;
  }

  #job-locale-form .settings-content, #job-form .settings-content {
    padding: 15px 10px;
  }

  .form-group .set-title {
    margin-bottom: 0;
  }

  .confirm-block .token-input {
    display: block;
    width: 100%
  }

  .confirm-block .btn-middle {
    float: none;
    width: 100%;
    display: block;
    margin-top: 8px;
  }
}

@media screen and (max-width: 480px) {

  .message-block input[type="submit"] {
    width: 100%;
  }

  .fav-page .bf-item {
    width: 100%;
  }
  .formpost .form-box:before{ display: none; }
  .sell-statistic {
    width: 100%;
    border-right: none;
  }

  .message-item .btn-small.grey {
    width: 100%;
    float: none;
  }

  .create-gig-block .prev-step,  .create-gig-block .next-step,  .create-gig-block button[type="submit"],  .create-gig-block .next-language {
    width: 100%;
  }

  .form-box {
    padding-left: 0;
  }

  .buy-sell-over {
    width: 100%;
  }

  .empty-profile-block {
    padding: 30px 10px;
  }

  .set-photo {
    width: 75px;
    min-width: 75px;
  }

  .set-photo div {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  .offer-edit-img {
    display: none;
  }

  .offer-edit-descr {
    padding-left: 0;
  }

  .vac-mode{ margin-top: -25px; }
  .vac-mode.packs3{ margin-top: 0; }
}

@media screen and (max-width: 360px) {
  a.edit-alias {
    display: block;
    width: 100%;
  }
}