html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,big,code,img,q,s,small,var,b,i,ol,li,label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

ol {
    list-style-position: inside;
}

q {
    quotes: none;
}

q:before,q:after {
    content: '';
}

a:focus,div:focus {
    outline: 0;
}

@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url("fonts/HelveticaNeueCyrRoman.eot");
    src: url("fonts/HelveticaNeueCyrRoman.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyrRoman.woff2") format("woff2"), url("fonts/HelveticaNeueCyrRoman.woff") format("woff"), url("fonts/HelveticaNeueCyrRoman.ttf") format("truetype"), url("fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman") format("svg");
}

body {
    font-family: "HelveticaNeueCyrRoman", serif;
}

.main-content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-size: 45px;
    font-weight: normal;
    line-height: 1.1em;
    color: #000;
    margin: 15px 0 10px;
    text-align: center;
}

h2,.black-title {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.1em;
    color: #000;
    margin: 10px 0;
    text-align: center;
}

h3,.grey-title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    color: #777;
    margin: 20px 0 10px;
    text-align: center;
    text-transform: none;
}


a.button,input.button {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    border: 2px solid #494949;
    padding: 15px 30px;
    margin: 20px 0;
    letter-spacing: 0.15em;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
}

a.button:hover,a.button:focus {
    background-color: #494949;
    color: #fff;
    text-decoration: none;
}

header {
    padding: 20px 3%;
    text-align: left;
}

header a.logo {
    width: 100px;
    display: block;
}

header a.logo.qwick {
    width: 200px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

header a.logo.qwick:visited,header a.logo.qwick:hover,header a.logo.qwick:focus {
    color: #000;
    text-decoration: none;
}

.powered{
    width: 200px;
    color: #777;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0;
}

.search-quick{
    margin: 30px 0 60px;
}

.search-quick .input-group-btn{
    padding-left: 10px;
}

.search-quick .input-group .form-control{
    height: 50px;
    border: 2px solid #777;
    border-radius: 10px;
    margin: 0 10px 0 0;
}

input.button {
    color: #fff;
    background-color: #777;
    margin: 0;
    border: 2px solid #777;
    height: 50px;
    line-height: 1;
}

input.button:hover,input.button:focus {
    background-color: #fff;
    color: #000;
}

.form-control{
    font-size: 16px;
}

.form-control::-moz-placeholder {
    font-size: 16px;
}

.form-control::-webkit-input-placeholder {
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .search-quick .input-group .form-control {
        border-radius: 0;
    }
    .search-quick .input-group-btn{
        padding-left: 0;
    }
    input.button{
        border-radius: 0;
        padding: 15px 10px;
    }
}

.block-title {
    background-color: #fff;
    position: relative;
    padding: 40px 6% 50px;
}

.block-title.no-padding {
    padding-top: 0;
}

.block-title .main-center {
    width: 550px;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.block-image .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.process-steps {
    background-color: #f3f3f3;
    padding: 50px 6%;
}

.process-steps .steps-content {
    padding-top: 50px;
}

.process-steps .steps-content .step-item {
    float: left;
    width: 33.33%;
    padding: 0 6% 30px;
}

@media screen and (max-width: 1200px) {
    .process-steps .steps-content .step-item {
        width: 100%;
    }
}

.process-steps .steps-content .step-item h2 {
    color: #000;
    line-height: 1.2em;
    font-size: 27px;
    margin-bottom: 15px;
    text-align: center;
}

.process-steps .steps-content .step-item p {
    font-size: 18px;
    color: #3c3c3c;
    line-height: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.process-steps .steps-content {
    clear: both;
}

.process-steps .steps-content:before,.process-steps .steps-content:after {
    display: table;
    content: ' ';
}

.process-steps .steps-content:after {
    clear: both;
}

.examples {
    width: 100%;
    letter-spacing: -0.32em;
    overflow: hidden;
}

.examples p span {
    line-height: 60px;
    font-size: 26px;
}

.examples .button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    width: 200px;
    text-align: center;
    margin: 20px auto;
}

.examples .button:hover,.examples .button:focus {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.examples .example-item {
    width: 25%;
    height: 480px;
    position: relative;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 -5px;
}

@media screen and (max-width: 1200px) {
    .examples .example-item {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .examples .example-item {
        width: 100%;
    }
}

.examples .example-item .example-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: #000;
}

.examples .example-item .example-img img {
    opacity: 0.6;
    min-height: 100%;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.examples .example-item:hover .example-img img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.examples .example-item .example-info {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    padding: 0 6%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.examples .example-item .example-info h2 {
    font-size: 24px;
    color: #fff;
    margin: 10px 0 15px;
    line-height: 1.4em;
    text-align: left;
}

.examples .example-item .example-info p {
    line-height: 1.4em;
    font-size: 20px;
    color: #fff;
    text-align: left;
}

footer {
    background-color: #fff;
    width: 100%;
    padding: 0 0 90px;
}

footer .inline-center {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer .powered{
    width: 100%;
}

footer .inline-center a.logo-footer {
    width: 110px;
    display: inline-block;
}

footer .inline-center a.logo-footer.qwick {
    width: 200px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .inline-center a.logo-footer.qwick:visited,footer .inline-center a.logo-footer.qwick:hover,footer .inline-center a.logo-footer.qwick:focus {
    color: #000;
    text-decoration: none;
}

footer .inline-center a.logo-footer img {
    width: 100%;
    display: block;
}

footer .inline-center h2 {
    line-height: 1.2em;
    font-size: 23px;
    margin: 0;
    letter-spacing: 0;
}

footer .inline-center h2 a {
    color: #000;
}

footer .inline-center h2 a:visited {
    color: #000;
}

footer .inline-center h2 a:hover,footer .inline-center h2 a:focus {
    text-decoration: none;
    color: #000;
}

footer .inline-center a.social {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

footer .inline-center a.social img {
    width: 100%;
    display: block;
}

.block-info {
    background-color: #fff;
    margin: 50px auto;
    width: 100%;
    max-width: 750px;
    text-align: center;
    padding: 0 8%;
}