.start-selling .banner {
    min-height: 325px;
    height: auto;
    padding: 5px 0;
    background: url('/images/new/nachni-zarabativat.jpg') no-repeat center/ cover;
    padding-bottom: 130px;
}

.start-selling .banner-descr {
    font-size: 24px;
    line-height: 30px;
    width: 50%;
}

.start-selling .banner-descr p {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    color: #fff;
}

.start-selling .video-bottom {
    margin-top: -120px;
}

.start-selling .btext-left .btn-big {
    box-shadow: 0 0 3px 1px #0c0c0c;
    padding: 15px 55px;
}

.start-selling .review-slider {
    padding: 0 200px;
}

.video-block{
    position: relative;
    display: block;
}

.video{
    height: 580px;
    position: relative;
    overflow: hidden;
}

.video-title{
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
    transform: translateY(-55%);
    left: 0;
    text-shadow: 0 -1px 2px rgba(0,0,0,0.3);
}

.video{
    position: relative;
    z-index:-1;
}

.video video{
    width: 100%;
    object-fit: cover;
    position: fixed;
}

.video-descr{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    display: block;
    line-height: 32px;
    margin: 5px auto 30px auto;
}

.video-bottom{
    z-index: 7;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    padding: 25px 0;
    margin: -130px 0 0 0;
}

.banner-board{
    height: 500px;
    padding: 5px 0 20px 0;
    background: url('/images/new/board0.png') no-repeat center/ cover;
}

.btext-board{
    width: 500px;
    max-width: 100%;
}

.btext-board .button{
    margin-bottom: 10px;
}

.title-board{
    font-size: 37px;
    margin-bottom: 30px;
    padding: 0;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    width: 100%;
    line-height: 150%;
}

.board-text-green{
    font-size: 36px;
    font-weight: bold;
    color: #81a550;
    line-height: 120%;
}

.banner-price{
    background-color: rgba(0,0,0,0.3);
    padding: 2px 5px;
    font-weight: bold;
    color: #fff;
    font-size: 34px;
    display: inline-block;
    margin: 25px 0 0;
    line-height: 100%;
}

.banner-descr-board{
    font-size: 24px;
    color: #555;
    line-height: 120%;
    margin: 25px 0;
}

.video-bottom-item{
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}

.video-bottom-item span{
    font: 700 35px 'Pluto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.cover-img{
    width: 100%;
    position: relative;
    z-index:1;
}

.cover-img img{ width: 100%; }

.buy-sell-over{
    margin: 15px 0;
    height: 275px;
}

.buy-sell{
    position: relative;
    overflow: hidden;
    height: 275px;
    display: block;
    background-color: #eee;
}

.buy-sell:before{
    content: "";
    background: #1f1f1f;
    opacity: 0.1;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.buy-sell img{
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.bs-someinfo{
    position: absolute;
    padding: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bs-who{
    font-size: 24px;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.bs-name{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-style: italic;
}

.bs-block{
    background-color: #f7f7f7;
}

.bs-block:hover .buy-sell:before{
    opacity: 0.8;
}

.bs-block:hover .buy-sell-over:last-child .buy-sell:before{
    opacity: 0;
}

.bs-block:hover .buy-sell:hover:before{
    opacity: 0;
}

.bs-block:hover .buy-sell:hover img{
    transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

.white-block h2,.ss-grey-block h2{
    margin-bottom: 30px;
}

.white-block{
    padding: 30px 0 50px 0;
    display: block;
    background-color: #fff;
}

.whats-skill{
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 100%;
    font: 400 32px/34px "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.whats-skill .fa-heart{
    font-size: 24px;
    color: #e64f4f;
}

.whats-skill a.btn-big{
    margin: 30px auto 0 auto;
}

.ss-grey-block{
    padding: 50px 0 60px 0;
    background-color: #f7f7f7;
}

.how-works-item{
    margin-bottom: 20px;
}

.how-work-title:before {
    background: transparent url(../../images/new/start-selling.svg) no-repeat 0 0;
    content: '';
    background-size: 350px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto 15px auto;
}

.how-works-item:nth-child(2) .how-work-title:before{
    background-position: -200px 0;
}

.how-works-item:nth-child(3) .how-work-title:before {
    background-position: -294px 0;
    width: 64px;
    background-size: 419px;
}


.how-works-item p{
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #555555;
}

.how-work-title{
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 10px;
}

.how-work-title.cash-icon::before {
    background: transparent url("/images/new/icons/cash.png") no-repeat 0 center/ cover !important;
    width: 50px !important;
}

.how-work-title.tax-icon::before {
    background: transparent url("/images/new/icons/tax.png") no-repeat 0 center/ cover !important;
}

.how-work-title.desk-icon::before {
    background: transparent url("/images/new/icons/desk.png") no-repeat 0 center/ cover !important;
}

.top-photo-col{
    padding: 0;
    position: relative;
}

.top-img{
    position: relative;
    z-index: 1;
}

.top-img img{
    width:100%;
    display: block;
}

.top-about{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 30px;
    display: block;
    width: 484px;
    padding: 15px;
    color: #fff;
    font: italic 22px/31px Georgia, 'Times New Roman', serif;
}

.top-about cite{
    font: normal 15px/18px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    padding: 6px 0;
}

.top-about cite:before{
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 10px 0 0 0;
    width: 30px;
}

.cat-options{
    margin: 20px 0 30px 0;
}

.cat-option-item{
    display: block;
    font-size: 20px;
    line-height: 28px;
    padding: 15px 0;
}

.cat-option-item:before{
    content: '';
    background: url(../../images/new/start-selling.svg) no-repeat 0 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}

.cat-option-item:nth-child(1):before{
    background-position: 0, 0;
}
.cat-option-item:nth-child(2):before{
    background-position: -50px 0;
}

.cat-option-item:nth-child(3):before{
    background-position: -100px 0;
}

.cat-option-item:nth-child(4):before{
    background-position: -150px 0;
}

.cat-option-item span{
    font: 700 28px/30px "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

.bs-example-modal-lg .modal-dialog{
    width: 900px;
}

.top-modal .modal-content{
    padding: 0;
}

.top-info-col{
    padding: 0 20px 35px 20px;
}

.top-modal .modal-header{
    height:50px;
}

.top-modal .modal-header .close {
    margin: 5px 5px 0 0;
    font-size: 40px;
    color: #999;
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.top-modal .modal-header .close:hover{ color: #999; }

.top-modal .modal-body{ margin: 0; }

.mobile-people-over{
    margin-bottom: 25px;
}

.top-mobile-seller.slick-slide{
    position: relative;
}

#mobile-people{
    height: 250px;
}

.seller-slide{
    height:250px;
    position: relative;
    overflow: hidden;
}

.seller-slide img{
    width:100%;
    z-index: 1;
}

.seller-slide .bs-someinfo{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    color: #fff;
}

.seller-slide .bs-who{
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

.seller-slide .bs-name{
    font-size: 13px;
    font-weight: 500;
}

a.show-stat{
    background: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 20;
    right: 15px;
    top: 15px;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}

a.show-stat:hover{
    text-decoration: none;
    color: #fff;
}

.statistics.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.blur{
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.statistics{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    padding: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    margin: 0;
    width:100%;
}

.stat-item{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 25px;
    color: #fff;
}

.stat-item span{
    font: 700 18px/20px "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stat-close{
    padding: 14px;
    font-size: 32px;
    height: 40px;
    display: block;
}

.stat-close a{
    color: #fff;
}

.stat-close a:hover{
    color: #fff;
    text-decoration: none;
}

.buyer-stories{
    padding: 0;
    height: 290px;
}

.buyer-photo{
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.buyer-photo img{
    width:100%;
    display: block;
}

.buyer-text{
    background-color: #f7f7f7;
    height: 100%;
    padding: 0;
}

.buyer-stories:nth-child(1) .buyer-text:before,
.buyer-stories:nth-child(2) .buyer-text:before{
    border-right: 25px #f7f7f7 solid;
    -webkit-transform: translate3d(-24px, -50%, 0);
    -moz-transform: translate3d(-24px, -50%, 0);
    -ms-transform: translate3d(-24px, -50%, 0);
    -o-transform: translate3d(-24px, -50%, 0);
    transform: translate3d(-24px, -50%, 0);
    left: 0;
}

.buyer-stories:nth-child(3) .buyer-text:before,
.buyer-stories:nth-child(4) .buyer-text:before {
    border-left: 25px #f7f7f7 solid;
    -webkit-transform: translate3d(24px, -50%, 0);
    -moz-transform: translate3d(24px, -50%, 0);
    -ms-transform: translate3d(24px, -50%, 0);
    -o-transform: translate3d(24px, -50%, 0);
    transform: translate3d(24px, -50%, 0);
    right: 0;
}

.buyer-text:before{
    content: '';
    display: inline-block;
    border-top: 19px transparent solid;
    border-bottom: 19px transparent solid;
    position: absolute;
    z-index: 2;
    top: 50%;
}

.buyer-text blockquote{
    font: italic 19px/140% Georgia, 'Times New Roman', serif;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 2;
    padding: 0 25px;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.buyer-text blockquote cite {
    font: normal 15px/140% "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin-top: 25px;
}

.qa .faq-item{
    border-left: 5px transparent solid;
    background-color: #fff;
    border-bottom: none;
    margin-bottom: 15px;
    border-radius: 3px;
}

.qa .faq-item:hover{
    border-left: 5px #00B22D solid;
}

.qa .faq-head{
    font-weight: 700;
    font-size: 14px;
}

.get-started{
    display: block;
}

.get-started p{
    font-size: 17px;
    color: #555;
}

.how-to-work {
    color: #fff;
    margin: 5px 0 0 5px;
    display: table;
    font-size: 14px;
    line-height: 20px;
}

.how-to-work:hover, .how-to-work:focus, .how-to-work:visited {
    color: #fff;
}

.read-more-mpp {
    color: #fff;
    margin: 5px 0 0 75px;
    display: table;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.read-more-mpp:hover, .read-more-mpp:focus, .read-more-mpp:visited {
    color: #fff;
}

#benefits2-block {
    border: none !important;
}

@media screen and (max-width: 1366px) {
    .start-selling .review-slider {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1200px) {
    .start-selling .review-slider {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .start-selling .banner-descr {
        width: 70%;
    }
    .ss-grey-block {
        padding: 30px 0 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .banner-board{
        background-position: left;
        min-height: 300px;
        height: auto;
    }
    .title-board{
        margin-bottom: 20px;
    }
    .board-text-green{
        margin: 20px 0;
    }
    .btext-board{
        width: 100%;
    }
    .video-bottom{ margin-top: 0; }
    .video-bottom-item{
        color: #555;
        font-size: 17px;
        line-height: 130%;
        padding: 12px 0 13px 0;
    }
    .video-bottom-item span{
        font-size: 36px;
    }
    .video-block .cat-title{
        font-size: 24px !important;
    }
    .video-descr{
        font-size: 17px;
        line-height: 20px;
    }
    .buyer-stories{
        margin-bottom: 30px;
        height: auto;
    }
    .buyer-photo{
        height: 220px;
    }
    .buyer-photo img{
        height: auto;
        width:100%;
    }
    .buyer-text {
        height: auto;
        background-color: #fff;
    }
    .buyer-stories:nth-child(1) .buyer-text:before,
    .buyer-stories:nth-child(2) .buyer-text:before{
        border-right: 15px solid transparent;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }

    .buyer-stories:nth-child(3) .buyer-text:before,
    .buyer-stories:nth-child(4) .buyer-text:before {
        border-left: 15px solid transparent;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        right: inherit;
        left: 50%;
    }
    .buyer-text:before{
        content: '';
        border-left: 15px transparent solid;
        border-right: 15px transparent solid;
        border-bottom: 19px #fff solid;
        position: absolute;
        z-index: 2;
        top: -38px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
    }

    .buyer-text blockquote{
        margin-top: 30px;
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .start-selling .bsmall h1.cat-title {
        font-size: 40px !important;
    }

    .start-selling .banner {
        background: url('/images/new/nachni-zarabativat-mobile.jpg') no-repeat center/ cover;
        padding-bottom: 10px;
    }

    .start-selling .banner-descr {
        width: 100%;
    }

    .start-selling .video-bottom {
        display: none;
    }

    .start-selling .btext-left .btn-big {
        margin: 0 auto;
        display: table;
    }

    .read-more-mpp {
        margin: 5px auto;
        display: table;
    }
}

@media screen and (max-width: 480px) {
    .buy-sell-over {
        width: 100%;
    }
    .btext-board,.title-board{
        text-align: center;
    }
    .title-board{
        font-size: 28px;
        line-height: 130%;
    }

    .start-selling .bsmall h1.cat-title {
        font-size: 36px !important;
    }

    .start-selling .btext-left {
        padding: 0 10px;
    }
}

@media screen and (max-width: 360px) {
    .start-selling .btext-left .btn-big {
        padding: 15px 0;
        width: 90%;
        text-align: center;
    }

    .start-selling .bsmall h1.cat-title {
        font-size: 30px !important;
    }

    .start-selling .get-started .btn-big {
        padding: 15px 0;
        width: 90%;
    }
}