.tariff-content {
    margin-top: 30px;
}

.tariff-content p{
    font-size: 18px;
    line-height: 120%;
}

.tariff-buttons{
    margin: 0 0 50px;
    width: 100%;
}

.btn-white{
    min-width: 200px;
    line-height: 45px;
    font-size: 15px;
    margin: 10px;
    color: #00b22d;
    white-space: nowrap;
    border: 1px solid #00b22d;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 10px;
}

a.btn-white:visited{
    color: #00b22d;
}

a.btn-white:hover,a.btn-white:focus,
a.btn-white:active{
    background-color: #00b22d;
    color: #fff;
    text-decoration: none;
}

.tariff-block{
    margin: 50px 0;
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.tariff-box{
    padding: 0;
    margin-bottom: 20px;
    display: table-cell;
    vertical-align: top;
    transition: box-shadow 0.2s linear;
    -webkit-transition: -webkit-box-shadow 0.2s linear;
}

#performer .tariff-box{
    width: 33.33%;
    min-width: 33.33%;
}

#customer .tariff-box{
    width: 25%;
    min-width: 25%;
}

.tariff-title{
    font-size: 28px;
    line-height: 65px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px 4px 0 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.tariff-head{
    position: relative;
    height: 190px;
    border-radius: 4px 4px 0 0;
    transition: height 0.2s linear;
    -webkit-transition: height 0.2s linear;
}

.tariff-head-center{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #555;
}

.tariff-white .tariff-head{
    border: 1px solid #e5e8e8;
}

.tariff-price{
    font-size: 18px;
    padding: 32px 0 22px 0;
    color: #fff;
}

.tariff-price span{
    font-size: 35px;
    font-weight: bold;
    display: block;
    line-height: 150%;
}

.tariff-body{
    padding: 15px;
    border: 1px solid #e5e8e8;
}

.tariff-item{
    line-height: 20px;
    font-size: 16px;
    color: #555;
    border-bottom: 1px solid #e5e8e8;
    padding: 10px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tariff-red .tariff-head{
    background-color: #e73b3b;
}

.tariff-red .tariff-title{
    background-color: #f54444;
}

.tariff-red .tariff-item{
    color: #e73b3b;
}

.tariff-blue .tariff-head{
    background-color: #2570a2;
}

.tariff-blue .tariff-title{
    background-color: #2980b9;
}

.tariff-blue .tariff-item{
    color: #2570a2;
}
.tariff-grey .tariff-head{
    background-color: #34495E;
}

.tariff-grey .tariff-title{
    background-color: #2a3c4e;
}

.tariff-grey .tariff-item{
    color: #34495E;
}

.tariff-box:not(:first-child):hover .tariff-title,
.tariff-box:not(:first-child):focus .tariff-title
{
    margin-top: -14px;
    padding: 7px 0;
}

.tariff-box:not(:first-child):hover .tariff-head,
.tariff-box:not(:first-child):focus .tariff-head {
    height: 204px;
}

.tariff-box:not(:first-child):hover .tariff-body,
.tariff-box:not(:first-child):focus .tariff-body {
    border: none;
}

.tariff-box:not(:first-child):hover,
.tariff-box:not(:first-child):focus
{
    box-shadow: 0 0 5px #656565;
    -webkit-box-shadow: 0 1px 8px #333;
    z-index: 2;
    position: relative;
}

.center-button{
    margin-top: 15px;
    height: 48px;
}

.tariff-mobile-text{
    display: none;
}

@media screen and (max-width: 992px) {
    .tariff-item{
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .tariff-box{
        display: block;
        width: 100% !important;
    }
    .tariff-white{
        display: none;
    }
    .tariff-mobile-text{
        display: inline;
    }
    .tariff-item{
        height: auto;
        padding: 10px;
    }
}