/* Ширина слайдера */
#f-price {
    width: 100%;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 12px;   /* Задаем нужную ширину */
    height: 12px;  /* и высоту */
    background-color: #73c8ba;
    cursor: pointer;
    border-radius: 50%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
     height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
    top: -7px;
    margin-left: -5px;
}
.ui-slider-horizontal .ui-slider-range {
    top: -3px;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
    border: 3px solid #e5e5e5;
    background: #e5e5e5;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
    border: 3px solid #73c8ba;
    background: #73c8ba;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    *-moz-border-radius: 4px;
    *-webkit-border-radius: 4px;
    *border-radius: 4px;
}
