.nav-work {
  background: #fff;
  border: 1px solid #dddddd;
  border-top: none;
  padding: 0 20px;
}

.work-like {
  float: right;
  margin: 8px 0 0 0;
  position: relative;
}

a.wl-box {
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  color: #555555;
  height: 30px;
  display: inline-block;
  position: relative;
  margin: 0 8px 0 0;
  border: 1px #cccccc solid;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

a.wl-box:visited {
  color: #555;
}

a.wl-box:hover {
  color: #555;
  text-decoration: none;
}

a.wl-box:focus {
  text-decoration: none;
}

a.wl-box .fa-heart-o {
  color: #FF4C4C;
  font-size: 1em;
  vertical-align: top;
  margin: 7px 7px 0 0;
}

a.wl-box .fa-bars {
  color: #cccccc;
  font-size: 1em;
  vertical-align: top;
  margin: 7px 0 0 0;
}

.wl-count {
  font-size: 14px;
  line-height: 30px;
  color: #0e0e0f;
  position: relative;
  height: 30px;
  min-width: 45px;
  padding: 0 10px;
  margin-left: 4px;
  display: inline-block;
  border: 1px #dddddd solid;
  border-radius: 3px;
}

.wl-count:after,.wl-count:before {
  background: none;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-width: 8px 6px 8px 6px;
  top: 7px;
  left: -5px;
  border-style: solid solid solid none;
  border-color: transparent white transparent transparent;
}

.wl-count:before {
  background: none;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-width: 8px 7px 8px 7px;
  top: 7px;
  left: -7px;
  border-style: solid solid solid none;
  border-color: transparent #dddddd transparent transparent;
}

.work-bg {
  background-color: #eee;
  display: block;
  width: 100%;
  padding: 50px 0 0 0;
}

.work-content {
  margin: 20px -25px 0 -25px !important;
}

.work-side,.author-side {
  padding: 0 10px;
}

.work-section {
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  background-color: #fff;
}

.work-flex-container {
  display: flex;
  flex-direction: column;
}

.slider-big {
  height: 410px;
}

.slide-w img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.slider-nav {
  padding: 5px 0;
  height: 80px;
  background: #fff;
}

.slider-nav .slick-list,.slider-nav .slick-track,.slider-big .slick-list,.slider-big .slick-track {
  height: 100% !important;
}

.slide-w {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.slider-nav .slide-w {
  opacity: 0.3;
  cursor: pointer;
}

.slider-nav .slide-w.slick-center {
  opacity: 1;
}

.slide-comment {
  background: rgba(0,0,0,0.75);
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 15px;
  color: #fff;
  bottom: 0;
}

.slide-date {
  display: block;
  font-size: 12px;
  padding-top: 3px;
  color: #fff;
}

.head-work {
  background: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  padding: 18px;
  font-size: 18px;
  color: #0e0e0f;
  font-weight: 700;
  position: relative;
}

.body-work {
  padding: 20px 20px 20px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.body-work p img,.body-work img {
  max-width: 100%;
}

.body-work ul, .body-work ol {
  margin-bottom: 15px;
  padding-left: 2em;
}

.work-title {
  font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
  color: #0e0e0f;
  font-size: 22px;
  line-height: 120%;
  font-weight: bold;
}

.work-header {
  background: #fff;
  padding: 20px 20px 10px 20px;
}

.work-stars {
  width: 100%;
  padding: 15px 0 0 0;
  border-bottom: 1px solid #dddddd;
}

.work-rate {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
}

.work-rate .fa {
  font-size: 1.1em;
  color: #ffbf00;
  margin: -4px 0 0 0;
  vertical-align: middle;
}

.work-rate a {
  font-size: 14px;
  color: #999999;
  text-decoration: none;
}

.work-rate a:visited {
  color: #999;
}

.work-rate a:hover {
  color: #999;
  text-decoration: underline;
}

.queue {
  font-size: 14px;
  color: #999999;
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs {
  text-transform: capitalize;
  padding: 15px 0 5px 0;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #0e0e0f;
}

.breadcrumbs a,.breadcrumbs a:visited {
  color: #00698c;
}

.breadcrumbs a:hover {
  color: #00698c;
  text-decoration: underline;
}

.rev-filter {
  width: 175px;
  float: right;
  margin: -10px 0 0 20px;
  z-index: 10;
  position: relative;
  height: 40px;
}

.rev-count {
  float: left;
}

.rc-text {
  display: inline-block;
  vertical-align: middle;
}

.rev-stars,.com-stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

.rev-stars .fa,.rc-stars .fa {
  font-size: 18px;
  color: #ffbf00;
  vertical-align: middle;
}

.rev-rate {
  font-size: 20px;
  line-height: 20px;
  color: #777;
  margin: 6px 5px 5px 10px;
  display: inline-block;
  vertical-align: middle;
}

.rate-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 10px 0 10px;
  border-bottom: 1px #dddddd solid;
}

.rate-col {
  color: #0e0e0f;
  font-size: 15px;
  margin-bottom: 20px;
}

.rc-stars {
  margin-top: 10px;
}

.comment {
  padding: 15px;
  display: block;
  width: 100%;
  border-bottom: 1px #dddddd solid;
}

.this-comment {
  display: table;
  width: 100%;
}

.photo-com {
  display: table-cell;
  vertical-align: top;
  height: 60px;
  width: 60px;
  max-width: 60px;
}

.photo-com div {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 28px;
  line-height: 60px;
  font-family: "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.photo-com img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.info-com {
  display: table-cell;
  vertical-align: top;
  padding: 0 0 0 10px;
}

.who-com {
  display: block;
  color: #0e0e0f;
  font-size: 14px;
  line-height: 20px;
}

.who-com a {
  color: #0e0e0f;
  text-decoration: none;
}

.who-com a:visited {
  color: #0e0e0f;
}

.who-com a:hover {
  color: #0e0e0f;
  text-decoration: underline;
}

.com-stars .fa {
  font-size: 12px;
  color: #ffbf00;
  vertical-align: top;
  margin: 3px 0 0 0;
}

.com-text {
  display: block;
}

.com-text,.com-text p {
  color: #0e0e0f;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.com-time {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  display: block;
}

.com-more {
  padding: 20px;
  display: block;
}

.com-more a {
  color: #00698c;
  font-weight: 700;
  font-size: 14px;
}

.com-more a:visited {
  color: #00698c;
}

.com-more a:hover {
  color: #00698c;
  text-decoration: underline;
}

.aside-price {
  background: #fff;
  border: 1px solid #dddddd;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}

.ap-body {
  display: none;
  position: relative;
  background-color: #fff;
  padding-top: 15px;
}

.ap-head {
  font-weight: 400;
  line-height: 130%;
  color: #0e0e0f;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.ap-type {
  display: block;
  padding-right: 25px;
}

.ap-head .fa {
  position: absolute;
  top: 5px;
  color: #0e0e0f;
  font-size: 24px;
  right: 5px;
}

.ap-typeprice {
  color: #00b22d;
}

.ap-typetitle {
  font-size: 18px;
  line-height: initial;
  margin-top: 5px;
  display: block;
}

.ap-info {
  display: block;
}

.ap-info-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 15px 0;
  line-height: 16px;
  font-weight: 700;
}

.ap-info-item .fa {
  color: #999999;
  margin-right: 5px;
  font-size: 1.2em;
}

.ap-title {
  font-weight: bold;
  margin-top: 8px;
}

.ap-title span, .ap-info-item span {
  font-weight: normal;
  line-height: 18px;
}

.aside-price p {
  color: #555555;
  line-height: 20px;
  padding: 5px 0 10px 0;
  margin: 0;
}

.cell-packs .fa-check {
  color: #00B22D;
}

.pack-tit {
  color: #0e0e0f;
  margin-bottom: 15px;
}

ul.ap-options {
  padding: 10px 15px;
}

ul.ap-options li {
  margin-bottom: 10px;
}

.short-author {
  background-color: #fff;
  padding: 25px 15px 0 15px;
  position: relative;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.author-top {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

.author-photo {
  width: 100%;
  display: block;
}

.author-photo .tariff-icon {
  border-radius: 50%;
  height: 60px !important;
  width: 60px !important;
  position: absolute;
  bottom: -8px;
  right: -8px;
  opacity: 0.8;
}

.author-photo a {
  width: 130px;
  height: 130px;
  display: inline-block;
  position: relative;
}

.author-photo a img {
  display: block;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
}

a.author-name {
  font-size: 19px;
  line-height: 21px;
  font-weight: 500;
  text-transform: capitalize;
  color: #00698c;
  display: inline-block;
  padding: 10px 0 3px 0;
}

.author-medal {
  font-size: 15px;
  color: #999999;
  display: block;
}

a.author-name:visited {
  color: #00698c;
}

a.author-name:hover {
  color: #00698c;
  text-decoration: underline;
}

.author-about {
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid #dddddd;
}

.about-item {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-bottom: 15px;
  color: #0e0e0f;
  font-size: 13px;
}

.author-intro {
  display: block;
  padding: 15px 0 20px 0;
}

.author-intro p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.author-contact {
  margin: 0 -15px;
  display: block;
  padding: 15px;
  background: #f7f7f7;
  border-top: 1px solid #dddddd;
}

.viewed-over{
  padding: 0 10px;
}

.viewed-block{
  width: 150px;
  height: 200px;
  position: relative;
  border: 1px solid #d8d8d8;
  display: block;
  margin: 0 auto;
}

.view-img{
  height: 150px;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.view-img img{
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.view-img:before{
  position: absolute;
  opacity: 0;
  content: " ";
  background-color: #2c2c2c;
  z-index: 2;
  width: 148px;
  height: 100%;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.view-name{
  padding: 5px 10px;
  height: 50px;
  display: block;
}

.view-name p{
  font-size: 13px;
  line-height: 17px;
  color: #999999;
  padding: 0;
  margin: 0;
}

.viewed-block:hover .view-img:before{ opacity: 0.5; }
.viewed-block:hover .view-name p{ color: #0e0e0f; }
.viewed-block:hover { border: 1px solid #A0A0A2; }
.view-al:hover{  text-decoration: none; }


.viewed-block:hover .save-like{ opacity: 1; }

.clearit{
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  opacity: 0;
}

.clearit .fa{
  color: #fff;
  font-size: 14px;
}

.viewed-block:hover .clearit { opacity: 1; }
.clear-all {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
}

.faq {
  display: block;
  width: 100%;
}

.faq-item {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.faq-head {
  display: block;
  padding: 20px 30px 20px 15px;
  cursor: pointer;
  color: #0e0e0f;
  position: relative;
}

.faq-head:before {
  content: "\f107";
  color: #0e0e0f;
  font-size: 15px;
  font-family: FontAwesome,sans-serif;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

.faq-item.open .faq-head:before {
  -webkit-transform: rotate3d(0, 0, 1, -180deg);
  -moz-transform: rotate3d(0, 0, 1, -180deg);
  -ms-transform: rotate3d(0, 0, 1, -180deg);
  -o-transform: rotate3d(0, 0, 1, -180deg);
  transform: rotate3d(0, 0, 1, -180deg);
}

.hint-work {
  position: relative;
}

.faq-body p {
  max-height: 0;
  margin: 0;
  -webkit-transition: max-height 0.3s, padding-top 0.3s;
  -moz-transition: max-height 0.3s, padding-top 0.3s;
  -o-transition: max-height 0.3s, padding-top 0.3s;
  transition: max-height 0.3s, padding-top 0.3s;
  overflow: hidden;
}

.faq-item.open .faq-body p {
  padding: 20px 15px 20px 15px;
  max-height: inherit;
}

.faq-item.open .faq-head {
  padding-bottom: 0;
}

.mobile-more-gradient {
  background: linear-gradient(rgba(255,255,255,0.5) 0%, #fff 50%, #fff 100%);
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  padding: 30px 18px 20px;
  display: none;
}

.mobile-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}

.mobile-btn i {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  color: #999;
  transition: all 0.2s ease-in-out;
  margin-top: -3px;
  float: right;
}

.work-section.mobile-open .mobile-btn i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.work-section.mobile-open .body-work,.work-section.mobile-open .body-rate {
  display: block !important;
}

.mobile-packs {
  padding: 0 18px;
}

.mobile-one-pack {
  padding: 20px 18px;
}

.packs-switch {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.packs-switch li {
  -webkit-box-flex: 3;
  -ms-flex: 3 0 auto;
  flex: 3 0 auto;
}

.packs-switch li a {
  display: block;
  width: 100%;
  color: #999999;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  padding: 15px 0;
}

.packs-switch li.active a {
  color: #00B22D;
  border-bottom: 3px solid #00B22D;
}

.packs-switch li a:hover,.packs-switch li a:focus {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.packs-switch li.active a:hover,.packs-switch li.active a:focus {
  background-color: transparent;
  border-bottom: 3px solid #00B22D;
  text-decoration: none;
}

.tab-pack-content {
  padding: 20px 0;
  color: #0e0e0f;
}

.tab-pack-content .add-to-cart,.mobile-one-pack .add-to-cart {
  width: 100%;
}

.pos-bottom a.button {
  width: 100%;
}

.mob-pack-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.mob-pack-descr {
  margin-bottom: 20px;
}

.mob-pack-descr,.mob-pack-descr p {
  font-size: 14px;
  line-height: 16px;
}

.mob-pack-delivery {
  margin-bottom: 20px;
  font-size: 14px;
}

.mob-day-delivery {
  font-weight: 700;
  float: right;
}

.mobwork-info-head {
  display: block;
  padding: 15px 18px;
}

.mobwork-info-head .left {
  float: left;
}

.mobwork-avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c2c2c2;
  font-size: 20px;
  line-height: 40px;
  font-family: "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.mobwork-avatar a img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.mobwork-name {
  display: inline-block;
  vertical-align: middle;
}

.mob-author {
  font: 700 16px/140% "HelveticaNeueCyrRoman",Helvetica,Arial,sans-serif;
  color: #0e0e0f;
  margin-bottom: 5px;
}

.mob-author .author-name {
  font: 700 16px/140% "HelveticaNeueCyrRoman",Helvetica,Arial,sans-serif;
}

.mob-show-info,.seller-job {
  font-weight: bold;
  display: block;
  font-size: 14px;
}

.work-side .mob-show-info {
  margin: 18px;
}

a.mob-show-info:visited,a.mob-show-info:hover,a.mob-show-info:focus {
  color: #337ab7;
}

.mob-contactuser {
  float: right;
  padding-top: 10px;
}

.mob-more-info {
  height: 50px;
  overflow: hidden;
  padding: 0 18px;
}

.mob-more-info.open {
  height: auto;
}

.mob-bio {
  padding-bottom: 20px;
}

.mob-bio,.mob-bio p {
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  color: #555;
  margin: 0;
}

.mob-user-props {
  padding: 0;
  display: table;
  width: 100%;
}

.contact-user-form .modal-content {
  padding: 0;
}

.contact-header {
  background: url(/images/new/form-contact.png);
  padding: 25px 40px 20px !important;
  position: relative;
}

.contact-head-avatar {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.contact-head-avatar a {
  display: block;
  height: 100%;
}

.contact-head-avatar a img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

a.contact-head-name {
  font-size: 20px;
  display: block;
  margin: 15px auto;
  color: #0e0e0f;
}

a.contact-head-name:focus,a.contact-head-name:hover {
  color: #0e0e0f;
  text-decoration: none;
}

.contact-header-date {
  color: #999;
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
}

.contact-header-rate {
  display: block;
}

.contact-header-rate .rating-xxxxs {
  float: none;
}

.contact-body {
  padding: 20px !important;
}

a.contact-phone,a.contact-email {
  color: #0e0e0f;
  display: block;
  margin: 0 auto 15px;
  font-size: 20px;
  line-height: 100%;
}

a.contact-phone:focus,a.contact-email:focus,a.contact-phone:hover,a.contact-email:hover {
  color: #0e0e0f;
  text-decoration: none;
}

a.contact-phone {
  font-size: 30px;
}

.contact-body p {
  font-size: 16px;
  color: #555;
  margin: 0 0 30px 0;
}

.contact-body p.warning {
  color: #aaa;
  font-size: 14px;
  padding: 0 20px;
}

.contact-body p.warning span {
  color: #0e0e0f;
}

button.close-contact {
  float: right;
  font-size: 40px;
  font-weight: normal;
  color: #999;
  text-shadow: none;
  opacity: 1;
  border-radius: 0;
  border: none;
  background-color: transparent;
  margin: -10px -30px 0 0;
}

.short-author .status-site {
  right: 10px;
}

/*********Product Page**********/

.delivery-type {
  padding: 5px 0 8px 35px;
  font-weight: normal;
}

.door-to-door {
  background: url(/images/new/shipped.svg) no-repeat;
  background-size: 25px;
}

.self {
  background: url(/images/new/avatar.svg) no-repeat;
  background-size: 15px;
  padding: 1px 0 0 35px;
}

.btn-prod a {
  margin: 15px 0 0;
  width: 100% !important;
}

/*******End Product Page********/

.wc-item {
  position: relative;
  padding: 0 0 17px 25px;
  font-size: 15px;
}

.wc-item > span {
  float: right;
  font-weight: bold;
}

.wc-item:before {
  font-family: 'FontAwesome',sans-serif;
  position: absolute;
  z-index: 1;
  left: 0;
}

.wc-item.location:before {
  content: '\f041';
  left: 1px;
}

.wc-item.basket:before {
  content: '\f291';
  font-size: 12px;
}

.wc-item.wc-rate:before {
  content: '\f005';
  font-size: 14px;
}

.wc-item.skills:before {
  content: "\f1b3";
  font-size: 14px;
}

.wc-item.education:before {
  content: "\f19d";
  font-size: 14px;
}

.wc-item.certificates:before {
  content: "\f0a3";
  font-size: 14px;
}

.wc-item.languages:before {
  content: "\f1ab";
  font-size: 14px;
}

.wc-item.member:before {
  content: '\f007';
  font-size: 14px;
}

.wc-item.response-time:before {
  content: '\f017';
  font-size: 14px;
}

.wc-item.delivery:before {
  content: '\f1d8';
  font-size: 12px;
}

.short-descr-desktop {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author-intro a.mob-show-info {
  margin-top: 20px;
}

.short-descr-desktop.open {
  max-height: none;
}

.mobile-one-pack .ap-head {
  margin-bottom: 20px;
}

.portfolio-card {
  background-color: #fff;
  border: 1px solid #dddddd;
  margin: 20px 0;
  padding: 30px;
}

.pcard-head {
  display: flex;
  justify-content: space-between;
}

.pcard-title {
  font-size: 15px;
  font-weight: bold;
}

.pcard-head .link-blue {
  font-size: 15px;
}

.portf-alias:hover {
  text-decoration: none;
}

.portf-alias ul {
  margin-top: 20px;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  overflow: hidden;
  height: 85px;
  position: relative;
}

.portf-alias li {
  border-right: 1px solid #dddddd;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  overflow: hidden;
}

.portf-alias li img {
  min-height: 100%;
  max-width: 150%;
}

.portf-alias ul:before {
  content: attr(data-portfolio);
  background: rgba(0,0,0,0.6);
  display: block;
  width: 100%;
  height: 85px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 85px;
  color: #fff;
  position: absolute;
  z-index: 4;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  text-decoration: none;
}

.portf-alias:hover ul:before {
  opacity: 1;
}

.zoom-desktop {
  display: block;
}

.slider-prod-mob {
  display: none;
}

.slider-bigz .slick-slide {
  height: 400px;
}

.slider-bigz .slick-slide img {
  display: inline-block;
  height: 100%;
}

.video-view-image {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 0;
}

.video-view-image img {
  height: 100%;
  margin: 0 auto;
}

.play {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 70px;
  font-size: 30px;
  color: #fff;
  z-index: 2;
  padding-left: 5px;
}

@media screen and (max-width: 992px) {
  .zoom-desktop {
    display: none;
  }

  .slider-prod-mob {
    display: block;
  }

  #w-packs {
    display: none;
  }

  .aside-price .read-more {
    display: none;
  }

  .ap-body {
    display: block;
  }

  .ap-head {
    cursor: default;
  }

  .ap-head .fa {
    display: none;
  }

  .hide-packs {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .slider-bigz .slick-slide {
    height: 300px;
  }

  .work-slider {
    margin-top: 15px;
  }

  .ws-block {
    padding-bottom: 0 !important;
  }

  .mobile-description {
    max-height: 100px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
  }

  .mobile-more-gradient {
    display: block;
  }

  .work-content {
    margin: 0 -30px !important;
  }

  .work-bg {
    padding-top: 0;
    margin: 0;
  }

  .work-section {
    margin-bottom: 0;
    border-top: none;
  }

  .head-work {
    background: #fff;
    border-bottom: none;
    padding-right: 40px;
    line-height: 25px;
  }

  .body-work {
    padding: 0 20px 20px 18px;
  }

  .faq-item {
    border-bottom: none !important;
    margin-bottom: 10px !important;
  }

  .faq-head {
    padding: 0 0 10px !important;
    font-weight: bold;
  }

  .faq-head:before {
    display: none;
  }

  .faq-body p {
    max-height: 9999px !important;
  }

  .head-work {
    background: #fff;
    border-bottom: none;
    padding-bottom: 15px;
  }

  .rate-col {
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
  }

  .rc-stars {
    margin-top: 0;
    float: right;
  }

  .comment {
    border-bottom: none;
  }

  .photo-com {
    height: 40px;
    width: 40px;
    max-width: 40px;
  }

  .photo-com {
    height: 40px;
    width: 40px;
    max-width: 40px;
  }

  .photo-com div {
    height: 40px;
    width: 40px;
  }

  .rate-cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px 0 18px;
  }

  .work-sliders {
    border-top: 0 !important;
  }

  .work-flex-container .map-flex-column {
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .rev-rate {
    margin: 6px 0 5px 5px;
  }

  .slider-big {
    height: 250px;
  }
}

@media screen and (max-width: 360px) {
  .slider-nav {
    display: none !important;
  }

  .slider-big {
    height: 200px;
  }
}