.head-worker {
    background-size: cover;
    min-height: 320px;
    width: 100%;
    padding: 30px 10px 90px 10px;
    position: relative;
}

.head-worker h1 {
    font-size: 40px;
}

.hw-info {
    display: flex;
}

.hw-avatar {
    width: 160px;
    height: 160px;
    margin-right: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #c2c2c2;
    font-size: 55px;
    line-height: 155px;
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    min-width: 160px;
    position: relative;
}

.hw-avatar .tariff-icon {
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
    position: absolute;
    bottom: -2px;
    right: -2px;
    opacity: 0.8;
}

.hw-avatar-new {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #c2c2c2;
    font-size: 35px;
    line-height: 45px;
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.hw-avatar img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

.mobile-hw-scroll {
    background-size: cover;
    min-height: 80px;
    width: 100%;
    position: fixed;
    display: none;
    top: 90px;
    z-index: 400;
    margin-bottom: 100px;
}

.hw-scroll {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 10px;
    color: #fff;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hw-scroll .hw-avatar {
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    min-width: 45px;
}

.mobile-user-name {
    color: #fff;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 15px 0 0;
}

.hw-scroll .hw-rate, .hw-scroll .hw-reviews {
    display: inline-block;
    vertical-align: middle;
}

.hw-descr {
    max-width: 100%;
}

.hw-rate {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.hw-rate .fa {
    font-size: 20px;
    color: #ffbf00;
    margin: 0;
    vertical-align: middle;
}

.hw-reviews {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.hw-bottom {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 10px;
    color: #fff;
    position: absolute;
    z-index: 40;
    bottom: 0;
    left: 0;
    width: 100%;
}

.worker-info {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.worker-side {
    min-width: 350px;
    width: 400px;
    max-width: 50%;
    margin-right: 20px;
}

.worker-avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.worker-avatar img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.worker-name {
    color: #0e0e0f;
    font-size: 20px;
    line-height: 125%;
    display: block;
    padding: 10px;
    font-weight: bold;
}

.worker-status {
    font-size: 15px;
    line-height: 1.2em;
}

. text-centerworker-rate {
    color: #999;
    padding: 10px 0 15px;
    font-size: 15px;
}

.worker-rate .rating-container {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.count-rate {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 15px;
}

.worker-rate strong {
    color: #555;
}

.worker-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
}

.pro-img {
    position: absolute;
    top: -3px;
    right: 15px;
    width: 40px;
    height: 40px;
}

.pro-img img {
    width: 100%;
    display: block;
}

.verify-text {
    font-size: 15px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 12px;
}

.verify-cat li {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 12px 25px;
    display: block;
    position: relative;
}

.verify-cat li:before {
    content: '\f058';
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    z-index: 1;
    margin-left: 3px;
    left: 0;
    top: 0;
}

.wc-item {
    position: relative;
    padding: 0 0 17px 25px;
    font-size: 15px;
}

.wc-item span {
    float: right;
    font-weight: bold;
}

.wc-item:before {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    z-index: 1;
    left: 0;
}

.wc-item.location:before {
    content: '\f041';
    left: 1px;
}

.wc-item.member:before {
    content: '\f007';
    font-size: 14px;
}

.wc-item.response-time:before {
    content: '\f017';
    font-size: 14px;
}

.wc-item.delivery:before {
    content: '\f1d8';
    font-size: 12px;
}

.wc-item.basket:before {
    content: '\f291';
    font-size: 12px;
}

.worker-gigs {
    width: 835px;
    float: right;
}

.worker-gigs .cat-middle-section {
    width: 60%;
}

.worker-gigs .job-section {
    width: 40%;
}
.worker-gigs .tab-content {
    padding: 0;
    border: none;
}

.skill-list {
    margin: 0;
}

.skill-list > div {
    display: inline-block;
}

.skill-list li {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    min-width: 40px;
    text-align: center;
    padding: 5px 12px;
    margin: 0 10px 10px 0;
    font-size: 15px;
    line-height: 18px;
}

.menu-worker-mobile {
    /*display: flex;*/
    margin-bottom: 20px;
}

.menu-worker-mobile li {
    position: relative;
    width: 33.33%;
    background-color: #fff;
    text-align: center;
    border: 1px solid #eee;
    border-left: none;
    display: table-cell;
    padding: 0 10px;
    white-space: nowrap;
}

.menu-worker-mobile li a {
    font-size: 15px;
    line-height: 45px;
    color: #555;
    text-decoration: none;
    display: block;
}

.menu-worker-mobile li a:focus, .menu-worker-mobile li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #555;
}

.menu-worker-mobile li a.active, .menu-worker-mobile li a.active:visited {
    color: #555;
}

.menu-worker-mobile li a.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background: #8dc63f;
}

.worker-mobile-head {
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 90px;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px 0 #888888;
    display: none;
}

.wmh-content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.wmh-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.wmh-avatar img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.wmh-info {
    display: inline-block;
    vertical-align: middle;
}

.wmh-name {
    color: #0e0e0f;
    font-size: 18px;
    line-height: 120%;
    padding: 0 5px 0 0;
    display: inline-block;
}

.wmh-rate {
    display: block;
    margin-top: 5px;
}

.wmh-status {
    display: inline-block;
    vertical-align: text-bottom;
}

.worker-info-content {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 0 25px;
    /*overflow: hidden;*/
}

.worker-info-block {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.worker-info-block:last-child {
    border-bottom: none;
}

.worker-info-block a.action-link {
    color: #555;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}

.worker-info-block a.action-link:visited {
    color: #555;
}

.worker-info-block a.action-link:hover {
    color: #555;
    text-decoration: underline;
}

.worker-info-block a.action-link.active {
    font-weight: bold;
    text-decoration: none;
}

.worker-info-item:last-child {
    margin-bottom: 0;
}

.worker-info-title {
    color: #0e0e0f;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.worker-info-block p {
    color: #555;
    padding: 0;
    margin: 0;
    font: 15px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

.worker-info-item {
    margin-bottom: 15px;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    color: #555;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

.worker-info-item span {
    color: #b2b2b2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.check li {
    margin: 0 0 15px 25px;
    position: relative;
    display: block;
    font-size: 15px;
}

ul.check li:before {
    content: "\f00c";
    font-family: 'FontAwesome', serif;
    font-size: 16px;
    color: #00b22d;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -25px;
}

ul.check a, ul.check a:visited, ul.check a:hover {
    color: #00698C;
    text-decoration: none;
}

ul.check li.addsoc:before {
    content: "\f067";
    color: #555;
}

.gigs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
.gigs-list .bf-item:first-child{
    border: 1px solid #00b22d;
}

.gigs-list  .bf-item:first-child:before{
    content: 'BEST SELLER';
    background-color: #00b22d;
    color: #fff;
    padding: 5px 7px;
    position: absolute;
    z-index: 10;
    margin-top: -25px;
    margin-left: -1px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px 3px 0 0;
}
*/

.gigs-list .bf-item {
    width: 24%;
}

.worker-info {
    margin-left: -10px;
    margin-right: -10px;
}

.gigs-title {
    color: #0e0e0f;
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    position: relative;
}
.gigs-title ul.nav-tabs {
    width: auto;
}
.gigs-title ul.nav-tabs > li > a{
    border: none;
    padding: 0 10px;
    color: #00b22d;
    line-height: 18px;
}
.gigs-title ul.nav-tabs > li.active > a,
.gigs-title ul.nav-tabs > li.active > a:hover,
.gigs-title ul.nav-tabs > li.active > a:focus {
    border: none;
    color: #555;
    border-bottom: 2px #00b22d solid;
}
/* copy from work.css */

.work-section {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    background-color: #fff;
}

.head-work {
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    padding: 18px;
    font-size: 18px;
    color: #0e0e0f;
    font-weight: 700;
}

.rev-count {
    float: left;
}

.rc-text {
    display: inline-block;
    vertical-align: middle;
}

.rev-stars, .com-stars {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}

.rev-stars .fa, .rc-stars .fa {
    font-size: 18px;
    color: #ffbf00;
    vertical-align: middle;
}

.rev-rate {
    font-size: 20px;
    line-height: 20px;
    color: #777;
    margin: 6px 5px 5px 10px;
    display: inline-block;
    vertical-align: middle;
}

.rate-col {
    color: #0e0e0f;
    font-size: 15px;
    margin-bottom: 20px;
}

.rc-stars {
    margin-top: 10px;
}

.comment {
    padding: 15px;
    display: block;
    width: 100%;
    border-bottom: 1px #dddddd solid;
}

.this-comment {
    display: table;
    width: 100%;
}

.photo-com {
    display: table-cell;
    vertical-align: top;
    height: 60px;
    width: 60px;
    max-width: 60px;
}

.photo-com div {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 28px;
    line-height: 60px;
    font-family: "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.photo-com img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.info-com {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 10px;
}

.who-com {
    display: block;
    color: #0e0e0f;
    font-size: 14px;
    line-height: 20px;
}

.who-com a {
    color: #0e0e0f;
    text-decoration: none;
}

.who-com a:visited {
    color: #0e0e0f;
}

.who-com a:hover {
    color: #0e0e0f;
    text-decoration: underline;
}

.com-stars .fa {
    font-size: 12px;
    color: #ffbf00;
    vertical-align: top;
    margin: 3px 0 0 0;
}

.com-text {
    display: block;
}

.com-text, .com-text p {
    color: #0e0e0f;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.com-time {
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    display: block;
}

.com-more {
    padding: 20px;
    display: block;
}

.com-more a {
    color: #00698c;
    font-weight: 700;
    font-size: 14px;
}

.com-more a:visited {
    color: #00698c;
}

a.profile-entity-create {
    position: absolute;
    right: 20px;
    top: 12px;
}

.worker-side .rate, .worker-mobile-head .rate {
    float: none;
    display: inline-block;
}

.button-block {
    margin: 20px 0;
}

.request-job {
    position: relative;
    padding: 8px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}

.request-job img {
    height: 150px;
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
    display: block;
}

.bf-offer-descr {
    margin: 8px;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #303030;
    height: 100%;
    display: block;
    overflow: hidden;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.bf-cart {
    padding: 0 10px;
    margin-top: 10px;
}

.company-banner {
    background-image: url(../../images/new/default-company-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 100%;
    margin-bottom: 15px;
}

.profile-sidebar-friend {
    /*flex-grow: 1;*/
    width: 33%;
}

.profile-sidebar-friend img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.profile-sidebar-friend a {
    color: #555;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.profile-sidebar-friends-more-friends {
    margin-top: 10px;
}

.gigs-title ul.nav-tabs.product-tabs,
ul.nav-tabs.product-tabs{
    display: flex;
}

.gigs-title ul.nav-tabs.product-tabs > li,
ul.nav-tabs.product-tabs > li{
    padding: 0 10px;
}

.gigs-title ul.nav-tabs.product-tabs > li > a,
ul.nav-tabs.product-tabs > li > a{
    padding: 20px 0;
    color: #555;
    white-space: nowrap;
}

.gigs-title ul.nav-tabs.product-tabs > li > a:focus,
ul.nav-tabs.product-tabs > li > a:focus,
.gigs-title ul.nav-tabs.product-tabs > li > a:hover,
ul.nav-tabs.product-tabs > li > a:hover{
    background-color: #fff;
}

.gigs-title ul.nav-tabs.product-tabs > li.active > a,
ul.nav-tabs.product-tabs > li.active > a {
    font-weight: bold;
}

.prod-tit{
    padding: 20px;
}

.prod-with-tabs a.profile-entity-create {
    position: relative;
    right: auto;
    top: auto;
    display: inline-block;
    line-height: 30px;
    height: 30px;
}

.prod-with-tabs .flex{
    align-items: center;
    max-height: 60px;
}

/* ---------------- */

@media screen and (max-width: 1200px) {
    .worker-gigs .cat-middle-section {
        width: 100%;
        padding-right: 0;
    }

    .worker-gigs .job-section {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .gigs-list .bf-item {
        width: 48%;
    }

    .mobile-hw-scroll {
        min-height: 120px;
    }
}

@media screen and (max-width: 768px) {
    .head-worker {
        padding-bottom: 30px;
    }

    .gigs-list {
        justify-content: space-around;
    }

    .hw-bottom {
        padding: 10px 10px;
    }

    .worker-info {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0;
        flex-wrap: wrap;
        background-color: #f5f5f5;
    }

    .worker-side {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        min-width: 300px;
    }

    .worker-info-content {
        background-color: #fff;
    }

    .worker-info-mobile {
        padding: 0 15px;
        width: 100%;
    }

    .worker-gigs {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 600px) {
    .worker-gigs .rc-text {
        display: block;
    }

    .hw-bottom {
        display: none;
    }

    .hw-info {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .gigs-list .bf-item {
        width: 100%;
    }

    .worker-info-title .hint--top::after {
        margin-left: -100px;
    }

    .worker-info-block {
        padding: 20px 0;
    }
    .gigs-title ul.nav-tabs.product-tabs,
    ul.nav-tabs.product-tabs{
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .head-worker h1 {
        font-size: 30px;
    }
}