@import "../modules/variables"

a.filter-btn
  border: 1px solid #aaa
  border-radius: 4px
  width: 180px
  padding: 3px 10px
  display: inline-block
  margin: 2px 0
  color: $c_text
  font-size: 14px
  &:hover,
  &:focus
    background-color: #eee
    color: $c_text
    text-decoration: none

a.blue-btn
  display: inline-block
  vertical-align: middle
  background:
  border-radius: 20px
  height: 25px
  color: #fff
  padding: 3px 10px
  margin: 0 4px
  font-size: 14px
  line-height: 20px
  background-color: #1e6373
  &:hover,
  &:focus
    text-decoration: none
    background-color: #407084
    color: #fff
  &.disabled
    background-color: #bdbdbd
    &:hover,
    &:focus
      background-color: #bdbdbd
  .icon
    &.i-email
      background: url("../../images/email.svg") left no-repeat
      @extend %blue-btn-position
    &.i-popup
      background: url("../../images/pop-up.svg") left no-repeat
      @extend %blue-btn-position
    &.i-chat
      background: url("../../images/chat.svg") left no-repeat
      @extend %blue-btn-position
    width: 18px
    height: 18px
    display: inline-block
    vertical-align: top
    margin-right: 5px

%blue-btn-position
  background-size: 18px 18px

a.refresh
  transition: transform .2s
  -webkit-transition: transform .2s
  vertical-align: middle
  display: inline-block
  background-image: url(../../images/refresh.svg)
  background-size: 22px 22px
  width: 22px
  height: 22px
  &:hover
    transform: rotate(-90deg)
    -webkit-transform: rotate(-90deg)

.simple-btn
  display: inline-block
  font-weight: 400
  text-align: center
  vertical-align: middle
  cursor: pointer
  border: 1px solid #aaa
  white-space: nowrap
  padding: 6px 12px
  font-size: 14px
  border-radius: 4px
  background-color: #fafafa
  color: $c_text

a.simple-btn
  &:hover,
  &:focus
    background-color: #eee
    color: $c_text
    text-decoration: none
    
a.bigBlue-btn
  min-width: 180px
  display: inline-block
  background-color: #3e6372
  color: #fff
  border: 1px solid #3e6372
  border-radius: 5px
  text-align: center
  line-height: 26px
  font-size: 14px
  padding: 3px 27px
  cursor: pointer
  -webkit-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
  position: relative
  &:hover,
  &:focus
    background-color: #3e6372
    color: #fff
    text-decoration: none
  &.inverse
    background-color: #fff
    color: #3e6372
    &:hover,
    &:focus
      background-color: #fff
      color: #3e6372

.continue
  display: inline-block
  text-align: center
  vertical-align: middle
  border: 1px solid #d2def0
  -webkit-transition: background .15s,color .15s
  -o-transition: background .15s,color .15s
  transition: background .15s,color .15s
  padding: 6px 12px
  font-size: 14px
  border-radius: 3px
  background-color: #d2def0
  color: #777
  &:hover,
  &:focus
    background-color: #acc2e3
    border-color: #acc2e3
    color: #777
    text-decoration: none

.send-buttons
  padding: 20px
  a.bigBlue-btn
    min-width: 1px
    margin-left: 10px
    &:hover,
    &:focus
      background-color: #fff
      color: #3e6372
    &.inverse
      &:hover,
      &:focus
        background-color: #3e6372
        color: #fff





