@font-face
  font-family: 'HelveticaNeueCyrRoman'
  src: url('../fonts/HelveticaNeueCyrRoman.eot')
  src: url('../fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueCyrRoman.woff2') format('woff2'), url('../fonts/HelveticaNeueCyrRoman.woff') format('woff'), url('../fonts/HelveticaNeueCyrRoman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg')

@font-face
  font-family: 'FontAwesome'
  src: url('../fonts/fontawesome-webfont.eot')
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal
