@import "../modules/variables"

.column-check
  display: block
  padding: 3px 0

.popup-check
  display: block
  padding: 5px 0

input[type="checkbox"],input[type="radio"]
  display: none

input[type="checkbox"] + label,
input[type="checkbox"] + label,
input[type="radio"] + label,
input[type="radio"] + label
  width: 100%
  cursor: pointer

input[type="checkbox"] + label:before,
.popup-check input[type="radio"] + label:before
  width: 15px
  background-color: transparent
  cursor: pointer
  padding: 0
  margin: 0 5px 0
  border: none
  display: inline-block
  vertical-align: middle
  content: "\f096"
  color: #ccc
  font-family: 'FontAwesome', serif
  font-size: 20px
  text-align: left

input[type="checkbox"]:checked + label:before,
.popup-check input[type="radio"]:checked + label:before
  width: 15px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\f14a"
  color: #1e6373
  font-family: 'FontAwesome', serif
  font-size: 18px
  text-align: left

.column-check input[type="checkbox"] + label:before
  width: 25px
  background-color: transparent
  cursor: pointer
  padding: 0 0 0 1px
  margin: -1px 5px 0 0
  border: none
  display: inline-block
  vertical-align: middle
  content: "\f096"
  color: #ccc
  font-family: 'FontAwesome', serif
  font-size: 20px
  text-align: left

.column-check input[type="checkbox"]:checked + label:before
  width: 25px
  background-color: transparent
  cursor: pointer
  padding: 0
  margin: -1px 5px 0 0
  display: inline-block
  vertical-align: middle
  content: "\f14a"
  color: #31c0be
  font-family: 'FontAwesome', serif
  font-size: 20px
  text-align: left

input[type="checkbox"]:disabled + label:before
  width: 25px
  background-color: transparent
  cursor: pointer
  padding: 0
  margin: 0 5px 0 0
  display: inline-block
  vertical-align: middle
  content: "\f14a"
  //background-color: #31c0be
  color: #ccc
  font-family: 'FontAwesome', serif
  font-size: 20px
  text-align: left

input[type="checkbox"] + label
  display: inline
  vertical-align: middle
  font-family: 'HelveticaNeueCyrRoman', serif
  color: $c_text
  font-size: 14px
  line-height: 15px
  font-weight: 400

.popup-check input[type="checkbox"] + label
  font-size: 12px
  color: $c_blue

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"], input[type="search"]
  width: 100%
  background-color: $c_white
  font: $regular 14px $main_font
  color: $c_text
  border: 1px #ccc solid
  padding: 6px
  margin: 0
  border-radius: 3px
  height: 30px
  line-height: 18px
  display: block
  text-align: left

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
input[type="text"].form-control:focus,
input[type="number"].form-control:focus,
input[type="email"].form-control:focus,
input[type="tel"].form-control:focus,
input[type="password"].form-control:focus,
textarea.form-control:focus
  border: 1px #1e6373 solid
  color: $c_text

input[type="number"] 
  -moz-appearance: textfield

input[type="number"]::-webkit-inner-spin-button 
  display: none

::-webkit-input-placeholder
  font: $regular 14px $main_font
  color: $c_text

::-moz-placeholder
  color: $c_text
  font: $regular 14px $main_font

textarea
  width: 100%
  background-color: $c_white
  font: $regular 14px $main_font
  color: $c_text
  border: 1px #ccc solid
  padding: 7px
  margin: 0
  resize: none
  border-radius: 3px
  height: 90px
  line-height: 16px
  display: block
  text-align: left

.search
  position: relative
  &:before
    content: "\f002"
    font-size: 14px
    font-family: "FontAwesome", serif
    position: absolute
    left: 9px
    top: 5px
    color: #b3b3b3
    z-index: 20

input[type="search"]
  border: 1px solid #cbd5dd
  padding-left: 25px
  background-color: #f9f9f9
  margin-bottom: 12px
  position: relative

input.add-tag
  font-size: 12px
  border: 0
  outline: 0
  margin: 2px
  padding: 0 0 0 5px
  display: inline-block
  vertical-align: middle
  height: 26px
  width: 125px
  &::-webkit-input-placeholder
    font: $regular 12px $main_font
    color: #ccc
  &:focus,
  &:hover
    border: none

textarea.write-message
  height: 100px
  border: none
  &:focus,
  &:hover
    border: none

select
  background: #fff
  font-size: 12px
  color: #3e6372
  border-color: #d7d7d7
  padding: 2px 7px
  margin-top: 6px
  height: 30px

.modal-userForm
  width: 90%
  .modal-content
    padding: 10px
    background: #f0f0f0
  .main-info
    margin: 0
    padding: 0
    border-bottom: none
  .modal-body
    padding: 20px 0 0

.user-info-form-head
  background: #fcfcfc
  border-radius: 3px
  border: 1px solid #d7d7d7
  padding: 10px

.uForm-column
  &.info
    width: 250px
    float: left
    @media only screen and (min-width: 1500px)
      width: 350px
  &.history
    padding: 0 20px
    width: calc(50% - 175px)
    float: left
    @media only screen and (max-width: 1500px)
      width: calc(50% - 125px)
    &:last-child
      padding: 0
  .title
    font-size: 14px
    font-weight: 700
    color: #5c5c5c

.chats-history
  border: 1px solid #ccc
  border-radius: 5px
  margin: 10px 0
  .history-body
    padding: 0 10px
    background: #f9f9f9
    border-radius: 5px
    max-height: 510px
    overflow: hidden
    .history-opt
      text-align: center
      padding: 2px 0 5px
      font-size: 12px
      a, a:hover, a:focus
        color: #526d80
        text-decoration: underline
  .history-bottom
    border-top: 3px solid #ccc
    padding: 10px
    text-align: center

ul.history-switch
  width: 100%
  display: flex
  justify-content: space-between
  margin: 10px 0 0
  li
    font-size: 14px
    border-bottom: 1px solid #dadada
    border-bottom: 0
    background: #dadada
    padding: 10px
    border-radius: 7px 7px 0 0
    width: calc(50% - 2px)
    text-align: center
    &.active
      background: #fff
      border: 1px solid #d7d7d7
      padding-top: 11px
      padding-bottom: 9px
      border-bottom: none
      a
        color: $c_blue
        border: none
    a
      color: #767676
      width: 100%
      height: 100%
      display: block
      &:hover,
      &:focus
        text-decoration: none
        color: #767676
        border: none

.tab-history-content
  background: #fff
  padding: 10px
  display: block
  width: 100%
  border-radius: 0 0 4px 4px
  border: 1px solid #d7d7d7
  .tab-head
    border-bottom: 1px solid #e8e8e8

.chronology
  padding-top: 25px
  .chronology-item
    padding: 0 10px 15px
    position: relative
    width: 100%
    z-index: 1
    &:last-child .left-line
      display: none

.left-line
  height: 100%
  position: absolute
  border-right: 1px solid #9fb0b8
  margin-left: 18px
  z-index: 1

.arrow-cell
  position: relative
  z-index: 3
  width: 36px
  min-width: 36px
  display: table-cell
  vertical-align: top
  .icon-arrow
    width: 36px
    height: 36px
    background: #fff url(../../images/cursor.png) top no-repeat

.time-cell
  padding: 3px 10px
  white-space: nowrap
  display: table-cell
  vertical-align: top
  p
    padding: 0
    margin: 0
    color: #9fb0b8
    font-size: 10px
    line-height: 140%

.props-cell
  display: table-cell
  vertical-align: top
  width: 90%
  .props-title
    color: #9fb0b8
    margin-top: 2px
  .props-table
    display: table
    width: 100%
    font-size: 12px
    .props-row
      display: table-row
      .props-name
        display: table-cell
        vertical-align: top
        padding-right: 5px
        font-weight: $bold
        width: 40%
      .props-text
        display: table-cell
        vertical-align: top
        width: 60%

.no-data
  font-size: 12px
  text-align: left
  width: 100%
  padding-left: 45px
  color: #7f7f7f

.chronology-group
  width: 100%
  padding: 10px
  border-bottom: 1px solid #e8e8e8
  border-left: 2px solid #fff
  position: relative
  &.open .group-body
    display: block
  &:hover,
  &.open
    border-left: 2px solid #ff851b
    background-color: #fcfcfc
  a.chron-head
    display: table
    color: $c_text
    &:hover,
    &:focus
      color: $c_text
      text-decoration: none
    .group-name
      display: table-cell
      vertical-align: top
      font-weight: $bold
      width: 95%
      padding: 0 10px
    .chevron
      display: table-cell
      vertical-align: top
      width: 20px
      text-align: right

.group-body
  display: none

.circle-cell
  width: 25px
  min-width: 25px
  max-width: 25px
  padding: 0 5px 0 8px
  display: table-cell
  vertical-align: top
  position: relative
  z-index: 3
  .circle-arrow
    width: 20px
    height: 20px
    border-radius: 50%
    background-color: #fcfcfc
    border: 1px solid #9fb0b8

.modal-sendForm
  width: calc(100% - 60px)
  margin: 0 0 0 auto
  max-width: 1400px
  min-width: 948px
  .modal-content
    background: #fff
    border-radius: 0
  .modal-body
    padding: 20px

.grey-header
  font-size: 21px
  padding: 15px 20px
  background-color: #f3f3f3
  a.send-grey
    position: absolute
    top: 15px
    right: 15px
    float: right
    font-size: 21px
    font-weight: 700
    color: #000
    text-shadow: 0 1px 0 #fff
    opacity: .2
    &:hover,
    &:focus
      opacity: 0.5
      text-decoration: none
      color: #000

.to-user
  line-height: 25px
  margin-bottom: 20px
  display: table
  width: 100%
  vertical-align: top
  > div
    width: 55px
  .to-name
    background: #d8d8d8
    border: 1px solid #d8d8d8
    border-radius: 4px
    padding: 0 0 0 10px
    position: relative
    overflow: hidden
    text-overflow: ellipsis
    display: table-cell
    width: 95%
    .count-msg
      background: #878787
      border-radius: 30px
      color: #fff
      padding: 0 5px
      line-height: 18px
      font-size: 12px
      float: right
      margin: 4px

ul.type-msg
  margin-bottom: 15px
  display: block
  li
    margin-right: 20px
    display: inline-block
    vertical-align: top
    a
      display: block
      width: 100px
      height: 90px
      text-align: center
      border: 1px solid #d8d8d8
      border-radius: 4px
      padding: 10px
      color: $c_text
      &:hover,
      &:focus
        text-decoration: none
        color: $c_text
      img
        height: 45px
        display: block
        margin: 0 auto
      span
        font-weight: bold
        line-height: 2em
    &.active a
      background-color: #d8d8d8
      color: #fff

.tab-type
  margin: 0 -20px
  .send-cols
    display: flex
    align-items: stretch
    border-bottom: 1px solid #d8d8d8
    border-top: 1px solid #d8d8d8
    .left-column
      padding: 0 20px 20px
      width: 50%
      overflow: visible
      border-right: 1px solid #d8d8d8
      box-shadow: 0 0 3px rgba(0,0,0,.2)
    .right-column
      padding: 20px
      width: 50%
      background: #ebeff1
      position: relative
  .msg-option
    margin: 20px 0
    select
      font-size: 14px
      width: 350px
      max-width: 100%

textarea.form-msg
  height: 150px
  width: 100%
  background: #fff
  border: 1px solid #d8d8d8
  border-radius: 0 0 3px 3px

.send-from
  margin: 10px 0
  .avatar
    width: 30px
    height: 30px
    border-radius: 50%
    background: #e0e0e0
    display: inline-block
    vertical-align: middle
    margin: 0 5px 0 0
    overflow: hidden
    img
      height: 100%
      display: block
      margin: 0 auto

.email-block
  background-color: #fff
  border: 1px solid #d8d8d8
  border-radius: 3px
  .email-head
    padding: 10px
    background-color: #f5f5f5
    border-bottom: 1px solid #d8d8d8
    border-radius: 2px 2px 0 0
    .browser-circle
      float: right
      width: 12px
      height: 12px
      margin-left: 10px
      border-radius: 100%
      background: #ccc
  .email-body
    padding: 20px
    .email-from
      display: table
      width: 100%
      margin-bottom: 30px
      .email-icon
        display: table-cell
        vertical-align: middle
        width: 45px
        height: 45px
        border-radius: 50%
        background-color: #8aaeb5
        color: #fff
        font-size: 25px
        line-height: 45px
        text-align: center
      .from-name
        display: table-cell
        vertical-align: middle
        padding-left: 10px

.pop-up
  position: fixed
  width: 100%
  &.example
    position: absolute
    .popup-body .popup-text
      min-height: 80px
  &.big
    max-width: 580px
    top: 50px
    left: 50%
    +m-transform(translateX(-50%))
  &.small
    max-width: 350px
    top: 60px
    right: 10px
  .popup-icon
    margin: 0 auto -5px
    background-color: #3a3a3a
    width: 40px
    height: 40px
    border-radius: 30px
    position: relative
    top: 12px
    border: 3px solid #fff
    display: block
    overflow: hidden
    img
      height: 100%
      display: block
      margin: 0 auto
  .popup-body
    box-shadow: 0 6px 10px rgba(0,0,0,.25)
    border: 1px solid #ddd
    display: block
    border-radius: 6px
    background: #fff
    .popup-text
      font-size: 14px
      padding: 10px
      overflow: hidden
