@import "../modules/variables"
@import "../modules/mixin"

/* Main menu */

.navbar
  margin-bottom: 0
  border: none
  border-radius: 0
  background: #fff

.nav-tabs 
  padding: 0
  border: none

nav.left-menu
  padding: 0
  background: #4c6371
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 60px
  border: none
  .avatar
    padding: 10px 5px
    border-bottom: 1px solid #627b8b
    img
      display: block
      margin: 0 auto
      max-width: 50px
      background: #e0e0e0
      border: 2px solid #c0cbd0
      border-radius: 100px
      width: 34px
      height: 34px
  ul
    display: block
    width: 100%
    > li:last-child
      border-bottom: none
    li
      padding: 4px 0
      display: block
      position: relative
      &:before
        content: ''
        position: absolute
        bottom: 0
        left: 5%
        width: 90%
        height: 1px
        background-color: #627b8b
      &.active a
        background-color: #3d505b
        border: none
        &:hover,
        &:focus
          background-color: #3d505b
          border: none
        &:after
          display: block
      a
        background-image: url(../../images/nav-icons-v4.png)
        text-align: center
        line-height: 50px
        display: block
        width: 60px
        height: 50px
        background-size: 60px
        border-radius: 0
        border: none
        &:after
          content: ''
          width: 2px
          height: 50px
          position: absolute
          left: 0
          top: 0
          background: #e18437
          display: none
        &:hover,
        &:focus
          background-color: #3d505b
          border: none
          &:after
            display: block
      &.nav-live a
        background-position: 0 0
      &.nav-leads a
        background-position: 0 -51px
      &.nav-dialogs a
        background-position: 0 -101px


