@import "../modules/variables"

* html,
body
  background-color: $c_white
  font: 14px/130% $main_font
  width: 100%
  color: $c_text

html,
body
  height: 100%
  min-height: 100%


a
  text-decoration: none
  color: $c_blue
  cursor: pointer
  outline: none
  &:active
    color: #2e97b0
    text-decoration: none
  &:hover
    color: #2e97b0
    text-decoration: underline

h1
  padding: 0
  text-align: center
  color: $c_text
  font: $bold 44px/130% $main_font

h2
  font: $bold 30px/140% $main_font
  color: $c_text
  margin: 15px 0
  text-align: center

p
  margin: 0 0 5px 0
  color: $c_text
  font: $regular 14px/18px $main_font
  text-align: left
  font-size: 14px
  
.close-dialog
  p
    color: #b0cecf
