html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i,aside,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,input,textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing:border-box;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}

ul li{
    list-style: none;
    margin: 0;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

/* устанавливаем фокус */
:focus {
    outline: 0;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url('fonts/HelveticaNeueCyrRoman.eot');
    src: url('fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
    url('fonts/HelveticaNeueCyrRoman.woff') format('woff'),
    url('fonts/HelveticaNeueCyrRoman.ttf') format('truetype'),
    url('fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}

@font-face {
    font-family: 'Pluto';
    src: url('fonts/Pluto.eot');
    src: url('fonts/Pluto.eot') format('embedded-opentype'),
    url('fonts/Pluto.woff2') format('woff2'),
    url('fonts/Pluto.woff') format('woff'),
    url('fonts/Pluto.ttf') format('truetype'),
    url('fonts/Pluto.svg#Pluto') format('svg');
}

* html, body{
    background-color: #fff;
    font: 12px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    width: 100%;
    color: #555555;
}

html,body{
    height: 100%;
    min-height: 100%;
}

a{text-decoration:none;color: #00b22d;cursor:pointer;}
a:visited,a:active{color:#00b22d;}
a:hover {
    color: #00b22d;
    text-decoration: underline;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
a:hover, a:active, a:focus {
    outline: none;
}

h1{
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 44px;
    line-height: 130%;
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
}

h1.profileh,.profileh{
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 130%;
    color: #0e0e0f;
    margin-bottom: 20px;
    font-weight: bold;
}

h1.cat-title{
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
    font-size: 44px !important;
    line-height: 130%;
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    margin-top: 50px;
    width: 100%;
}

h2{
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    line-height: 130%;
    color: #0e0e0f;
    font-weight: bold;
    font-size: 22px;
}

h2 span{
    font: 17px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    display: block;
    text-transform: none;
    font-weight: normal;
}

h3{
    font-family: "Pluto","HelveticaNeueCyrRoman",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 5px 0 5px;
    color: #0e0e0f;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}


p{
    margin: 0 0 20px 0;
    color: #0e0e0f;
    font-weight: 400;
    font: 14px/20px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    text-align: left;
}

input[type="text"],input[type="number"],input[type="email"],input[type="tel"],input[type="password"]{
    width: 100%;
    background-color: #fff;
    font: 400 15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    border-radius: 3px;
    height: 35px;
    line-height: 20px;
    display: block;
    text-align: left;
}

input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus,
input[type="tel"]:focus,input[type="password"]:focus,textarea:focus,
input[type="text"].form-control:focus,input[type="number"].form-control:focus,input[type="email"].form-control:focus,
input[type="tel"].form-control:focus,input[type="password"].form-control:focus,textarea.form-control:focus{
    border: 1px #00b22d solid;
    color: #555555;
    box-shadow: inset 2px 2px 2px #e3e3e3;
}

input[type="number"] { -moz-appearance: textfield; }
input[type="number"]::-webkit-inner-spin-button {  display: none; }

::-webkit-input-placeholder {
    font-family: 'HelveticaNeueCyrRoman', serif;
    font-size: 15px;
    color: #9797A6; }
:-moz-placeholder {
    color: #9797A6;
    font-family: 'HelveticaNeueCyrRoman', serif;
    font-size: 15px;
}

textarea,textarea.form-control{
    width: 100%;
    background-color: #fff;
    font: 400 15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    resize: none;
    border-radius: 3px;
    height: 90px;
    line-height: 15px;
    display: block;
    text-align: left;
}

.chover{
    width: 100%;
    display:inline-block;
    vertical-align: top;
    padding: 6px 0;
}

input[type="checkbox"] {   display:none;}
input[type="checkbox"] + label,
input[type="checkbox"] + label{
    width: 100%;
    cursor: pointer;
}
input[type="checkbox"] + label:before{
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\f096";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
    text-align: left;
}
input[type="checkbox"]:checked + label:before{
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    content: "\f046";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 20px;
    text-align: left;
}
input[type="checkbox"] + label span.ctext{
    display: inline;
    vertical-align: middle;
    font-family: 'HelveticaNeueCyrRoman', serif;
    color: #777;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
}


input[type="radio"] {   display:none;}
input[type="radio"] + label{
    width: 100%;
    cursor: pointer;
}
input[type="radio"] + label:before{
    width: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\f10c";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 1.5em;
}
input[type="radio"]:checked + label:before{
    width: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    content: "\f192";
    color: #797979;
    font-family: 'FontAwesome', serif;
    font-size: 1.5em;
}
input[type="radio"] + label span.ctext{
    display: inline-block;
    vertical-align: middle;
    font-family: 'HelveticaNeueCyrRoman', serif;
    color: #777;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
}

.select-margin{
    margin-bottom: 10px;
}

.nw{
    white-space: nowrap;
    display: inline-block;
}

.clear{ clear: both; }

.container-fluid {
    padding: 0 15px;
    border-radius: 0;
    max-width: 1270px;
    margin: 0 auto;
}

.container-fluid2 {
    padding: 0 15px;
    border-radius: 0;
    max-width: 990px;
    margin: 0 auto;
}

.container-fluid-work {
    padding: 0 15px;
    border-radius: 0;
    max-width: 1020px;
    margin: 0 auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
    clear: both;
    text-align: left;
}

.mainblock{
    min-height: 100%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
}

.breadcrumbs a {padding: 0 5px;}

header{
    display: block;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform  0.3s linear;
    -o-transition: -o-transform  0.3s linear;
    transition: transform  0.3s linear;
}

.all-content{
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform  0.3s linear;
    -o-transition: -o-transform  0.3s linear;
    transition: transform  0.3s linear;
}

.dark-head{
    background-color: #1F1F1F;
    min-height: 60px;
    width: 100%;
}

.logo-search{
    float: left;
    display: table;
    width: 470px;
    max-width: 100%;
}

a.logo, a.logo:active,a.logo:hover,a.logo:visited {
    font-size: 24px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 20px 20px 15px 0;
}

a.logo:active,a.logo:hover{
    text-decoration: none;
    font-size: 24px;
}
a.logo span,a.logo:active span,a.logo:hover span,a.logo:visited span {
    color: #00b22d;
    font-weight: 700;
    position: relative;
}
a.logo span.bot-logo{
    color: #00b22d;
    font-size: 9px;
    margin: 5px 0 0 0;
    text-align: left;
    display: block;
    font-weight: 400;
    white-space: nowrap;
    line-height: 9px;

}
a.logo img{
    width: 100%;
    display: block;
}

.search {
    display: inline-table;
    width: 350px;
    max-width: 100%;
    margin: 15px 20px 0 0;
    position: relative;
}

.search input{
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align:left;
    font-size: 14px;
    font-family: 'HelveticaNeueCyrRoman', serif;
    border: none;
    background-color: #fff;
    color: #0e0e0f;
    padding: 7px 30px 7px 10px;
    width: 100%;
    -webkit-transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    transition: background-color 0.2s, border-color 0.2s, width 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search .input-group-addon{
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #fff;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.search .input-group-addon .fa{
    color: #9797A6;
    padding: 5px;
}

.nav-right{
    float: right;
    font: 700 12px/25px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #e5e5e5;
}

a.nav-autor{
    padding: 8px 10px;
    line-height: 60px;
    font-size: 14px;
    color: #e5e5e5;
    font-weight: 400;
    white-space: nowrap;
}

a.nav-autor:visited{ color: #e5e5e5; }
a.nav-autor:focus,a.nav-autor:hover{ color: #00b22d; text-decoration: none; }

a.green-b{
    font-size: 13px;
    font-weight: 700;
    padding: 6px 12px 7px 12px;
    margin: 18px 30px 17px 10px;
    background-color: #00b22d;
    color: #e5e5e5;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    white-space: nowrap;
}

a.green-b:visited{ color: #e5e5e5; }
a.green-b:hover{ color: #e5e5e5; text-decoration: none; }

.search-dropdown{
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 0 3px 13px 0 rgba(60,60,60,0.4);
    width: 100% !important;
    border: 1px solid #eeeeee;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    text-align: left;
}

.gigs-res{
    padding-bottom: 10px;
}

.search-item,a.search-item{
    font-size: 16px;
    padding: 8px 10px;
    color: #777777;
    display: block;
}

.search-item:hover{
    color: #777;
    text-decoration: none;
}

.search-item:first-child{ padding-top: 10px;}
.search-item:last-child{ padding-bottom: 10px;}

.search-item:hover{ background-color: #eaeaea; }

.search-title{
    background-color: #f7f7f7;
    color: #777777;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding: 5px 10px;
    border-top: none;
    cursor: default;
}

.search-item .fa{
    margin-right: 5px;
    color: #0e0e0f;
}

.search-item strong{ color: #0e0e0f; }

.nav{  }

.navbar {
    margin-bottom: 0;
    border: none;
    text-align: center;
    border-radius: 0;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}

.nav-tabs{
    padding: 0;
    width: 100%;
    border: none;
}

nav.top-menu{
    background: #fff;
    border-bottom: 1px #dddddd solid;
    min-height: 30px;
    padding: 3px 0 0 0;
}

nav.top-menu .nav-tabs > li {
    float: left;
    padding: 0;
    position: relative;
    height: 24px;
    font-size: 13px;
    line-height: 23px;
    color: #303030;
    white-space: nowrap;
    border: 1px transparent solid;
    border-radius: 3px 3px 0 0;
}

.nav-tabs{
    border-bottom: none;
}

nav.top-menu .nav-tabs > li > a {
    border: none;
    font-weight: 400;
    color: #555555;
    border-radius: 0;
    text-align: left;
    padding: 0 10px;
    display: inline-block;
    float: none;
    text-decoration: none;
    z-index: 11;
    position: relative;
    background-color: #fff;
    margin-right: 0;
}

nav.top-menu .dropdown .fa{
    display: none;
    position: absolute;
    top: 10px;
    z-index: 15;
    right: 15px;
    cursor: pointer;
    font-size: 1.5em;
}

nav.top-menu .nav-tabs > li:hover{
    border: 1px #dddddd solid;
    color: #00698c;
    border-bottom: none;
    box-shadow: 0 1px 3px 0 #dddddd;
    padding-bottom: 11px;
}

nav.top-menu .nav-tabs > li:hover:before{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #fff;
    z-index: 12;
}

nav.top-menu .nav-tabs li a:hover {
    color: #00698c;
}
nav.top-menu .nav li a:hover, .nav li a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #00698c;
}

nav.top-menu .drop-menu{
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 10;
    display: none;
    border: 1px #dddddd solid;
    padding: 15px 0;
    border-radius: 0 3px 3px 3px;
    width: 400px;
    margin-top: -2px;
}

nav.top-menu .drop-menu.drop100{
    width: 200px;
    left: auto;
    right: -1px;
}

nav.top-menu .nav li ul{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}

nav.top-menu .nav > li:last-child{ display: none; }

nav.top-menu .nav li ul:first-child{
    border-right: 1px #dddddd solid;
}

nav.top-menu .drop-menu.drop100 ul{
    width: 100%;
    border-right: none !important;
}

nav.top-menu .nav li ul li{
    line-height: 16px;
    display: block;
    text-align: left;
    max-width: 180px;
    overflow: hidden;
}

nav.top-menu .nav li ul li{
    line-height: 16px;
    display: block;
    text-align: left;
    max-width: 200px;
    overflow: hidden;
}

nav.top-menu .nav-tabs li ul li a{
    color: #00698c;
    display: block;
    line-height: 16px;
    padding: 10px 15px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav.top-menu .nav-tabs li ul li a:hover {
    text-decoration: underline;
}

nav.top-menu .nav li:hover .drop-menu{ display: block; }

.navbar-toggle:hover,.navbar-toggle:focus {
    background-color: #fff;
}
.navbar-toggle {
    border-color: #555;
    z-index: 100;
    float: left;
    background-color: #fff;
    margin-left: 0;
}

.navbar-toggle .icon-bar {
    background-color: #555;
}

.navbar-collapse,.navbar-form {
    border: none;
    padding: 0;
    float: left;
    width: 100%;
}

.navbar-collapse,.navbar-form {
    float: none;
    position: relative;
}

header .navbar-collapse.in {
    width: 100%;
    overflow-y: hidden;
}

.block-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-list .block-flex,.fav-page .block-flex{
    justify-content: flex-start;
}

.bf-item{
    background-color: #fff;
    width: 18%;
    height: 360px;
    margin: 0 0 20px 0;
    padding: 0;
    float: left;
    position: relative;
    border: 1px #e5e5e5 solid;
    max-width: 232px;
}

.block-top{
    position: absolute;
    z-index: 305;
    font-size: 12px;
    line-height: 34px;
    color: #b2b2b2;
    width: 100%;
}

.by{
    float: left;
    padding: 5px;
}

.by a,.by a:visited{ color: #0e0e0f; }

.by a:hover{
    color: #0e0e0f;
    text-decoration: underline;
}

.rate{
    float: right;
    padding: 5px;
}

.rate .fa{
    font-size: 0.8em;
    color: #ffbf00;
    margin: 0;
    vertical-align: middle;
}

.bf-item .bf-alias{
    position: relative;
    z-index: 310;
    display: block;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bf-item:hover .bf-alias{ margin-top: 35px; }

.bf-img{
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 310;
    width: 100%;    height: 230px;
    overflow: hidden;
    padding-bottom: 4px;
}

.bf-img img{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 100%;
}

.bf-descr{
    margin: 5px 12px 9px 12px;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #303030;
    height: 40px;
    display: block;
    overflow: hidden;
    font-family: "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.bf-item:hover .bf-descr{
    color: #00b22d;
}

.bf-alias:hover{ text-decoration: none; }
.bf-descr:hover{ text-decoration: underline; }

.markers{
    padding: 0 12px;
    height: 22px;
    overflow: hidden;
}

.markers .stick{
    margin: 1px 7px 0 0;
    font: 700 10px/15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    height: 15px;
    position: relative;
    padding: 0 4px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 400;
}

.feat{
    background-color: #f21aa5;
}

.block-bottom{
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 315;
    width: 100%;
    background-color: #fff;
}

.like{
    float: left;
    margin: 5px 10px 0 0;
    position: relative;
}

.hint--top::before, .hint--top::after {
    bottom: 100%;
    left: 50%;
    max-width: 200px;
    white-space: normal;
}
.hint--top::after {
    margin-left: -22px;
}
.hint--top::before {
    margin-left: -5px;
    margin-bottom: -12px;
    border-top-color: #383838;
    display: block;
}
[data-hint]::before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
[data-hint]::after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0 black;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
[data-hint]::before, [data-hint]::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hint--top:hover::before, .hint--top:hover::after {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
[data-hint]:hover::before, [data-hint]:hover::after {
    visibility: visible;
    opacity: 1;
}

.hint--bottom::before {
    margin-left: -5px;
    margin-top: -12px;
    border-bottom-color: #383838;
}
.hint--bottom::before, .hint--bottom::after {
    top: 100%;
    left: 50%;
}
.hint--bottom::after {
    margin-left: -22px;
}

.hint--bottom:hover::before, .hint--bottom:hover::after {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.hint--left:before {
    margin-right: -12px;
    margin-bottom: -5px;
    border-left-color: #383838;
}
.hint--left:after {
    margin-bottom: -13px;
}
.hint--left:before,
.hint--left:after {
    right: 100%;
    bottom: 50%;
}
.hint--left:hover:before,
.hint--left:hover:after {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}

.like .fa{
    font-size: 1.3em;
    color: #c6c6c6;
}


.like-act .fa{ color: #FF4D4D !important; }

.save-like{
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: 3;
    opacity: 0;
}

.save-like a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
    cursor: pointer;
}
.save-like a .fa{
    color: #fff;
    font-size: 14px;
}

.save-choose{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: none;
    padding: 0;
    z-index: 4;
}

.save-choose .fa{ color: #999999; }

.sc-item:first-child{ border-bottom: 1px solid #e5e5e5; }


a.sc-item{
    font-size: 12px;
    color: #999999;
    text-align: left;
    display: block;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
}

a.sc-item:hover{
    background-color: #f0f0f0;
    color: #555;
    text-decoration: none;
}

.save-choose .sc-item:hover .fa{ color: #555; }


.save .fa{
    font-size: 1.3em;
    color: #c6c6c6;
}


.save{
    float: left;
    margin: 5px 10px 0 0;
    position: relative;
}

a.save:hover,a.like:hover{ text-decoration: none !important; }

a.block-price{
    line-height: 20px;
    font-weight: 700;
    color: #00b22d;
    float: right;
}

a.block-price span{
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding: 1px 5px 0 0;
}

a.block-price:hover{ text-decoration: none; }


.btn-big {
    background-color: #00b22d;
    font: 700 16px/16px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #fff;
    border: 1px solid #00b22d;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
    background: linear-gradient(#35c350, #03b525);
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

a.btn-big:visited{ color: #fff; }

.btn-big:focus,.btn-big:hover{
    color: #fff;
    border-color: #007e20;
    text-decoration: none;
}

.btn-middle{
    line-height: 30px;
    padding: 0 20px;
    font-size: 15px;
    background-color: #00b22d;
    color: #fff;
    white-space: nowrap;
    border: 1px solid #00b22d;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
    background: linear-gradient(#35c350, #03b525);
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}
.btn-small.red, .btn-middle.red, .btn-big.red {
    background: linear-gradient(#df5355, #e90400);
    border: 1px solid #b25d5d;
}
.btn-small.blue, .btn-middle.blue, .btn-big.blue {
    background: linear-gradient(#4479a4, #005ba4);
    border: 1px solid #2e6da4;
}

.file-input .btn-middle{
    line-height: 32px;
    cursor: pointer;
    vertical-align: top;
}
a.btn-middle:visited{ color: #fff; }

.btn-middle:focus,.btn-middle:hover{
    color: #fff;
    border-color: #007e20;
    text-decoration: none;
}
.bright{
    float: right;
}

a.all{
    float: right;
    font: normal 12px/15px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #999999;
    text-transform: uppercase;
    margin: -80px 0 0 20px;
}

a.all:visited{ color: #999999; }

a.all:hover{
    text-decoration: none;
    color: #00b22d;
}

.mark{
    background-color: #fceac5;
    width: 560px;
    max-width: 100%;
    display: block;
    padding: 25px 15px 15px 15px;
    border: 1px #ffdfbf solid;
    border-radius: 4px;
    margin: 60px auto;
}

.mark-text{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #303030;
    padding-top: 1px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.mark-small{
    font-size: 14px;
    font-weight: 400;
}

.mark .fa{
    vertical-align: top;
    color: #605962;
    font-size: 5em;
}


.three-blocks{
    padding: 50px 0 0 0;
}

.about{
    margin-bottom: 30px;
    text-align: center;
}

.about a{
    padding: 185px 30px 0 30px;
    display: block;
}

.about-img{
    background: transparent url("../../images/new/three.png") no-repeat 0 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20px;
    display: block;
    width: 126px;
    height: 126px;
    margin-left: -63px;
}

.about:nth-child(2) .about-img{
    background-position: -126px 0;
}

.about:nth-child(3) .about-img{
    background-position: -252px 0;
}

.about a:hover{
    text-decoration: none;
}

.three-title{
    font: 900 20px/23px "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #0e0e0f;
}

.about p{
    font-size: 16px;
    line-height: 21px;
    color: #999999;
    padding-top: 10px;
    text-align: center;
}
footer{
    border-top: 1px #e5e5e5 solid;
    background-color: #fff;
    font: 400 14px/18px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    padding: 20px 0 30px 0;
}

.ffirst{
    padding-bottom: 15px;
    margin: 0;
}

.fsecond{ margin: 0; }

.falias{
    float: left;
    max-width: 100%;
    margin: 0 0 10px 0;
}

.falias a{
    color: #999999;
    margin-right: 15px;
    line-height: 25px;
}
.falias a:visited{
    color: #999999;
}
.falias a:hover {
    color: #00b22d;
    text-decoration: none;
}

.fright{
    float: right;
    margin: 0 0 10px 0;
    text-align: right;
}

.fright a{
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin: 0 0 0 5px;
    background-color: #777;
    color: #fff;
    border-radius: 50%;
    padding-top: 3px;
    text-align: center;
}

.fright a:visited{ color: #fff; }

.fright a:hover{
    background-color: #00b22d;
    color: #fff;
    text-decoration: none;
}

.fright a .fa{
    font-size: 1em;
}

.fcheck{
    position: relative;
    z-index: 300;
    float: left;
    margin: 0 15px 15px 0;
}

.copywrite{
    font-size: 13px;
    line-height: 14px;
    color: #b3b3b3;
    text-align: right;
}

a.check-but{
    border: 1px #b2b2b2 solid;
    line-height: 38px;
    vertical-align: top;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 12px;
    color: #999;
    display: block;
    height: 38px;
    text-transform: uppercase;
    text-decoration: none;
}

a.check-but:visited{ color: #999; }

a.check-but:hover{
    color: #999;
    text-decoration: none;
}

.check-but:hover .current,.check-but:hover .fa{
    color: #00b22d;
}

.lc-header{
    border-bottom: 1px solid #dddddd;
    padding: 2px 10px;
    color: #777777;
    border-radius: 4px 4px 0 0;
    background: #eee url(../../images/new/lang.png) no-repeat right 15px top 5px;
}

.ang-con{
    margin-top: 5px;
    width: 23px;
    height: 16px;
}

.lang-cur{
    bottom: 50px;
    left: 0;
    position: absolute;
    width: 250px;
    background-color: #fff;
    z-index: 1001;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 0 1px 13px rgba(0,0,0,0.2);
    display: none;
}

.lc-inner{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

a.more-less{
    font-weight: 700;
    color: #00698c;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    padding: 6px 0;
    display: block;
}

a.more-less:visited, a.more-less:active {
    color: #00698c;
}

a.more-less:hover{
    color: #00698c;
    text-decoration: none;
}

.load-button-place{
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
}

a.load{
    background: linear-gradient(#fff, #f5f5f5);
    color: #303030;
    background-color: #00b22d;
    font: 700 16px/16px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all  0.2s ease-in-out;
    -moz-transition: all  0.2s ease-in-out;
    -o-transition: all  0.2s ease-in-out;
    transition: all  0.2s ease-in-out;
}

a.load:visited{
    color: #303030;
}

a.load:hover{
    color: #00b22d;
    border-color: #b3b3b3;
    text-decoration: none;
}

a.load-small{
    background: linear-gradient(#fff, #f5f5f5);
    color: #303030;
    font: 700 13px/13px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 6px 12px 7px 12px;
    margin: 20px 20px 20px 0;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all  0.2s ease-in-out;
    -moz-transition: all  0.2s ease-in-out;
    -o-transition: all  0.2s ease-in-out;
    transition: all  0.2s ease-in-out;
}

a.load-small:visited{
    color: #303030;
}

a.load-small:hover{
    color: #00b22d;
    border-color: #b3b3b3;
    text-decoration: none;
}

a.load-small.active{
    background: #00b22d;
    color: #e5e5e5;
}

a.read-more{
    color: #00698c;
    display: block;
    font-size: 15px;
    margin-top: 20px;
}

a.read-more:visited{
    color: #00698c;
}

a.read-more:hover{
    color: #00698c;
    text-decoration: underline;
}
.modal-dialog {
    width: 390px;
    max-width: 100%;
    margin: 100px auto;
}


@media (min-width: 768px){
    .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.modal-content{
    position: relative;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: none;
    text-align: center;
}

.modal-body{
    padding: 0;
}

.modal-header .close {
    margin: -15px -15px 0 0;
}

button.close {
    float: right;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    border-radius: 50%;
    background-color: #999;
    width: 16px;
    height: 16px;
    line-height: 16px;
}


.remember{
    float: left;
    display: block;
    padding: 0;
    font-size: 13px;
    width: auto;
}

button.close:hover, button.close:focus{
    color: #fff;
}

.modal-header {
    border: none;
    z-index: 3;
    position: relative;
    padding: 0;
    margin-top: 0;
}

.form-group{
    margin: 15px 0 0 0;
}

.modal-dialog input[type="text"],.modal-dialog  input[type="number"],
.modal-dialog input[type="email"],.modal-dialog input[type="tel"],.modal-dialog input[type="password"]{
    font-size: 16px;
    width: 100%;
    height: 44px;
    -webkit-transition: padding 0.1s;
    -moz-transition: padding 0.1s;
    -o-transition: padding 0.1s;
    transition: padding 0.1s;
    background-color: #fff;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 0 10px;
    margin: 0;
    border-radius: 3px;
}

textarea:active, textarea:focus, input[type="date"]:active, input[type="date"]:focus,
input[type="datetime"]:active, input[type="datetime"]:focus,
input[type="datetime-local"]:active, input[type="datetime-local"]:focus,
input[type="email"]:active, input[type="email"]:focus, input[type="month"]:active,
input[type="month"]:focus, input[type="number"]:active, input[type="number"]:focus,
input[type="password"]:active, input[type="password"]:focus, input[type="search"]:active,
input[type="search"]:focus, input[type="tel"]:active, input[type="tel"]:focus,
input[type="text"]:active, input[type="text"]:focus, input[type="time"]:active,
input[type="time"]:focus, input[type="url"]:active, input[type="url"]:focus,
input[type="week"]:active, input[type="week"]:focus {
    border: 1px #00b22d solid;
    color: #555555;
    box-shadow: inset 2px 2px 2px #e3e3e3;
}

.form-title{
    font: normal 23px/26px "Pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0e0e0f;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.error-mes{
    font-weight: 700;
    color: #ff4d4d;
    text-align: left;
    padding: 10px 0;
    display: block;
}

.width100{
    width: 100%;
    text-transform: uppercase;
    margin-top: 15px;
}

.add-form-op{
    padding: 20px 0;
    margin: 0;
}

.forgot{
    font: 13px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    float: right;
}

.or-text{
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
    display: inline-block;
}

.or-line{
    border-bottom: 1px solid #dddddd;
    text-align: center;
    height: 8px;
}

.social-login{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.social-login a{
    width: 30%;
    color: #fff;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    height: 45px;
    border-radius: 3px;
}

.social-login .fb{
    background-color: #3b5998;
}

.form-bottom{
    background-color: #eeeeee;
    display: block;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 -20px -20px -20px;
    padding: 10px 20px 13px 20px;
    border-top: 1px solid #dddddd;
    border-radius: 0 0 5px 5px;
    color: #555555;
}

.form-warning{
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.fw-item{
    display: block;
    margin: 5px 0;
}

.form-subtitle{
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.header-col{
    font: 500 20px/120% "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px #e5e5e5 solid;
    border-radius: 5px 5px 0 0;
    margin: -20px -20px 0 -20px;
    text-align: left;
    color: #0e0e0f;
    text-transform: capitalize;
}

.header-col button.close {
    float: right;
    font-size: 30px;
    font-weight: normal;
    color: #b2b2b2;
    text-shadow: none;
    opacity: 1;
    border-radius: 50%;
    background-color: transparent;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.header-col button.close:hover,.header-col button.close:focus{
    color: #00b22d;
}

.header-col.modal-header .close {
    margin: 0 -10px 0 0;
}

.btn-small {
    height: 30px;
    line-height: 30px;
    padding: 0 15px !important;
    font-size: 14px !important;
    margin: 15px 0 0 0;
    background-color: #00b22d;
    color: #fff;
    border: 1px solid #00b22d;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
    background: linear-gradient(#35c350, #03b525);
    -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

a.btn-small:visited{ color: #fff; }

.btn-small:focus,.btn-small:hover{
    color: #fff;
    border-color: #007e20;
    text-decoration: none;
}

.newcol{
    text-align: right;
}

.nav-right{
    float: right;
    position: relative;
    z-index: 12;
}

a.icon-profnav{
    font-size: 14px;
    color: #b2b2b2;
    width: 45px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

a.icon-profnav:hover{
    color: #999;
}

a.icon-profnav .fa{
    font-size: 20px;
}

.if-full{
    right: 6px;
    content: '';
    background-color: #f21aa5;
    position: absolute;
    z-index: 1;
    top: 15px;
    width: 10px;
    height: 10px;
    display: none;
    border-radius: 50%;
}

a.icon-profnav.full .if-full{
    display: block;
}

.icon-act:after{
    content: '';
    background-color: #f21aa5;
    position: absolute;
    z-index: 2;
    top: 19px;
    right: 5px;
    width: 10px;
    height: 10px;
    display: none;
    border-radius: 50%;
}

.head-name{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 6px;
    line-height: 20px;
    float: none;
}

ul.nav-head-prof{
    margin-top: 3px;
    border: 1px #dddddd solid;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
    border-radius: 3px;
    position: absolute;
    display: none;
    top: 50px;
    right: 0;
    width: 200px;
}

ul.nav-head-prof li{
    width: 100%;
    display: block;
}

ul.nav-head-prof li a{
    padding: 5px 13px 3px 13px;
    display: inline-block;
    width: 100%;
    color: #555555;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

ul.nav-head-prof li a:hover{ color: #00b22d; }

ul.nav-head-prof > li:first-child a{
    padding-top: 10px;
}

ul.nav-head-prof:before{
    content: "";
    color: #fff;
    position: absolute;
    z-index: 1;
    display: block;
    top: -11px;
    right: 25px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}

ul.nav-head-prof ul{
    background: #eeeeee;
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.03);
    display: none;
}

ul.nav-head-prof li .fa{
    color: #b3b3b3;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    display: block;
    top: 8px;
    right: 10px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
}


.prof-menu{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 5px;
    height: 100%;
    padding: 15px 0;
}

.head-avatar{
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    font-family: "Pluto", "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.head-avatar img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.head-name{
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.online:before{
    left: 15px;
    content: '';
    background-color: #44ab00;
    position: absolute;
    z-index: 1;
    top: -1px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
}

.prof-headm{
    cursor: default;
    position: relative;
}

.prof-headm .fa{
    color: #999;
    display: block;
    position: absolute;
    font-size: 16px;
    right: -15px;
    top: 7px;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.prof-headm:hover .fa{
    opacity: 0;
}

.msg-error{
    font-size: 15px;
    color: #ff4d4d;
    text-align: left;
    padding: 10px;
    padding-left: 0;
    margin: -3px 0 0 0;
    display: block;
}

.work-sliders{
    border-top: 1px #e5e5e5 solid;
    background: #f7f7f7;
    padding: 40px 0 0 0;
}

.ws-block{
    padding-bottom: 60px;
}

.ws-title{
    font-size: 18px;
    color: #0e0e0f;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: 'Pluto',serif;
}

.ws-title a,.ws-title a:visited{
    color: #00698c;
}

.ws-title a:hover{
    color: #00698c;
    text-decoration: underline;
}

.ws-content .bf-item{
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    float: none;
}

.slideitem-over{
    padding: 0 10px;
}

.nav-fixed{
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 90px;
}

.menu-work{
    float: left;
}

.menu-work li,.tab-gigs li{
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.menu-work li a,.tab-gigs li a {
    font-size: 14px;
    line-height: 45px;
    font-weight: 500;
    display: inline-block;
    color: #999999;
    text-decoration: none;
}

.menu-work li a.active,.menu-work li a.active:visited{
    color: #0e0e0f;
}
.menu-work li a:visited,.tab-gigs li a:visited { color: #999; }

.menu-work li a:hover,.tab-gigs li a:hover {
    color: #777;
    text-decoration: none;
}

.tab-gigs li a:hover{
    border: none;
    background-color: transparent;
}

.menu-work li a.selected:hover,.menu-work li a.active:hover,
.tab-gigs li.active a:hover,.tab-gigs li.active a,
.tab-gigs li a:focus,.tab-gigs li.active a:focus
{
    color: #0e0e0f;
    text-decoration: none;
    border: none;
}

.menu-work li a.selected,.menu-work li.active,
.tab-gigs li.active a
{
    color: #0e0e0f;
    border: none;
}

.menu-work li a.selected::after,.tab-gigs li.active a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background: #00b22d;
}

.menu-work li:hover ul{
    display: block;
}

.menu-work li ul{
    position: absolute;
    border: 1px solid #dddddd;
    border-top: none;
    left: -13px;
    white-space: nowrap;
    top: 100%;
    z-index: 350;
    display: none;
    background: #fff;
    box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.05);
    border-radius: 0 0 3px 3px;
}

.menu-work li ul li{ display: block; }

.menu-work li ul li a{
    padding: 5px 13px 3px 13px;
    width: 100%;
    color: #555555;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: block;
}

.menu-work li ul li:first-child a{
    padding-top: 10px;
}

.menu-work li ul li a:hover{
    color: #00b22d;
}

.table-packs{
    display: table;
    width: 100%;
    margin: -20px -15px;
    border-collapse: collapse;
}

.row-packs{
    display: table-row;
    position: relative;
}

.cell-packs{
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    border-top: solid #f4f4f4 1px;
    border-left: solid #dddddd 1px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    padding: 13px;
    color: #777777;
    position: relative;
}

.cell-packs:first-child{
    background: #f7f7f7;
    border-left: none;
    border-top: solid #dddddd 1px;
    text-align: left;
}

.cell-packs p{
    color: #777;
}

.cell-packs.noborder{
    border-top: none;
    border-left: none;
}


.faq{
    display: block;
    width:100%;
}

.faq-item{
    width:100%;
    border-bottom: 1px solid #dddddd;
}

.faq-head{
    display: block;
    padding: 20px 30px 20px 15px;
    cursor: pointer;
    color: #0e0e0f;
    position: relative;
}

.faq-head:before{
    content: "\f107";
    color: #0e0e0f;
    font-size: 15px;
    font-family: FontAwesome,sans-serif;
    position: absolute;
    top: 20px;
    right:10px;
    z-index:2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.faq-item.open .faq-head:before {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    -moz-transform: rotate3d(0, 0, 1, -180deg);
    -ms-transform: rotate3d(0, 0, 1, -180deg);
    -o-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
}

.faq-body{
}

.faq-body p{
    max-height: 0;
    margin: 0;
    -webkit-transition: max-height 0.3s, padding-top 0.3s;
    -moz-transition: max-height 0.3s, padding-top 0.3s;
    -o-transition: max-height 0.3s, padding-top 0.3s;
    transition: max-height 0.3s, padding-top 0.3s;
    overflow: hidden;
}

.faq-item.open .faq-body p{
    padding: 20px 15px 20px 15px;
    max-height: inherit;
}

.faq-item.open .faq-head{ padding-bottom: 0px; }

@media screen and (max-width: 1024px) {
    .trends,.block-flex,.cat-list .block-flex,.fav-page .block-flex { justify-content:space-around; }
    .bf-item,.fav-page .bf-item{ width: 31%; }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 18px;
    }

    .nav-tabs {
        padding: 10px 0;
    }

    nav.top-menu {
        border-bottom: none;
    }

    nav.top-menu .nav-tabs > li:hover {
        box-shadow: none;
        padding-bottom: 1px;
    }

    nav.top-menu .nav-tabs > li {
        float: none;
        padding: 0;
        position: relative;
        height: auto;
        font-size: 16px;
        width: 100%;
        border: 1px solid #ddd;
    }

    nav.top-menu .nav-tabs > li > a {
        color: #555555;
        float: none;
        position: relative;
        background-color: #f5f4f4;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid transparent;
    }

    nav.top-menu .drop-menu {
        position: relative;
        width: 100%;
        left: 0;
    }

    nav.top-menu .nav-tabs > li > ul > li a {
        font-size: 14px;
    }

    .container-fluid > .navbar-collapse {
        margin-left: 0;
    }

    nav.top-menu .nav-tabs > li:hover:before {
        display: none;
    }

    nav.top-menu .nav li:hover .drop-menu {
        display: none;
    }

    nav.top-menu .nav li ul:first-child {
        border-right: none;
    }

    nav.top-menu .nav-tabs > li > a:hover {
        border-bottom: 1px solid #eee;
    }

    nav.top-menu .nav li ul {
        width: 100%;
        display: block;
    }

    nav.top-menu .nav-tabs li ul li a {
        width: 100%;
    }

    nav.top-menu .dropdown .fa {
        display: block;
    }

    .bf-item {
        width: 48%;
    }

    .falias {
        text-align: center;
    }

    .aside-body {
        display: none;
    }

    .search {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-top: 0;
    }

    a.logo {
        width: auto;
        margin: 0 auto;
    }

    a.logo, a.logo:active, a.logo:hover, a.logo:visited {
        padding: 20px 0 0 0;
    }

    .logo-search {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .nav-fixed {
        display: none;
    }

    a.logo span.bot-logo {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    a.all{ margin-top: -30px; }
    .nav-right{
        text-align: right;
        margin-top: -5px;
        padding-bottom: 5px;
    }
    a.nav-autor { line-height: 30px; }
}


@media screen and (max-width: 480px) {
    .bf-item,.fav-page .bf-item{ width: 100%; }
    a.nav-autor[data-target="#login"]{ display: none; }
    a.nav-autor {  padding: 8px 4px; }
    .width480{ width: 100%; }
}

@media screen and (max-width: 360px) {
    .prof-menu{
        float: right;
        padding: 5px 0;
    }
    a.icon-profnav {
        width: 35px;
        line-height: 40px;
    }
    .if-full {
        right: 2px;
        top: 5px;
    }
}