.file-preview-image {
    width: 200px;
    max-height: 100%;
    max-width: 100%;
}
.crop-bg {
    z-index: 1000001; /* У Yii тулбара 1000000... */
    position: fixed;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #000;
    border-radius: 3px;
}
.crop-container {
    width: 90%;
    height: 100%;
}
.crop-container img{
    max-width: 100%;
    margin: auto;
}
.crop-actions{
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 90%;
    background-color: #fff;
    padding: 50px 10px;
    text-align: center;
}
.crop-actions button{
    margin: 3px auto;
}
.crop-actions button.crop-confirm{
    display: block;
}
.crop-actions button.crop-rotate-left, .crop-actions button.crop-rotate-right{
    display: inline-block;
}
.crop-actions i.fa-times{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.file-preview-initial .crop-button {
    display: none;
}