html,
body {
    height: 100%;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.content {
    overflow-x: scroll;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.file-preview-image {
    max-width: 100%;
    max-height: 300px;
}
/*.krajee-default.file-preview-frame .kv-file-content {*/
    /*height: auto!important;*/
    /*width: auto!important;*/
/*}*/

.top-buffer { margin-top:20px; }

#calendar .modal-content{
    padding: 15px;
}

#calendar_data {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
}

.fc td.fc-today {
    background: #eee;
}

.slider.slider-horizontal {
    width: 100% !important;
}

.content-wrapper .content-header>.breadcrumb {
    float: none;
    position: relative;
    text-align: right;
    top: auto;
    right: auto;
}

.switcher .content {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: auto;

}
.switcher.default {
    vertical-align: middle;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0 !important;
}

.nav-stacked > li {
    clear: both;
}

.bold {
    font-weight: bold;
    font-size: 14px;
}

.grid-image-container img {
    width: 100%;
}

.pac-container {
    z-index: 9000;
}

.table-packs{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.row-packs{
    display: table-row;
    position: relative;
}

.cell-packs{
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    border-top: solid #f4f4f4 1px;
    border-left: solid #dddddd 1px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    padding: 13px;
    color: #777777;
    position: relative;
}

.cell-packs:first-child{
    background: #f7f7f7;
    border-left: none;
    border-top: solid #dddddd 1px;
    text-align: left;
}

.cell-packs p{
    color: #777;
}

.cell-packs.noborder{
    border-top: none;
    border-left: none;
}

.table-packs .form-group {
    margin: 0 2px 2px 0;
}

.table-packs .form-group.has-error {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.form-gig .cell-packs {
    padding: 0;
    text-align: left;
    border-top: solid #ddd 1px;
}

.users-list>li img {
    width: 100%;
}

.users-list>li {
    min-height: 175px;
}

.users-list>li a{
    word-wrap: break-word;
}

#user-grid table {
    table-layout: fixed;
}

#user-grid table td, #user-grid table th {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.soc-square {
    font-size: 16px;
    border: 1px #535353 solid;
    width: 22px;
    display: inline-block;
    padding: 3px 0;
}
.soc-square i.fa {
    margin: 0 auto;
    display: table;
}

#postjobform-status label,
#postrequestform-status label,
#postproductform-status label,
#postvideoform-status label,
#option-type-radio label{
    display: block;
}
a.admin-comment {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
}

.message-attachments .message-attachment .file-container img {
    height: 150px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.message-attachments .message-attachment .file-container {
    width: 150px;
    height: 150px;
    display: block;
}

.cgb-optbox {
    display: block !important;
}

.extra-recommend {
    margin-left: 0 !important;
}

.spacer {
    margin: 10px 0;
}

.green-cell {
    background: #c1f9aa;
}

.red-cell {
    background: #ffa89e;
}

.modal-xxl {
    width: 1100px;
}


.specialty-input-container .selectize-input {
    min-height: 35px;
    padding: 6px 7px 7px;
}
.specialty-input-container .selectize-control.single .selectize-input {
    background: #fff;
    box-shadow: none;
}
.specialty-input-container .selectize-input.full {
    background: #fff;
}
.specialty-input-container .selectize-input.not-full {
    max-height: 35px;
}
.specialty-input-container .selectize-input input {
    height: 20px;
    position: absolute;
    left: 0;
}
i.green {
    color: #55cc55;
}
i.red {
    color: #ee5555;
}
i.blue {
    color: #5555ff;
}
.chover.mini {
    display: inline-block;
    margin: 2px 4px;
}

.chover.mini label {
    margin: 2px 5px;
}

.ui-front {
    z-index: 9000;
}

.selectize-dropdown-content {
    background: #fff;
}
.kv-node-detail .kv-node-label{
    cursor: pointer;
}
.kv-loading .kv-node-message, .kv-editing .kv-node-message {
    display: none;
}
.kv-detail-container .edit-form-container {
    display: none;
}
.kv-detail-container.kv-editing .edit-form-container {
    display: block;
}
.kv-detail-container .edit-form-container .tab-content {
    margin: -1px 0 10px;
    padding: 15px;
}
.kv-detail-container .edit-form-container .option-type {
    display: none;
}
.kv-detail-container .edit-form-container .option-type.active {
    display: block;
}
.kv-detail-container .edit-form-container .selectize-dropdown{
    top: auto !important;
    bottom: 50px !important;
    border: 1px solid #d0d0d0  !important;
    border-radius: 3px 3px 0 0  !important;
}
.kv-detail-container .edit-form-container .option-type.active {
    display: block;
}
#tree-pjax-container .kv-node-detail {
    padding-left: 5px;
}
#tree-pjax-container .kv-node-detail.kv-focussed {
    background-color: rgba(0, 204, 28, 0.35);
}
.hint--top::before, .hint--top::after {
    bottom: 100%;
    left: 50%;
    max-width: 200px;
    white-space: normal;
}
.hint--top::after {
    margin-left: -22px;
}
.hint--top::before {
    margin-left: -5px;
    margin-bottom: -12px;
    border-top-color: #383838;
    display: block;
}
.hint--top:hover::before, .hint--top:hover::after {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
[data-hint]::before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
[data-hint]::after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0 black;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    min-width: 100px;
}
[data-hint]::before, [data-hint]::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
[data-hint]:hover::before, [data-hint]:hover::after {
    visibility: visible;
    opacity: 1;
}

.element-item {
    width: 100%;
    vertical-align: middle;
    display: block;
    position: relative;
}

.element-item:not(:last-child) {
    border-bottom: 1px solid #d2d6de;
}

.element-preview {
    width: 100%;
    height: 40px;
    display: block;
}

.element-form {
    display: none;
}

.element-form .submit-button {
    margin-left: 10px;
}

.element-preview .element-image {
    width: 100px;
    max-height: 100px;
    margin: auto;
    display: inline-block;
}

.element-preview .element-price, .element-preview .element-actions, .element-preview .element-name {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 10px;
}

.element-preview .element-price, .element-preview .element-name {
    font-size: 20px;
}

.element-preview .element-actions {
    font-size: 22px;
}

.element-preview .element-actions i {
    margin-left: 5px;
    cursor: pointer;
}

.element-preview.category-preview {
    height: 50px;
}

.element-preview.category-preview .element-price, .element-preview.category-preview .element-actions, .element-preview.category-preview .element-name {
    line-height: 50px;
}

.element-children {
    padding-left: 25px;
}

.element-children .box, .wizard-options.box {
    border-left: 3px solid #d2d6de;
}

.element-children .box.box-danger, .wizard-options.box.box-danger {
    border-left-color: #dd4b39;
}

.element-children .box.box-warning {
    border-left-color: #f39c12;
}

.element-children .box.box-success {
    border-left-color: #00a65a;
}

.item-entity {
    display: none;
}

.item-entity.active {
    display: block;
}
.nav-tabs a.green {
    color: #199809;
}
.nav-tabs a.grey {
    color: #777;
}
#edit-modal .tab-content {
    margin: -1px 0 10px;
    padding: 15px;
}
.more-container .show-more {
    margin-bottom: 15px;
    cursor: pointer;
}
.more-container .more {
    display: none;
}