.repair-menu {
    width: 200px;
    padding: 15px 0;
}

.repair-menu li {
    display: block;
    position: relative;
}

.repair-menu > li {
    padding-left: 6px;
}

.repair-menu li a {
    display: block;
    position: relative;
    padding: 10px 10px 10px 14px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

.repair-menu li a:hover,
.repair-menu li a:focus {
    color: #555;
    text-decoration: none;
}

.repair-menu li.active:before,
.repair-menu li.completed:before {
    content: '';
    width: 6px;
    background-color: #00b22d;
    height: 35px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.repair-menu li ul li.active:before,
.repair-menu li ul li.completed:before {
    left: -6px;
}

.repair-menu li.active > a,
.repair-menu li.completed > a {
    color: #00b22d;
}

.repair-menu li ul {
    display: none;
}

.repair-menu li ul li {
    padding-left: 25px;
}

.tab-repair-steps {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: calc(100% - 200px);
    float: left;
}

.repair-content {
    position: relative;
}

.repair-head-info {
    background-color: #fff;
    position: relative;
    padding: 20px;
    z-index: 100;
}

.pack-title {
    font-size: 16px;
    font-weight: bold;
}

.title-repair {
    display: block;
    color: #0e0e0f;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cost-repair {
    display: block;
}

.cost-repair-item {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #e6e6e6;
    padding-right: 10px;
    margin-right: 10px;
}

.cost-repair-title {
    font-size: 14px;
    color: #555;
}

.cost-repair-price {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

.repair-slider {
    margin: 0 0 20px;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
}

.repair-big-slider {
    height: 400px;
    margin-bottom: 40px;
}

.repair-small-slider {
    width: calc(100% - 150px);
    float: left;
}

.repair-small-slider .repair-slide {
    width: 60px !important;
    height: 48px;
    position: relative;
    padding-left: 2px;
    padding-bottom: 8px;
    overflow: hidden;
}

.repair-small-slider .repair-slide.slick-current:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 0;
    height: 6px;
    background-color: #00b22d;
}

.repair-next-step {
    float: right;
}

.repair-packs {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.repair-pack-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding-bottom: 10px;
}

.repair-pack-img {
    width: 170px;
    height: 90px;
    margin-bottom: 5px;
}

.repair-pack-img img {
    height: 100%;
    display: block;
    max-width: 100%;
}

.check-pack-repair {
    margin-bottom: 20px;
}

.check-pack-repair label {
    font-size: 14px;
    font-weight: normal;
}

.check-pack-repair label > div {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 40px);
}

.check-pack-repair label .repair-pack-title {
    color: #00b22d;
    display: block;
}

.check-pack-repair label .repair-pack-price {
    color: #0e0e0f;
    display: block;
}

.pack-detail, .repair-change {
    display: block;
    color: #555;
    font-weight: bold;
    padding-bottom: 6px;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-align: right;
}

.repair-change {
    text-align: left;
}

.pack-detail:hover, .pack-detail:focus, .pack-detail.open, .repair-change:hover, .repair-change:focus {
    text-decoration: none;
    color: #00b22d;
}

.pack-detail:before, .repair-change:before {
    content: '\f054';
    font-family: 'FontAwesome', serif;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}

.pack-detail.open:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-color: #00b22d;
}

.pack-detail span {
    display: none;
}

.pack-detail.open span {
    display: inline;
}

.detail {
    display: none;
    background-color: #f2f2f2;
    padding: 40px 60px 60px 20px;
    position: relative;
}

.detail.open {
    display: block;
}

.detail-pack-title {
    font-size: 18px;
    font-weight: bold;
    color: #0e0e0f;
    margin-bottom: 50px;
    line-height: 20px;
}

.repair-pack-block {
    margin-bottom: 40px;
}

.repair-pack-block-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    color: #0e0e0f;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}

.repair-pack-opts .chover {
    margin-top: 10px;
}

.repair-pack-opts label {
    display: table;
    vertical-align: middle;
}

.repair-pack-opts input[type="checkbox"] + label::before,
.repair-pack-opts input[type="checkbox"]:checked + label::before,
.repair-pack-opts input[type="radio"] + label::before,
.repair-pack-opts input[type="radio"]:checked + label::before {
    display: table-cell;
    vertical-align: middle;
}

.repair-pack-opts input[type="checkbox"]:checked + label::before,
.repair-pack-opts input[type="radio"]:checked + label::before,
.check-pack-repair input[type="radio"]:checked + label::before {
    color: #00b22d;
}

.repair-opt-img {
    display: table-cell;
    vertical-align: middle;
    width: 85px;
    height: 50px;
    padding-left: 10px;
    overflow: hidden;
    max-width: 85px;
}

.repair-opt-img img {
    display: block;
    height: 100%;
}

.repair-opt-title {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    color: #0e0e0f;
    padding: 0 10px;
}

.repair-opt-title .opt-price-mob {
    display: none;
}

.repair-opt-price {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    color: #0e0e0f;
    text-align: right;
}

.repair-pack-details {
    margin: 0 -20px;
}

.detail-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 30px;
    color: #555;
}

.repair-pack-opts .chover input[type="checkbox"]:checked + label .repair-opt-title,
.repair-pack-opts .chover input[type="radio"]:checked + label .repair-opt-title {
    color: #00b22d;
}

.slick-list, .slick-track {
    height: 100%;
}

.slick-slide img {
    max-height: 100%;
    margin: 0 auto;
}

.repair-content.with-option {
    padding-left: 120px;
}

.repair-content-option {
    position: absolute;
    width: 120px;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #e6e6e6;
    padding: 10px;
    overflow: auto;
    display: none;
}

.repair-content-option.open {
    display: block;
}

.check-none input[type="checkbox"] + label:before,
.check-none input[type="radio"] + label:before {
    display: none !important;
}

.check-none input[type="checkbox"]:checked + label .roi-title,
.check-none input[type="checkbox"]:checked + label .roi-price,
.check-none input[type="radio"]:checked + label .roi-title,
.check-none input[type="radio"]:checked + label .roi-price,
.check-none:hover .roi-title,
.check-none:hover .roi-price,
.check-none a.active div {
    color: #00b22d;
}

.repair-option-item {
    margin-bottom: 15px;
    width: 100%;
}

.roi-img {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.roi-img img {
    height: 100%;
    margin-bottom: 10px;
    min-width: 100%;
}

.roi-title, .roi-price, .content-option-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #0e0e0f;
}

.content-option-title {
    margin-bottom: 10px;
}

.block-repair-menu {
    width: 200px;
    float: left;
}

.repair-menu-mobile-title {
    display: none;
    position: relative;
    height: 45px;
    padding: 0 6px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #00b22d;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.repair-menu-mobile-title:before {
    content: '\f00b';
    font-family: 'FontAwesome', serif;
    width: 40px;
    line-height: 45px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    color: #555;
}

.repair-menu {
    width: 100%;
}

.close-repair-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    font-size: 30px;
    color: #555;
    font-weight: normal;
}

.block-repair-menu.open .close-repair-menu {
    display: block;
}

.block-repair-menu.open .repair-menu-mobile-title {
    cursor: auto;
}

.block-repair-menu.open {
    top: 0;
}

.repair-sum-big {
    padding: 20px;
}

.repair-sum-block {
    margin-top: 30px;
    padding: 20px 0 10px 0;
}

.repair-sum-title {
    font-size: 23px;
    font-weight: bold;
    color: #0e0e0f;
    margin: 0 0 10px 0;
    position: relative;
}

.repair-sum-table-over {
    margin-top: -20px;
}

.rst-price-text {
    text-align: right;
    color: #0e0e0f;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.repair-sum-table {
    display: table;
    width: 100%;
}

.rst-row {
    display: table-row;
}

.rst-row > div {
    display: table-cell;
    vertical-align: top;
    color: #0e0e0f;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid #e6e6e6;
    font-weight: bold;
}

.rst-img {
    max-width: 80px;
}

.rst-img > div {
    width: 70px;
    height: 50px;
    overflow: hidden;
}

.rst-img > div img {
    max-width: 100%;
    min-height: 100%;
    display: block;
}

.rst-title {
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
}

.rst-price {
    text-align: right;
    min-width: 100px;
}

.repair-sum-opt-title {
    color: #0e0e0f;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 20px;
}

.repair-sum-small {
    display: table;
    width: 100%;
    padding: 20px;
}

.rss-row {
    display: table-row;
}

.rss-row > div {
    display: table-cell;
    padding: 10px 0;
    font-size: 14px;
    color: #0e0e0f;
}

.rss-row > div:last-child {
    text-align: right;
}

.rss-inner > div {
    padding-bottom: 0;
}

.rss-grey > div {
    border-bottom: 2px solid #e6e6e6;
}

.rss-row > div.rss-bigtitle {
    font-size: 23px;
    color: #0e0e0f;
    font-weight: bold;
}

.rss-grey > div.rss-smalltitle {
    font-size: 14px;
    color: #0e0e0f;
    font-weight: bold;
}

.repair-btn {
    padding: 0 20px;
}

.repair-sum-arrow {
    position: absolute;
    display: none;
    right: 0;
    top: -10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    color: #555;
    font-size: 16px;
}

.repair-option-box .check-none {

}

.opt-for-mobile {
    display: none;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.ofm-title {
    display: table-cell;
    vertical-align: top;
    color: #00b22d;
    width: 50%;
}

.ofm-price {
    display: table-cell;
    vertical-align: top;
    color: #0e0e0f;
    text-align: right;
    width: 50%;
}

.wizard-room-line {
    line-height: 34px;
}

.remove-room {
    color: #f00;
    font-size: 24px;
}

.add-room {
    font-size: 15px;
}

.room-row {
    margin-bottom: 15px;
}

.repair-image {
    height: 300px;
}

.repair-image img {
    height: 100%;
    width: auto;
}

.repair-pack-bigimg img {
    max-height: 300px;
}

.repair-extras {
    padding: 20px 20px 0;
    border-bottom: 1px solid #e6e6e6;
}

.step-submit {
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .repair-content-option{
        display: none;
    }
    .opt-for-mobile {
        display: table;
    }

    .repair-sum-arrow {
        display: block;
    }

    .repair-btn {
        padding: 20px 0;
    }

    .detail {
        width: 100%;
        position: fixed;
        background-color: #fff;
        padding: 10px 20px;
        top: 0;
        left: 100%;
        bottom: 0;
        z-index: 3000;
        overflow: hidden;
        display: block !important;
        transition: left 0.5s linear;
        -o-transition: left 0.5s linear;
        -moz-transition: left 0.5s linear;
        -webkit-transition: left 0.5s linear;
    }

    .detail.open {
        left: 0;
    }

    .detail-close {
        top: 20px;
    }

    .detail-pack-title {
        font-size: 16px;
        line-height: 18px;
        border-bottom: 1px solid #f2f2f2;
        margin: 0 -20px 0;
        padding: 0 10px 10px;
    }

    .repair-pack-block-title, .repair-opt-title {
        font-size: 16px;
    }

    .repair-opt-title .opt-price-mob {
        display: block;
    }

    .repair-opt-price {
        display: none;
    }

    .repair-pack-opts .chover input[type="checkbox"]:checked + label:before,
    .repair-pack-opts .chover input[type="radio"]:checked + label:before,
    .repair-pack-opts .chover input[type="checkbox"] + label:before,
    .repair-pack-opts .chover input[type="radio"] + label:before,
    .check-pack-repair input.radio-checkbox:checked + label::before,
    .check-pack-repair input.radio-checkbox + label::before {
        font-size: 35px;
        width: 40px;
    }

    .repair-pack-bigimg {
        width: 100%;
        margin: 20px 0;
    }

    .repair-pack-bigimg img {
        width: 100%;
    }

    .repair-menu li ul {
        display: block !important;
        border-top: 1px solid #e6e6e6;
    }

    .repair-menu li {
        border-bottom: 1px solid #e6e6e6;
    }

    .repair-menu li a {
        padding: 15px 10px 15px 14px;
        font-weight: bold;
        font-size: 16px;
    }

    .repair-menu li.active::before, .repair-menu li.completed::before {
        top: -1px;
        height: 47px;
    }

    .repair-menu-mobile-title {
        display: block;
    }

    .block-repair-menu {
        position: fixed;
        z-index: 3000;
        background-color: #fff;
        top: calc(100% - 45px);
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        width: auto;
        transition: top 0.5s linear;
        -o-transition: top 0.5s linear;
        -moz-transition: top 0.5s linear;
        -webkit-transition: top 0.5s linear;
    }

    ul.repair-menu {
        padding: 0;
    }

    .tab-repair-steps {
        width: 100%;
        float: left;
        border: none;
    }

    .repair-head-info {
        position: relative;
        top: 0;
        padding: 20px 0;
    }

    .cost-repair-item {
        display: block;
        margin-right: 0;
        padding: 2px 0;
        border: none;
    }

    .cost-repair-title {
        font-size: 15px;
        display: inline;
    }

    .cost-repair-price {
        font-size: 15px;
        display: inline;
    }

    .repair-slider {
        margin: 0;
        padding: 0 0 50px;
    }

    .repair-small-slider {
        display: none !important;
    }

    .repair-next-step {
        margin-top: -30px !important;
    }

    .repair-packs {
        padding: 20px 0 50px;
    }

    .repair-pack-item {
        margin-right: 0;
        position: relative;
        padding-top: 50px;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
    }

    .repair-pack-img {
        width: 100%;
        height: auto;
    }

    .repair-pack-img img {
        width: 100%;
        height: auto;
    }

    .check-pack-repair {
        margin-bottom: 0;
        position: absolute;
        top: 0;
    }

    .check-pack-repair label {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
    }

    .check-pack-repair label > div {
        width: calc(100% - 50px);
    }

    .pack-detail {
        float: none;
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        width: 20px;
        overflow: hidden;
        height: 20px;
    }

    .pack-detail::before {
        font-size: 15px;
        display: block;
        margin: 2px 0;
    }

    .rst-row > div.rst-img, .repair-change, .rst-price-text {
        display: none;
    }

    .repair-sum-table-over {
        margin-top: 0;
    }

    .rst-row > div.rst-price {
        font-weight: normal;
    }

    .repair-sum-big, .repair-sum-small {
        padding: 0;
    }

    .repair-sum-block {
        margin: 0;
        padding: 10px 0 0;
        border-bottom: 1px solid #e6e6e6;
    }

    .repair-sum-opt-title {
        font-size: 14px;
    }

    .repair-sum-title, .rss-row > div.rss-bigtitle {
        font-size: 18px;
    }

    .rst-row > div {
        border-top: 1px solid #e6e6e6;
    }

    .rst-row > div.rst-title {
        width: 50%;
    }

    .repair-sum-opt-title {
        margin-bottom: 5px;
    }

    .repair-sum-over-block {
        display: none;
    }

    .repair-content.with-option {
        padding-left: 0;
    }

    .repair-content-option {
        position: relative;
        width: 100%;
        border: none;
        padding: 10px 0;
    }

    .chover.check-none {
        padding: 0 5px;
    }

    .roi-title, .roi-price {
        display: none;
    }

    .roi-img {
        padding-bottom: 5px;
    }

    .check-none input[type="radio"]:checked + label .roi-img:before,
    .check-none input[type="checkbox"]:checked + label .roi-img:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5px;
        background-color: #00b22d;
    }
}

@media screen and (max-width: 600px) {
    .repair-big-slider {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .repair-big-slider {
        height: 250px;
    }
    .repair-next-step {
        margin-top: 0px !important;
    }
}