/***category***/
.rtl aside, .rtl .cat-list {
    float: right;
}

.rtl aside {
    padding-right: 0;
    padding-left: 20px;
}

.rtl .close-how {
    right: auto;
    left: 50px;
}

.rtl #catalog-search {
    width: 35%;
    margin-left: 0;
    margin-right: 20%;
    float: right;
}

.rtl #catalog-entity-create, .rtl #catalog-sort {
    float: right;
}

.rtl ul.ftr-list {
    left: 0;
    right: auto;
}

.rtl #catalog-search input {
    padding-left: 0;
    padding-right: 35px;
}

.rtl #catalog-search .btn-middle {
    right: auto;
    left: 0;
}

.rtl #catalog-search i.fa-search {
    left: auto;
    right: 10px;
}

.rtl .mob-block-bottom {
    padding: 0 10px 0 0;
}

.rtl .checked-filter a {
    float: right;
    padding: 0 7px 0 10px;
    margin: 0 0 10px 10px;
}

.rtl .checked-filter a .fa {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .filter-fair-play {
    background: url("/images/new/icons/security-on.svg") right 2px center no-repeat;
    background-size: 35px;
    padding: 10px 40px 10px 5px;
}

.rtl .item-count {
    float: left;
}

@media screen and (max-width: 768px) {
    .rtl h1.cat-title {
        text-align: right;
    }
    .rtl .banner-descr {
        text-align: right;
    }
}
/**************/
