/*****index****/

.rtl .main-slide-info {
    right: auto;
    left: 0;
}

.rtl .main-slide-info .main-slide-info-title {
    margin: 20px 0 0 15px;
}

.rtl .role-info-item .role-info-text {
    padding-right: 10px;
    padding-left: 0;
}

.rtl .role-info-item .role-info-img,
.rtl .review-slider .rev-slide-video .href-video .play {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .mark-text {
    margin: 0 10px 0 0;
}

@media screen and (max-width: 768px) {
    .rtl .news-heading {
        text-align: right;
    }

    .rtl a.logo, .rtl a.logo:active, .rtl a.logo:hover, .rtl a.logo:visited {
        display: inline-block;
    }
}
/**************/