.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
}

body.rtl {
    overflow-x: hidden;
}

.rtl .slick-slider{
    direction: ltr;
}

.rtl .slick-slider .bf-item {
    direction: rtl;
}

[dir="rtl"] .slick-prev {
    right: inherit;
    left: inherit;
}

[dir="rtl"] .slick-next {
    right: inherit;
    left: inherit;
}

.rtl .fright {
    float: left;
}

.rtl .head-banner .close-banner {
    right: auto;
    left: 30px;
}

.rtl .hb-body .hb-info {
    padding-left: 0;
    padding-right: 15px;
}

.rtl .hb-body .hb-img {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .number.text-right{
    text-align: right;
}

.rtl .nav-head-profile a.close-nav-head-profile {
    right: auto;
    left: 10px;
}

.rtl .nav-head-profile ul li {
    padding: 0 23px 0 0;
}

.rtl .nav-head-profile ul li i {
    right: 0;
    left: auto;
}

.rtl .switcher-companies-item-img {
    margin-right: 0;
    margin-left: 10px;
}

.rtl a.global-create-link {
    left: 15px;
    right: auto;
}

.rtl .footer-follow .fa {
    left: auto;
    right: 0;
}

.rtl .footer-follow {
    padding-left: 0;
    padding-right: 30px;
}

.rtl .lang-cur {
    right: 0;
    left: auto;
}

.rtl .lc-header .fa-globe {
    right: auto;
    left: 12px;
}

.rtl .logo-search {
    float: right;
}

.rtl .nav-right {
    float: left;
}

.rtl .prof-menu {
    margin: 0 10px 0 20px;
}

.rtl a.logo, .rtl a.logo:active, .rtl a.logo:hover,.rtl a.logo:visited {
    margin: 15px 0 0 10px;
}

.rtl .lang-change {
    margin-right: 10px;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 0;
    background: url(/images/new/icons/earth-globe.png) right top no-repeat;
    background-size: 20px;
}

.rtl .prof-headm .fa {
    right: auto;
    left: -15px;
}

.rtl .head-name {
    margin: 0 6px 0 0;
}

.rtl .online::before, .rtl .offline::before, .rtl .vacation::before {
    left: auto;
    right: 15px;
}

.rtl .header-balance {
    margin-left: 0;
    margin-right: 20px;
}

.rtl .search .input-group-addon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rtl nav.top-menu .nav-tabs > li {
    float: right;
}

.rtl #top-menu > ul.nav:nth-child(n+2) {
    border-left: none;
}

.rtl #top-menu > ul.nav:first-child {
    border-left: 1px #b2b2b2 solid;
}

.rtl nav.top-menu .drop-menu {
    left: auto;
    right: -1px;
}

.rtl #top-menu > ul.nav:nth-child(n+2) .drop-menu {
    left: -1px;
    right: auto;
}

.rtl .bright {
    float: left;
}

.rtl .onoffswitch {
    direction: ltr;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl input[type="checkbox"] + label::before,
.rtl input[type="checkbox"]:checked + label::before,
.rtl input[type="radio"] + label::before,
.rtl input[type="radio"]:checked + label::before {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    text-align: left;
    margin: 0 0 0 5px;
}

.rtl .input-auto {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .mark-text {
    margin: 0 10px 0 0;
}

.rtl .rev-stars, .rtl .com-stars {
    margin: 0 10px 0 0;
}

.rtl .rate {
    float: right;
}

.rtl .noti-block {
    right: auto;
    left: 0;
}

.rtl .noti-block::before {
    margin-left: 0;
    margin-right: -8px;
    right: auto;
    left: 16px;
}

.rtl .cart-head {
    right: auto;
    left: 0;
}

.rtl .cart-head::before {
    right: auto;
    left: 11px;
    margin-left: 0;
    margin-right: 16px;
}

.rtl a.block-price span {
    padding: 1px 0 0 5px;
}

.rtl .bf-item .tariff-icon, .rtl .pg-item .tariff-icon, .rtl .mob-work-item .tariff-icon {
    right: auto;
    left: 8px;
}

.rtl .view-cart {
    padding: 0 0 15px 15px;
}

.rtl .block-top-ava {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .fa-star-half-o, .rtl .fa-question, .rtl .fa-question-circle {
    transform: scaleX(-1);
    webkit-transform: scaleX(-1);
}

.rtl .album-opt.pull-right {
    float: left !important;
}

.rtl .fa-thumbs-up {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .people-likes {
    margin-left: 0;
    left: -20px;
    right: auto;
}

.rtl .people-likes:before {
    right: auto;
    left: 55px;
}

.rtl .status i {
    margin: 0 0 3px 5px;
}

.rtl .hint--top::before, .rtl .hint--top::after {
    right: 50%;
    left: auto;
}

.rtl .hint--top::after {
    margin-left: 0;
    margin-right: -22px;
}

.rtl .menu-work {
    float: right;
}

.rtl .menu-work li, .rtl .tab-gigs li {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .pos-bottom {
    left: auto;
    right: 0;
    padding: 20px 20px 20px 70px;
}

.rtl a.tag-but::before {
    left: auto;
    right: 8px;
}

.rtl a.tag-but.active, a.tag-but:hover {
    padding-left: 10px;
    padding-right: 30px;
}

.rtl .faq-head {
    padding: 20px 15px 20px 30px;
}

.rtl .faq-head::before {
    right: auto;
    left: 10px;
}

.rtl .qa .faq-item {
    border-right: 5px #fff solid;
}

.rtl .qa .faq-item:hover {
    border-left: 5px #fff solid;
    border-right: 5px #00b22d solid;
}

@media screen and (max-width: 768px) {
    .rtl a.logo, .rtl a.logo:active, .rtl a.logo:hover, .rtl a.logo:visited {
        padding: 10px 0 0;
        margin: 0;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .rtl .nav-right {
        text-align: left;
    }
}

/*****work*****/
@media screen and (max-width: 360px) {
    .rtl .rate-col {
        text-align: right;
    }
}
/**************/

/****article***/
.rtl .mob-news-u-img {
    margin-left: 15px;
    margin-right: 0;
}
/**************/

/****amount****/
.rtl .product-measure-amount-block .product-measure-block {
    margin-left: 0;
    margin-right: 6px;
}

.rtl .product-measure-amount-block .product-amount-block {
    margin-right: 0;
    margin-left: 6px;
}

.rtl .product-measure-amount-block .product-amount-block .product-amount-minus {
    left: auto;
    right: 0;
}

.rtl .product-measure-amount-block .product-amount-block .product-amount-plus {
    right: auto;
    left: 0;
}
/**************/

/*startselling*/
.rtl .banner-board {
    background: #aec3d5;
}

.rtl .start-selling .banner {
    background: url('/images/new/baba-glass.jpg') no-repeat center/ cover !important;
}

@media screen and (max-width: 992px) {
    .rtl .start-selling .banner {
        background: url('/images/new/baba-glass.jpg') no-repeat right/ cover !important;
    }
}
/**************/

/****friends***/
.rtl .email-hint .fa-caret-right {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .to-do-text {
    padding-left: 0;
    padding-right: 15px;
}
/**************/

/***fair-play**/
.rtl .fair-play {
    padding-right: 15px;
    padding-left: 50px;
}

.rtl .fair-play::after {
    content: '\f053';
    right: auto;
    left: 0;
}
/**************/

/*****chat*****/

.rtl .chat-button {
    right: auto;
    left: 15px;
}

.rtl .site-chat .msg.default {
    margin-left: 7px;
}

.rtl .site-chat .msg.default::before, .rtl .site-chat .msg.default::after {
    border-right: 7px solid #3a3a3a;
    border-left: 0;
}

.rtl .site-chat .msg::before {
    border-right: 7px solid #f2f2f2;
    border-left: 0;
}

.rtl .site-chat .msg::before, .rtl .site-chat .msg::after {
    left: -7px;
    border: 7px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 7px;
}

.rtl .chat-block {
    right: auto;
    left: 0;
}

.rtl .chat-block .chat-close {
    right: auto;
    left: 16px;
}

.rtl .chat-bottom .send-message {
    right: auto;
    left: 10px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .chat-bottom {
    padding: 10px 10px 10px 50px;
}

.rtl .chat-bottom textarea {
    padding: 5px 5px 5px 30px;
}

.rtl .site-chat {
    display: flex;
}

.rtl .chat-block .chat-body {
    direction: ltr;
}

/**************/

/****mobile****/
.rtl .trigger-menu {
    float: right;
}

.rtl .logon-category-menu {
    float: left;
}

.rtl .mobile-menu.mRight{
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    padding-right: 0;
    width: 80%;
}

.rtl .mobile-menu.mRight.mm-show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.rtl .mobile-menu.mLeft {
    width: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    padding-right: 20%;
}

.rtl .mobile-menu.mLeft.mm-show {
    -webkit-transform: translate3d(20%, 0, 0);
    -moz-transform: translate3d(20%, 0, 0);
    -ms-transform: translate3d(20%, 0, 0);
    -o-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
}

.rtl .m-main {
    -webkit-transform: translate3d(-80%, 0, 0);
    -moz-transform: translate3d(-80%, 0, 0);
    -ms-transform: translate3d(-80%, 0, 0);
    -o-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
}

.rtl .m-main.mainRight {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}

.rtl .mobile-menu .nav-links a, .mobile-menu .nav-links .select-wrap {
    padding: 0 35px 0 10px;
}

.rtl .mobile-menu .nav-links > a::before, .rtl .mobile-menu .nav-links .select-wrap::before {
    float: right;
    margin: 15px -25px 0 0;
}

.rtl .mobile-menu .nav-links > a.mm-fa::before {
    margin: 0 -25px 0 0;
}

.rtl .menu-avatar {
    margin-left: 30px;
    margin-right: 0;
}

.rtl .nav-links select {
    padding-left: 30px;
    padding-right: 0;
    background: transparent url(/images/new/select-ar.svg) no-repeat center left 10px;
}

.rtl .mob-work-item .like {
    left: auto;
    right: 20px;
}

@media screen and (max-width: 360px) {
    .rtl .mob-block-bottom .block-price {
        text-align: left;
    }
}
/**************/

/*****cart*****/
.rtl a.cart-plus, .rtl a.cart-minus {
    right: auto;
    left: 0;
}

.rtl .payment-methods .fa {
    float: right;
}

.rtl .price-total-sum {
    float: left;
}

.rtl .price-total-title {
    float: right;
}
/**************/