/*****news*****/
.rtl a.alias-news-comment {
    float: left;
}

.rtl .alias-news-comment::after {
    border-right: none;
    border-left: 7px solid #999;
}

.rtl .related-post-img {
    float: right;
    margin: 0 0 0 10px;
}

.rtl .mob-news-u-img img {
    margin-left: 0;
    margin-right: -35%;
}
/**************/