/*orderdetails*/
.rtl .order-finished-step {
    float: right;
    padding: 15px 0 15px 20px;
}

.rtl .order-opts-item {
    border-right: none;
    border-left: 1px #cccccc solid;
    padding: 0 0 2px 8px;
    margin-right: 0;
    margin-left: 8px;
}

.rtl .order-opts-item:last-child {
    border-left: none;
}

.rtl .answer-info {
    padding-left: 0;
    padding-right: 20px;
}

.rtl .require-mes::before {
    left: auto;
    right: -10px;
    border-right: none;
    border-left: 10px solid #d5eafe;
}

.rtl .order-step-date {
    right: auto;
    left: 10px;
}
/**************/