/***portfolio**/
.rtl .album-main-side {
    margin-right: 0;
    margin-left: 280px;
}

.rtl .album-author-side {
    border-left: none;
    border-right: 1px solid #e8e8e8;
    border-radius: 0 0 3px 3px;
    right: auto;
    left: 0;
}

.rtl .af-button {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .album-author-address i {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .album-author-contact {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .album-mobile-author .af-name {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .album-go-back {
    left: auto;
    right: 50px;
}

.rtl .album-go-back svg {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

@media screen and (max-width: 992px) {
    .rtl .album-main-side {
        margin-left: 0;
    }
}
/**************/