/****profile***/
.rtl .inbox-background .profileh {
    padding-right: 0;
    padding-left: 60px;
}

.rtl .write-avatar > a, .write-avatar > .write-avatar-name {
    padding: 5px 10px 5px 40px;
}

.rtl .message-text {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .inbox .navbar-toggle {
    float: right;
    right: auto;
    left: 20px;
}

.rtl .search-gigs {
    float: left;
}

.rtl a.btn-search {
    right: auto;
    left: 3px;
}

.rtl .search-gigs input[type="search"] {
    padding: 7px 3px 7px 25px;
}

.rtl .inbox-sender .sender-avatar {
    padding: 0 0 0 10px;
}

.rtl .sender-mini-avatar {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .table-viewgigs td {
    padding: 10px 0 10px 15px;
}

.rtl .table-viewgigs td:first-child {
    padding-left: 0;
    padding-right: 20px;
}

.rtl .tg-img {
    margin-right: 0;
    margin-left: 12px;
}

.rtl .imobile-item {
    padding: 10px 0 10px 40px;
}

.rtl .imobile-avatar {
    padding-right: 0;
    padding-left: 15px;
}

.rtl .dashboards-tabs li {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .not-count {
    margin-left: 0;
    margin-right: 5px;
}

.rtl .wallet-title-info {
    padding-left: 0;
    padding-right: 15px;
}

.rtl .sell-statistic:last-child {
    border-right: 1px solid #dddddd;
}

.rtl .sell-statistic:first-child {
    border-right: none;
}

.rtl nav.profa-menu .nav-tabs > li {
    float: right;
}

.rtl .settings nav.profa-menu .nav-tabs > li {
    width: auto;
    margin: 0 0 0 15px;
}

.rtl .counttext {
    float: left;
}

.rtl .formgig-block .notes {
    left: auto;
    right: 50px;
}

.rtl .notes-title {
    margin: 0 10px 0 0;
}

.rtl .settings-content ul li::before, .notes ul li::before {
    left: auto;
    right: -10px;
}

.rtl nav.profa-menu .navbar-toggle {
    float: right;
}

.rtl .other-settings {
    float: right;
    margin-right: 15px;
}

.rtl .order-item-thumb {
    margin-right: 0;
    margin-left: 15px;
}

.rtl .jm-name {
    padding: 15px 10px 10px 0;
}

.rtl .jm-optionParam {
    padding: 10px 10px 10px 0;
}

.rtl .formgig-block .notes {
    left: auto;
    right: 50px;
}

.rtl ul.gig-steps {
    float: right;
}

.rtl ul.gig-steps li a {
    padding: 0 30px 0 25px;
}

.rtl ul.gig-steps a::after {
    content: '\f053';
    right: auto;
    left: 5px;
}

.rtl ul.gig-steps li::before,
.rtl ul.gig-steps li::after,
.rtl ul.gig-steps li.active::after {
    margin: 19px 0 0 5px;
    left: auto;
    right: 0;
}

.rtl .notes{
    left: auto;
    right: 50px;
}

.rtl .form-box {
    padding-left: 0;
    padding-right: 45px;
}

.rtl .formpost .form-box::before {
    left: auto;
    right: 0;
}

.rtl .unlock-packs {
    left: auto;
    right: 50%;
}

.rtl .vac-mode {
    float: left;
}

.rtl textarea.packstext, input[type="number"].packstext {
    padding-right: 7px;
    padding-left: 25px;
}

.rtl .cell-packs .fa-pencil {
    right: auto;
    left: 10px;
}

.rtl .vac-text {
    margin-right: 0;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .rtl .search-gigs {
        float: none;
    }

    .rtl .unlock-packs {
        top: 1px;
        width: 66.3%;
        height: 99.5%;
        left: auto;
        right: 33.7%;
    }
}

@media screen and (max-width: 480px) {
    .rtl .form-box {
        padding-right: 0;
    }
    .rtl .formpost .form-box::before {
        content: '';
    }
}
/**************/