/*****work*****/

.rtl .work-like {
    float: left;
}

.rtl .wc-item {
    padding: 0 25px 17px 0;
}

.rtl .wc-item::before {
    left: auto;
    right: 0;
}

.rtl .info-com {
    padding: 0 10px 0 0;
}

.rtl a.wl-box {
    margin: 0 8px 0 8px;
}

.rtl a.wl-box .fa-heart-o {
    margin: 7px 0 0 7px;
}

.rtl .wl-count {
    margin-left: 0;
    margin-right: 4px;
}

.rtl .wl-count::after, .rtl .wl-count::before {
    left: auto;
    right: -5px;
    border-style: solid none solid solid;
    border-color: transparent transparent transparent white;
}

.rtl .wl-count::before {
    left: auto;
    right: -7px;
    border-style: solid none solid solid;
    border-color: transparent transparent transparent #dddddd;
}

.rtl .ap-type {
    padding-right: 0;
    padding-left: 25px;
}

.rtl .ap-head .fa {
    right: auto;
    left: 5px;
}

.rtl .ap-info-item .fa {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .ap-info-item {
    margin: 0 0 15px 15px;
}

.rtl .author-photo .tariff-icon {
    right: auto;
    left: -8px;
}

.rtl .short-author .status-site {
    right: auto;
    left: 10px;
}

.rtl .wc-item > span {
    float: left;
}

.rtl .work-rate {
    margin: 0 0 15px 15px;
}

.rtl .zoom-desktop {
    direction: ltr;
}

.rtl .lens-element {
    left: auto;
    right: calc(100% + 36px);
    width: calc(50% + 6px);
}

.rtl .wa-item .select120 {
    float: left;
    right: auto;
    left: 15px;
}

.rtl .mobwork-info-head .left {
    float: right;
}

.rtl .mob-contactuser {
    float: left;
}

.rtl .mobwork-avatar {
    margin-right: 0;
    margin-left: 12px;
}

/**************/