/****worker****/
.rtl .worker-side {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .wc-item {
    padding: 0 25px 17px 0;
}

.rtl .wc-item::before {
    left: auto;
    right: 0;
}

.rtl .wmh-avatar {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .wmh-name {
    padding: 0 0 0 5px;
}

.rtl .info-com {
    padding: 0 10px 0 0;
}

.rtl ul.check li {
    margin: 0 25px 15px 0;
}

.rtl ul.check li::before {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -25px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
/**************/